<div class="col-sm-8 col-md-8 col-lg-9">
    <div class="client_profile">
       <div class="order_detail_box border_dark">
           <div class="order_detail_box_in">
               <div class="order_head"><h2>
               <!-- 	<img ng-if="!vm.profile_image_path" src="../assets/backoffice/images/heading_icon3.png" alt="" />  -->
                   <img ng-src="{{editor.profile_image}}" alt="" height="30" width="30" /> 
                   {{editor.title}} Editor</h2>
               </div>

            </div>
            <div class="order_detail_box_in">
               <form name="editorForm" novalidate angular-validator angular-validator-submit='editor.saveEditor()' enctype="multipart/form-data">
                   <ul class="client_order_detail add_client">
                       <li><span>Editor Name :</span> <input type="text" placeholder="Enter editor name" name="name" ng-model="editor.addForm.name" validate-on='dirty' required=""/></li>
                       <li><span>Company :</span> <input type="text" placeholder="Enter company name" name="company_name" ng-model="editor.addForm.company_name" validate-on='dirty' required=""/></li>
                       <li><span>Address :</span> <textarea placeholder="Enter address" name="address" ng-model="editor.addForm.address"></textarea></li>

                       <li><span>Phone :</span> <input type="text" placeholder="Enter phone number" name="phone" ng-model="editor.addForm.phone" validator = "editor.validatePhone(editor.addForm.phone) === true" invalid-message="editor.validatePhone(editor.addForm.phone)" validate-on="dirty"/></li>

                       <li ng-if="!editor.editFlag"><span>Email :</span> <input type="email" placeholder="Enter email" name="email" ng-model="editor.addForm.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' required=""/></li>
                       
                       <li><span>Password :</span> <input type="password" placeholder="Enter password" name="password" ng-model="editor.addForm.password" validate-on='dirty' required=""/></li>

                       <li><span>Social Security :</span> <input type="text" placeholder="Enter social security" name="social_security" ng-model="editor.addForm.social_security"/></li>
                       <li><span>EIN :</span> <input type="text" placeholder="Enter EIN" name="ein" ng-model="editor.addForm.ein"/></li>
                       <li>
                           <div class="upload_file">
                               <input type="file" ngf-select="uploadMultipleDocument($files, $invalidFiles)" ng-model="photographer.addForm.document_file" name="document_file" multiple><a href="#">Upload Document</a>
                           </div> 

                       <div class="upload_file">
                           <input type="file" ngf-select="editor.uploadFiles($files, $invalidFiles)" ng-model="editor.addForm.profile_image" name="profile_image" accept="image/*"><a href="#">Upload Photo</a>
                       </div>
                       </li>

                       <!-- <li><div class="bottom_btn_lg"> <button type="submit"> <i class="fa fa-star"></i> Set as Default Editor</button></div></li> -->
                       
                       <li><button type="submit" name="submit">Save</button> <button ng-if="editor.editFlag" type="button" ng-click="editor.deleteEditor()">Delete</button></li>
                       
                   </ul>
               </form>
            </div>
       </div>
    </div>
</div>