<div class="col-sm-8 col-md-8 col-lg-9">	
    <div class="new_order client_list">
    	<div class="new_order_sort">
        	<label>Sort by :</label>
            	<select ng-model="editor.search.status" ng-change="editor.changePage(1,editor.search)">
                    <option value="">Status</option>
                    <option value="1">Active</option>
                    <option value="2">In-Active</option>
                </select>
                
            <div div class="sort_search">
            	<input type="text" placeholder="Search" ng-model="editor.search.name" ng-change="editor.changePage(1,editor.search)" />
                <button type="button"><i class="fa fa-search"></i></button>
            </div>
             <a href="javascript:void(0)">Showing {{editor.fromIndex}} to {{editor.toIndex}}</a> 
        </div>
     	<div class="order_top editors">
        	
            <div class="table-responsive">
            	<table class="table table-striped table-hover" data-ng-init="editor.getEditorList(1,'')">
                    <tr>
                    	<th>Editor's Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Orders Assigned</th>
                        <th>Details</th>
                    </tr>
                    <tr dir-paginate="(itemIndex, item) in editor.editorList | orderBy: editor.sortKey:editor.reverse|itemsPerPage: editor.editorsPerPage" total-items="editor.totalEditors" current-page="editor.pagination.current">
                    	<td>{{item.name}}</td>
                        <td>{{item.email}}</td> 
                        <td ng-if="item.phone != '' && item.phone != 'undefined'">{{item.phone}}</td>
                        <td ng-if="item.phone == '' || item.phone == 'undefined'"></td>
                        <td>{{item.total_orders}}</td>
                        <td><a ui-sref="backoffice.editors.view({id: item.id})">View</a></td>
                    </tr>
                    <tr ng-if="editor.totalEditors == 0">
                        <td colspan="7"><div class="alert alert-warning">No Editors found!</div></td>
                    </tr>             
                </table>
            </div>

    	</div>
        
        <div class="pagination">
        	<dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="editor.changePage(newPageNumber,editor.search)"></dir-pagination-controls>
        </div>
        
    </div>
</div>