<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Pending Payments</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{paymentPendingWeek.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <button ng-click="paymentPendingWeek.getWeeklyCSV()" class="btn btn-info btn-flat pull-left">Download CSV</button> 
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.paymentPending" class="btn btn-info btn-flat pull-left">Once Off Bookings</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="paymentPendingWeek.getPendingList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentPendingWeek.sort('bookweekly_id')">Id
                                                <span ng-show="paymentPendingWeek.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentPendingWeek.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentPendingWeek.sort('clients_name')">Client
                                                <span ng-show="paymentPendingWeek.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentPendingWeek.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentPendingWeek.sort('workers_name')">Worker
                                                <span ng-show="paymentPendingWeek.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentPendingWeek.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="paymentPendingWeek.sort('booking_date')">Booking Date
                                                <span ng-show="paymentPendingWeek.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentPendingWeek.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="paymentPendingWeek.search.bookweekly_id" ng-blur="paymentPendingWeek.changePage(1, paymentPendingWeek.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="paymentPendingWeek.search.clients_name" ng-blur="paymentPendingWeek.changePage(1, paymentPendingWeek.search)" placeholder="Clients Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="paymentPendingWeek.search.workers_name" ng-blur="paymentPendingWeek.changePage(1, paymentPendingWeek.search)" placeholder="Workers Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="paymentPendingWeek.search.booking_date" ng-change="paymentPendingWeek.changePage(1,paymentPendingWeek.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="paymentPendingWeek.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in paymentPendingWeek.PayList | orderBy: paymentPendingWeek.sortKey:paymentPendingWeek.reverse|itemsPerPage: paymentPendingWeek.PaymentPerPage" total-items="paymentPendingWeek.total" current-page="paymentPendingWeek.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.paymentPending.weeklyView({id:{{item.bookweekly_id}} })">{{item.bookweekly_id}}</a>
                                        </td>
                                        <td class="text-center">{{ item.clients_name }}</td>
                                        <td class="text-center">{{ item.workers_name }}</td>
                                        <td class="text-center">{{ paymentPendingWeek.formatDate(item.booking_date) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.paymentPending.weeklyView({id: item.bookweekly_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ng-click="paymentPendingWeek.deletePendingWeek(item.bookweekly_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="paymentPendingWeek.getPendingList.length == 0 && paymentPendingWeek.getPendingListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="paymentPendingWeek.changePage(newPageNumber,paymentPendingWeek.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>