<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Clients</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{walletTopUp.totalClient}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <input type="text" ng-model="walletTopUp.search.contact" ng-keyup="walletTopUp.changePage(1, walletTopUp.search)" placeholder="Reference Contact" class="form-control" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="walletTopUp.getClientsList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="walletTopUp.sort('user_id')">Id
                                                <span ng-show="walletTopUp.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!walletTopUp.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="walletTopUp.sort('clients_name')">Client Name
                                                <span ng-show="walletTopUp.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!walletTopUp.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                         <th>
                                            <a ng-click="walletTopUp.sort('clients_email')">Client email
                                                <span ng-show="walletTopUp.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!walletTopUp.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th>
                                            <a ng-click="walletTopUp.sort('clients_phone')">Client contact
                                                <span ng-show="walletTopUp.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!walletTopUp.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in walletTopUp.clientList | orderBy: walletTopUp.sortKey:walletTopUp.reverse|itemsPerPage: walletTopUp.clientsPerPage" total-items="walletTopUp.totalClient" current-page="walletTopUp.pagination.current">
                                        <td class="text-center"> {{item.user_id}}</a> </td>
                                        <td>{{item.clients_name}}</td>
                                        <td>{{item.clients_email}}</td>
                                        <td>{{item.clients_phone}} / {{item.clients_mobile}}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-primary btn-flat btn-sm" ng-click ="walletTopUp.openModal(item.user_id)" title="TopUp" ></i>TopUp</a>
                                                <a ui-sref="backoffice.walletTopUp.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm" title="View">Credit History</a>
                                            </div>
                                        </td>
                                        

                                    </tr>
                                    <tr ng-if="walletTopUp.clientList.length == 0">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="walletTopUp.changePage(newPageNumber,'')"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<!-- sample modal content -->
<div id="responsive-modalTop" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Top Up Clients Wallet</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="walletTopUp.close()">×</button>
            </div>
            
            <form id="walletForm" novalidate angular-validator name="walletForm" angular-validator-submit='walletTopUp.saveWallet()'>
                <div class="modal-body">
                    
                    <input type="hidden" name="user_id" ng-model="walletTopUp.walletForm.user_id" >

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Points </label>
                        <input type="text" class="form-control" name="point" ng-model="walletTopUp.walletForm.points" placeholder="Enter Point" validate-on='dirty' required required-message="'Please enter point!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="walletTopUp.isDisabledButton">Add</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="walletTopUp.close()" ng-disabled="walletTopUp.isDisabledButton" >Close</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->