<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Credit History</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.walletTopUp" class="btn btn-info btn-flat pull-left">Back to All Clients</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="walletTopUp.creditHistory">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Wallet Amount</th>
                                        <th>Wallet Type</th>
                                        <th>TopUp Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(itemIndex, item) in walletTopUp.creditHistory">
                                        <td class="text-center"> {{itemIndex +1}}</td>
                                        <td>{{item.wallet_amount}}</td>
                                        <td>{{item.wallet_type == 0 ? 'Booking deduction' : item.wallet_type == 1 ? 'TopUp Wallet' : 'Refund Wallet' }}</td>
                                        <td>{{ walletTopUp.formatDate(item.created_at) }}</td>
                                    </tr>
                                    <tr ng-if="walletTopUp.creditHistory.length == 0">
                                        <td colspan="4"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>