<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Claim</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{claim.totalClaim}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="claim.getClaimList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="claim.sort('claim_id')">Id
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="claim.sort('claim_category_id')">Category
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="claim.sort('claim_booking_id')">Booking Id
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="claim.sort('created_at')">Created At
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="claim.sort('status')">Status
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 140px;">
                                            <a ng-click="claim.sort('action_ats')">Query
                                                <span ng-show="claim.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!claim.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="claim.search.claim_id" ng-keyup="claim.changePage(1, claim.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="claim.search.claim_category_id" ng-change="claim.changePage(1,claim.search)">
                                                <option value>Category</option>
                                                <option value="{{status.category_id}}" ng-repeat="(index, status) in claim.claimCategoryList">{{status.category_name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="claim.search.claim_booking_id" ng-keyup="claim.changePage(1, claim.search)" placeholder="Booking Id" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="claim.search.created_at" ng-change="claim.changePage(1,claim.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="claim.search.status" ng-change="claim.changePage(1,claim.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="claim.search.action_ats" ng-change="claim.changePage(1,claim.search)">
                                                <option value="">Query</option>
                                                <option value="0">Not Resolved</option>
                                                <option value="1">Resolved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="claim.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in claim.claimList | orderBy: claim.sortKey:claim.reverse|itemsPerPage: claim.claimPerPage" total-items="claim.totalClaim" current-page="claim.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.claim.view({id:{{item.claim_id}} })">{{item.claim_id}}</a>
                                        </td>
                                        <td ng-repeat="(index, status) in claim.claimCategoryList" ng-show="{{item.claim_category_id}} == status.category_id">{{status.category_name}}</td>
                                        <td>{{ item.claim_booking_id }}</td>
                                        <td class="text-center">{{ claim.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="claim.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.action_ats == 1 ?'label-success' : 'label-warning' " ng-click="claim.resolvedForms(item)">{{ item.action_ats == 1 ? 'Resolved' : 'Not Resolved' }}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.claim.view({id: item.claim_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ng-click="claim.deleteClaim(item.claim_id, itemIndex, item)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="claim.claimList.length == 0 && claim.claimListCheck == true ">
                                        <td colspan="7"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="claim.changePage(newPageNumber,claim.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<!-- sample modal content -->
<div id="responsiveResolved" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Claim Query</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="claim.close()">×</button>
            </div>
            
            <form id="resolvedForm" novalidate angular-validator name="resolvedForm" angular-validator-submit='claim.resolvedClaim()'>
                <div class="modal-body">

                    <input type="hidden" name="claim_id" ng-model="claim.resolvedForm.claim_id">

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Booking Cost</label>
                        <input ng-model="claim.resolvedForm.booking_cost" type="text" name="booking_cost" class="form-control" placeholder="Select Start Date" validate-on='dirty' required-message="'Please select start date'" required autocomplete="off" readonly />
                    </div>
                    
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Claim Amount</label>
                        <input ng-model="claim.resolvedForm.refund_amount" type="text" name="refund_amount" class="form-control" placeholder="Enter Claim Amount" validate-on='dirty' required-message="'Please enter claim amount'" required autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>                        
                    </div>                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="claim.close()" >Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->