<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Claim</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.claim" class="btn btn-info btn-flat pull-left">Back to All Claim</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{claim.singleClaim.claim_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Claim Category</th>
                                        <td ng-repeat="(index, status) in claim.claimCategoryList" ng-show="claim.singleClaim.claim_category_id == status.category_id">{{status.category_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Client</th>
                                        <td>{{claim.singleClaim.claim_client_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Worker Id</th>
                                        <td>{{claim.singlesClaim.worker_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Booking Id</th>
                                        <td>{{claim.singleClaim.claim_booking_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Booking Cost</th>
                                        <td>R {{claim.singlesClaim.booking_cost}}</td>
                                    </tr>
                                    <tr>
                                        <th>Refund Cost</th>
                                        <td><span ng-if="claim.singleClaim.refund_amount != 0">R {{claim.singleClaim.refund_amount}}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="claim.singleClaim.status == 1 ? 'label-success' : 'label-warning'">
                                                {{claim.singleClaim.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Query</th>
                                        <td>
                                            <span class="label" ng-class="claim.singleClaim.action_ats == 1 ? 'label-success' : 'label-warning'">
                                                {{claim.singleClaim.action_ats == 1 ? 'Resolved' : 'Not Resolved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Images</th>
                                        <td>
                                            <span ng-if="claim.singleClaim.claim_image1 != 0">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="claim.singleClaim.file1 || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                            <span ng-if="claim.singleClaim.claim_image2 != 0">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="claim.singleClaim.file2 || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                            <span ng-if="claim.singleClaim.claim_image3 != 0">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="claim.singleClaim.file3 || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                            <span ng-if="claim.singleClaim.claim_image4 != 0">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="claim.singleClaim.file4 || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                            <span ng-if="claim.singleClaim.claim_image5 != 0">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="claim.singleClaim.file5 || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{claim.formatDate(claim.singleClaim.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{claim.formatDate(claim.singleClaim.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>