<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Skills</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{skills.totalSkills}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.skills.create" class="btn btn-info btn-flat pull-left">Add New Skill</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.skills.subcreate" class="btn btn-info btn-flat pull-left">Add New Sub Skill</a>
                                        </h6>
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="skills.getSkillsList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="skills.sort('skills_id')">Id
                                                <span ng-show="skills.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!skills.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="skills.sort('skills_name')">Name
                                                <span ng-show="skills.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!skills.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th> 
                                       <th class="text-center" style="width: 160px;">
                                            <a ng-click="skills.sort('created_at')">Created At
                                                <span ng-show="skills.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!skills.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>  
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="skills.sort('parent')">Parent
                                                <span ng-show="skills.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!skills.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th> 
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="skills.sort('status')">Status
                                                <span ng-show="skills.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!skills.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>                                                                              
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="skills.search.skills_id" ng-keyup="skills.changePage(1, skills.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="skills.search.skills_name" ng-keyup="skills.changePage(1, skills.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="skills.search.created_at" ng-change="skills.changePage(1,skills.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="skills.search.parent" ng-change="skills.changePage(1,skills.search)">
                                                <option value="">Parent</option>
                                                <option value="0">Category</option>
                                                <option value="1">Sub Category</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="skills.search.status" ng-change="skills.changePage(1,skills.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="skills.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in skills.skillsList | orderBy: skills.sortKey:skills.reverse|itemsPerPage: skills.skillsPerPage" total-items="skills.totalSkills" current-page="skills.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.skills.view({id:item.skills_id})">
                                                {{item.skills_id}}</a>
                                        </td>
                                        <td>{{item.skills_name}}</td>
                                        <td class="text-center">{{ skills.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.parent == 0?'label-info':'label-primary'" >{{item.parent==0?'Category':'Sub Category'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="skills.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>                                        
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.skills.view({id: item.skills_id})" class="btn btn-success btn-flat btn-sm" ng-if="item.parent == '0'" title="View"><i class="fa fa-eye"></i></a>
                                                
                                                <a ui-sref="backoffice.skills.subview({id: item.skills_id})" class="btn btn-success btn-flat btn-sm" ng-if="item.parent != '0'" title="View"><i class="fa fa-eye"></i></a>

                                                <a ui-sref="backoffice.skills.edit({id: item.skills_id})" class="btn btn-primary btn-flat btn-sm" ng-if="item.parent == '0'" title="Edit"><i class="fa fa-edit"></i></a>

                                                <a ui-sref="backoffice.skills.subedit({id: item.skills_id})" class="btn btn-primary btn-flat btn-sm" ng-if="item.parent != '0'" title="Edit"><i class="fa fa-edit"></i></a>

                                                <a ng-click="skills.deleteSkills(item, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="skills.skillsList.length == 0 && skills.skillsListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="skills.changePage(newPageNumber,skills.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>