<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{buyCredit.title}} Credit</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.buyCredit" class="btn btn-info btn-flat pull-left">Back to All Credits</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="buyCreditForm" novalidate angular-validator angular-validator-submit='buyCredit.saveBuyCredit()'>
                                
                                <input ng-if="buyCredit.editFlag" type="hidden" name="buyCredit_id" ng-model="buyCredit.buyCreditForm.buyCredit_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Credit Points<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="buyCredit_points" ng-model="buyCredit.buyCreditForm.buyCredit_points" placeholder="Enter credit points" validate-on='dirty' required required-message="'Please enter credit points!'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Credit Point Amount<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="buyCredit_amount" ng-model="buyCredit.buyCreditForm.buyCredit_amount" placeholder="Enter credit point amount" validate-on='dirty' required required-message="'Please enter credit point amount!'" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="buyCredit.buyCreditForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in buyCredit.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!buyCredit.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="buyCredit.editFlag" ui-sref="backoffice.buyCredit">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>