<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Task List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{tasklist.totalTasklist}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tasklist.create" class="btn btn-info btn-flat pull-left">Add New Task List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="tasklist.getTasklist(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="tasklist.sort('tasklist_id')">Id
                                                <span ng-show="tasklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tasklist.sort('tasklist_servicetype')">Service Type
                                                <span ng-show="tasklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tasklist.sort('tasklist_name')">Name
                                                <span ng-show="tasklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="tasklist.sort('created_at')">Created At
                                                <span ng-show="tasklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="tasklist.sort('status')">Status
                                                <span ng-show="tasklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="tasklist.search.tasklist_id" ng-keyup="tasklist.changePage(1, tasklist.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tasklist.search.tasklist_servicetype" ng-change="tasklist.changePage(1,tasklist.search)">
                                                <option value="">Service Type</option>
                                                <option value="{{status.id}}" ng-repeat="(index, status) in tasklist.typeList" ng-selected="tasklist.tasklistForm.tasklist_servicetype == status.id">{{status.name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="tasklist.search.tasklist_name" ng-keyup="tasklist.changePage(1, tasklist.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="tasklist.search.created_at" ng-change="tasklist.changePage(1,tasklist.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tasklist.search.status" ng-change="tasklist.changePage(1,tasklist.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="tasklist.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in tasklist.tasklist | orderBy: tasklist.sortKey:tasklist.reverse|itemsPerPage: tasklist.tasklistPerPage" total-items="tasklist.totalTasklist" current-page="tasklist.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.tasklist.view({id:{{item.tasklist_id}} })">{{item.tasklist_id}}</a>
                                        </td>
                                        <td ng-repeat="(index, status) in tasklist.typeList" ng-show="{{item.tasklist_servicetype == status.id}}">{{status.name}}</td>
                                        <td>{{item.tasklist_name}}</td>
                                        <td class="text-center">{{ tasklist.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="tasklist.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.tasklist.view({id: item.tasklist_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.tasklist.edit({id: item.tasklist_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="tasklist.deleteTasklist(item.tasklist_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tasklist.tasklist.length == 0 && tasklist.tasklistCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="tasklist.changePage(newPageNumber,tasklist.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>