<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Task</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tasklist" class="btn btn-info btn-flat pull-left">Back to All Task List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{tasklist.singleTasklist.tasklist_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{tasklist.singleTasklist.tasklist_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{tasklist.singleTasklist.tasklist_des}}</td>
                                    </tr>
                                    <tr>
                                        <th>Duration</th>
                                        <td>{{tasklist.singleTasklist.tasklist_duration}} <span ng-if="!tasklist.singleTasklist.tasklist_duration == '' ">hour</span></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Cost</th>
                                        <td>R {{tasklist.singleTasklist.tasklist_cost}}</td>
                                    </tr> -->
                                    <tr>
                                        <th>Task Type</th>
                                        <td>
                                            <b>
                                                {{tasklist.singleTasklist.tasklist_type == 1 ? 'Custom' : 'Standard'}}
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="tasklist.singleTasklist.status == 1 ? 'label-success' : 'label-warning'">
                                                {{tasklist.singleTasklist.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{tasklist.formatDate(tasklist.singleTasklist.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{tasklist.formatDate(tasklist.singleTasklist.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>