<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Unsuccessful Payments</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{paymentUnsuccess.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <button ng-click="paymentUnsuccess.getOnceCSV()" class="btn btn-info btn-flat pull-left">Download CSV</button> 
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.paymentUnsuccess.weekly" class="btn btn-info btn-flat pull-left">Weekly Bookings</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="paymentUnsuccess.getPaymentList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentUnsuccess.sort('booking_id')">Id
                                                <span ng-show="paymentUnsuccess.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentUnsuccess.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentUnsuccess.sort('clients_name')">Client
                                                <span ng-show="paymentUnsuccess.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentUnsuccess.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentUnsuccess.sort('workers_name')">Worker
                                                <span ng-show="paymentUnsuccess.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentUnsuccess.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="paymentUnsuccess.sort('booking_date')">Booking Date
                                                <span ng-show="paymentUnsuccess.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentUnsuccess.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="paymentUnsuccess.search.booking_id" ng-blur="paymentUnsuccess.changePage(1, paymentUnsuccess.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="paymentUnsuccess.search.clients_name" ng-blur="paymentUnsuccess.changePage(1, paymentUnsuccess.search)" placeholder="Clients Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="paymentUnsuccess.search.workers_name" ng-blur="paymentUnsuccess.changePage(1, paymentUnsuccess.search)" placeholder="Workers Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="paymentUnsuccess.search.booking_date" ng-change="paymentUnsuccess.changePage(1,paymentUnsuccess.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="paymentUnsuccess.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in paymentUnsuccess.PayList | orderBy: paymentUnsuccess.sortKey:paymentUnsuccess.reverse|itemsPerPage: paymentUnsuccess.PaymentPerPage" total-items="paymentUnsuccess.total" current-page="paymentUnsuccess.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.paymentUnsuccess.view({id:{{item.booking_id}} })">{{item.booking_id}}</a>
                                        </td>
                                        <td class="text-center">{{ item.clients_name }}</td>
                                        <td class="text-center">{{ item.workers_name }}</td>
                                        <td class="text-center">{{ paymentUnsuccess.formatDate(item.booking_date) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.paymentUnsuccess.view({id: item.booking_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ng-click="paymentUnsuccess.deletePayment(item.booking_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="paymentUnsuccess.PayList.length == 0 && paymentUnsuccess.PayListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="paymentUnsuccess.changePage(newPageNumber,paymentUnsuccess.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>