<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{suspension.title}} Category</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suspension" class="btn btn-info btn-flat pull-left">Back to All Category</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="Form" novalidate angular-validator angular-validator-submit='suspension.save()'>

                                <input ng-if="suspension.editFlag" type="hidden" name="category_id" ng-model="suspension.Form.category_id">
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Category Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="category_type" ng-model="suspension.Form.category_type" placeholder="Enter Category Type" validate-on='dirty' required required-message="'Please enter category type'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Category Time<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="category_time" ng-model="suspension.Form.category_time" placeholder="Enter Category Time" validate-on='dirty' required required-message="'Please enter category time'" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category Period<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="category_period" ng-model="suspension.Form.category_period" validate-on='dirty' ng-options="role.id as role.status for role in suspension.periodList" required-message="'Please select category period!'" required>
                                            <option value="">Select Period</option>                  
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="suspension.Form.status" validate-on='dirty' ng-options="role.id as role.status for role in suspension.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>                  
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!suspension.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="suspension.editFlag" ui-sref="backoffice.suspension">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>