<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Category</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{suspension.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suspension.create" class="btn btn-info btn-flat pull-left">Add New Category</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="suspension.getList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suspension.sort('category_id')">Id
                                                <span ng-show="suspension.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suspension.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="suspension.sort('category_type')">Category Type
                                                <span ng-show="suspension.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suspension.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="suspension.sort('created_at')">Created At
                                                <span ng-show="suspension.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suspension.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suspension.sort('status')">Status
                                                <span ng-show="suspension.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suspension.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="suspension.search.category_id" ng-keyup="suspension.changePage(1, suspension.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="suspension.search.category_type" ng-keyup="suspension.changePage(1, suspension.search)" placeholder="Category Type" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="suspension.search.created_at" ng-change="suspension.changePage(1,suspension.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="suspension.search.status" ng-change="suspension.changePage(1,suspension.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="suspension.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in suspension.list | orderBy: suspension.sortKey:suspension.reverse|itemsPerPage: suspension.PerPage" total-items="suspension.total" current-page="suspension.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.suspension.view({id:{{item.category_id}} })">{{item.category_id}}</a>
                                        </td>
                                        <td>{{item.category_type}}</td>
                                        <td class="text-center">{{ suspension.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="suspension.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.suspension.view({id: item.category_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.suspension.edit({id: item.category_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="suspension.deleteData(item.category_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="suspension.list.length == 0 && suspension.listCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="suspension.changePage(newPageNumber,suspension.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>