<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{clientUser.title}} Client</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.clientUser" class="btn btn-info btn-flat pull-left">Back to All Clients</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="clientUserForm" novalidate angular-validator angular-validator-submit='clientUser.saveClientUser()'>
                                
                                <input ng-if="clientUser.editFlag" type="hidden" name="user_id" ng-model="clientUser.clientUserForm.user_id">

                                <input ng-if="clientUser.usertypeFlag" type="hidden" name="usertype" ng-model="clientUser.clientUserForm.usertype">

                                <input ng-if="clientUser.registertypeFlag" type="hidden" name="registertype" ng-model="clientUser.clientUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="clients_name" ng-model="clientUser.clientUserForm.clients_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" ng-pattern="regexName" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="clients_email" ng-model="clientUser.clientUserForm.clients_email" placeholder="Enter Email Address" validate-on='dirty' required required-message="'Please enter email address!'" ng-disabled="clientUser.isDisabledEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="clients_phone" ng-model="clientUser.clientUserForm.clients_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-maxlength="11" ng-minlength="11" invalid-message="'Enter 11 digits number'" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alternate Contact Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="clients_mobile" ng-model="clientUser.clientUserForm.clients_mobile" placeholder="Enter Alternate Contact Number" validate-on='dirty' onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Image upload</label>
                                    
                                    <div class="col-sm-10">
                                        <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="clientUser.clientUserForm.file || '../assets/admin/img/no-image.jpg'"/>
                                        
                                        <input type="file" class="form-control" ngf-select ng-model="clientUser.clientUserForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  />                            
                                        
                                        <i ng-show="clientUser.clientUserForm.file.$error.required"> *required </i>
                                        <i ng-show="clientUser.clientUserForm.file.$error.maxSize"> File too large {{clientUser.clientUserForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                    </div>                                   
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="clients_address" ng-model="clientUser.clientUserForm.clients_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter address!'" autocomplete="off" maxlength="150"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="clients_country" ng-change="clientUser.getStatesByID(clientUser.clientUserForm)" ng-model="clientUser.clientUserForm.clients_country" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in clientUser.countryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Province<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="clients_state" ng-model="clientUser.clientUserForm.clients_state" ng-change="clientUser.getCityByID(clientUser.clientUserForm)" validate-on='dirty' required required-message="'Please select state!'" ng-options="choice.id as choice.name for choice in clientUser.statesList">
                                            <option value="">Select Province</option>
                                            </option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group" ng-if="!clientUser.hideCity">
                                    <label class="col-sm-4 control-label">City<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="clients_city" ng-change="clientUser.getSuburbByID(clientUser.clientUserForm)" ng-model="clientUser.clientUserForm.clients_city" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in clientUser.cityList">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!clientUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="clients_suburb" ng-model="clientUser.clientUserForm.clients_suburb" validate-on='dirty' required required-message="'Please select suburb!'" ng-options="choice.suburb_id as choice.suburb_name for choice in clientUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="clientUser.clientUserForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in clientUser.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="clientUser.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!clientUser.editFlag" ng-disabled="clientUser.isDisabledButton" ng-click="clientUser.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="clientUser.editFlag" ui-sref="backoffice.clientUser" ng-disabled="clientUser.isDisabledButton">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>