<div class="row" >
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30"> <img ngf-thumbnail="clientUser.singleClientUser.file || '../assets/admin/img/no-image.jpg'" class="img-circle" width="200" height="200"/>
                    <h4 class="card-title m-t-10">{{clientUser.singleClientUser.clients_name}}</h4>
                </center>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div>
                        <h3 class="card-title">View Client</h3>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-muted text-info">
                                    <a ui-sref="backoffice.clientUser" class="btn btn-info btn-flat pull-left">Back to All Clients</a>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <small class="text-muted">Email ID </small>
                                <h6 ng-if ="clientUser.singleClientUser.clients_email == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_email != '' ">{{clientUser.singleClientUser.clients_email}}</h6>

                                <small class="text-muted p-t-30 db">Contact Number</small>
                                <h6 ng-if ="clientUser.singleClientUser.clients_phone == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_phone != '' ">{{clientUser.singleClientUser.clients_phone}}</h6>

                                <small class="text-muted p-t-30 db">Alternate Contact Number</small>
                                <h6 ng-if ="clientUser.singleClientUser.clients_mobile == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_mobile != '' ">{{clientUser.singleClientUser.clients_mobile}}</h6>

                                <small class="text-muted p-t-30 db">Address</small>
                                <h6 ng-if ="clientUser.singleClientUser.clients_address == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_address != '' ">{{clientUser.singleClientUser.clients_address}}</h6>

                                <small class="text-muted p-t-30 db">Suburb</small> 
                                <h6 ng-if ="clientUser.singleClientUser.clients_suburb == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_suburb != '' "><span ng-repeat="(index, status) in clientUser.suburbList" ng-show="clientUser.singleClientUser.clients_suburb == status.suburb_id">{{status.suburb_name}}</span></h6>

                                <small class="text-muted p-t-30 db">City</small> 
                                <h6 ng-if ="clientUser.singleClientUser.clients_city == 0 ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_city != 0 "><span ng-repeat="(index, status) in clientUser.cityList" ng-show="clientUser.singleClientUser.clients_city == status.id">{{status.name}}</span></h6>

                                <small class="text-muted p-t-30 db">Province</small>
                                <h6 ng-if ="clientUser.singleClientUser.clients_state == 0 ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.clients_state != 0 "><span ng-repeat="(index, status) in clientUser.statesList" ng-show="clientUser.singleClientUser.clients_state == status.id">{{status.name}}</span></h6>

                                <small class="text-muted p-t-30 db">Country</small>
                                <h6 ng-if ="clientUser.singleClientUser.country == '' ">NA</h6> 
                                <h6 ng-else ="clientUser.singleClientUser.country != '' ">{{clientUser.singleClientUser.country}}</h6>

                                
                                <div class="map-box">
                                    <ng-map zoom="16" center="{{clientUser.singleClientUser.clients_address}}" style="height:250px">
                                        <marker position="{{clientUser.singleClientUser.clients_address}}"></marker>                        
                                    </ng-map>
                                </div> 

                                <small class="text-muted p-t-30 db">Status</small>
                                <span class="label" ng-class="clientUser.singleClientUser.status == 1 ? 'label-success' : 'label-warning'">{{clientUser.singleClientUser.status == 1 ? 'Approved' : 'Not Approved'}}</span>

                                <small class="text-muted p-t-30 db">Suspend Status</small>
                                <span class="label" ng-class="clientUser.singleClientUser.is_suspend == 1 ? 'label-success' : 'label-warning'">{{clientUser.singleClientUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}</span>

                                <small class="text-muted p-t-30 db">Created At</small>
                                <h6>{{clientUser.formatDate(clientUser.singleClientUser.created_at)}}</h6>
                            
                                <small class="text-muted p-t-30 db">Updated At</small>               
                                <h6>{{clientUser.formatDate(clientUser.singleClientUser.updated_at)}}</h6>

                            </div>                           
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Column -->
</div>