<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Client</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted text-info">
                                            <a ui-sref="backoffice.clientUser" class="btn btn-info btn-flat pull-left">Back to All Clients</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">Email ID</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_email == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_email != '' ">{{clientUser.singleClientUser.clients_email}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_phone == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_phone != '' ">{{clientUser.singleClientUser.clients_phone}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Alternate Contact Number</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_mobile == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_mobile != '' ">{{clientUser.singleClientUser.clients_mobile}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_address == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_address != '' ">{{clientUser.singleClientUser.clients_address}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suburb</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_suburb == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_suburb != '' "><span ng-repeat="(index, status) in clientUser.suburbList" ng-show="clientUser.singleClientUser.clients_suburb == status.suburb_id">{{status.suburb_name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_city == 0 ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_city != 0 "><span ng-repeat="(index, status) in clientUser.cityList" ng-show="clientUser.singleClientUser.clients_city == status.id">{{status.name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Province</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.clients_state == 0 ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.clients_state != 0 "><span ng-repeat="(index, status) in clientUser.statesList" ng-show="clientUser.singleClientUser.clients_state == status.id">{{status.name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>
                                            <div ng-if ="clientUser.singleClientUser.country == '' ">NA</div> 
                                            <div ng-else ="clientUser.singleClientUser.country != '' ">{{clientUser.singleClientUser.country}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Province</th>
                                        <td>
                                            <ng-map zoom="16" center="{{clientUser.singleClientUser.clients_address}}" style="height:250px">
                                            <marker position="{{clientUser.singleClientUser.clients_address}}"></marker>                        
                                            </ng-map>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="clientUser.singleClientUser.status == 1 ? 'label-success' : 'label-warning'">{{clientUser.singleClientUser.status == 1 ? 'Approved' : 'Not Approved'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label" ng-class="clientUser.singleClientUser.is_suspend == 1 ? 'label-success' : 'label-warning'">{{clientUser.singleClientUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{clientUser.formatDate(clientUser.singleClientUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{clientUser.formatDate(clientUser.singleClientUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>