<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{amenities.title}} Amenities</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.amenities" class="btn btn-info btn-flat pull-left">Back to All Amenities</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="amenitiesForm" novalidate angular-validator angular-validator-submit='amenities.saveAmenities()'>
                                <input ng-if="amenities.editFlag" type="hidden" name="amenities_id" ng-model="amenities.amenitiesForm.amenities_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Amenities Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="amenities_type" ng-model="amenities.amenitiesForm.amenities_type" validate-on='dirty' ng-options="choice.id as choice.type for choice in amenities.amenitiesTypeList" required-message="'Please select type!'" required>
                                            <option value="">Select Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Amenities Count<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="amenities_count" ng-model="amenities.amenitiesForm.amenities_count" placeholder="Enter Amenities Count" validate-on='dirty' required required-message="'Please enter amenities count!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-maxlength="2" invalid-message="'Enter two digits only!'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Clean Duration (Hour)<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="amenities_clean_duartion" ng-model="amenities.amenitiesForm.amenities_clean_duartion" validate-on='dirty' ng-options="choices.id as choices.hour for choices in amenities.durationList" required-message="'Please select duration!'" required>
                                            <option value="">Select Duration</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-4 control-label">Clean Cost (R)<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="amenities_clean_cost" ng-model="amenities.amenitiesForm.amenities_clean_cost" placeholder="Enter Clean Cost" validate-on='dirty' required required-message="'Please enter clean cost'" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="amenities.amenitiesForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in amenities.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!amenities.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="amenities.editFlag" ui-sref="backoffice.amenities">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>