<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Amenities</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{amenities.totalAmenities}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.amenities.create" class="btn btn-info btn-flat pull-left">Add New Amenities</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="amenities.getAmenitiesList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="amenities.sort('amenities_id')">Id
                                                <span ng-show="amenities.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!amenities.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="amenities.sort('amenities_type')">Amenities Type
                                                <span ng-show="amenities.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!amenities.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="amenities.sort('created_at')">Created At
                                                <span ng-show="amenities.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!amenities.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="amenities.sort('status')">Status
                                                <span ng-show="amenities.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!amenities.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="amenities.search.amenities_id" ng-keyup="amenities.changePage(1, amenities.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="amenities.search.amenities_type" ng-keyup="amenities.changePage(1, amenities.search)" placeholder="Amenities Type" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="amenities.search.created_at" ng-change="amenities.changePage(1,amenities.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="amenities.search.status" ng-change="amenities.changePage(1,amenities.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="amenities.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in amenities.amenitiesList | orderBy: amenities.sortKey:amenities.reverse|itemsPerPage: amenities.amenitiesPerPage" total-items="amenities.totalAmenities" current-page="amenities.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.amenities.view({id:{{item.amenities_id}} })">{{item.amenities_id}}</a>
                                        </td>
                                        <td>{{item.amenities_type}} <span style="font-weight:bold;">[{{item.amenities_count}}]</span> </td>
                                        <td class="text-center">{{ amenities.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="amenities.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.amenities.view({id: item.amenities_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.amenities.edit({id: item.amenities_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="amenities.deleteAmenities(item.amenities_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="amenities.amenitiesList.length == 0 && amenities.amenitiesListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="amenities.changePage(newPageNumber,amenities.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>