<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Amenities</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.amenities" class="btn btn-info btn-flat pull-left">Back to All Amenities</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{amenities.singleAmenities.amenities_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{amenities.singleAmenities.amenities_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Amenities Count</th>
                                        <td>{{amenities.singleAmenities.amenities_count}}</td>
                                    </tr>
                                    <tr>
                                        <th>Clean Duartion</th>
                                        <td>{{amenities.singleAmenities.amenities_clean_duartion}} hour</td>
                                    </tr>
                                    <tr>
                                        <th>Clean Cost</th>
                                        <td>R {{amenities.singleAmenities.amenities_clean_cost}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="amenities.singleAmenities.status == 1 ? 'label-success' : 'label-warning'">
                                                {{amenities.singleAmenities.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{amenities.formatDate(amenities.singleAmenities.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{amenities.formatDate(amenities.singleAmenities.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>