<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Change Password</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->

<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <!-- <div class="back_page_btn">
                        <a ui-sref="frontoffice" class="btn back_btn_here hover_effects">Back</a>
                    </div> -->
                    <div class="tab_cont_details_new">
                        <div class="tab_cont_head_new collapsed" data-toggle="collapse" data-target="#demo2">
                            <h4>Change Password :</h4>
                            <!-- <span class="collapse_arrow">
                                <i class="fa fa-chevron-down"></i>
                            </span> -->
                        </div>
                        <div class="collapse in" id="demo2">
                            <div class="profile_form_here">
                                <div class="profile_new_ne_sec profil_padding">
                                    <form name="passwordForm" novalidate angular-validator angular-validator-submit='frontoffice.changePassword()'>
                                    
                                        <div class="form-group f_sel_margin_new">
                                            <span class="control-label col-sm-3 frm_label" for="email">Old Password :</span>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                    <input id="oldPassword" type="password" class="form-control input_set_sec" name="oldPassword" ng-model="frontoffice.passwordForm.oldPassword" placeholder="Enter Current Password" validate-on='dirty' required-message="'Please enter your current password'" required  ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()"/>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin_new">
                                            <span class="control-label col-sm-3 frm_label" for="email">New Password :</span>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                    <input id="newPassword" type="password" class="form-control input_set_sec" name="newPassword" ng-model="frontoffice.passwordForm.newPassword" placeholder="Enter New Password" validate-on='dirty' required-message="'Please enter your new password'" required ng-pattern="regex" invalid-message = "'Password must be at least 8 characters(Only spaces are not allowed).'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin_new">
                                            <span class="control-label col-sm-3 frm_label" for="email">Confirm Password :</span>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                    <input id="cPassword" type="password" class="form-control input_set_sec" name="cPassword" ng-model="frontoffice.passwordForm.cPassword" placeholder="Enter Confirm Password" validate-on='dirty' required required-message="'Please enter your confirm password'" match-password="newPassword" invalid-message="'New password and confirm password do not match.'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()"/>    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_submit_btn">
                                            <button type="submit" class="btn btn_reset_sec hover_effects_sec">Save</button>
                                            <a class="btn btn_reset hover_effects" ui-sref="frontoffice" ng-disabled="frontoffice.isDisabledButton">Cancel</a>
                                            <a ui-sref="frontoffice" class="btn back_btn_here hover_effects">Back</a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>