<section class="bannner_section" style="background-image:url(../assets/front/img/banner.jpg);">
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="banner_content">
                <img src="../assets/front/img/side_logo.png" class="img-responsive banner_logo" alt="logo">
                <!-- <h1>{{$root.headerTitle}}</h1> -->
                <h1>HEAVENLY SENT</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</section>

<!-- Start Internet Cafe Dashboard -->
<section class="dashboard_content" ng-if="dashboard.setFlagC">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="all_link_here">
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Register a Worker</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.cafe.create" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_sec">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>My Added Workers</h3>
                                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.cafe" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_third">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Schedule an Appointment</h3>
                                <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero. </p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.cafe" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </SPAN>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_four">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Bookings</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.cafe.booking" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Internet Cafe Dashboard -->

<!-- Start Assoress Dashboard -->
<section class="dashboard_content" ng-if="dashboard.setFlagA">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="all_link_here">
                    <div class="col-md-6 col-sm-6" ui-sref="frontoffice.assessor.requests">
                        <div class="link_tab_hre">
                            <div class="tab_cont_third">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Booking Requests</h3>
                                <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero. </p>
                                <span class="dash_boar_btn">
                                    <a  ui-sref="frontoffice.assessor.requests" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </SPAN>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" ui-sref="frontoffice.assessor.calender">
                        <div class="link_tab_hre">
                            <div class="tab_cont">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Calendar</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.assessor.calender" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6"  ui-sref="frontoffice.assessor.checklist">
                        <div class="link_tab_hre">
                            <div class="tab_cont_sec">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Checklist</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC. </p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.assessor.checklist" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" ui-sref="frontoffice.assessor.angels">
                        <div class="link_tab_hre">
                            <div class="tab_cont_four">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>My added Angels</h3>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.assessor.angels" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Assoress Dashboard -->

<!--page load popup set here-->
<div id="myModal_first_updat_password" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content model_content_set">
            <div class="modal-header model_head">
                <h4 class="modal-title title_popup">Welcome to Heavenly Sent Domestics.!</h4>
            </div>
            <div class="modal-body set_pop_body">
                <div class="pop_update_password">
                    <p>Please update your password</p>
                    <form novalidate angular-validator angular-validator-submit='dashboard.savePassword()'>
                        <input type="hidden" ng-model="dashboard.passwordForm.user_id" name="user_id" >
                        <div class="form_set">
                            <div class="form_here">
                                <span>New Password</span>
                                <input type="password" class="form-control input_set" name="new_password" ng-model="dashboard.passwordForm.new_password" invalid-message="'Password must be at least 8 characters!'" validate-on='dirty' required required-message="'Please enter New password!'" ng-pattern="regex"/>
                            </div>
                            <div class="form_here">
                                <span>Confirm Password</span>
                                <input type="password" class="form-control input_set" name="confirm_passowrd" ng-model="dashboard.passwordForm.confirm_passowrd" validator="dashboard.passwordForm.new_password === dashboard.passwordForm.confirm_passowrd" invalid-message = "'Passwords do not match!'" validate-on='dirty' required required-message="'Please enter confirm password!'"/>
                            </div>
                        </div>
                        <div class="model_foot_new">
                            <button type="submit" class="btn btn_submit_book_new hover_effects" ng-disabled="dashboard.isDisabledButton">Submit</button>
                            <button type="button" class="btn btn_submit_book_new hover_effects" ng-click="dashboard.closeMod()" ng-disabled="dashboard.isDisabledButton">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
