<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>{{$root.headerTitle}} Profile</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->

<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        <!-- <div class="back_page_btn">
                            <a ui-sref="frontoffice" class="btn back_btn_here hover_effects">Back</a>
                        </div> -->
                        <div class="profile_form_here">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img">
                                        <img ngf-thumbnail="profile.profileForm.file || '../assets/admin/img/no-image.jpg'" class="img-responsive" alt="profile"/>
                                        <h5>Profile Image</h5>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile_new_f">
                                        <div class="profile_deta">
                                            <ul>

                                                <li><span class="col-md-2">Name :</span>
                                                    <div ng-if ="profile.profileForm.name == '' ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.name != '' ">
                                                        {{profile.profileForm.name}}
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Email ID :</span>
                                                    <div ng-if ="profile.profileForm.email == '' ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.email != '' ">
                                                        {{profile.profileForm.email}}
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Contact Number :</span>
                                                    <div ng-if ="profile.profileForm.phone == '' ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.phone != '' ">
                                                        {{profile.profileForm.phone}}
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Address :</span>
                                                    <div ng-if ="profile.profileForm.address == '' ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.address != '' ">
                                                        {{profile.profileForm.address}}
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Suburb :</span>
                                                    <div ng-if ="profile.profileForm.suburbID == 0 ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.suburbID != 0 ">
                                                        <div ng-repeat="(index, status) in profile.suburbList" ng-show="profile.profileForm.suburbID == status.suburb_id">{{status.suburb_name}}</div>
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">City :</span>
                                                    <div ng-if ="profile.profileForm.cityID == 0 ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.cityID != 0 ">
                                                        <div ng-repeat="(index, status) in profile.cityList" ng-show="profile.profileForm.cityID == status.id">{{status.name}}</div>
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Province :</span>
                                                    <div ng-if ="profile.profileForm.stateID == 0 ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.stateID != 0 ">
                                                        <div ng-repeat="(index, status) in profile.statesList" ng-show="profile.profileForm.stateID == status.id">{{status.name}}</div>
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Country :</span>
                                                    <div ng-if ="profile.profileForm.country == 0 ">
                                                        NA
                                                    </div>
                                                    <div ng-if ="profile.profileForm.country != 0 ">
                                                        {{profile.profileForm.country}}
                                                    </div>
                                                </li>
                                                <li><span class="col-md-2">Role :</span>{{profile.profileForm.user_role_id == 2 ? 'Internet Cafe' : 'Assessor' }}</li>
                                                <li><span class="col-md-2">Created At :</span>{{profile.formatDate(profile.profileForm.created_at)}}</li>
                                                <li><span class="col-md-2">Updated At :</span>{{profile.formatDate(profile.profileForm.updated_at)}}</li>

                                            </ul>                                            
                                        </div>
                                        <div class="pr_updt">
                                            <a ui-sref="frontoffice.updateprofile" class="btn updt_btn hover_effects">Edit Profile</a>
                                             <a ui-sref="frontoffice" class="btn updt_btn hover_effects">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>