<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>{{$root.headerTitle}} Profile</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        
                        <!-- <div class="back_page_btn">
                            <a ui-sref="frontoffice.profile" class="btn back_btn_here hover_effects" ng-disabled="frontoffice.isDisabledButton" >Back</a>
                        </div> -->

                        <div class="profile_form_here">
                            <div class="row">
                                <form name="profileForm" novalidate angular-validator angular-validator-submit='frontoffice.updateProfile()'>
                                
                                    <input type="hidden" name="user_id" ng-model="frontoffice.profileForm.user_id">

                                    <input type="hidden" name="usertype" ng-model="frontoffice.profileForm.usertype">

                                    <input type="hidden" name="status" ng-model="frontoffice.profileForm.status">

                                    <div class="col-md-3">
                                        <div class="profile_img">
                                            <img ngf-thumbnail="frontoffice.profileForm.file || '/assets/admin/img/no-image.jpg'" class="img-responsive" alt="profile"/>
                                            <div class="file-upload">
                                                <label for="upload" class="file-upload__label hover_effects">Change Profile Picture</label>
                                                <input id="upload" class="file-upload__input" type="file" ngf-select ng-model="frontoffice.profileForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="profile_new_f">
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Name<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>
<input type="text" class="form-control input_set_sec" name="name" ng-model="frontoffice.profileForm.name" placeholder="Enter Your Name" validate-on='dirty' required required-message="'Please enter your name!'" / ng-pattern="regexUpdate" >  
                                                    </div>
                                                </div>
                                            </div>                                        
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Email ID<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control input_set_sec" name="email" ng-model="frontoffice.profileForm.email" placeholder="Enter Your Email" validate-on='dirty' readonly />   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Contact Number<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control input_set_sec" name="phone" ng-model="frontoffice.profileForm.phone" placeholder="Enter Your Contact Number" validate-on='dirty' required required-message="'Please enter your contact number!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'"  /> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Address<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control input_set_sec" name="address" ng-model="frontoffice.profileForm.address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter your address!'"/>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Country<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <select class="form-control input_set_sec" name="countryID" ng-change="frontoffice.getStatesByID(frontoffice.profileForm)" ng-model="frontoffice.profileForm.countryID" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in frontoffice.countryList">
                                                            <option value="">Select Country</option>
                                                        </select>   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin">
                                                <span class="control-label col-sm-3 frm_label" for="email">Province<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <select class="form-control input_set_sec" name="stateID" ng-model="frontoffice.profileForm.stateID" ng-change="frontoffice.getCityByID(frontoffice.profileForm)" validate-on='dirty' required required-message="'Please select state!'" ng-options="choice.id as choice.name for choice in frontoffice.statesList">
                                                            <option value="">Select Province</option>
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin" ng-if="!frontoffice.hideCity">
                                                <span class="control-label col-sm-3 frm_label" for="email">City<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <select class="form-control" name="cityID" ng-change="frontoffice.getSuburbByID(frontoffice.profileForm)" ng-model="frontoffice.profileForm.cityID" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in frontoffice.cityList">
                                                            <option value="">Select City</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group f_sel_margin" ng-if="!frontoffice.hideSuburb">
                                                <span class="control-label col-sm-3 frm_label" for="email">Suburb<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <select class="form-control" name="suburbID" ng-model="frontoffice.profileForm.suburbID" validate-on='dirty' required required-message="'Please select suburb!'" ng-options="choice.suburb_id as choice.suburb_name for choice in frontoffice.suburbList">
                                                            <option value="">Select Suburb</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form_submit_btn form-group">
                                                <button type="submit" class="btn btn_reset_sec hover_effects_sec" ng-disabled="frontoffice.isDisabledButton">Save</button>
                                                <a ui-sref="frontoffice.profile" class="btn btn_reset hover_effects" ng-disabled="frontoffice.isDisabledButton">Cancel</a>
                                                 <a ui-sref="frontoffice.profile" class="btn btn_reset hover_effects" ng-disabled="frontoffice.isDisabledButton" >Back</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>