<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{subAdminUser.title}} Sub Admin</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.adminUser" class="btn btn-info btn-flat pull-left">Back to All Sub Admin</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="adminUserForm" novalidate angular-validator angular-validator-submit='subAdminUser.saveAdminUser()'>
                                
                                <input ng-if="subAdminUser.editFlag" type="hidden" name="user_id" ng-model="subAdminUser.adminUserForm.user_id">

                                <input ng-if="subAdminUser.usertypeFlag" type="hidden" name="usertype" ng-model="subAdminUser.adminUserForm.usertype">

                                <input ng-if="subAdminUser.registertypeFlag" type="hidden" name="registertype" ng-model="subAdminUser.adminUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_name" ng-model="subAdminUser.adminUserForm.user_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_email" ng-model="subAdminUser.adminUserForm.user_email" placeholder="Enter Email ID" validate-on='dirty' required required-message="'Please enter email address!'" invalid-message="'Invalid email address entered'" autocomplete="off" ng-disabled="adminUser.isDisabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_phone" ng-model="subAdminUser.adminUserForm.user_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Module Access<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <table class="tablesaw table-bordered table-hover table" data-ng-init="subAdminUser.getAll()">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Add</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(index, status) in subAdminUser.modulesList">
                                                    <td class="title"><span ng-show="{{ status.parent_id != 0 }}"><i class="mdi mdi-arrow-right-bold"></i></span> {{status.module_name}}</td>
                                                    <td>
                                                        <input type="checkbox" id="md_checkbox_27_{{status.module_id}}" class="filled-in chk-col-light-blue" checked="" ng-model="status.add"><label for="md_checkbox_27_{{status.module_id}}"></label>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="md_checkbox_24_{{status.module_id}}" class="filled-in chk-col-deep-purple" checked="" ng-model="status.edite"><label for="md_checkbox_24_{{status.module_id}}"></label>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="md_checkbox_21_{{status.module_id}}" class="filled-in chk-col-red" checked="" ng-model="status.delete"><label for="md_checkbox_21_{{status.module_id}}"></label>
                                                    </td>
                                                </tr>                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="subAdminUser.adminUserForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in subAdminUser.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!subAdminUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="subAdminUser.editFlag" ui-sref="backoffice.subAdminUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>