<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Sub Admin</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{subAdminUser.totalAdminUser}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.subAdminUser.create" class="btn btn-info btn-flat pull-left">Add New Sub Admin</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="subAdminUser.getAdminUserList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="subAdminUser.sort('user_id')">Id
                                                <span ng-show="subAdminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!subAdminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="subAdminUser.sort('user_username')">Name
                                                <span ng-show="subAdminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!subAdminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="subAdminUser.sort('created_at')">Created At
                                                <span ng-show="subAdminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!subAdminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="subAdminUser.sort('status')">Status
                                                <span ng-show="subAdminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!subAdminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="subAdminUser.search.user_id" ng-keyup="subAdminUser.changePage(1, subAdminUser.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="subAdminUser.search.admin_name" ng-keyup="subAdminUser.changePage(1, subAdminUser.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="subAdminUser.search.created_at" ng-change="subAdminUser.changePage(1,subAdminUser.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="subAdminUser.search.status" ng-change="subAdminUser.changePage(1,subAdminUser.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="subAdminUser.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in subAdminUser.adminUserList | orderBy: subAdminUser.sortKey:subAdminUser.reverse|itemsPerPage: subAdminUser.adminUserPerPage" total-items="subAdminUser.totalAdminUser" current-page="subAdminUser.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.subAdminUser.view({id:item.user_id})">{{item.user_id}}</a>
                                        </td>
                                        <td>{{item.admin_name}}</td>
                                        <td class="text-center">{{ subAdminUser.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="subAdminUser.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.subAdminUser.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.subAdminUser.edit({id: item.user_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="subAdminUser.deleteAdminUser(item.user_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="subAdminUser.adminUserList.length == 0 && subAdminUser.adminUserListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="subAdminUser.changePage(newPageNumber,adminUser.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>