<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Sub Admin</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.subAdminUser" class="btn btn-info btn-flat pull-left">Back to All Sub Admin</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{subAdminUser.singleAdminUser.user_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{subAdminUser.singleAdminUser.admin_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{subAdminUser.singleAdminUser.admin_email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>{{subAdminUser.singleAdminUser.admin_phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="subAdminUser.singleAdminUser.status == 1 ? 'label-success' : 'label-warning'">
                                                {{subAdminUser.singleAdminUser.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label" ng-class="subAdminUser.singleAdminUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                                                {{subAdminUser.singleAdminUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                                            </span>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{subAdminUser.formatDate(subAdminUser.singleAdminUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{subAdminUser.formatDate(subAdminUser.singleAdminUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <h3 class="card-title m-b-20">Module Access</h3>
                        <table class="tablesaw table-bordered table-hover table" data-ng-init="subAdminUser.getAll()">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index, status) in subAdminUser.permissionList">
                                    
                                    <td ng-repeat="(index, statu) in subAdminUser.modulesList" ng-show="status.modules_id == statu.module_id"><span ng-show="{{ statu.parent_id != 0 }}"><i class="mdi mdi-arrow-right-bold"></i></span> {{statu.module_name}}</td>
                                    <td>
                                        <span class="statusIconG" ng-show="{{status.added_at == 1 }}"><i class="mdi mdi-check"></i></span>
                                        <span class="statusIconR" ng-show="{{status.added_at == 0 }}"><i class="mdi mdi-close"></i></span>
                                        
                                    </td>
                                    <td>
                                        <span class="statusIconG" ng-show="{{status.updated_at == 1 }}"><i class="mdi mdi-check"></i></span>
                                        <span class="statusIconR" ng-show="{{status.updated_at == 0 }}"><i class="mdi mdi-close"></i></span>
                                    </td>
                                    <td>
                                        <span class="statusIconG" ng-show="{{status.deleted_at == 1 }}"><i class="mdi mdi-check"></i></span>
                                        <span class="statusIconR" ng-show="{{status.deleted_at == 0 }}"><i class="mdi mdi-close"></i></span>
                                    </td>
                                </tr>                                               
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>