<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Worker Leaves</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{leaveManage.total}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="leaveManage.getList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="leaveManage.sort('workerleaves_id')">Id
                                                <span ng-show="leaveManage.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leaveManage.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="leaveManage.sort('worker_id')">Worker Id
                                                <span ng-show="leaveManage.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leaveManage.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="leaveManage.sort('workers_name')">Worker
                                                <span ng-show="leaveManage.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leaveManage.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="leaveManage.sort('workerleaves_from')">Leave Date
                                                <span ng-show="leaveManage.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leaveManage.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="leaveManage.sort('workerleaves_leaves_id')">Leave Reason
                                                <span ng-show="leaveManage.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leaveManage.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="leaveManage.search.workerleaves_id" ng-keyup="leaveManage.changePage(1, leaveManage.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="leaveManage.search.worker_id" ng-keyup="leaveManage.changePage(1, leaveManage.search)" placeholder="Worker Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="leaveManage.search.workers_name" ng-keyup="leaveManage.changePage(1, leaveManage.search)" placeholder="Worker Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="leaveManage.search.workerleaves_from" ng-change="leaveManage.changePage(1,leaveManage.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="leaveManage.search.workerleaves_leaves_id" ng-change="leaveManage.changePage(1,leaveManage.search)">
                                                <option value>Select Reason</option>
                                                <option value="{{status.leaves_id}}" ng-repeat="(index, status) in leaveManage.leaveList">{{status.leaves_name}}</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="leaveManage.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in leaveManage.list | orderBy: leaveManage.sortKey:leaveManage.reverse|itemsPerPage: leaveManage.PerPage" total-items="leaveManage.total" current-page="leaveManage.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.leaveManage.view({id:{{item.workerleaves_id}} })">{{item.workerleaves_id}}</a>
                                        </td>
                                        <td>{{item.worker_id}}</td>
                                        <td>{{item.workers_name}}</td>
                                        <td class="text-center">{{ leaveManage.formatDate(item.workerleaves_from) }}</td>
                                        <td>
                                        <span ng-if="item.workerleaves_leaves_id != 0 " ng-repeat="(index, status) in leaveManage.leaveList" ng-show="{{item.workerleaves_leaves_id}} == status.leaves_id">
                                            {{status.leaves_name}}
                                        </span>
                                        <span ng-if="item.workerleaves_leaves_id == 0 ">
                                             - 
                                        </span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.leaveManage.view({id: item.workerleaves_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="leaveManage.list.length == 0 && leaveManage.listCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="leaveManage.changePage(newPageNumber,leaveManage.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>