<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Leave</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.leaveManage" class="btn btn-info btn-flat pull-left">Back to All Leaves</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th>Worker Name</th>
                                        <td>{{leaveManage.single.workers_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Worker ID</th>
                                        <td>{{leaveManage.single.worker_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Leave date</th>
                                        <td>{{leaveManage.formatDate(leaveManage.single.workerleaves_from)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Leave Reason</th>
                                        <td>{{leaveManage.single.leaves_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Note</th>
                                        <td>{{leaveManage.single.workerleaves_note}}</td>
                                    </tr>
                                    <tr>
                                        <th>Emergency / Normal</th>
                                        <td>
                                            <span class="label" ng-class="leaveManage.single.workerleaves_emergency == 1 ? 'label-success' : 'label-warning'">
                                                {{leaveManage.single.workerleaves_emergency == 1 ? 'Emergency' : 'Normal'}}
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>File</th>
                                        <td>
                                            <span ng-if="leaveManage.single.workerleaves_file != 0" data-toggle="modal" data-target="#myModal">
                                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="leaveManage.single.workerleaves_file || '../assets/admin/img/no-image.jpg'"/>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{leaveManage.formatDate(leaveManage.single.created_at)}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Updated At</th>
                                        <td>{{leaveManage.formatDate(leaveManage.single.updated_at)}}</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="max-width: 800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Image</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img ngf-thumbnail="leaveManage.single.workerleaves_file || '../assets/admin/img/no-image.jpg'"/>
            </div>
        </div>      
    </div>
</div>