a:hover {
    cursor: pointer;
}

.loaderPage{
	text-align: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.loaderPage div{
	position: relative;
	top: 30%;
}