<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Checklist</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.checklist" class="btn btn-info btn-flat pull-left">Back to All Checklist</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">Id</th>
                                        <td>{{checklist.singleChecklist.checklist_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{checklist.singleChecklist.checklist_name}}</td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="checklist.singleChecklist.status == 1 ? 'label-success' : 'label-warning'">
                                                {{checklist.singleChecklist.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{checklist.formatDate(checklist.singleChecklist.created_at)}}</td>
                                    </tr> 
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{checklist.formatDate(checklist.singleChecklist.updated_at)}}</td>
                                    </tr>                                                                        
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>