<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{paymentRefund.totalRefundData}}</h6>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="paymentRefund.getRefundList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="paymentRefund.sort('user_id')">Id
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="paymentRefund.sort('clients_name')">Client Name
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="paymentRefund.sort('booking_date')">Booking Date
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th>
                                            <a ng-click="paymentRefund.sort('booking_once_weekly')">Service Type
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th>
                                            <a ng-click="paymentRefund.sort('booking_cost')">Booking Cost
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th>
                                            <a ng-click="paymentRefund.sort('booking_deduct')">Deduct Cost
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th>
                                            <a ng-click="paymentRefund.sort('refund_status')">Status
                                                <span ng-show="paymentRefund.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!paymentRefund.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in paymentRefund.refundList | orderBy: paymentRefund.sortKey:paymentRefund.reverse|itemsPerPage: paymentRefund.clientsPerPage" total-items="paymentRefund.totalRefundData" current-page="paymentRefund.pagination.current">
                                        <td class="text-center"> {{item.booking_id}}</a> </td>
                                        <td>{{item.clients_name}}</td>
                                        <td>{{paymentRefund.formatDate(paymentRefund.item.booking_date)}}</td>
                                        <td>
                                            <div ng-if="item.booking_once_weekly == 0">Once</div>
                                            <div ng-if="item.booking_once_weekly == 1">Week</div>
                                        </td>
                                        <td>{{item.booking_cost}}</td>
                                        <td>{{item.booking_deduct}}</td>
                                        <td>{{item.refund_status==1?'Refunded':'Not Refund'}}</td>
                                        <td class="text-center">
                                            
                                            <div class="btn-group" ng-if ="item.refund_status == '0' ">
                                                
                                                <a class="btn btn-primary btn-flat btn-sm" ng-click ="paymentRefund.openModal(item.client_id,item.booking_id,item.booking_once_weekly,item.refundAmt)" title="Refund" ></i>Refund</a>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr ng-if="paymentRefund.refundList.length == 0">
                                        <td colspan="8"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="paymentRefund.changePage(newPageNumber,'')"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<!-- sample modal content -->
<div id="responsive-modalTop" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Refund</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="paymentRefund.close()">×</button>
            </div>
            
            <form id="refundForm" novalidate angular-validator name="refundForm" angular-validator-submit='paymentRefund.saveRefund()'>
                <div class="modal-body">
                    
                    <input type="hidden" name="booking_id" ng-model="paymentRefund.refundForm.booking_id" >
                    <input type="hidden" name="serviceflag" ng-model="paymentRefund.refundForm.serviceflag" >
                    <input type="hidden" name="client_id" ng-model="paymentRefund.refundForm.client_id" >

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Refund Amount </label>
                        <input type="text" class="form-control" ng-model="paymentRefund.refundForm.refundAmt" ng-disabled="paymentRefund.refundForm.refundAmt">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Refund</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="paymentRefund.close()" ng-disabled="paymentRefund.isDisabledButton" >Close</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->