<header class="header_section_sec"><!--header section start here-->
    <div class="header_menu_here">
        <div class="headerlogo_here_sec">
            <a href="/heaven/frontoffice/#!/auth/login"><img ngf-thumbnail="headerlogin.headerSide[4].file || '../assets/website/img/logo.png'" class="img-responsive" alt="logo"/></a>
        </div>
    </div>
</header><!--header section end here-->