<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Roles</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{role.totalRoles}}</h6>
                            </div>
                            <!-- <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.role.create" class="btn btn-info btn-flat pull-left">Add New Role</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="role.getRolesList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="role.sort('role_id')">Id
                                                <span ng-show="role.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!role.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="role.sort('role_name')">Name
                                                <span ng-show="role.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!role.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="role.sort('created_at')">Created At
                                                <span ng-show="role.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!role.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <!-- <th class="text-center" style="width: 120px;">
                                            <a ng-click="role.sort('status')">Status
                                                <span ng-show="role.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!role.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th> -->
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="role.search.role_id" ng-keyup="role.changePage(1, role.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="role.search.role_name" ng-keyup="role.changePage(1, role.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="role.search.created_at" ng-change="role.changePage(1,role.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <!-- <td>
                                            <select class="form-control" ng-model="role.search.status" ng-change="role.changePage(1,role.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td> -->
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="role.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in role.roleList | orderBy: role.sortKey:role.reverse|itemsPerPage: role.rolesPerPage" total-items="role.totalRoles" current-page="role.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.role.view({id: item.role_id})">{{item.role_id}}</a>
                                        </td>
                                        <td>{{item.role_name}}</td>
                                        <td class="text-center">{{ role.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.role.view({id: item.role_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <!-- <a ui-sref="backoffice.role.edit({id: item.role_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a> -->
                                                <!-- <a ng-click="role.deleteRole(item.role_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="role.roleList.length == 0 && role.roleListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="role.changePage(newPageNumber,role.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>