<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{suburbs.title}} Booking</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburbs" class="btn btn-info btn-flat pull-left">Back to All Booking</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="suburbsForm" novalidate angular-validator angular-validator-submit='suburbs.saveSuburbs()'>
                                
                                <input ng-if="suburbs.editFlag" type="hidden" name="suburbs_id" ng-model="suburbs.suburbsForm.suburbs_id">

                                <input type="hidden" ng-model="suburbs.suburbsForm.suburbs_pick_lat" ng-bind="{{suburbs.suburbsForm.suburbs_pick_lat}}" name="suburbs_pick_lat" />
                                <input type="hidden" ng-model="suburbs.suburbsForm.suburbs_pick_long" ng-bind="{{suburbs.suburbsForm.suburbs_pick_long}}" name="suburbs_pick_long" />
                                <input type="hidden" ng-model="suburbs.suburbsForm.suburbs_drop_lat"  ng-bind="{{suburbs.suburbsForm.suburbs_drop_lat}}" name="suburbs_drop_lat" />
                                <input type="hidden" ng-model="suburbs.suburbsForm.suburbs_drop_long" ng-bind="{{suburbs.suburbsForm.suburbs_drop_long}}" name="suburbs_drop_long" />

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe User</label>
                                    <div class="col-sm-10">                                       
                                        <select class="form-control" name="status" ng-model="suburbs.suburbsForm.cafe_user_id" validate-on='dirty' required="" ng-change="suburbs.getAllWorker()">
                                            <option value="">Select Cafe User</option>
                                            <option value="{{status.user_id}}" ng-repeat="(index, status) in suburbs.cafeList" ng-selected="suburbs.suburbsForm.cafe_user_id == status.user_id">{{status.cafeusers_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker List</label>
                                    <div class="col-sm-10">                                       
                                        <select class="form-control" name="status" ng-model="suburbs.suburbsForm.worker_user_id" validate-on='dirty' required="">
                                            <option value="">Select Worker List</option>
                                            <option value="{{status.user_id}}" ng-repeat="(index, status) in suburbs.workerList" ng-selected="suburbs.suburbsForm.worker_user_id == status.user_id">{{status.workers_name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Pickup Point</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="suburbs_pick_name" ng-model="suburbs.suburbsForm.suburbs_pick_name" placeholder="Enter Pickup Name" validate-on='dirty' required="Please enter your pickup Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Pickup Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" places-auto-complete name="suburbs_pick_address" ng-model="suburbs.suburbsForm.suburbs_pick_address" placeholder="Enter Pickup Address" validate-on='dirty' required="Please enter your pickup address" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Drop Point</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="suburbs_drop_name" ng-model="suburbs.suburbsForm.suburbs_drop_name" placeholder="Enter Drop Name" validate-on='dirty' required="Please enter your drop name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Drop Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" places-auto-complete name="suburbs_drop_address" ng-model="suburbs.suburbsForm.suburbs_drop_address" placeholder="Enter Drop Address" validate-on='dirty' required="Please enter your drop address" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <ng-map default-style="false" zoom="18" tilt="45" center="">
                                            <directions draggable="true" panel="directions-panel" origin="{{suburbs.suburbsForm.suburbs_pick_address}}" on-directions_changed="suburbs.directionsChanged(evt)" destination="{{suburbs.suburbsForm.suburbs_drop_address}}"></directions>
                                            <marker ng-repeat="pos in suburbs.suburbsForm.markers" position="{{[pos.lat(), pos.lng()]}}"></marker>
                                        </ng-map>

                                        <a href="" ng-click="suburbs.showDirectionsPanel = !suburbs.showDirectionsPanel">{{suburbs.showDirectionsPanel ? 'Hide' : 'Show'}} Detailed Directions</a>
                                        <div id="directions-panel" ng-show="suburbs.showDirectionsPanel" style="display:inline-block;"></div>

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="suburbs.suburbsForm.status" validate-on='dirty' required="">
                                            <option value="">Select Status</option>
                                            <option value="{{index}}" ng-repeat="(index, status) in suburbs.statusList" ng-selected="suburbs.suburbsForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ride Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="ride_status" ng-model="suburbs.suburbsForm.ride_status" validate-on='dirty' required="">
                                            <option value="">Select Ride Status</option>
                                            <option value="{{index}}" ng-repeat="(index, status) in suburbs.rideStatusList" ng-selected="suburbs.suburbsForm.ride_status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="suburbsForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!suburbs.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="suburbs.editFlag" ui-sref="backoffice.suburbs">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>




<!-- <h2> Virtual Road Trip with ngMap StreetView</h2>
  <div class="half">
    <label>Origin:</label>
    <input places-auto-complete ng-model="suburbs.origin"
      size=40 ng-disabled="suburbs.drivingMode" /> <br/>
    <label>Destination: </label>
    <input places-auto-complete ng-model="suburbs.destination"
      ng-disabled="suburbs.drivingMode" size=40 /> <br/>


    <input type="hidden" ng-model="suburbs.start_lat" ng-bind="{{suburbs.start_lat}}" /> <br/>
    <input type="hidden" ng-model="suburbs.start_long" ng-bind="{{suburbs.start_long}}" /> <br/>
    <input type="hidden" ng-model="suburbs.end_lat"  ng-bind="{{suburbs.end_lat}}" /> <br/>
    <input type="hidden" ng-model="suburbs.end_long" ng-bind="{{suburbs.end_long}}" /> <br/>


    <label>Driving Speed :</label>
    <input ng-model="suburbs.drivingSpeed" type="range"
      ng-disabled="suburbs.drivingMode"> {{suburbs.drivingSpeed}} km / hour<br/>
  </div>
  <div class="half">
    <button ng-click="suburbs.drive()" style="width: 200px;font-size:1em">
      {{suburbs.drivingMode ?  'Stop' : 'Start Driving' }}
    </button> <br/>
    <input type="radio" ng-model="suburbs.driverMode" ng-value="true"> Driver Mode
    <input type="radio" ng-model="suburbs.driverMode" ng-value="false"> Passenger Mode
  </div>
  <br style="clear:both" />
  <div class="half" style="height: 70%;">
    <br/>
    <ng-map default-style="false" zoom="18" tilt="45"
      center="">
      <directions
        draggable="true"
        panel="directions-panel"
        origin="{{suburbs.origin}}"
        on-directions_changed="suburbs.directionsChanged(evt)"
        destination="{{suburbs.destination}}">
      </directions>
      <street-view-panorama container="streetview"></street-view-panorama>
      <marker ng-repeat="pos in suburbs.markers"
        position="{{[pos.lat(), pos.lng()]}}"></marker>
     </ng-map>
  </div>
  <div class="half" style="height: 70%;">
    <div class="full-height" id="streetview"></div>
  </div>
  <br style="clear:both" />
  <a href="" ng-click="suburbs.showDirectionsPanel = !suburbs.showDirectionsPanel">
    {{suburbs.showDirectionsPanel ? 'Hide' : 'Show'}} Detailed Directions
  </a>
  <br style="clear:both" />
  <div id="directions-panel" ng-show="suburbs.showDirectionsPanel"
    style="display:inline-block;width:90%"></div>  -->
