<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Booking</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{suburbs.totalSuburbs}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburbs.create" class="btn btn-info btn-flat pull-left">Add New Booking</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="suburbs.getSuburbsList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suburbs.sort('suburbs_id')">Id
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="suburbs.sort('suburbs_pick_name')">Pick Up Point
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="suburbs.sort('suburbs_drop_name')">Drop Point
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="suburbs.sort('created_at')">Created At
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suburbs.sort('status')">Status
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suburbs.sort('status')">Ride Status
                                                <span ng-show="suburbs.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburbs.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="suburbs.search.suburbs_id" ng-keyup="suburbs.changePage(1, suburbs.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="suburbs.search.suburbs_pick_name" ng-keyup="suburbs.changePage(1, suburbs.search)" placeholder="Pick Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="suburbs.search.suburbs_drop_name" ng-keyup="suburbs.changePage(1, suburbs.search)" placeholder="Drop Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="suburbs.search.created_at" ng-change="suburbs.changePage(1,suburbs.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="suburbs.search.status" ng-change="suburbs.changePage(1,suburbs.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="suburbs.search.ride_status" ng-change="suburbs.changePage(1,suburbs.search)">
                                                <option value="">Ride Status</option>
                                                <option value="0">Pending</option>
                                                <option value="1">Accepted</option>
                                                <option value="2">Ongoing</option>
                                                <option value="3">Completed</option>
                                                <option value="4">Cancel</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="suburbs.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in suburbs.suburbsList | orderBy: suburbs.sortKey:suburbs.reverse|itemsPerPage: suburbs.suburbsPerPage" total-items="suburbs.totalSuburbs" current-page="suburbs.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.suburbs.view({id:{{item.suburbs_id}} })">{{item.suburbs_id}}</a>
                                        </td>
                                        <td>{{item.suburbs_pick_name}}</td>
                                        <td>{{item.suburbs_drop_name}}</td>
                                        <td class="text-center">{{ suburbs.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="suburbs.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.ride_status == 0 ? 'label-info' : item.ride_status == 1 ? 'label-primary' : item.ride_status == 2 ? 'label-warning' : item.ride_status == 3 ? 'label-success' : 'label-danger' ">
                                                {{item.ride_status == 0 ? 'Pending' : item.ride_status == 1 ? 'Accepted' : item.ride_status == 2 ? 'Ongoing' : item.ride_status == 3 ? 'Completed' : 'Cancel' }}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.suburbs.view({id: item.suburbs_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <!-- <a ui-sref="backoffice.suburbs.edit({id: item.suburbs_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a> -->
                                                <a ng-click="suburbs.deleteSuburbs(item.suburbs_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="suburbs.suburbsList.length == 0 && suburbs.suburbsListCheck == true ">
                                        <td colspan="7"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="suburbs.changePage(newPageNumber,suburbs.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>