<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Suburbs</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburbs" class="btn btn-info btn-flat pull-left">Back to All Suburbs</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td colspan="2">{{suburbs.singleSuburbs.suburbs_id}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Internet Cafe Name</th>
                                        <td colspan="2">{{suburbs.singleSuburbs.cafe_user_id}}</td>
                                    </tr> -->
                                    <tr>
                                        <th>Worker Name</th>
                                        <td colspan="2">{{suburbs.singleSuburbs.worker_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <th>Pick Up Point</th>
                                        <th>Drop Point</th>
                                    </tr>
                                    <tr>
                                        <th>Suburb</th>
                                        <td>{{suburbs.singleSuburbs.suburbs_pick_name}}</td>
                                        <td>{{suburbs.singleSuburbs.suburbs_drop_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{suburbs.singleSuburbs.suburbs_pick_address}}</td>
                                        <td>{{suburbs.singleSuburbs.suburbs_drop_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Latitude</th>
                                        <td>{{suburbs.singleSuburbs.suburbs_pick_lat}}</td>
                                        <td>{{suburbs.singleSuburbs.suburbs_drop_lat}}</td>
                                    </tr>
                                    <tr>
                                        <th>Longitude</th>
                                        <td>{{suburbs.singleSuburbs.suburbs_pick_long}}</td>
                                        <td>{{suburbs.singleSuburbs.suburbs_drop_long}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <th>Admin</th>
                                        <th>Ride</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <span class="label" ng-class="suburbs.singleSuburbs.status == 1 ? 'label-success' : 'label-warning'">
                                                {{suburbs.singleSuburbs.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                        <td colspan="2">
                                            <span class="label" ng-class="suburbs.singleSuburbs.ride_status == 0 ? 'label-info' : suburbs.singleSuburbs.ride_status == 1 ? 'label-primary' : suburbs.singleSuburbs.ride_status == 2 ? 'label-warning' : suburbs.singleSuburbs.ride_status == 3 ? 'label-success' : 'label-danger' ">
                                                {{suburbs.singleSuburbs.ride_status == 0 ? 'Pending' : suburbs.singleSuburbs.ride_status == 1 ? 'Accepted' : suburbs.singleSuburbs.ride_status == 2 ? 'Ongoing' : suburbs.singleSuburbs.ride_status == 3 ? 'Completed' : 'Cancel' }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td colspan="2">{{suburbs.formatDate(suburbs.singleSuburbs.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td colspan="2">{{suburbs.formatDate(suburbs.singleSuburbs.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-8" >
                        <ng-map zoom="14" center="">
                            <directions draggable="true" panel="directions-panel" travel-mode="DRIVING" origin="{{suburbs.singleSuburbs.suburbs_pick_address}}" destination="{{suburbs.singleSuburbs.suburbs_drop_address}}"></directions>
                        </ng-map>                                                    
                        Directions path length: {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}
                    </div>
                  
                    <div id="directions-panel" class="col-md-4" style="height: 400px; overflow: auto;"></div>
                </div>
            </div>
        </div>
    </div>
</div>