<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{support.title}}</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.support" class="btn btn-info btn-flat pull-left">Back to All Supports & Contacts List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="supportForm" novalidate angular-validator angular-validator-submit='support.saveRecord()'>

                                <input ng-if="support.editFlag" type="hidden" name="contactUs_id" ng-model="support.supportForm.contactUs_id">

                                <!-- <div class="form-group">
                                    <label class="col-sm-2 control-label">Subject</label>
                                    <div class="col-sm-10">
                                        <input type ="text" class="form-control" name="contactUs_replySubject" ng-model="support.supportForm.contactUs_replySubject" placeholder="Enter Subject" validate-on='dirty' required required-message="'Please enter subject'">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Message</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="contactUs_replyMsg" ng-model="support.supportForm.contactUs_replyMsg" placeholder="Enter Message" validate-on='dirty' required required-message="'Please enter message'" ></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!support.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="support.editFlag" ui-sref="backoffice.support">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>