<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Supports & Contacts List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{support.totalRecord}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="support.getRecords(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="support.sort('contactUs_id')">Id
                                                <span ng-show="support.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!support.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="support.sort('contactUs_from')">EMail ID 
                                                <span ng-show="support.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!support.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="support.sort('contactUs_subject')">Subject 
                                                <span ng-show="support.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!support.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="support.sort('contactUs_type')">Type
                                                <span ng-show="support.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!support.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="support.sort('created_at')">Created At
                                                <span ng-show="support.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!support.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="support.search.contactUs_id" ng-keyup="support.changePage(1, support.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="support.search.contactUs_from" ng-keyup="support.changePage(1, support.search)" placeholder="Mail From" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="support.search.contactUs_subject" ng-keyup="support.changePage(1, support.search)" placeholder="Subject" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="support.search.contactUs_type" ng-change="support.changePage(1,support.search)">
                                                <option value="">Status</option>
                                                <option value="0">Support</option>
                                                <option value="1">Contact Us</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="support.search.created_at" ng-change="support.changePage(1,support.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="support.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in support.list | orderBy: support.sortKey:support.reverse|itemsPerPage: support.RecordPerPage" total-items="support.totalRecord" current-page="support.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.support.view({id:{{item.contactUs_id}} })">{{item.contactUs_id}}</a>
                                        </td>
                                        <td>{{item.contactUs_from}}</td>
                                        <td>{{item.contactUs_subject}}</td>
                                        <td>{{item.contactUs_type == 1?'Contact Us':'Support'}}</td>
                                        <td class="text-center">{{ support.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a title="View" ui-sref="backoffice.support.view({id: item.contactUs_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-eye"></i></a>
                                                <div ng-if="item.contactUs_replyStatus == 0"> 
                                                    <a title="Reply" ui-sref="backoffice.support.reply({id: item.contactUs_id})" class="btn btn-primary btn-flat btn-sm" title="Reply"><i class="fa fa-reply"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="support.list.length == 0 && support.listCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="support.changePage(newPageNumber,support.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>