<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View {{support.singleData.contactUs_type == 0 ? 'Support' : 'Contact'}}</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.support" class="btn btn-info btn-flat pull-left">Back to All Supports & Contacts List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{support.singleData.contactUs_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Mail from</th>
                                        <td>{{support.singleData.contactUs_from}}</td>
                                    </tr>
                                    <tr>
                                        <th>Subject</th>
                                        <td>{{support.singleData.contactUs_subject}}</td>
                                    </tr>
                                    <tr>
                                        <th>Message</th>
                                        <td>{{support.singleData.contactUs_msg}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reply Subject</th>
                                        <td>{{support.singleData.contactUs_replySubject}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reply Message</th>
                                        <td>{{support.singleData.contactUs_replyMsg}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Type</th>
                                        <td>{{support.singleData.contactUs_type == 0 ? 'Support' : 'Contact'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{support.formatDate(support.singleData.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{support.formatDate(support.singleData.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>