<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="footer_social_link"></div>
            <div class="footer_details">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_logo">
                            <a ui-sref="website">
                                <img ngf-thumbnail="footer.headerSide[4].file || './assets/website/img/logo.png'" class="img-responsive f_logo" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_link">
                            <div class="foo_link_header">
                                <h3>Our Links</h3>
                            </div>
                            <div class="link_here">
                                <ul>
                                    <li><a ng-class="{ activeFot: footer.isActive('/contactus') }" ui-sref="website.contactus">Contact Us</a></li>
                                    <li><a ng-class="{ activeFot: footer.isActive('/faq') }" ui-sref="website.faq">Faq</a></li>
                                    <li ng-repeat="(index, status) in footer.pagelist">
                                        <a ng-class="{ activeFot: footer.isActive('/{{status.page_slug}}') }" ui-sref="website.viewPage({text: status.page_slug})">{{ status.page_name }}</a>
                                    </li>
                                <ul>
                            </ul></ul></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="contact_us" class="foot_link">
                            <div class="foo_link_header">
                                <h3>Contact Us</h3>
                            </div>
                            <div class="link_here">
                                <ul>
                                    <li><a href="mailto:{{footer.emailSide[0].email_text}}">Email: {{footer.emailSide[0].email_text}}</a></li>
                                    <li><a>Phone: {{footer.headerSide[2].setting_value}}</a></li>
                                    <li><a>Fax: {{footer.headerSide[3].setting_value}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_link">
                            <div class="foo_link_header">
                                <h3>Follow Us</h3>
                            </div>
                            <div class="link_here_sec">
                                <ul>
                                    
                                    <li ng-repeat="(index, status) in footer.socialSide" ng-attr-title="{{status.social_type}}">
                                        <a href="{{status.social_url}}" target="_blank">
                                            <span ng-class="status.social_type == 'Facebook' ? 'fb_span' : status.social_type == 'Twitter' ? 'tw_span' : status.social_type == 'Google' ? 'g_span' : status.social_type == 'Linkedin' ? 'li_span' : 'insta_span' "><i class="fa" ng-class="status.social_type == 'Facebook' ? 'fa-facebook' : status.social_type == 'Twitter' ? 'fa-twitter' : status.social_type == 'Google' ? 'fa-google-plus' : status.social_type == 'Linkedin' ? 'fa-linkedin' : 'fa-instagram' " aria-hidden="true"></i></span>
                                        </a>
                                    </li>                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web_not">
                    <p>Heavenly Sent &copy;2018. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
