<header class="header_section">
    <div class="first_head">
        <div class="left_sid_li">
            <div class="cont_li"><a href="tel:{{header.headerSide[2].setting_value}};"><i class="fa fa-phone"></i>&nbsp;&nbsp;{{header.headerSide[2].setting_value}}</a></div>
            <div class="cont_li"><a href="mailto:{{header.emailSide[0].email_text}};"><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{header.emailSide[0].email_text}}</a></div>
        </div>
        <div class="right_li">
            <div class="cont_login" ng-if="header.logCheck.login == 0">
                <a ng-href="frontoffice/#!/auth/login"><i class="fa fa-user"></i>&nbsp;&nbsp;Login </a>
            </div>
            <div class="cont_login" ng-if="header.logCheck.login == 1">
                <a ng-href="{{header.logCheck.URL}}"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;Dashboard </a>
            </div>
        </div>
    </div>
    <div class="header_navbar">
        <nav class="navbar navbar_first_style">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo_here" ui-sref="website">
                    <img ngf-thumbnail="header.headerSide[4].file || './assets/website/img/logo.png'" class="img-responsive log_set" alt="logo"/>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar_link" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar_menu_link">
                <li><a ng-class="{ active: header.isActive('/about') }" ui-sref="website.viewPage({text: 'about'})">About Us</a></li>
                <li><a ng-class="{ active: header.isActive('/howworks') }" ui-sref="website.viewPage({text: 'howworks'})">How it Works</a></li>
                <li><a ng-class="{ active: header.isActive('/contactus') }" ui-sref="website.contactus">CONTACT US</a></li>
                <li><a ng-class="{ active: header.isActive('/services') }" ui-sref="website.viewPage({text: 'services'})">services</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /.navbar -->
    </div>
</header>