<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.fileUpload"><i class="mdi mdi-gauge"></i><span class="hide-menu">File Upload </span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                </li>
                <li class="nav-devider"></li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Catalog</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a ui-sref="backoffice.categories">Categories</a></li>
                        <li><a ui-sref="backoffice.products">Products</a></li>
                    </ul>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-user"></i><span class="hide-menu">Users</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a ui-sref="backoffice.cafeUser">Cafe User</a></li>
                        <li><a ui-sref="backoffice.workerUser">Worker User</a></li>
                        <li><a ui-sref="backoffice.assessorsUser">Assessors User</a></li>
                        <li><a ui-sref="backoffice.clientUser">Client User</a></li>
                        <li><a ui-sref="backoffice.adminUser">Admin User</a></li>
                    </ul>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.rating"><i class="mdi mdi-gauge"></i><span class="hide-menu">Ratings </span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.role"><i class="mdi mdi-gauge"></i><span class="hide-menu">Roles </span></a>
                </li>                
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.faq"><i class="mdi mdi-gauge"></i><span class="hide-menu">FAQs </span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.leave"><i class="mdi mdi-gauge"></i><span class="hide-menu">Leave </span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.tutorial"><i class="mdi mdi-gauge"></i><span class="hide-menu">Tutorial </span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.checklist"><i class="mdi mdi-gauge"></i><span class="hide-menu">Checklist</span></a>
                </li> 
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.skills"><i class="mdi mdi-gauge"></i><span class="hide-menu">Worker Skills</span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.suburbs"><i class="mdi mdi-gauge"></i><span class="hide-menu">Suburbs</span></a>
                </li>
                <li class="active"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.page"><i class="mdi mdi-gauge"></i><span class="hide-menu">Static Page</span></a>
                </li>     
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<script type="text/javascript" src="../assets/admin/js/sidebarmenu.js"></script>
<script type="text/javascript" src="../assets/admin/js/custom.min.js"></script>