<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{rating.title}} Rating</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                        <a ui-sref="backoffice.rating" class="btn btn-info btn-flat pull-left">Back to All Ratings</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="ratingForm" novalidate angular-validator angular-validator-submit='rating.saveRating()'>
                                
                                <input ng-if="rating.editFlag" type="hidden" name="rating_id" ng-model="rating.ratingForm.rating_id">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Rating Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="rating_type" ng-model="rating.ratingForm.rating_type" validate-on='dirty' ng-options="choice.id as choice.name for choice in rating.typeList" required-message="'Please select type!'" required>
                                            <option value="">Select Type</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="rating_name" ng-model="rating.ratingForm.rating_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name'" required>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="rating.ratingForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in rating.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!rating.editFlag" ng-click="rating.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="rating.editFlag" ui-sref="backoffice.rating">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>