<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Ratings</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{rating.totalRating}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.rating.create" class="btn btn-info btn-flat pull-left">Add New Rating</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="rating.getRatingList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="rating.sort('rating_id')">Id
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        
                                        <th>
                                            <a ng-click="rating.sort('rating_type')">Rating Type
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="rating.sort('rating_name')">Rating Name
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="rating.sort('created_at')">Created At
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="rating.sort('status')">Status
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="rating.search.rating_id" ng-keyup="rating.changePage(1, rating.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="rating.search.rating_type" ng-change="rating.changePage(1,rating.search)">
                                            <option value>Select Type</option>
                                            <option value="{{rating_type.id}}" ng-repeat="(index, rating_type) in rating.typeList" ng-selected="rating.ratingForm.rating_type == rating_type.id">{{rating_type.name}}</option>
                                        </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="rating.search.rating_name" ng-keyup="rating.changePage(1, rating.search)" placeholder="Rating Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="rating.search.created_at" ng-change="rating.changePage(1,rating.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="rating.search.status" ng-change="rating.changePage(1,rating.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="rating.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in rating.ratingList | orderBy: rating.sortKey:rating.reverse|itemsPerPage: rating.ratingPerPage" total-items="rating.totalRating" current-page="rating.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.rating.view({id:{{item.rating_id}} })">{{item.rating_id}}</a>
                                        </td>

                                        <td ng-repeat="(index, status) in rating.typeList" ng-show="item.rating_type == status.id">{{status.name}}</td>
                                        <td>{{item.rating_name}}</td>
                                        <td class="text-center">{{ rating.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="rating.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.rating.view({id: item.rating_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.rating.edit({id: item.rating_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="rating.deleteRating(item.rating_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="rating.ratingList.length == 0 && rating.ratingListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="rating.changePage(newPageNumber,rating.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>