<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{email.title}} Email</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.email" class="btn btn-info btn-flat pull-left">Back to All Emails</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="emailForm" novalidate angular-validator angular-validator-submit='email.saveEmail()'>
                                <input ng-if="email.editFlag" type="hidden" name="email_id" ng-model="email.emailForm.email_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="email_type" ng-model="email.emailForm.email_type" validate-on='dirty' required required-message="'Please select type!'">
                                            <option value="">Select Type</option>
                                            <option value="{{status.emailtypes_name}}" ng-repeat="(index, status) in email.locationList" ng-selected="email.emailForm.email_type === status.emailtypes_name">{{status.emailtypes_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10 ckError">
                                        <textarea name="email_content" ckeditor="email_content" placeholder="Enter Description" validate-on='dirty' required ng-model="email.emailForm.email_content" required-message="'Please enter description!'" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!email.hideStatus">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="email.emailForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in email.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="email.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!email.editFlag" ng-disabled="email.isDisabledButton">Reset</button>
                                        <a class="btn btn-warning" ng-if="email.editFlag" ui-sref="backoffice.email" ng-disabled="email.isDisabledButton">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>