<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Email Templetes</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{email.totalEmail}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.email.create" class="btn btn-info btn-flat pull-left">Add New Templete</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="email.getEmailList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="email.sort('email_id')">Id
                                                <span ng-show="email.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!email.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="email.sort('email_type')">Email Type
                                                <span ng-show="email.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!email.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="email.sort('created_at')">Created At
                                                <span ng-show="email.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!email.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="email.sort('default')">Default
                                                <span ng-show="email.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!email.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="email.sort('status')">Status
                                                <span ng-show="email.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!email.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="email.search.email_id" ng-keyup="email.changePage(1, email.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="email.search.email_type" ng-keyup="email.changePage(1, email.search)" placeholder="Email Type" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="email.search.created_at" ng-change="email.changePage(1,email.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="email.search.default" ng-change="email.changePage(1,email.search)">
                                                <option value="">Select</option>
                                                <option value="0">Not Default</option>
                                                <option value="1">Default</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="email.search.status" ng-change="email.changePage(1,email.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="email.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in email.emailList | orderBy: email.sortKey:email.reverse|itemsPerPage: email.emailPerPage" total-items="email.totalEmail" current-page="email.pagination.current">
                                        <td class="text-center">
                                            {{item.email_id}}
                                        </td>
                                        <td>{{item.email_type}}</td>
                                        <td class="text-center">{{ email.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status " ng-class="item.defaults == 1?'label-success':'label-warning'" ng-click="email.changeStatusDefault(item)">{{item.defaults == 1 ? 'Default':'Not Default'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="email.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <!-- <a ui-sref="backoffice.email.view({id: item.email_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-eye"></i></a> -->
                                                <a ui-sref="backoffice.email.edit({id: item.email_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="email.deleteEmail(item.email_id, item.defaults, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="email.emailList.length == 0 && email.emailListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="email.changePage(newPageNumber,email.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>