<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{page.title}} Page</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.page" class="btn btn-info btn-flat pull-left">Back to All Pages</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="pageForm" novalidate angular-validator angular-validator-submit='page.savePage()'>
                                
                                <input ng-if="page.editFlag" type="hidden" name="page_id" ng-model="page.pageForm.page_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="page_name" ng-model="page.pageForm.page_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter title!'" ng-pattern="regex" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10 ckError">
                                       <textarea ckeditor="page_html" name="page_html" placeholder="Enter Description" validate-on='dirty' ng-model="page.pageForm.page_html" required-message="'Please enter description!'" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Menu Location<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="page_location" ng-model="page.pageForm.page_location" validate-on='dirty' required  ng-options="choice.id as choice.menu for choice in page.locationList" required-message="'Please select location!'">
                                            <option value="">Select Location</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="page.pageForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in page.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" >Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!page.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="page.editFlag" ui-sref="backoffice.page">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>