<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Pages</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{page.totalPage}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.page.create" class="btn btn-info btn-flat pull-left">Add New Page</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="page.getPageList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="page.sort('page_id')">Id
                                                <span ng-show="page.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!page.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="page.sort('page_name')">Name
                                                <span ng-show="page.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!page.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="page.sort('created_at')">Created At
                                                <span ng-show="page.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!page.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="page.sort('status')">Status
                                                <span ng-show="page.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!page.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="page.search.page_id" ng-keyup="page.changePage(1, page.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="page.search.page_name" ng-keyup="page.changePage(1, page.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="page.search.created_at" ng-change="page.changePage(1,page.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="page.search.status" ng-change="page.changePage(1,page.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="page.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in page.pageList | orderBy: page.sortKey:page.reverse|itemsPerPage: page.pagesPerPage" total-items="page.totalPage" current-page="page.pagination.current">
                                        <td class="text-center">
                                            {{item.page_id}}
                                        </td>
                                        <td>{{item.page_name}}</td>
                                        <td class="text-center">{{ page.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="page.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <!-- <a ui-sref="backoffice.page.view({id: item.page_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-eye"></i></a> -->
                                                <a ui-sref="backoffice.page.edit({id: item.page_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="page.deletePage(item.page_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="page.pageList.length == 0 && page.pageListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="page.changePage(newPageNumber,page.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>