<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{cleaningArea.title}} Cleaning Area</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.cleaningArea" class="btn btn-info btn-flat pull-left">Back to All Cleaning Area</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="cleaningAreaForm" novalidate angular-validator angular-validator-submit='cleaningArea.saveCleaningArea()'>

                                <input ng-if="cleaningArea.editFlag" type="hidden" name="area_id" ng-model="cleaningArea.cleaningAreaForm.area_id">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="area_name" ng-model="cleaningArea.cleaningAreaForm.area_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name!'" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Duration<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="area_clean_duration" ng-model="cleaningArea.cleaningAreaForm.area_clean_duration" validate-on='dirty' ng-options="choice.id as choice.hour for choice in cleaningArea.durationList" required-message="'Please select duration!'" required>
                                            <option value="">Select Duration</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-3 control-label">Cost<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="area_clean_cost" ng-model="cleaningArea.cleaningAreaForm.area_clean_cost" placeholder="Enter Cost" validate-on='dirty' required-message="'Please enter cost!'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="cleaningArea.cleaningAreaForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in cleaningArea.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!cleaningArea.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="cleaningArea.editFlag" ui-sref="backoffice.cleaningArea">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>