<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Cleaning Area</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{cleaningArea.totalCleaningArea}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.cleaningArea.create" class="btn btn-info btn-flat pull-left">Add New Cleaning Area</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="cleaningArea.getCleaningArea(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="cleaningArea.sort('area_id')">Id
                                                <span ng-show="cleaningArea.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!cleaningArea.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="cleaningArea.sort('area_name')">Name
                                                <span ng-show="cleaningArea.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!cleaningArea.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="cleaningArea.sort('created_at')">Created At
                                                <span ng-show="cleaningArea.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!cleaningArea.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="cleaningArea.sort('status')">Status
                                                <span ng-show="cleaningArea.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!cleaningArea.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="cleaningArea.search.area_id" ng-keyup="cleaningArea.changePage(1, cleaningArea.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="cleaningArea.search.area_name" ng-keyup="cleaningArea.changePage(1, cleaningArea.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="cleaningArea.search.created_at" ng-change="cleaningArea.changePage(1,cleaningArea.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="cleaningArea.search.status" ng-change="cleaningArea.changePage(1,cleaningArea.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="cleaningArea.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in cleaningArea.cleaningArea | orderBy: cleaningArea.sortKey:cleaningArea.reverse|itemsPerPage: cleaningArea.cleaningAreaPerPage" total-items="cleaningArea.totalCleaningArea" current-page="cleaningArea.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.cleaningArea.view({id:{{item.area_id}} })">{{item.area_id}}</a>
                                        </td>
                                        <td>{{item.area_name}}</td>
                                        <td class="text-center">{{ cleaningArea.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="cleaningArea.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.cleaningArea.view({id: item.area_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.cleaningArea.edit({id: item.area_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="cleaningArea.deleteCleaningArea(item.area_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="cleaningArea.cleaningArea.length == 0 && cleaningArea.cleaningAreaCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="cleaningArea.changePage(newPageNumber,cleaningArea.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>