<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Edit Client Task</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tasklistClient" class="btn btn-info btn-flat pull-left">Back to All Client Task List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="tasklistForm" novalidate angular-validator angular-validator-submit='tasklistClient.saveTasklist()'>
                                <input ng-if="tasklistClient.editFlag" type="hidden" name="tasklist_id" ng-model="tasklistClient.tasklistForm.tasklist_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Task List Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="tasklist_type" ng-model="tasklistClient.tasklistForm.tasklist_type" validate-on='dirty' ng-options="choice.id as choice.status for choice in tasklistClient.tasktypeList" required-message="'Please select service type!'" required>
                                            <option value="">Select Task List Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="tasklistClient.tasklistForm.tasklist_type != 2">
                                    <label class="col-sm-2 control-label">Service Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="tasklist_servicetype" ng-model="tasklistClient.tasklistForm.tasklist_servicetype" validate-on='dirty' ng-options="choice.id as choice.name for choice in tasklistClient.typeList" required-message="'Please select service type!'" required>
                                            <option value="">Select Service Type</option>
                                        </select>                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="tasklist_name" ng-model="tasklistClient.tasklistForm.tasklist_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name'" required ng-readonly="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="tasklist_des" ng-model="tasklistClient.tasklistForm.tasklist_des" placeholder="Enter Description" validate-on='dirty' required-message="'Please enter description!'" required></textarea>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Duration</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="tasklist_duration" ng-model="tasklistClient.tasklistForm.tasklist_duration" validate-on='dirty' ng-options="choice as choice for choice in tasklistClient.range(1,10)" required-message="'Please select duration!'" required>
                                            <option value="">Select Duration</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-3 control-label">Cost</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tasklist_cost" ng-model="tasklistClient.tasklistForm.tasklist_cost" placeholder="Enter Cost" validate-on='dirty' required-message="'Please enter cost!'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="tasklistClient.tasklistForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in tasklistClient.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!tasklistClient.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="tasklistClient.editFlag" ui-sref="backoffice.tasklistClient">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>