<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Client Task List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{tasklistClient.totalTasklistClient}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="tasklistClient.getTasklistClient(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="tasklistClient.sort('tasklist_id')">Id
                                                <span ng-show="tasklistClient.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklistClient.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tasklistClient.sort('tasklist_servicetype')">Service Type
                                                <span ng-show="tasklistClient.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklistClient.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tasklistClient.sort('tasklist_name')">Name
                                                <span ng-show="tasklistClient.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklistClient.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="tasklistClient.sort('created_at')">Created At
                                                <span ng-show="tasklistClient.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklistClient.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="tasklistClient.sort('status')">Status
                                                <span ng-show="tasklistClient.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tasklistClient.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="tasklistClient.search.tasklist_id" ng-keyup="tasklistClient.changePage(1, tasklistClient.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tasklistClient.search.tasklist_servicetype" ng-change="tasklistClient.changePage(1,tasklistClient.search)">
                                                <option value="">Service Type</option>
                                                <option value="{{status.id}}" ng-repeat="(index, status) in tasklistClient.typeList" ng-selected="tasklistClient.tasklistForm.tasklist_servicetype == status.id">{{status.name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="tasklistClient.search.tasklist_name" ng-keyup="tasklistClient.changePage(1, tasklistClient.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="tasklistClient.search.created_at" ng-change="tasklistClient.changePage(1,tasklistClient.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tasklistClient.search.status" ng-change="tasklistClient.changePage(1,tasklistClient.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="tasklistClient.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in tasklistClient.tasklistClient | orderBy: tasklistClient.sortKey:tasklistClient.reverse|itemsPerPage: tasklistClient.tasklistClientPerPage" total-items="tasklistClient.totalTasklistClient" current-page="tasklistClient.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.tasklistClient.view({id:{{item.tasklist_id}} })">{{item.tasklist_id}}</a>
                                        </td>
                                        <td>
                                            <span ng-repeat="(index, status) in tasklistClient.typeList" ng-show="{{item.tasklist_servicetype == status.id}}">{{status.name}}</span>
                                            <span ng-if="item.tasklist_servicetype == 0"> -- </span>
                                        </td>
                                        <td>{{item.tasklist_name}}</td>
                                        <td class="text-center">{{ tasklistClient.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="tasklistClient.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.tasklistClient.view({id: item.tasklist_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.tasklistClient.edit({id: item.tasklist_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="tasklistClient.deleteTasklistClient(item.tasklist_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tasklistClient.tasklistClient.length == 0 && tasklistClient.tasklistClientCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="tasklistClient.changePage(newPageNumber,tasklistClient.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>