<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Client Task</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tasklistClient" class="btn btn-info btn-flat pull-left">Back to All Client Task List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{tasklistClient.singleTasklistClient.tasklist_id}}</td>
                                    </tr>
                                    <tr>
                                        <th width="150px">Client Name</th>
                                        <td>{{tasklistClient.singleTasklistClient.clients_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{tasklistClient.singleTasklistClient.tasklist_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{tasklistClient.singleTasklistClient.tasklist_des}}</td>
                                    </tr>
                                     <tr>
                                        <th>Duration</th>
                                        <td>{{tasklistClient.singleTasklistClient.tasklist_duration}} <span ng-if="!tasklistClient.singleTasklistClient.tasklist_duration == '' ">hour</span></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Cost</th>
                                        <td>
                                            <span ng-if="!tasklistClient.singleTasklistClient.tasklist_cost == '' ">R </span>{{tasklistClient.singleTasklistClient.tasklist_cost}}</td>
                                    </tr> -->
                                    <tr>
                                        <th>Task Type</th>
                                        <td>
                                            <b>
                                                {{tasklistClient.singleTasklistClient.tasklist_type == 2 ? 'Default' : tasklistClient.singleTasklistClient.tasklist_type == 1 ? 'Custom' : 'Standard' }}
                                            </b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Service Type</th>
                                        <td>
                                            <b>
                                                <span ng-repeat="(index, status) in tasklistClient.typeList" ng-show="tasklistClient.singleTasklistClient.tasklist_servicetype == status.id" >{{status.name}}</span>
                                            </b>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="tasklistClient.singleTasklistClient.status == 1 ? 'label-success' : 'label-warning'">
                                                {{tasklistClient.singleTasklistClient.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{tasklistClient.formatDate(tasklistClient.singleTasklistClient.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{tasklistClient.formatDate(tasklistClient.singleTasklistClient.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>