<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{faq.title}} FAQ</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.faq" class="btn btn-info btn-flat pull-left">Back to All FAQs</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="faqForm" novalidate angular-validator angular-validator-submit='faq.saveFaq()'>
                                <input ng-if="faq.editFlag" type="hidden" name="faq_id" ng-model="faq.faqForm.faq_id">

                                <input type="hidden" name="user_id" ng-model="faq.faqForm.user_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Role</label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="status" ng-model="faq.faqForm.roleID" validate-on='dirty' required required-message="'Please select role!'">
                                            <option value>Select Role</option>
                                            <option value="{{status.role_id}}" ng-repeat="(index, status) in faq.roleList" ng-selected="faq.faqForm.role_id == status.role_id">{{status.role_name}}</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Question</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="faq_question" ng-model="faq.faqForm.faq_question" placeholder="Enter Question" validate-on='dirty' required required-message="'Please enter your question!'"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Answer</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="faq_answer" ng-model="faq.faqForm.faq_answer" placeholder="Enter Answer" validate-on='dirty' required required-message="'Please enter your answer!'" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="faq.faqForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in faq.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!faq.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="faq.editFlag" ui-sref="backoffice.faq">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>