<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Setting</h3>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row" data-ng-init="setting.getSetList()">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-credit-card-multiple"></i> Wallet Point Per Rand </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <div id="responsive-modal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Wallet Point</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="bonusForm" novalidate angular-validator name="bonusForm" angular-validator-submit='setting.saveBonus()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.bonusForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Point </label>
                                                        <input type="text" class="form-control" name="setting_value" ng-model="setting.bonusForm.setting_value" placeholder="Enter Bonus Point" validate-on='dirty' required required-message="'Please enter bonus point!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()" ng-disabled="setting.isDisabledButton" >Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <h3 class="card-title">Default Point</h3>
                                <p class="card-text">R {{setting.bonusSet.setting_value}}</p>
                                <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal"><i class="fa fa-edit"></i></span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-credit-card-multiple"></i> Referral Point </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <div id="responsive-modal-ref" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Referral Point</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="referralForm" novalidate angular-validator name="referralForm" angular-validator-submit='setting.saveReferral()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.referralForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Point </label>
                                                        <input type="text" class="form-control" name="setting_value" ng-model="setting.referralForm.setting_value" placeholder="Enter Referral Point" validate-on='dirty' required required-message="'Please enter referral point!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()"  ng-disabled="setting.isDisabledButton">Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <h3 class="card-title">Default Point</h3>
                                <p class="card-text">R {{setting.referralSet.setting_value}}</p>
                                <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-ref"><i class="fa fa-edit"></i></span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-credit-card-multiple"></i> Rating Point </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <div id="responsive-modal-rat" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Rating Point</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="ratingForm" novalidate angular-validator name="ratingForm" angular-validator-submit='setting.saveRating()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.ratingForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Point </label>
                                                        <input type="text" class="form-control" name="setting_value" ng-model="setting.ratingForm.setting_value" placeholder="Enter Rating Point" validate-on='dirty' required required-message="'Please enter rating point!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()"  ng-disabled="setting.isDisabledButton">Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <h3 class="card-title">Default Point</h3>
                                <p class="card-text">R {{setting.ratingSet.setting_value}}</p>
                                <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-rat"><i class="fa fa-edit"></i></span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-contacts"></i> Contact Info </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <!-- Phone -->
                                <div id="responsive-modal-contP" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Phone Number</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="contactPForm" novalidate angular-validator name="contactPForm" angular-validator-submit='setting.saveContactP()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.contactPForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Phone Number </label>
                                                        <input type="text" class="form-control" name="setting_value" ng-model="setting.contactPForm.setting_value" placeholder="Enter Phone Number" validate-on='dirty' required required-message="'Please enter phone number!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off"  ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'" >
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()"  ng-disabled="setting.isDisabledButton">Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fax -->
                                <div id="responsive-modal-contF" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Fax Number</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="contactFForm" novalidate angular-validator name="contactFForm" angular-validator-submit='setting.saveContactF()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.contactFForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Fax Number </label>
                                                        <input type="text" class="form-control" name="setting_value" ng-model="setting.contactFForm.setting_value" placeholder="Enter Fax Number" validate-on='dirty' required required-message="'Please enter fax number!'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[0-9]{10}$/" invalid-message="'Enter 10 digit fax number'">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()"  ng-disabled="setting.isDisabledButton">Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <h3 class="card-title">Contacts</h3>
                                <!-- Phone -->
                                <p class="card-text">Phone : {{setting.contactPSet.setting_value}}    <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-contP" style="float: right;"><i class="fa fa-edit"></i></span> </p>
                                <!-- Fax -->
                                <p class="card-text">Fax : {{setting.contactFSet.setting_value}}    <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-contF" style="float: right;"><i class="fa fa-edit"></i></span> </p>
                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-image"></i> Logo </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <div id="responsive-modal-log" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Logo Upload</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="logForm" novalidate angular-validator name="logForm" angular-validator-submit='setting.saveLog()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.logForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label col-sm-4">Logo Upload </label>
                                                        <div class="col-sm-10">
                                                            <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="setting.logForm.file || '../assets/admin/img/no-image.jpg'"/>
                                                            <input type="file" class="form-control" ngf-select ng-model="setting.logForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />                                
                                                            <i ng-show="setting.logForm.file.$error.required"> *required </i>
                                                            <i ng-show="setting.logForm.file.$error.maxSize"> File too large {{setting.logForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()"  ng-disabled="setting.isDisabledButton">Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->

                                <h3 class="card-title">Default <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-log" style="float: right;"><i class="fa fa-edit"></i></span>  </h3>
                                <p class="card-text"><img style="width:170px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="setting.logForm.file || '../assets/admin/img/no-image.jpg'"/> </p>                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="display: none;">
                        <div class="card">
                            <div class="card-header" style="background: #2f3d4a;">
                                <h4 class="m-b-0 text-white"><i class="mdi mdi-credit-card-multiple"></i> Assessor Slot Time </h4>
                            </div>
                            <div class="card-body">
                               
                                <!-- sample modal content -->
                                <div id="responsive-modal-slottime" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Slot Time</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setting.close()">×</button>
                                            </div>
                                            
                                            <form id="assessorSlotTimeForm" novalidate angular-validator name="assessorSlotTimeForm" angular-validator-submit='setting.saveSlotTime()'>
                                                <div class="modal-body">

                                                    <input type="hidden" name="setting_id" ng-model="setting.assessorSlotTimeForm.setting_id">

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Hour </label>
                                                        
                                                        <select class="form-control input_set" ng-model="setting.assessorSlotTimeForm.setting_value" name="setting_value" validate-on='dirty' required required-message="'Please select slot hour!'" >
                                                            <option value="">Select Hour</option>
                                                            <option ng-repeat="year in [] | range:setting.currentYear-0:setting.currentYear+3" ng-selected="setting.assessorSlotTimeForm.setting_value == year" >{{year}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="setting.close()" ng-disabled="setting.isDisabledButton" >Close</button>
                                                    <button type="submit" class="btn btn-primary" ng-disabled="setting.isDisabledButton">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <h3 class="card-title">Default Slot Time</h3>
                                <p class="card-text">{{setting.assessorSlotTime.setting_value}} hour</p>
                                <span class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal-slottime"><i class="fa fa-edit"></i></span>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>    
</div>