<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View FAQ</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.faq" class="btn btn-info btn-flat pull-left">Back to All FAQs</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{faq.singleFaq.faq_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td ng-repeat="(index, status) in faq.roleList" ng-show="faq.faqForm.role_id == status.role_id">{{status.role_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Question</th>
                                        <td>{{faq.singleFaq.faq_question}}</td>
                                    </tr>
                                    <tr>
                                        <th>Answer</th>
                                        <td>{{faq.singleFaq.faq_answer}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label status" ng-class="faq.singleFaq.status == 1 ? 'label-success' : 'label-warning'">
                                                {{faq.singleFaq.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{faq.formatDate(faq.singleFaq.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{faq.formatDate(faq.singleFaq.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>