<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/admin/assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <!-- Content Section -->
            <div ui-view="content"></div>            
        </div>
    </div>
</section>