<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Feedback</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{feedback.totalFeedback}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <!-- <a ui-sref="backoffice.feedback.create" class="btn btn-info btn-flat pull-left">Add New Feedback</a> -->

                                            <button ng-click="feedback.deleteSelected()" class="btn btn-info btn-flat pull-left"> Delete</button>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="feedback.getFeedbackList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <span>
                                                <input type="checkbox" id="selection" class="filled-in chk-col-red" ng-model='statu.checkall' ng-click="checkAll();" >
                                                <label for="selection">&nbsp;</label>
                                            </span> 
                                            <a ng-click="feedback.sort('feedback_id')">Id
                                                <span ng-show="feedback.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!feedback.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="feedback.sort('feedback_note')">Name
                                                <span ng-show="feedback.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!feedback.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="feedback.sort('role_id')" style="width: 160px;">Role
                                                <span ng-show="feedback.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!feedback.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="feedback.sort('created_at')">Created At
                                                <span ng-show="feedback.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!feedback.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="feedback.search.feedback_id" ng-keyup="feedback.changePage(1, feedback.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="feedback.search.feedback_note" ng-keyup="feedback.changePage(1, feedback.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="feedback.search.role_id" ng-change="feedback.changePage(1,feedback.search)">
                                                <option value>Select Role</option>
                                                <option value="{{status.role_id}}" ng-repeat="(index, status) in feedback.roleList">{{status.role_name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="feedback.search.created_at" ng-change="feedback.changePage(1,feedback.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="feedback.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in feedback.feedbackList | orderBy: feedback.sortKey:feedback.reverse|itemsPerPage: feedback.feedbackPerPage" total-items="feedback.totalFeedback" current-page="feedback.pagination.current">
                                        <td class="text-center">
                                            <span>
                                                <input type="checkbox" id="md_checkbox_{{item.feedback_id}}" class="filled-in chk-col-red" value="{{item.feedback_id}}" ng-checked="statu.checkall" >
                                                <label for="md_checkbox_{{item.feedback_id}}" ng-click="feedback.unCheck();" >&nbsp;</label>
                                            </span> 

                                            <a ui-sref="backoffice.feedback.view({id:{{item.feedback_id}} })">{{item.feedback_id}}</a>
                                        </td>
                                        <td>{{item.feedback_note}}</td>
                                        <td ng-repeat="(index, status) in feedback.roleList" ng-show="{{item.role_id}} == status.role_id">{{status.role_name}}</td>
                                        <td class="text-center">{{ feedback.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.feedback.view({id: item.feedback_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ng-click="feedback.deleteFeedback(item.feedback_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="feedback.feedbackList.length == 0 && feedback.feedbackListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="feedback.changePage(newPageNumber,feedback.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>