<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Feedback</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.feedback" class="btn btn-info btn-flat pull-left">Back to All Feedback</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{feedback.singleFeedback.feedback_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td ng-repeat="(index, status) in feedback.roleList" ng-show="feedback.feedbackForm.role_id == status.role_id">{{status.role_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created By</th>
                                        <td>{{feedback.singleFeedback.createName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Note</th>
                                        <td>{{feedback.singleFeedback.feedback_note}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{feedback.formatDate(feedback.singleFeedback.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{feedback.formatDate(feedback.singleFeedback.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>