@media only screen and (max-width:1089px) {
	.header_nav{display:none;}
	.responsive_nav{display:block;}
}
@media only screen and (max-width:991px) {
	.text_set h3 {margin: 0px 0px 5px;font-size: 21px;}
	.text_set{top:19%;}
	.btn_dash_b{font-size: 13px;padding: 5px 13px;}
}
@media only screen and (max-width:767px) {
	.container {width: 100%;}
	.row {margin: 0px -6px;}
	.foot_link{margin-bottom: 7px;}
	.foot_logo{margin-bottom: 12px;}
	.banner_logo{width:100px;}
	.banner_content h1 {font-size: 37px;}
	.banner_content p{font-size: 14px;}
	.banner_content{max-width:500px;}
	.bannner_section{height: 395px;}
}
@media only screen and (max-width:540px) {
	.input_ann_box{}
	.headerlogo_here{width:100%;}
	.headerlogo_here img{margin:0 auto;}
	.header_menu_here{padding-left:0px;}
	.header_sid_li{width:100%;}
}
