<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{cafeUser.title}} Internet Cafe</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.cafeUser" class="btn btn-info btn-flat pull-left">Back to All Internet Cafe</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="cafeUserForm" novalidate angular-validator angular-validator-submit='cafeUser.saveCafeUser()'>
                                
                                <input ng-if="cafeUser.editFlag" type="hidden" name="user_id" ng-model="cafeUser.cafeUserForm.user_id">

                                <input ng-if="cafeUser.usertypeFlag" type="hidden" name="usertype" ng-model="cafeUser.cafeUserForm.usertype">

                                <input ng-if="cafeUser.registertypeFlag" type="hidden" name="registertype" ng-model="cafeUser.cafeUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_name" ng-model="cafeUser.cafeUserForm.user_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" autocomplete="off" ng-pattern="regexName" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_email" ng-model="cafeUser.cafeUserForm.user_email" placeholder="Enter Email ID" validate-on='dirty' required required-message="'Please enter email address!'" invalid-message="'Invalid email address entered'" autocomplete="off" ng-disabled="cafeUser.isDisabledEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_phone" ng-model="cafeUser.cafeUserForm.user_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-maxlength="11" ng-minlength="11" invalid-message="'Enter 11 digits number'" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="user_address" ng-model="cafeUser.cafeUserForm.user_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter address!'" autocomplete="off" maxlength="150"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="cafeusers_country" ng-change="cafeUser.getStatesByID(cafeUser.cafeUserForm)" ng-model="cafeUser.cafeUserForm.cafeusers_country" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in cafeUser.countryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Province<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="cafeusers_state" ng-model="cafeUser.cafeUserForm.cafeusers_state" ng-change="cafeUser.getCityByID(cafeUser.cafeUserForm)" validate-on='dirty' required required-message="'Please select state!'" ng-options="choice.id as choice.name for choice in cafeUser.statesList">
                                            <option value="">Select Province </option>
                                            </option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group" ng-if="!cafeUser.hideCity">
                                    <label class="col-sm-4 control-label">City<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="cafeusers_city" ng-change="cafeUser.getSuburbByID(cafeUser.cafeUserForm)" ng-model="cafeUser.cafeUserForm.cafeusers_city" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in cafeUser.cityList">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!cafeUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="cafeusers_suburb" ng-model="cafeUser.cafeUserForm.cafeusers_suburb" validate-on='dirty' required required-message="'Please select suburb!'" ng-options="choice.suburb_id as choice.suburb_name for choice in cafeUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="col-sm-4 control-label">Image upload</label>
                                    <div class="col-sm-10">
                                        <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="cafeUser.cafeUserForm.file || '/assets/admin/img/no-image.jpg'"/>
                                        <input type="file" class="form-control" ngf-select ng-model="cafeUser.cafeUserForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />                                
                                        
                                        <i ng-show="cafeUser.cafeUserForm.file.$error.required"> *required </i>
                                        <i ng-show="cafeUser.cafeUserForm.file.$error.maxSize"> File too large {{cafeUser.cafeUserForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                    </div>                                    
                                </div> -->

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="cafeUser.cafeUserForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in cafeUser.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!cafeUser.editFlag" ng-click="cafeUser.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="cafeUser.editFlag" ui-sref="backoffice.cafeUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>