<div class="row" >
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30"> 
                    <img class="img-circle" width="200" height="200" ngf-thumbnail="cafeUser.singleCafeUser.file || '../assets/admin/img/no-image.jpg'"/> 
                    <h2 class="card-title m-t-20">{{cafeUser.singleCafeUser.cafeusers_name}}</h2>
                    
                    <div class="row text-center justify-content-md-center">
                        <div class="col-6">
                            <label>Total</label>
                            <p> {{cafeUser.totalWorker}} </p>
                        </div>
                        <div class="col-6">
                            <label>Approved</label>
                            <p> {{cafeUser.totalActive}} </p>
                        </div>
                        <div class="col-6">
                            <label>Not Approved</label>
                            <p> {{cafeUser.totalInactive}} </p>
                        </div>
                        <div class="col-6">
                            <label>Suspended</label>
                            <p> {{cafeUser.totalSuspend}} </p>
                        </div>
                    </div>
                </center>
            </div>
            <div> <hr> </div>
            <div class="card-body"> 
                <small class="text-muted">Email address </small>
                <h6>{{cafeUser.singleCafeUser.cafeusers_email}}</h6> 
                <small class="text-muted p-t-20 db">Phone</small>
                <h6>{{cafeUser.singleCafeUser.cafeusers_phone}}</h6> 
                <small class="text-muted p-t-20 db">Address</small>
                <h6>{{cafeUser.singleCafeUser.cafeusers_address}}</h6>
                <small class="text-muted p-t-20 db">Suburb</small> 
                <h6><span ng-repeat="(index, status) in cafeUser.suburbList" ng-show="cafeUser.singleCafeUser.cafeusers_suburb == status.suburb_id">{{status.suburb_name}}</span> <span ng-if="cafeUser.singleCafeUser.cafeusers_suburb == 0"> N/A</span></h6>
                <small class="text-muted p-t-20 db">City</small> 
                <h6><span ng-repeat="(index, status) in cafeUser.cityList" ng-show="cafeUser.singleCafeUser.cafeusers_city == status.id" >{{status.name}}</span><span ng-if="cafeUser.singleCafeUser.cafeusers_city == 0"> N/A</span> </h6>
                <small class="text-muted p-t-20 db">Province</small>
                <h6><span ng-repeat="(index, status) in cafeUser.statesList" ng-show="cafeUser.singleCafeUser.cafeusers_state == status.id">{{status.name}}</span> <span ng-if="cafeUser.singleCafeUser.cafeusers_state == 0"> N/A</span> </h6> 
                <small class="text-muted p-t-20 db">Country</small>
                <h6>{{cafeUser.singleCafeUser.country}}</h6>

                <div class="map-box">
                    <ng-map zoom="16" center="{{cafeUser.singleCafeUser.cafeusers_address}}" style="height:250px">
                        <marker position="{{cafeUser.singleCafeUser.cafeusers_address}}"></marker>
                    </ng-map>
                </div> 

                <small class="text-muted p-t-20 db">Status</small>
                <span class="label" ng-class="cafeUser.singleCafeUser.status == 1 ? 'label-success' : 'label-warning'">{{cafeUser.singleCafeUser.status == 1 ? 'Approved' : 'Not Approved'}}</span>

                <small class="text-muted p-t-20 db">Suspend</small>
                <span class="label" ng-class="cafeUser.singleCafeUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                    {{cafeUser.singleCafeUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                </span>

                <small class="text-muted p-t-20 db">Created At</small>
                <h6>{{cafeUser.formatDate(cafeUser.singleCafeUser.created_at)}}</h6>
            
                <small class="text-muted p-t-20 db">Updated At</small>                
                <h6>{{cafeUser.formatDate(cafeUser.singleCafeUser.updated_at)}}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div>
                        <h3 class="card-title">All Worker List</h3>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-muted  text-info">
                                    <a ui-sref="backoffice.cafeUser" class="btn btn-info btn-flat pull-left">Back to All Internet Cafe</a>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="row el-element-overlay">
                            <div class="col-md-12">
                                <h4 class="card-title" ng-if="cafeUser.totalWorker == 0">No Worker Found. </h4>
                            </div>
                            <div class="col-lg-4 col-md-6" ng-repeat="(index, status) in cafeUser.workerUseList" >
                                <div class="card">
                                    <div class="el-card-item">
                                        <div class="el-card-avatar el-overlay-1"> 
                                            <img ngf-thumbnail="status.file_base_url || '/assets/admin/img/no-image.jpg'" alt="" style="height: 150px;" />
                                            <div class="el-overlay">
                                                <ul class="el-info">
                                                    <!-- <li><a class="btn default btn-outline image-popup-vertical-fit" href="../plugins/images/users/1.html"><i class="icon-magnifier"></i></a></li> -->
                                                    <li><a class="btn default btn-outline" href="#!/workerUser/view/{{status.user_id}}" target="_blank"><i class="icon-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="el-card-content">
                                            <h3 class="box-title">{{status.workers_name}}</h3> <small>{{status.workers_phone}}</small>
                                            <br/> 
                                            <span title="Approved" class="statusIconG" ng-show="{{status.status == 1 }}"><i class="mdi mdi-check"></i></span>
                                            <span title="Not Approved" class="statusIconR" ng-show="{{status.status == 0 }}"><i class="mdi mdi-close"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Column -->
</div>