<!DOCTYPE html>
<html lang="en" data-ng-app="heavenApp">

<head>
    <meta charset="utf-8">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Heavenly Sent" />
    <meta property="og:description" content="Upload your photos and text to our online templates, then preview, and launch your private page from Heavenly Sent." />
    <meta name="keywords" content="">
    <meta property="og:image" content="./assets/website/img/side_logo.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="canonical" href="http://18.219.129.228/heaven/" />
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="../assets/website/img/fav_ico.png" />
    <!-- <base href="/"> -->
    <title>Heaven</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/website/img/fav_ico.png">

    <!-- gulp for vendor css files -->
    <link rel="stylesheet" type="text/css" href="./dist/frontoffice_vendor_css.css">
    <!-- gulp for vendor js files -->
    <script type="text/javascript" src="./dist/frontoffice_vendor_js.js"></script>
    <!-- gulp for app js files -->
    <script type="text/javascript" src="./dist/frontoffice_app.js"></script>
</head>

<body class="{{$root.bodyClass}}">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div> -->
    <div data-ng-if="$root.loader" class="full-page-loader">
        <img alt="load-dribbble" src="../assets/common/images/load-dribbble.gif" class="ajax-loader" style="width:15%; " />
    </div>
    <toaster-container toaster-options="{'close-button': true, 'allow-html': true, 'limit':3, 'body-output-type': 'trustedHtml'}"></toaster-container>
    <div class="ui-view"></div>   
    
</body>

</html>