<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All FAQs</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{faq.totalFaqs}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.faq.create" class="btn btn-info btn-flat pull-left">Add New FAQ</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="faq.getFaqsList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="faq.sort('faq_id')">Id
                                                <span ng-show="faq.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!faq.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="faq.sort('faq_question')">Question
                                                <span ng-show="faq.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!faq.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 180px;">
                                            <a ng-click="faq.sort('role_id')">Role
                                                <span ng-show="faq.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!faq.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="faq.sort('created_at')">Created At
                                                <span ng-show="faq.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!faq.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="faq.sort('status')">Status
                                                <span ng-show="faq.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!faq.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="faq.search.faq_id" ng-keyup="faq.changePage(1, faq.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="faq.search.faq_question" ng-keyup="faq.changePage(1, faq.search)" placeholder="Question" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="faq.search.role_id" ng-change="faq.changePage(1,faq.search)">
                                                <option value>Select Role</option>
                                                <option value="{{status.role_id}}" ng-repeat="(index, status) in faq.roleList">{{status.role_name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="faq.search.created_at" ng-change="faq.changePage(1,faq.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="faq.search.status" ng-change="faq.changePage(1,faq.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="faq.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in faq.faqList | orderBy: faq.sortKey:faq.reverse|itemsPerPage: faq.faqsPerPage" total-items="faq.totalFaqs" current-page="faq.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.faq.view({id:{{item.faq_id}} })">{{item.faq_id}}</a>
                                        </td>
                                        <td>{{item.faq_question | limitTo: 100 }} <span ng-if="item.faq_question.length > 100"><a ui-sref="backoffice.faq.view({id:{{item.faq_id}} })">..Read More</a></span> </td>
                                        <td ng-repeat="(index, status) in faq.roleList" ng-show="{{item.role_id}} == status.role_id">{{status.role_name}}</td>
                                        <td class="text-center">{{ faq.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="faq.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.faq.view({id: item.faq_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.faq.edit({id: item.faq_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="faq.deleteFaq(item.faq_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="faq.faqList.length == 0 && faq.faqListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="faq.changePage(newPageNumber,faq.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>