

<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);">
   <!--banner section start here-->
   <div class="overlay_sec"></div>
   <div class="container">
      <div class="row">
         <div class="next_bann_text">
            <h3>Schedule an Appointment</h3>
         </div>
      </div>
   </div>
</section>
<!--banner section end here-->
<section class="dashboard_content">
   <div class="container">
      <div class="row">
         <div class="dashboard_all_det">
            <div class="residte_tab_content">
               <div class="tab_sect">
                  <div class="clearfix tab_cont_det_all">
                     <div class="tab_cont_details">
                        <div class="tab_cont_head">
                           <h4>Search for available Assessor</h4>
                        </div>
                        <div class="boook_req_table">
                           <div class="book_status_form_sec">
                              <div class="book_stat_first">
                                 <div class="col-md-3">
                                    <span class="label_sec">Select Area</span>
                                 </div>
                                 <div class="col-md-3">
                                    <select class="form-control selec_yag_meu" name="stateID" ng-model="cafe.search.stateID" ng-change="cafe.getCityByID(cafe.search)" required ng-options="choice.id as choice.name for choice in cafe.statesList">
                                       <option value="">Select Province</option>
                                    </select>
                                 </div>
                                 <div class="col-md-3" ng-if="!cafe.hideCity">
                                    <select class="form-control selec_yag_meu" name="cityID" ng-change="cafe.getSuburbByID(cafe.search)" ng-model="cafe.search.cityID" required ng-options="choice.id as choice.name for choice in cafe.cityList">
                                       <option value="">Select City</option>
                                    </select>
                                 </div>
                                 <div class="col-md-3" ng-if="!cafe.hideSuburb">
                                    <select class="form-control selec_yag_meu" name="suburb" ng-model="cafe.search.suburb" ng-options="choice.suburb_id as choice.suburb_name for choice in cafe.suburbList">
                                       <option value="">Select Suburb</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="book_stat_first">
                                 <div class="col-md-3">
                                    <span class="label_sec">Select Period of Assessment</span>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="calendarcls">
                                       <md-datepicker class="form-control input_set" name="start_at" ng-model="cafe.search.start_at"  md-placeholder="Date" md-min-date="cafe.myDate" ></md-datepicker>
                                    </div>
                                 </div>
                              </div>
                              <div class="book_stat_first_sec">
                                 <button type="button" class="btn search_btn hover_effects" ng-click="cafe.searchAssessment(1,cafe.search)">Search</button>
                                 <button type="reset" class="btn search_btn hover_effects" ng-click="cafe.resetAssessment();">Reset</button>
                              </div>
                           </div>
                           <div class="table_book_re_here">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h5 class="card-subtitle"><b>Total Records</b> : {{cafe.totalAssessor}}</h5>
                                 </div>
                              </div>
                              <div class="table-responsive">
                                 <table class="table table_set_here_sec td_color_set" data-ng-init="cafe.getAssessmentList(1,'')">
                                    <thead>
                                       <tr>
                                          <th>Sr.No</th>
                                          <th>Name </th>
                                          <th>Contact Number</th>
                                          <th>Province</th>
                                          <th>City</th>
                                          <th>Available on</th>
                                          <th>Actions</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr dir-paginate="(itemIndex, item) in cafe.assessorList | orderBy: cafe.sortKey:cafe.reverse|itemsPerPage: cafe.cafePerPage" total-items="cafe.totalAssessor" current-page="cafe.pagination.current">
                                          <td data-value="{{item.user_id}}">{{itemIndex + 1}}</td>
                                          <td>
                                             <img ngf-thumbnail="item.file_base_url || '../assets/admin/img/no-image.jpg'" class="img-responsive profil_imgtab" alt="profile">
                                             <span class="worker_name">{{item.assessors_name}}</span>
                                          </td>
                                          <td>{{item.assessors_phone}}</td>
                                          <td>
                                             <span ng-repeat="(index, status) in cafe.statesList" ng-show="item.assessors_state == status.id">{{status.name}}</span> <span ng-if="item.assessors_state == 0"> N/A</span>
                                          </td>
                                          <td>
                                             <span ng-repeat="(index, status) in cafe.cityList" ng-show="item.assessors_city == status.id" >{{status.name}}</span><span ng-if="item.assessors_city == 0"> N/A</span>
                                          </td>
                                          <td>{{cafe.formatDate(item.assessmentDate)}}</td>
                                          <td>
                                             <div class="action_links">
                                                <a title="Book Now" ng-click="cafe.workerAssessment(item.user_id, cafe.search, itemIndex)">Book Now</a>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr ng-if="cafe.assessorList.length == 0">
                                          <td colspan="7">
                                             <div class="alert alert-info text-center">No records found!</div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="cafe.changePage(newPageNumber,cafe.search)"></dir-pagination-controls>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--popup start here here-->
<!-- Booking Request accepted popup start here -->
<div class="modal fade book_req_pop_set" id="bo_accepted_new_model" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" tabindex="-1">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button ng-click="cafe.closePop();" type="button" class="close close_pop_set" data-dismiss="modal">&times;</button>
            <h4 class="modal-title pop_confirm_title">
               Book Assessor {{cafe.singleAssessor.assessors_name | capitalize}} 
               <p>For available date - {{cafe.formatDate(cafe.myDate)}}.</p>
            </h4>
         </div>
         <div class="modal-body set_pop_body">
            <table class="table table_set_here_sec td_color_set">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Province</th>
                     <th>Available on</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="(itemIndex, item) in cafe.timeSlots">
                     <td>{{itemIndex + 1}}</td>
                     <td>{{cafe.formatDate(item.request_date)}}</td>
                     <td>{{cafe.formatTime(item.request_timeFrom)}} - {{cafe.formatTime(item.request_timeTo)}} </td>
                     <td>
                        <div ng-class="item.bookFlag == 0 ? 'action_links' : 'label-danger' ">
                           <span ng-show="item.bookFlag == 1">Booked</span>
                           <a ng-show="item.bookFlag == 0" ng-click="cafe.bookAssessor(item, cafe.singleAssessor.user_id)">Book Now</button>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- Modal content-->
   </div>
</div>
<!-- Booking Request accepted popup end here -->
<!--popup end here here-->

