<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Booking</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->

<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="residte_tab_content">
					<div class="tab_sect">	
						<div class="tab_cont_det_all">
							<div class="tab_cont_details">
								<div class="tab_cont_head">
									<h3>Search for Booking</h3>
								</div>
								<div class="boook_req_table">
									<div class="book_status_form_sec">
										<div class="row">
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-4">
														<span class="label_sec">Select Area</span>
													</div>
													<div class="col-md-8">
														<div class="row">
															<div class="col-md-6">
																<select class="form-control selec_yag_meu" name="stateID" ng-model="cafe.search.stateID" ng-change="cafe.getCityByID(cafe.search)" required ng-options="choice.stateId as choice.stateName for choice in cafe.statesList">
																	<option value="">Select Province</option>
																</select>
																<!-- <small class="sm_note">Select Province</small> -->
															</div>
															<div class="col-md-6" ng-if="!cafe.hideCity">
																<select class="form-control selec_yag_meu" name="cityID" ng-model="cafe.search.cityID" required ng-options="choice.id as choice.name for choice in cafe.cityList">
																	<option value="">Select City</option>
																</select>
																<!-- <small class="sm_note">Select City</small> -->
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-4">
														<span class="label_sec">Select Booking Period</span>
													</div>
													<div class="col-md-8">
														<div class="row">
															<div class="col-md-6">
																<div class="calendarcls">
																	<md-datepicker class="form-control input_set" name="start_at" ng-model="cafe.search.start_at"  md-placeholder="Start Date"></md-datepicker>
																</div>
															</div>
															<div class="col-md-6 calendarcls">
																<md-datepicker class="form-control input_set" name="end_at" ng-model="cafe.search.end_at"  md-placeholder="End Date" md-min-date="cafe.search.start_at" ></md-datepicker>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-4">
														<span class="label_sec">Booking Status</span>
													</div>
													<div class="col-md-8">
														<div class="row">
															<div class="col-md-6">
																<select class="form-control selec_yag_meu" ng-model="cafe.search.status">
																	<option value="">Status</option>
																	<option value="1">Accepted</option>
																	<option value="0">Pending</option>   
																	<option value="2">Rejected</option>
																	<option value="3">Qualified</option>
																	<option value="4">Disqualified</option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first_sec">
												<button type="button" class="btn search_btn hover_effects" ng-click="cafe.searchBooking(1,cafe.search)">Search</button>
												<button type="reset" class="btn search_btn hover_effects" ng-click="cafe.resetBooking();">Reset</button>
											</div>
										</div>
									</div>
									<div class="table_book_re_here">
										<div class="row">
											<div class="col-md-12">
												<h5 class="card-subtitle"><b>Total Records</b> : {{cafe.totalBooking}}</h5>
											</div>
										</div>
										<div class="table-responsive">
											<table class="table table_set_here" data-ng-init="cafe.getBookingList(1,'')">
												<thead>
													<tr>
														<th>SN</th>
														<th>Name</th>
														<th>Contact Number</th>
														<th>Available on</th>
														<th>Time Slots</th>
														<th>Book Appointment</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr dir-paginate="(itemIndex, item) in cafe.bookingList | orderBy: cafe.sortKey:cafe.reverse|itemsPerPage: cafe.cafePerPage" total-items="cafe.totalBooking" current-page="cafe.pagination.current">
														<td data-value="{{item.request_id}}">{{itemIndex + 1}}</td>
														<td>
															<img ngf-thumbnail="item.file_base_url || '../assets/admin/img/no-image.jpg'" class="img-responsive profil_imgtab" alt="profile">
															<span class="worker_name">{{item.workers_name}}</span>
														</td>
														<td>{{item.workers_phone}}</td>
														
														<td>{{cafe.formatDate(item.request_date)}}</td>

														<td>{{cafe.formatTime(item.request_timeFrom)}} - {{cafe.formatTime(item.request_timeTo)}}</td>
														<td>{{item.assessmentFlag === 1 ? 'Final' :  item.assessmentFlag === 0 ? 'First' : '-'}} /
															{{item.statusFlag == 1 ? 'Accepted' :  item.statusFlag == 2 ? 'Rejected' : item.statusFlag == 3 ? 'Qualified' : item.statusFlag == 4 ? 'Disqualified' : 'Pending'}}
														</td>
														<td>
															<div class="delet_show_icon">
																<a ng-click="cafe.getAssessorProfile(item, itemIndex)" class="show_page_eye" ><i class="fa fa-eye" aria-hidden="true"></i></a>
															</div>
														</td>
													</tr>
													
													<tr ng-if="cafe.bookingList.length == 0">
														<td colspan="7">
														   <div class="alert alert-info text-center">No records found!</div>
														</td>
													 </tr>

												</tbody>
											</table>
										</div>
									</div>
									
									<dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="cafe.changePage(newPageNumber,cafe.search)"></dir-pagination-controls>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						


<!--popup start here here-->
<!-- Booking Request accepted popup start here -->

<div class="modal fade book_req_pop_set" id="Booking_details_model" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" tabindex="-1">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border_bo_head_new">
				<button ng-click="cafe.closePopup();" type="button" class="close close_pop_set" data-dismiss="modal">&times;</button>
				<h4 class="modal-title pop_confirm_title_set_new">Booking Details</h4>
			</div>
			<div class="modal-body">
				<div class="view_profil_details">
					<ul>
						<li>
							<span class="profile_text_title">Assessor's Info</span>
							<div class="profile_info_set_new">
								<img ngf-thumbnail="cafe.singleAssessor.file_base_url || '../assets/admin/img/no-image.jpg'" class="iimg-responsive profil_imgtab_new" alt="profile">
								<div class="worker_name_all">
									<div>{{cafe.singleAssessor.assessors_name | capitalize}}</div>
								</div>
							</div>
						</li>
						<li>
							<span>Date</span>
							{{cafe.formatDate(cafe.singleAssessor.request_date)}}
						</li>
						<li>
							<span>Time Slot</span>
							{{cafe.formatTime(cafe.singleAssessor.request_timeFrom)}} - {{cafe.formatTime(cafe.singleAssessor.request_timeTo)}}
						</li>
						<li>
							<span>Assessment Level</span>
							{{cafe.singleAssessor.request_assessLevel === 1 ? 'Final' : cafe.singleAssessor.request_assessLevel === 0 ? 'First' : ''}}															
						</li>
						<li>
							<span>Level Status</span>
							{{cafe.singleAssessor.status == 0 ? 'Pending' : cafe.singleAssessor.status == 1 ? 'Qualified' : 'Rejected'}}
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn_pop_close_sec" data-dismiss="modal" ng-click="cafe.closePopup();">Close</button>
			</div>
		</div>

	</div>
</div>
<!-- Booking Request accepted popup end here -->