<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
      <div class="container">
          <div class="row">
              <div class="next_bann_text">
                  <h3>Worker Registration Form</h3>
              </div>
          </div>
    </div>
</section><!--banner section end here-->

<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="residte_tab_content">
                    <div class="tab_sect">  
                        <div class="clearfix tab_cont_det_all">
                            <div class="tab_cont_details">
                            
                                    
                                    <form ng-submit="workerForm.$valid && cafe.saveWorker(imgname1, imgname2, imgname3, imgname4)" name="workerForm" novalidate>

                                        <input ng-if="cafe.editFlag" type="hidden" name="user_id" ng-model="cafe.workerForm.user_id">

                                        <div class="row">     
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Name:</span>
                                                    <div class="input_box_main">
                                                        <input type="text" class="form-control input_set" name="workers_name" ng-model="cafe.workerForm.workers_name" placeholder="Enter Name" autocomplete="off" required/>
                                                        
                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_name.$error.required"> Please enter name!</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Email:</span>
                                                    <div class="input_box_main">
                                                        <input type="email" class="form-control input_set" ng-model="cafe.workerForm.workers_email" name="workers_email" placeholder="Enter Email ID" autocomplete="off" ng-disabled="cafe.isDisabled" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"/>
                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_email.$dirty&&workerForm.workers_email.$error.pattern">Invalid email address entered!</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="form_here">
                                                <span class="class_label" >ID/Passport Number * (Enter true information for verification purposes strictly) </span>
                                                <div class="input_box_main">
                                                    <div class="upload_input_box">
                                                        <input type="text" class="form-control input_set" name="workers_idPassport" ng-model="cafe.workerForm.workers_idPassport" placeholder="Enter Worker Id OR Passport" autocomplete="off" required/ invalid-message="'Invalid'">
                                                    
                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_idPassport.$error.required"> Please enter Worker Id OR Passport!</span>

                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <div class="form_here">
                                                <span class="class_label" >Asylum Number * (Enter true information for verification purposes strictly) </span>
                                                <div class="input_box_main">
                                                    <div class="upload_input_box">
                                                        <input type="text" class="form-control input_set" name="workers_asylum" ng-model="cafe.workerForm.workers_asylum" placeholder="Enter Asylum Number " autocomplete="off" required/ invalid-message="'Invalid'">
                                                    
                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_asylum.$error.required"> Please enter Asylum Number!</span>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Date Of Birth:</span>
                                                    <div class="input_box_main">

                                                        <md-datepicker ng-model="cafe.workerForm.workers_birthDate" md-placeholder="Date of Birth" name="workers_birthDate" required></md-datepicker>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_birthDate.$error.required"> Please enter birth date!</span>  

                                                        <!-- <input type="number" class="form-control input_set" ng-model="cafe.workerForm.workers_age" name="workers_age" placeholder="Enter Age" autocomplete="off" required ng-minlength="2" ng-maxlength="2" ng-pattern="/^[0-9]{2,2}$/" min="21" max="61"/>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_age.$error.required"> Please enter age!</span>  
                                                        
                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_age.$dirty&&workerForm.workers_age.$error.pattern">Please enter 2 digits number!</span>

                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_age.$dirty&&workerForm.workers_age.$error.min">This field must be at least 21!</span>

                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_age.$dirty&&workerForm.workers_age.$error.max">This field must be at max 61!</span> -->

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label" >Expiry Date of Photo ID:</span>
                                                    <div class="input_box_main">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <select class="form-control input_set" ng-model="cafe.workerForm.workers_expiryDateDay" name="workers_expiryDateDay" >
                                                                    <option value="">select Date</option>
                                                                    <option ng-repeat="date in [] | range:1:31" ng-selected="cafe.workerForm.workers_expiryDateDay == date" >{{date}}</option>
                                                                </select>

                                                            </div>

                                                            <div class="col-md-4">
                                                                <select class="form-control input_set"  ng-model="cafe.workerForm.workers_expiryDateMonth" name="workers_expiryDateMonth" required ng-options="choices.id as choices.name for choices in cafe.monthing ">
                                                                    <option value>Select Month</option>
                                                                </select> 

                                                                <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_expiryDateMonth.$error.required"> Please select month!</span>

                                                            </div>
                                                        
                                                            <div class="col-md-4">
                                                                <select class="form-control input_set" ng-model="cafe.workerForm.workers_expiryDateYear" name="workers_expiryDateYear" required >
                                                                    <option value="">Select Year</option>
                                                                    <option ng-repeat="year in [] | range:cafe.currentYear-15:cafe.currentYear+15" ng-selected="cafe.workerForm.workers_expiryDateYear == year" >{{year}}</option>
                                                                </select>

                                                                <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_expiryDateYear.$error.required"> Please select year!</span>

                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <span class="class_label_sec" >Address:</span>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">House/Apartment :</span>
                                                    <div class="input_box_main">
                                                        <input type="text" class="form-control input_set" ng-model="cafe.workerForm.workers_address" name="workers_address" placeholder="Enter Address" required autocomplete="off"/>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_address.$error.required"> Please select address!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Contact Number :</span>
                                                    <div class="input_box_main">
                                                        <input type="text" class="form-control input_set" placeholder="Enter Contact Number" ng-model="cafe.workerForm.workers_phone" name="workers_phone" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-minlength="11" ng-maxlength="11" ng-pattern="/^[0-9]{1,11}$/" autocomplete="off" ng-disabled="cafe.isDisabled"/>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_phone.$error.required"> Please enter contact number!</span>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && !workerForm.workers_phone.$valid && !workerForm.workers_phone.$error.required ">Please enter 11 digits number!</span>

                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_phone.$dirty&&workerForm.workers_phone.$error.pattern">Please enter 11 digits number!</span>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Country:</span>
                                                    <select class="form-control selec_yag_meu" name="workers_country" ng-change="cafe.getStatesByID(cafe.workerForm)" ng-model="cafe.workerForm.workers_country" required  ng-options="choice.id as choice.name for choice in cafe.countryList">
                                                        <option value="">Select Country</option>
                                                    </select>

                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_country.$error.required"> Please select country!</span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Alternate Contact Number :</span>
                                                    <div class="input_box_main">
                                                        <input type="text" class="form-control input_set" ng-model="cafe.workerForm.workers_mobile" name="workers_mobile" placeholder="Enter Alternate Contact Number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-minlength="11" ng-maxlength="11" ng-pattern="/^[0-9]{1,11}$/" autocomplete="off"/>

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && !workerForm.workers_mobile.$valid && !workerForm.workers_mobile.$error.required ">Please enter 11 digits number!</span>

                                                        <span class="input-group-addon lgin_grp" ng-show="workerForm.workers_mobile.$dirty&&workerForm.workers_mobile.$error.pattern">Please enter 11 digits number!</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Province:</span>
                                                    <select class="form-control selec_yag_meu" name="workers_state" ng-model="cafe.workerForm.workers_state" ng-change="cafe.getCityByID(cafe.workerForm)" required ng-options="choice.id as choice.name for choice in cafe.statesList">
                                                        <option value="">Select Province</option>
                                                    
                                                    </select>
                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_state.$error.required"> Please select province!</span>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6" ng-if="!cafe.hideCity">
                                                <div class="form_here">
                                                    <span class="class_label">City:</span>
                                                    <select class="form-control selec_yag_meu" name="workers_city" ng-change="cafe.getSuburbByID(cafe.workerForm)" ng-model="cafe.workerForm.workers_city" ng-options="choice.id as choice.name for choice in cafe.cityList">
                                                        <option value="">Select City</option>
                                                    </select>
                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_city.$error.required"> Please select city!</span>

                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                            <div class="form_here">
                                                <span class="class_label">Collect Uniform * </span>
                                                <div class="input_box_main">
                                                    <div class="cheak_title">
                                                        <div class="checkbox chek_bo_h">
                                                            <input type="radio" id="checkbox5" name="workers_uniform" value="0" ng-model="cafe.workerForm.workers_uniform" ng-checked="cafe.workerForm.   workers_uniform == '0'">
                                                            <label for="checkbox5"></label>
                                                        </div>
                                                        <span> No</span>
                                                    </div>
                                                    <div class="cheak_title">
                                                        <div class="checkbox chek_bo_h">
                                                            <input type="radio" id="checkbox6" name="workers_uniform" value="1" ng-model="cafe.workerForm.workers_uniform" ng-checked="cafe.workerForm.   workers_uniform == '1'">
                                                            <label for="checkbox6"></label>
                                                        </div>
                                                        <span> Yes</span>
                                                    </div>
                                                </div>

                                                <input type="hidden" name="workers_uniform" ng-model="cafe.workerForm.workers_uniform" ng-bind="cafe.workerForm.workers_uniform" ng-required="!cafe.workerForm.workers_uniform">

                                                <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_uniform.$error.required"> Please select option for collect uniform!</span>

                                            </div>
                                        </div>
                                        </div>
                                                                                
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Do you like Dogs?</span>
                                                    <div class="input_box_main set_box_input">

                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox7" name="friendlyDogs" value="2" ng-model="cafe.workerForm.friendlyDogs" ng-checked="cafe.workerForm.friendlyDogs == '2'">
                                                                <label for="checkbox7"></label>
                                                            </div>
                                                            <span> Like Dogs</span>
                                                        </div>
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox8" name="friendlyDogs" value="3" ng-model="cafe.workerForm.friendlyDogs" ng-checked="cafe.workerForm.friendlyDogs == '3'">
                                                                <label for="checkbox8"></label>
                                                            </div>
                                                            <span>Don't Like Dogs</span>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="input_box_main set_box_input">
                                                        <!-- <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox5" name="friendlyDogs" value="0" ng-model="cafe.workerForm.friendlyDogs" ng-checked="cafe.workerForm.friendlyDogs == '0'">
                                                                <label for="checkbox5"></label>
                                                            </div>
                                                            <span> Love Dogs</span>
                                                        </div> -->
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox6" name="friendlyDogs" value="1" ng-model="cafe.workerForm.friendlyDogs" ng-checked="cafe.workerForm.friendlyDogs == '1'">
                                                                <label for="checkbox6"></label>
                                                            </div>
                                                            <span>Can Tolerate</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <input type="hidden" name="workers_friendlyDogs" ng-model="cafe.workerForm.workers_friendlyDogs" ng-bind="cafe.workerForm.friendlyDogs" ng-required="!cafe.workerForm.friendlyDogs" required>

                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_friendlyDogs.$error.required"> Please select dogs type!</span>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Do you like Cats?</span>
                                                    <div class="input_box_main set_box_input">
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox11" name="friendlyCats" value="2" ng-model="cafe.workerForm.friendlyCats" ng-checked="cafe.workerForm.  friendlyCats == '2'">
                                                                <label for="checkbox11"></label>
                                                            </div>
                                                            <span> Like Cats</span>
                                                        </div>
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox12" name="friendlyCats" value="3" ng-model="cafe.workerForm.friendlyCats" ng-checked="cafe.workerForm.  friendlyCats == '3'">
                                                                <label for="checkbox12"></label>
                                                            </div>
                                                            <span>Don't Like Cats</span>
                                                        </div>
                                                    </div>
                                                    <div class="input_box_main set_box_input">
                                                        
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox9" name="friendlyCats" value="0" ng-model="cafe.workerForm.friendlyCats" ng-checked="cafe.workerForm.   friendlyCats == '0'">
                                                                <label for="checkbox9"></label>
                                                            </div>
                                                            <span> Love Cats</span>
                                                        </div>
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox10" name="friendlyCats" value="1" ng-model="cafe.workerForm.friendlyCats" ng-checked="cafe.workerForm.  friendlyCats == '1'">
                                                                <label for="checkbox10"></label>
                                                            </div>
                                                            <span>Can Tolerate</span>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="workers_friendlyCats" ng-model="cafe.workerForm.workers_friendlyCats" ng-bind="cafe.workerForm.friendlyCats" ng-required="!cafe.workerForm.friendlyCats" required>

                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_friendlyCats.$error.required"> Please select cats type!</span>
                                                    
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="row">                 
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Employment:</span>
                                                    <div class="input_box_main">
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox1" name="workerType" value="0" ng-model="cafe.workerForm.workerType" ng-checked="cafe.workerForm.   worker_type == '0'">
                                                                <label for="checkbox1"></label>
                                                            </div>
                                                            <span> Long Time</span>
                                                        </div>
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox2" name="workerType" value="1" ng-model="cafe.workerForm.workerType" ng-checked="cafe.workerForm.   worker_type == '1'">
                                                                <label for="checkbox2"></label>
                                                            </div>
                                                            <span> Part Time</span>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="worker_type" ng-model="cafe.workerForm.worker_type" ng-bind="cafe.workerForm.workerType" ng-required="!cafe.workerForm.workerType">

                                                    <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.worker_type.$error.required"> Please select employment type!</span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_here">
                                                    <span class="class_label">Employment:</span>
                                                    <div class="input_box_main">
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox3" name="digitalAgreement" value="0" ng-model="cafe.workerForm.digitalAgreement" ng-checked="cafe.workerForm.digitalAgreement == '0'">
                                                                <label for="checkbox3"></label>
                                                            </div>
                                                            <span> Accept</span>
                                                        </div>
                                                        <div class="cheak_title">
                                                            <div class="checkbox chek_bo_h">
                                                                <input type="radio" id="checkbox4" name="digitalAgreement" value="1" ng-model="cafe.workerForm.digitalAgreement" ng-checked="cafe.workerForm.digitalAgreement == '1'">
                                                                <label for="checkbox4"></label>
                                                            </div>
                                                            <span>Reject</span>
                                                        </div>

                                                        <input type="hidden" name="workers_digitalAgreement" ng-model="cafe.workerForm.workers_digitalAgreement" ng-bind="cafe.workerForm.digitalAgreement" ng-required="!cafe.workerForm.digitalAgreement">

                                                        <span class="input-group-addon lgin_grp" ng-show=" workerForm.$submitted && workerForm.workers_digitalAgreement.$error.required"> Please select employment digital agreement type!</span>

                                                        <small class="form_note_n"><a href="javascript:void(0);">Click here to view Digital Agreement.</a></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 w_text" ng-show="cafe.workerForm.workerType == '1'">
                                                <div class="form_here">
                                                    <span class="class_label">Message:</span>
                                                    <textarea placeholder="Please enter your plan to create predictability" maxlength="200" class="form-control" ng-model="cafe.workerForm.worker_message" name="worker_message" autocomplete="off"></textarea>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row"> 
                                            <div ng-if="!cafe.hideSuburb">
                                                
                                                <span class="class_label_sec">Desired areas of work:</span>
                                               
                                                <div class="col-md-6">
                                                    <div class="form_here">
                                                        <span class="class_label">Suburbs :</span>  
    
                                                        <select style="height: 150px !important;" class="form-control selec_yag_meu multiselect" name="suburb1" ng-model="cafe.workerForm.suburb1" ng-options="choice.suburb_id as choice.suburb_name for choice in cafe.suburbList | unique:'suburb_name'" multiple="multiple">
                                                            <option value="">Select Suburb</option>
                                                        </select>   
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <div class="form_here">
                                                        <span class="class_label">Suburb 2:</span>
                                                        <select class="form-control selec_yag_meu" name="suburb2" ng-model="cafe.workerForm.suburb2" ng-options="choice.suburb_id as choice.suburb_name for choice in cafe.suburbListB | unique:'suburb_name'" ng-change="cafe.getSuburbByMID(cafe.workerForm, 2)">
                                                            <option value="">Select Suburb</option>
                                                        </select>
                                                    </div>
                                                </div>                                   
                                                <div class="col-md-6">
                                                    <div class="form_here">
                                                        <span class="class_label">Suburb 3:</span>
                                                        <select class="form-control selec_yag_meu" name="suburb3" ng-model="cafe.workerForm.suburb3"  ng-options="choice.suburb_id as choice.suburb_name for choice in cafe.suburbListC | unique:'suburb_name'" ng-change="cafe.getSuburbByMID(cafe.workerForm, 3)">
                                                            <option value="">Select Suburb</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form_here">
                                                        <span class="class_label">Suburb 4:</span>
                                                        <select class="form-control selec_yag_meu" name="suburb4" ng-model="cafe.workerForm.suburb4"  ng-options="choice.suburb_id as choice.suburb_name for choice in cafe.suburbListD | unique:'suburb_name'" ng-change="cafe.getSuburbByMID(cafe.workerForm, 4)">
                                                            <option value="">Select Suburb</option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                                
                                            </div>
                                        </div>

                                        <div class="form_submit_btn">
                                            <button type="button" class="btn btn_reset hover_effects" ng-if="!cafe.editFlag" ng-disabled="cafe.isDisabledButton">Reset</button>
                                            <a ui-sref="frontoffice.cafe.view({id: cafe.workerForm.user_id })" type="button" class="btn btn_reset hover_effects"  ng-if="cafe.editFlag" ng-disabled="cafe.isDisabledButton">Cancel</a>
                                            <button type="submit" class="btn btn_reset_sec hover_effects_sec" ng-disabled="cafe.isDisabledButton">Submit</button>
                                        </div>
                                    
                                    </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
