<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
  <div class="overlay_sec"></div>
  <div class="container">
    <div class="row">
      <div class="next_bann_text">
        <h3>MY Added Workers</h3>
      </div>
    </div>
  </div>
</section><!--banner section end here-->

<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="residte_tab_content">
                    <div class="tab_sect">	
                        <div class="clearfix tab_cont_det_all">
                            <div class="tab_cont_details">
                                <div class="tab_cont_head">
                                    <h4>Search</h4>
                                </div>
                                <div class="boook_req_table">
                                    
                                    <div class="book_status_form">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input_set" placeholder="Worker Name" ng-model="cafe.search.workers_name"/>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input_set" placeholder="Contact Number" ng-model="cafe.search.workers_phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control selec_yag_meu" ng-model="cafe.search.workers_suburb">
                                                    <option value>Select Area</option>
                                                    <option value="{{status.suburb_id}}" ng-repeat="(index, status) in cafe.areaList">{{status.suburb_name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control selec_yag_meu" ng-model="cafe.search.status">
                                                    <option value="">Status</option>
                                                    <option value="1">Approved</option>
                                                    <option value="0">Pending</option>   
                                                    <option value="2">Rejected</option>
                                                    <option value="3">Qualified</option>
                                                    <option value="4">Disqualified</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="book_status_form_new">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3 calendarcls">
                                                <md-datepicker class="form-control input_set" ng-model="cafe.search.start_at"  md-placeholder="Start Date"></md-datepicker>
                                            </div>
                                            <div class="col-md-3 calendarcls">
                                                <md-datepicker class="form-control input_set" ng-model="cafe.search.end_at" md-placeholder="End Date" md-min-date="cafe.search.start_at" ></md-datepicker>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <div class="added_works_form_btn">
                                                <button type="button" class="btn search_btn hover_effects" ng-click="cafe.changePage(1,cafe.search)" >Search</button>
                                                <button type="reset" class="btn search_btn_new hover_effects" ng-click="cafe.reset();">Reset</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table_book_re_here">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="card-subtitle"><b>Total Records</b> : {{cafe.totalWorker}}</h5>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table_set_here_sec " data-ng-init="cafe.getWorkerList(1,'')">
                                                <thead>
                                                    <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name </th>
                                                    <th>Contact Number</th>
                                                    <!-- <th>Areas of Work</th> -->
                                                    <th>Status</th>
                                                    <th>Date Added</th>
                                                    <th>Book Appointment</th>
                                                    <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="(itemIndex, item) in cafe.workerList | orderBy: cafe.sortKey:cafe.reverse|itemsPerPage: cafe.cafePerPage" total-items="cafe.totalWorker" current-page="cafe.pagination.current">
                                                        <td data-value="{{item.user_id}}">{{itemIndex + 1}}</td>
                                                        <td>
                                                            <img style="width:50px; height: 50px; border: 1px solid #dbdbdb;padding: 3px;" ngf-thumbnail="item.file_base_url || '../assets/admin/img/no-image.jpg'" class="img-responsive profil_imgtab" alt="profile">
                                                            <span class="worker_name">{{item.workers_name}}</span>
                                                        </td>
                                                        <td>{{item.workers_phone}}</td>
                                                        <!-- <td>
                                                          <span ng-if="item.suburbA">{{item.suburbA}}</span><span ng-if="item.suburbB">, {{item.suburbB}}</span><span ng-if="item.suburbC">, {{item.suburbC}}</span><span ng-if="item.suburbD">, {{item.suburbD}}</span>
                                                        </td> -->
                                                        
                                                        <td>{{item.status == 0 ? 'Pending' :  item.status == 1 ? 'Approved' : item.status == 2 ? 'Rejected' : item.status == 3 ? 'Qualified' : 'Disqualified'}}</td>
                                                        <td>{{cafe.formatDate(item.created_at)}}</td>
                                                        <td>{{item.assessmentFlag === 1 ? 'Final' :  item.assessmentFlag === 0 ? 'First' : '-'}} /
                                                          {{item.statusFlag == 1 ? 'Approved' :  item.statusFlag == 2 ? 'Rejected' : item.statusFlag == 3 ? 'Qualified' :
                                                          item.statusFlag == 4 ? 'Disqualified' : 'Pending'}}
                                                        </td>
                                                        <td>
                                                            <div class="delet_show_icon">
                                                                <a ui-sref="frontoffice.cafe.view({id: item.user_id})" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                               
                                                                <a title="Delete" class="delet_page_icon" ng-show="item.assessmentFlag === ''" ng-click="cafe.deleteWorker(item.user_id, itemIndex)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr ng-if="cafe.workerList.length == 0">
                                                        <td colspan="8"><div class="alert alert-info text-center">No records found!</div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="cafe.changePage(newPageNumber,cafe.search)"></dir-pagination-controls>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
















































<!-- 




<section class="dashboard_content">
  <div class="container">
    <div class="row">
      <div class="dashboard_all_det">
        <div class="residte_tab_content">
          <div class="tab_sect">	
            <div class="clearfix tab_cont_det_all">
              <div class="tab_cont_details">
                <div class="tab_cont_head">
                  <p>All the workers added by an Internet Cafe user will be displayed here.</p>
                </div>
                <div class="boook_req_table">
                  <div class="book_status_form">
                    <div class="row new_cust_row">
                      <div class="col-md-3">
                        <input type="text" class="form-control input_set" placeholder="Worker Name"  ng-model="worker.search.workers_name" ng-blur="worker.changePage(1, worker.search)" />
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control input_set" placeholder="Worker Id" ng-model="worker.search.workers_id" ng-blur="worker.changePage(1, worker.search)" />
                      </div>
                      <div class="col-md-3">
                        <select class="form-control selec_yag_meu" ng-model="worker.search.worker_type" ng-change="worker.changePage(1,worker.search)">
                          <option value="">Worker Type</option>
                          <option value="0">Long Time</option>
                          <option value="1">Part Time</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <button type="button" class="btn search_btn hover_effects">Search</button> 
                        <input type="button" class="btn search_btn btn-flat" ng-click="worker.reset();" value="Reset" />
                        <a ui-sref="frontoffice.worker.create" type="button" class="btn search_btn hover_effects">Add Worker</a>

                      </div>
                    </div>
                  </div>
                  <div class="table_book_re_here">
                    <div class="table-responsive">
                      <table class="table table_set_here_sec " data-ng-init="worker.getWorkerList(1,'')">
                        <thead>
                          <tr>
                            <th>
                              <a ng-click="worker.sort('workers_id')">Sr.No 
                                <span ng-show="worker.reverse" class="fa fa-caret-down"></span>
                                <span ng-show="!worker.reverse" class="fa fa-caret-up"></span>
                              </a>
                            </th>
                            <th>Worker's ID</th>
                            <th>
                              <a ng-click="worker.sort('workers_name')">Name
                                <span ng-show="worker.reverse" class="fa fa-caret-down"></span>
                                <span ng-show="!worker.reverse" class="fa fa-caret-up"></span>
                              </a>
                            </th>
                            <th>Picture</th>
                            <th>Address</th>
                            <th>Contact No.</th>
                            <th>Govt. ID</th>
                            <th>
                              <a ng-click="worker.sort('worker_type')">Worker Type	
                                <span ng-show="worker.reverse" class="fa fa-caret-down"></span>
                                <span ng-show="!worker.reverse" class="fa fa-caret-up"></span>
                              </a>
                            </th>
                            <th>
                              <a ng-click="worker.sort('created_at')">Created At	
                                <span ng-show="worker.reverse" class="fa fa-caret-down"></span>
                                <span ng-show="!worker.reverse" class="fa fa-caret-up"></span>
                              </a>
                            </th>
                            <th>
                              <a ng-click="worker.sort('status')">Status	
                                <span ng-show="worker.reverse" class="fa fa-caret-down"></span>
                                <span ng-show="!worker.reverse" class="fa fa-caret-up"></span>
                              </a>
                            </th>
                            <th>Action</th>                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr dir-paginate="(itemIndex, item) in worker.workerList | orderBy: worker.sortKey:worker.reverse|itemsPerPage: worker.workerPerPage" total-items="worker.totalWorker" current-page="worker.pagination.current">
                            <td>{{item.workers_id}}</td>
                            <td>{{item.user_id}}</td>
                            <td>{{item.workers_name}}</td>
                            <td>
                              <a href="#."><img src="{{item.workers_image}}" class="img-responsive profil_imgtab" alt="profile"></a>
                            </td>
                            <td>{{item.workers_address}}</td>
                            <td>{{item.workers_phone}}</td>
                            <td>
                              <a href="#."><i class="fa fa-id-card i_card" aria-hidden="true"></i></a>
                            </td>
                            <td>{{item.worker_type==1?'Long Time':'Part Time'}}</td>
                            <td>{{ worker.formatDate(item.created_at) }}</td>
                            <td>{{item.status==1?'Approved':'Pending'}}</td>
                            <td>
                              <a ui-sref="frontoffice.worker.view({id: item.workers_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-eye"></i></a>
                            </td>
                          </tr> 

                          <tr ng-if="worker.workerList.length == 0">
                            <td colspan="11"><div class="alert alert-info text-center">No records found!</div></td>
                          </tr>                         
                        </tbody>
                      </table>
                    </div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="worker.changePage(newPageNumber,worker.search)"></dir-pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->