<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Notification</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->

<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="notifiaction_set_here">
					
					<div ng-if = "cafe.countNot == 0" >
						<p><center>No Notifications <br></center></p>
					</div>

					<div ng-if = "cafe.countNot != 0" >
						<div class="clear_all_btn">
							<a ng-click="cafe.clearAllNotification()">Clear All</a>
						</div>
						
						<div ng-repeat = "(index,status) in cafe.allNotification " >
							<div class="notifia_blog">
								<small>{{ cafe.formatDate(status.notification_date) }}</small>
								<p>{{status.notification_msg}} <br></p>
								<span>{{ cafe.formatDate(status.request_date) }} for time slot {{ cafe.formatTime(status.request_timeFrom) }} - {{ cafe.formatTime(status.request_timeTo) }} </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						