<style>
    .checked {
        color: orange;
    }
</style>
<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Worker Profile</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->

<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        <div class="profile_form_here">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img">
                                        <img ngf-thumbnail="cafe.singleWorker.file || '../assets/admin/img/no-image.jpg'" class="img-responsive" alt="profile"/>
                                        <h5>Profile Image
                                            <span class="editbtn edit_profile_icon_set" ng-show="cafe.singleWorker.assessmentFlag === ''" ng-click="cafe.changeImagePopup(1, cafe.singleWorker.user_id, cafe.singleWorker.workers_image )" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile_new_f">
                                        <div class="profile_deta">
                                            <ul>
                                               
                                                <li><span>Name :</span>{{cafe.singleWorker.workers_name}}</li>
                                                <li><span>Email :</span>{{cafe.singleWorker.workers_email}}</li>
                                                <li><span>Age :</span>{{cafe.singleWorker.workers_age}}</li>
                                                <li><span>Contact Number :</span>{{cafe.singleWorker.workers_phone}}</li>
                                                <li><span>Alternate Number :</span> <span ng-if="cafe.singleWorker.workers_mobile != '0'"> {{cafe.singleWorker.workers_mobile}}</span></li>
                                                <li><span  class="col-md-2" style="margin-left: -15px;">Address :</span>
                                                <div class="col-md-7">
                                                {{cafe.singleWorker.workers_address}}
                                                </div>
                                                </li>
                                                <li><span>City :</span>
                                                    <span ng-repeat="(index, status) in cafe.cityList" ng-show="cafe.singleWorker.workers_city == status.id">{{status.name}}</span>
                                                </li>
                                                <li><span>Province :</span>
                                                    <span ng-repeat="(index, status) in cafe.statesList" ng-show="cafe.singleWorker.workers_state == status.id">{{status.name}}</span>
                                                </li>
                                                <li><span>Country :</span> {{cafe.singleWorker.country}}</li>

                                                <li><span>ID/Passport Number :</span> {{cafe.singleWorker.workers_idPassport}}</li>

                                                <li><span>Asylum Number :</span> {{cafe.singleWorker.workers_asylum}}</li>
                                                
                                                <li><span>Photo ID :</span><a ng-href="{{cafe.singleWorker.file3}}" target="_blank"><img ng-src="../assets/front/img/Alberta-ID-card-callout.jpg" class="img-responsive img_pro_min"/></a> <span class="editbtn" ng-show="cafe.singleWorker.assessmentFlag === ''" ng-click="cafe.changeImagePopup(2, cafe.singleWorker.user_id, cafe.singleWorker.	workers_photoIdentity )" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> </li>
                                                
                                                <li><span>Photo ID Expiry Date :</span><span class="selmomth" ng-repeat="(index, status) in cafe.monthing" ng-show="cafe.singleWorker.workers_expiryDateMonth == status.id">{{status.name}}</span> / {{cafe.singleWorker.workers_expiryDateYear}}</li>
                                                
                                                <li><span>Criminal Record :</span><a ng-href="{{cafe.singleWorker.file2}}" target="_blank"><img src="../assets/front/img/docfile.png" class="img-responsive img_pro_min"/></a> <span class="editbtn" ng-show="cafe.singleWorker.assessmentFlag === ''" ng-click="cafe.changeImagePopup(3, cafe.singleWorker.user_id, cafe.singleWorker.	workers_criminalReport )" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> </li>
                                                
                                                <li><span>Code of Conduct :</span><a ng-href="{{cafe.singleWorker.file1}}" target="_blank"><img src="../assets/front/img/docfile.png" class="img-responsive img_pro_min"/></a> <span class="editbtn" ng-show="cafe.singleWorker.assessmentFlag === ''" ng-click="cafe.changeImagePopup(4, cafe.singleWorker.user_id, cafe.singleWorker.	workers_codeConduct )" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> </li>
                                                
                                                <li><span>Emplyment Type :</span>{{cafe.singleWorker.worker_type == 0 ? 'Long Term' : 'Part Term'}}</li>

                                                <li><span>Collect Uniform :</span>{{cafe.singleWorker.worker_uniform == 0 ? 'No' : 'Yes'}}</li>

                                                <li ng-if="cafe.singleWorker.worker_type == '1'"><span>Emplyment Message :</span>{{cafe.singleWorker.worker_message}}</li>

                                                <li><span>Digital Agreement :</span>{{cafe.singleWorker.workers_digitalAgreement == 0 ? 'Accepted' : 'Rejected'}}</li>
                                                <!--<li>
                                                    <span>Desired Areas of Work :</span>
                                                   <span style="width:150px !important;">{{cafe.singleWorker.workerSubName}}</span>
                                                     <ul>
                                                        <li ng-if="cafe.singleWorker.suburbB">{{cafe.singleWorker.suburbB}}</li>
                                                        <li ng-if="cafe.singleWorker.suburbC">{{cafe.singleWorker.suburbC}}</li>
                                                        <li ng-if="cafe.singleWorker.suburbD">{{cafe.singleWorker.suburbD}}</li>
                                                    </ul>  
                                                </li>  -->

                                                <li><span>Do you like dogs? :</span>{{ cafe.singleWorker.workers_friendlyDogs == 1 ? 'Can Tolerate' : cafe.singleWorker.workers_friendlyDogs == 2 ? 'Like Dogs' : 'Do not Like Dogs' }}</li>

                                                <li><span>Do you like cats? :</span>{{ cafe.singleWorker.workers_friendlyCats == 1 ? 'Can Tolerate' : cafe.singleWorker.workers_friendlyCats == 2 ? 'Like Cats' : 'Do not Like Cats' }}</li>
                                                
                                                <li><span>Rattings :</span>
                                                    <div class="star_ratting_set">
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 1 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 2 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 3 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 4 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 5 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 6 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 7 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 8 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 9 ? 'checked' : ''"></i>
                                                        <i class="fa fa-star" ng-class="cafe.singleWorker.workers_rating >= 10 ? 'checked' : ''"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span>Skills :</span>
                                                    <ul>
                                                        <li ng-repeat="skills in cafe.skills">{{skills}}</li>
                                                    </ul>
                                                </li>
                                                <li><span>Created At :</span>{{cafe.formatDate(cafe.singleWorker.created_at)}}</li>
                                                <li><span>Updated At :</span>{{cafe.formatDate(cafe.singleWorker.updated_at)}}</li>

                                                <li><span>Status :</span>{{cafe.singleWorker.statusFlag == 0 ? 'Pending' : cafe.singleWorker.statusFlag == 1 ? 'Accepted' : cafe.singleWorker.statusFlag == 2 ? 'Rejected' : cafe.singleWorker.statusFlag == 3 ? 'Qualified' : cafe.singleWorker.statusFlag == 4 ? 'Disqualified' : 'Please send this worker to assessment' }}</li>
                                                <li><span>Assessment Level</span>{{cafe.singleWorker.assessmentFlag == 0 ? 'First' : 'Final'}}</li>
                                                <li ng-if="cafe.singleWorker.statusFlag == 4 && cafe.singleWorker.statusFlagR == 0"><span>Note :</span>You can reschedule worker appointment after 6 month.</li>

                                            </ul>
                                        </div>

                                        <div class="pr_updt">
                                            <a ui-sref="frontoffice.cafe.edit({id: cafe.singleWorker.user_id})" class="btn updt_btn hover_effects" ng-show="cafe.singleWorker.assessmentFlag === ''">Edit Profile</a>

                                            <a ui-sref="frontoffice.cafe.appointform({id: cafe.singleWorker.user_id})" type="button" class="btn btn_reset_sec hover_effects_sec" ng-show="cafe.singleWorker.assessmentFlag === ''">Schedule an Appointment</a>

                                            <a ui-sref="frontoffice.cafe.appointform({id: cafe.singleWorker.user_id})" type="button" class="btn btn_reset_sec hover_effects_sec" ng-show=" cafe.singleWorker.statusFlag == '2' ">Reschedule an Appointment</a>

                                            <a ui-sref="frontoffice.cafe.appointform({id: cafe.singleWorker.user_id})" type="button" class="btn btn_reset_sec hover_effects_sec" ng-show="cafe.singleWorker.statusFlag == '4' && cafe.singleWorker.statusFlagR == '1' ">Reschedule an Appointment</a>

                                            <a ui-sref="frontoffice.cafe" class="btn updt_btn">Back</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--popup start here here-->
<!-- Booking Request accepted popup start here -->
<div class="modal fade book_req_pop_set" id="imageDetails_model" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="cafe.closeImagePop();" type="button" class="close close_pop_set" data-dismiss="modal">&times;</button>
                <h4 class="modal-title pop_confirm_title">
                Change {{cafe.imageForm.imageType == 1 ? 'Profile Image' : cafe.imageForm.imageType == 2 ? 'Photo ID' : cafe.imageForm.imageType == 4 ? 'Code of Conduct' : cafe.imageForm.imageType == 3 ? 'Criminal Record' : '' }}
                </h4>
            </div>
            <div class="modal-body set_pop_body">
                <form id="imageForm" novalidate angular-validator name="imageForm" angular-validator-submit='cafe.saveImage()'>
                    <div class="modal-body">

                        <input type="hidden" name="user_id" ng-model="cafe.imageForm.user_id">

                        <div class="form-group">
                            <div class="col-md-12">
                                <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="cafe.imageForm.file || '../assets/admin/img/no-image.jpg'" ng-if="cafe.imageForm.imageType == 1 || cafe.imageForm.imageType == 2"/>

                                <input type="file" class="form-control" ngf-select ng-model="cafe.imageForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ng-if="cafe.imageForm.imageType == 1 || cafe.imageForm.imageType == 2" />  
                                
                                <input type="file" class="form-control" ngf-select ng-model="cafe.imageForm.file" name="file" ngf-pattern="'application/pdf'" accept=".pdf" ngf-max-size="20MB" ng-if="cafe.imageForm.imageType == 3 || cafe.imageForm.imageType == 4" />
                                

                                <i ng-show="cafe.imageForm.file.$error.required"> *required </i>
                                <i ng-show="cafe.imageForm.file.$error.maxSize"> File too large {{setting.logForm.file.size / 1000000|number:1}}MB: max 20M </i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn updt_btn" ng-click="cafe.closeImagePop()"  ng-disabled="cafe.isDisabledButton">Close</button>
                        <button type="submit" class="btn btn_reset_sec hover_effects_sec" ng-disabled="cafe.isDisabledButton">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal content-->
    </div>
    </div>
    <!-- Booking Request accepted popup end here -->
    <!--popup end here here-->
    
     