<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="wrapper">
    
    <!-- ============================================================== -->
    <!-- header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header-component></header-component>
    <!-- ============================================================== -->
    <!-- End header -->
    <!-- ============================================================== -->    
    
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div ui-view="content"></div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Footer - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <footer-component></footer-component>
    <!-- ============================================================== -->
    <!-- End Footer -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->