<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Assessment</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="tab_cont_det_all">
					<div class="tab_cont_details">
						<div class="profile_form_here">
							<div class="row">
								<div class="col-md-3">
									<div class="profile_img">
										<img src="{{assessor.singleWorker.workers_image}}" class="img-responsive" alt="profile"/>
										<h5>Profile Image</h5>
									</div>
								</div>
								<div class="col-md-9">
									<div class="profile_new_f">
										<div class="profile_deta">
											<ul>
												<li><span>Name :</span>{{assessor.singleWorker.workers_name}}</li>
												<li><span>Email :</span>{{assessor.singleWorker.workers_email}}</li>
												<li><span  class="col-md-2" style="margin-left: -15px;">Address :</span>
                                                <div class="col-md-7">
                                                {{assessor.singleWorker.workers_address}}
                                                </div>
                                                </li>
												<li><span>Photo ID :</span>{{assessor.singleWorker.workers_expiryDateYear}}</li>
												<li><span>Criminal Record :</span>
													<a ng-href="{{assessor.singleWorker.workers_criminal_report}}" target="_blank"><img src="../assets/front/img/docfile.png" class="img-responsive img_pro_min"/></a> 
												</li>
												<li><span>Contact Number :</span>{{assessor.singleWorker.workers_mobile}}</li>
												<li><span>Alternate Number :</span>{{assessor.singleWorker.workers_phone}}</li>
												<li><span>Employment Type :</span>{{assessor.singleWorker.worker_type==0?'Long Time':'Part Time'}}</li>
												<!-- <li>
													<span>Desired Areas of Work :</span>
													<ul>
													   <li>{{assessor.singleWorker.suburbA}}</li>
													   <li>{{assessor.singleWorker.suburbB}}</li>
													   <li>{{assessor.singleWorker.suburbC}}</li>
													   <li>{{assessor.singleWorker.suburbD}}</li>
													</ul>
												</li> -->
												<li><span>Do you like dogs? :</span>
													{{assessor.singleWorker.workers_friendlyDogs == 0 ? 'Love Dogs' : assessor.singleWorker.workers_friendlyDogs == 1 ? 'Can Tolerate' : assessor.singleWorker.workers_friendlyDogs == 2 ? 'Like Dogs' : "Don't Like Dogs" }}
												</li>
												<li><span>Do you like cats? :</span>
													{{assessor.singleWorker.workers_friendlyCats == 0 ? 'Love Cats' : assessor.singleWorker.workers_friendlyCats == 1 ? 'Can Tolerate' : assessor.singleWorker.workers_friendlyCats == 2 ? 'Like Cats' : "Don't Like Cats" }}
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="Assessment_Criteria_section" data-ng-init = "assessor.getAllSkillSet()">
							<div class="acc_star_Criteria">
								<h3>Assessment Criteria:</h3>
									
									<ol>
										<div ng-repeat = "(index,status) in assessor.allSkillSet ">
										<li>
											<span>{{status.skills_name}}</span>
											<div class="star_ratting_set" style="padding: 20px">
												<div layout="column">
													<jk-rating-stars max-rating="10" rating="status.ratingPoints" ng-click="assessor.getAssessmentRatings(status.ratingPoints, status.skills_id)" ></jk-rating-stars>
												</div>
											</div>
										</li>
										</div>
										<div ng-repeat = "(index,statusN) in assessor.newSkills ">
										<li>
											<span>{{statusN.skills_name}}</span>
											<div class="star_ratting_set" style="padding: 20px">
												<div layout="column">
													<jk-rating-stars max-rating="10" rating="statusN.ratingPoints" ng-click="assessor.getAssessmentRatings(statusN.ratingPoints, statusN.skills_id)" ></jk-rating-stars>
												</div>
											</div>
										</li>
										</div>
										<li ng-if="assessor.newSkills.length == 0">
											<span>Other</span>
											<div class="star_input_group">
												<div class="input_star_rat">
														<input type="text" ng-model = "extraSkill" id="extraSkill" class="form-control" placeholder="Please enter other skills" ><a class="add_another" ng-click="assessor.addExtraSkillArray(extraSkill)" ><i class="fa fa-plus"></i></a>

												</div>
											</div>
											
											<ul style='list-style-type: none;'> 
												<li ng-repeat = "(index,status) in assessor.extraSkillArray| unique:'skillName' ">
													<span>{{index + 1}}</span> 
													<span>{{status.skillName}}</span>
												</li>
											</ul>
 										</li>
 									</ol>
 										<div ng-if="assessor.extraSkillArray.length != 0 && assessor.newSkills.length == 0" id="addsklis">
											<input type ="submit" class="btn btn-success" value="Add Extra Skills" ng-click="assessor.saveExtraSkill(assessor.extraSkillArray)">
										</div>	
							</div>
								<div class="pr_updt">

								<!-- <form class="form-horizontal" name="rateForm" novalidate angular-validator angular-validator-submit='assessor.saveAssessmentRatings()'>

									<input type="hidden" name="worker" ng-model="assessor.rateForm.worker" ng-value = "assessor.rateForm.worker = assessor.assessmentWorker">

									<input type="hidden" name="request" ng-model="assessor.rateForm.request" ng-value = "assessor.rateForm.request = assessor.assessmentRequest">

									<input type="hidden" name="rateId" ng-model="assessor.rateForm.rateId" ng-value = "assessor.rateForm.rateId = assessor.ratingIdData">

									<input type="hidden" name="worker" ng-model="assessor.rateForm.worker" ng-value = "assessor.rateForm.worker = assessor.ratingPointData"> -->

									<a class="btn updt_btn" ng-click ="assessor.saveAssessmentRatings(assessor.assessmentWorker, assessor.assessmentRequest, assessor.ratingIdData, assessor.ratingPointData)">SUBMIT</a>
								<!-- </form>	 -->
									<a ui-sref="frontoffice.assessor.requests" class="btn updt_btn">Back</a>
								</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						