<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>My Added Angels</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="residte_tab_content">
					<div class="tab_sect">	
						<div class="tab_cont_det_all">
							<div class="tab_cont_details">
								<div class="tab_cont_head">
									<h3>Search for available Assessors</h3>
								</div>
								<div class="boook_req_table">
									<div class="book_status_form_sec">
										<div class="row">
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-5">
														<span class="label_sec">Select Area</span>
													</div>
													<div class="col-md-7">
														<div class="row">
															<div class="col-md-6" data-ng-init = "assessor.getStatesByID()">

															 <select class="form-control input_set" name="state" ng-model="assessor.search.state" ng-change="assessor.getCityByID(assessor.search.state)" ng-options="choice.stateId as choice.stateName for choice in assessor.statesList">
                                            					<option value="">Select Province</option>
                                            					</select>
															</div>
															<div class="col-md-6">
																<select class="form-control input_set" name="city" ng-model="assessor.search.city" ng-options="choice.cityId as choice.cityName for choice in assessor.cityList">
                                            					<option value="">Select City</option>
                                            					</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-5">
														<span class="label_sec">Select Assessment Date</span>
													</div>
													<div class="col-md-7">
														<div class="row">
															<div class="col-md-6 calendarcls" ng-init="assessor.bookPastDate()">
																<md-datepicker class="form-control input_set" ng-model="assessor.startDate"  md-placeholder="Date" ng-disabled="isDisabled" md-min-date="assessor.currentDate"></md-datepicker>
															</div>
															<!-- <div class="col-md-6">
																<md-datepicker ng-model="assessor.search.endDate" md-placeholder="Date" readonly="readonly"></md-datepicker>
															</div> -->
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first_sec">
												<button ng-click="assessor.changePageAssessor(1, assessor.search)" type="button" class="btn search_btn hover_effects">Search</button>
												<input type="button" class="btn search_btn hover_effects" ng-click="assessor.reset();" value="Reset" />
											</div>
										</div>
									</div>
									<div class="table_book_re_here">
										<div class="table-responsive">
											<table class="table table_set_here">
												<thead>
												  <tr>
													<th>SN</th>
													<th>Name</th>
													<th>Contact Number</th>
													<th>Province</th>
													<th>City</th>
													<th>Available on</th>
													<th>Actions</th>
												  </tr>
												</thead>
												<tbody>
				                                    <tr dir-paginate="(itemIndex, item) in assessor.allAssessors | orderBy: assessor.sortKey:assessor.reverse|itemsPerPage: assessor.listPerPage" total-items="assessor.countAllAssessors" current-page="assessor.pagination.current">
				                                        <td>{{itemIndex + 1}}</td>
				                                        <td>{{item.assessors_name}}</td>
														<td>{{item.assessors_phone}}</td>
														<td>{{item.stateName}}</td>
														<td>{{item.cityName}}</td>
														<td>{{assessor.formatDate(item.assessmentDate)}}</td>
														<td>
				                                        	<div class="action_links">
				                                        	<!-- <a ng-click="assessor.bookNextAssessment(item.assessorId,item.worker_id, item.assessmentDate)" data-toggle="modal" data-target="#bo_accepted_new_model">Book Now</a></a> -->
				                                        	<a ng-click="assessor.getTimeSlots(item.assessorId, assessor.bookWorkerID, assessor.startDate)">Book Now</a></a>
															</div>
														</td>
				                                    </tr>
				                                    <tr ng-if="assessor.allAssessors.length == 0">
				                                        <td colspan="7"><div class="alert alert-info text-center">No records found!</div></td>
				                                    </tr>
				                                </tbody>
											</table>
										</div>
									</div>
									<div class="table_pagination">
										<dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="assessor.changePage(newPageNumber,assessor.search)"></dir-pagination-controls>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="timeSlot-modal" modal ="showModal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
        
			<div class="modal-header">
			  <h4 class="modal-title">Book Assessor {{assessor.nextBookAssessor}} For Angel {{assessor.WorkerNameHead}} on available date {{assessor.formatDate(assessor.popHeadDate)}}.</h4>
			</div>

			<div class="modal-body">
			  <table class="table table_set_here_sec td_color_set">
			  	    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Available Date</th>
                            <th>Available Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(itemIndex, item) in assessor.timeslot">
                            <td>{{itemIndex + 1}}</td>
                            <td>{{assessor.formatDate(item.request_date)}} </td>
                            <td>{{assessor.convertTime(item.request_timeFrom) }} - {{ assessor.convertTime(item.request_timeTo) }}</td>
                            <td>
                            	<div ng-if ="item.bookFlag == 0">

                            		<form class="form-horizontal" name="nextBook" novalidate angular-validator angular-validator-submit='assessor.bookNextAssessment()'>

	                            		<input type="hidden" name="assessorId" ng-model="assessor.nextBook.assessorId" ng-value = "assessor.nextBook.assessorId = assessor.nextBookAssessorID">

	                            		<input type="hidden" name="worker_id" ng-model="assessor.nextBook.worker_id" ng-value = "assessor.nextBook.worker_id = assessor.bookWorkerID">

	                            		<input type="hidden" name="request_date" ng-model="assessor.nextBook.request_date" ng-value = "assessor.nextBook.request_date = item.request_date">

	                            		<input type="hidden" name="request_timeFrom" ng-model="assessor.nextBook.request_timeFrom" ng-value = "assessor.nextBook.request_timeFrom = item.request_timeFrom">

	                            		<input type="hidden" name="request_timeTo" ng-model="assessor.nextBook.request_timeTo" ng-value = "assessor.nextBook.request_timeTo = item.request_timeTo">

		                                <div class="action_links">
		                                	<button type="submit"  class=" btn btn-success">Book Now</button>
		                                </div>
	                                </form>
                                </div>
                                <div ng-if ="item.bookFlag == 1">
                                	<div class=" btn btn-danger"> Booked </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
			</div>
			<div class="modal-footer mode_foot_reschedule">
			  <button type="reset" ng-click="assessor.resetAssessment()" class="btn btn_pop_close_sec" data-dismiss="modal">Close</button>
			</div>
			
  		</div>
    </div>
</div>						