<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Calendar</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="tab_cont_det_all">
					<div class="tab_cont_details">
						<div class="back_page_btn">
						<!-- 	<a href="update_calendar.html" class="btn back_btn_here hover_effects">Update Availability</a> -->
						</div>
						<div class="profile_form_here">
							<div class="responsive_calender">

								 
                                <div class="calender" >
									<div fc fc-options="optionsObj" ng-model="events" ng-click="assessor.getRequestByDate()" ></div>
								</div>
								<div class="booking_status">
									<div><span class="Bookings_sign"></span>Bookings</div>
									<div><span class="Unavailable_sign"></span>Unavailable</div>
									<div><span class="Available_sign"></span>Available</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="responsive-modal" modal ="showModal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-ng-init ="assessor.getRequestByDate()">
        	
        	<div ng-if ="assessor.requestBydate[0].type != 0 ">
				<div class="modal-header">  
				  <h4 class="modal-title">No assessment requests for {{assessor.formatDate(assessor.selectedDate)}}.</h4>
				</div>
				
				<div class="modal-footer mode_foot_reschedule">
					<div ng-if ="assessor.requestBydate[0].type == 2 ">

						<form class="form-horizontal" name="unavailableForm" novalidate angular-validator angular-validator-submit='assessor.saveUnavailable()'>

							<input type="hidden" name="selectedDate" ng-model="assessor.unavailableForm.selectedDate" ng-value = "assessor.unavailableForm.selectedDate = assessor.selectedDate">
							<input type="hidden" name="type" ng-model="assessor.unavailableForm.type" ng-value = " assessor.unavailableForm.type = 1">

					  		<button type="submit" class="btn reschedule_btn">Mark Unavailable</button>

					  	</form>	
				  	</div>
				  	<div ng-if ="assessor.requestBydate[0].type == 1 ">

				  		<form class="form-horizontal" name="availableForm" novalidate angular-validator angular-validator-submit='assessor.saveAvailable()'>

							<input type="hidden" name="selectedDate" ng-model="assessor.availableForm.selectedDate" ng-value = "assessor.availableForm.selectedDate = assessor.selectedDate">
							<input type="hidden" name="type" ng-model="assessor.availableForm.type" ng-value = " assessor.availableForm.type = 2">

					  		<button type="submit" class="btn reschedule_btn">Mark Available</button>

					  	</form>
				  	</div>
				</div>

				<div class="modal-footer mode_foot_reschedule">
				  <button type="reset" ng-click="assessor.resetCalender()" class="btn btn_pop_close_sec" data-dismiss="modal">Close</button>
				</div>
			</div>

			<div ng-if ="assessor.requestBydate[0].type == 0 ">
				<div class="modal-header">
				  <h4 class="modal-title">Please reschedule following bookings in order to mark {{assessor.formatDate(assessor.selectedDate)}} as unavailable.</h4>
				</div>

				<div class="modal-body">
				  <div class="reschedule_book_profile">
					<ol>
					   	<li>
							<div class="profi_resh_details">
								<div class="resh_profile_list_details" ng-repeat = "(index,status) in assessor.requestBydate ">
									<span class="profil_no">{{index + 1}}</span>
									<div class="resh_profile_picher">
										<img src="../{{status.file_base_url}}" class="img-responsive img-circle" alt="profile"/>
									</div>
									<div class="resh_profile_picher_details">
										<h4>{{status.workers_name}}</h4>
										<div class="add_details_resh">
											<ul>
												<li><span>Assessment Level:</span>{{status.request_assessLevel}}</li>
												<li><span>Contact Number:</span>{{status.workers_mobile}} / {{status.workers_phone}}</li>
												<li><span>Time Slot:</span>{{ assessor.convertTime(status.request_timeFrom) }} - {{ assessor.convertTime(status.request_timeTo) }}</li>
											</ul>
										</div>
									</div>
									<button class="btn reschedule_btn" data-toggle="modal" data-target="#exampleModal" ng-click="assessor.rescheduleRequest(status.request_id)">Reschedule</button>
								</div>
							</div>
						<li>
					<ol>
				  </div>
				</div>
				<div class="modal-footer mode_foot_reschedule">
				  <button type="reset" ng-click="assessor.resetCalender()" class="btn btn_pop_close_sec" data-dismiss="modal">Close</button>
				</div>
			</div>

  		</div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  data-ng-init = "assessor.rescheduleRequest()">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Select Date reschedule the assessment booking with {{assessor.requestDataById.workers_name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <form class="form-horizontal" name="rescheduleForm" novalidate angular-validator angular-validator-submit='assessor.saveReschedule()'>
            	<div class="modal-body">
                
					<input type="hidden" name="request_id" ng-model="assessor.rescheduleForm.request_id" ng-value = "assessor.rescheduleForm.request_id = assessor.request_id">

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Date</label>
                            <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd">
                            <input ng-model="assessor.rescheduleForm.rescheduleDate" type="text" name="rescheduleDate" class="form-control" placeholder="Select reschedule Date" validate-on='dirty' required-message="'Please select date'" required autocomplete="off" />
                        </datepicker>
		            </div>
                
            	</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" ng-click="assessor.resetCalender()" >Close</button>
	                <button type="submit" class="btn btn-primary">Update</button>
	            </div>
            </form>
        </div>
    </div>
</div>
