<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Checklist</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content" data-ng-init = "assessor.getChecklist()">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="tab_cont_det_all">
					<div class="tab_cont_details">
						<div class="checklist_section_div">
							<span class="checklist_heading">The assessment of Domestic Angels will be done on following criteria. From time to time we may make changes to this list. This list is for your reference only.</span>
							<h3>Assessment Criteria</h3>
							<ol>
								<div  ng-repeat = "(index,status) in assessor.allChecklist ">
									<li> {{status.checklist_name}} </li>
								</div>
							</ol>
							
							<!-- <div class="ok_btn_div">
								<a href="update_calendar.html" class="btn ok_btn_set">OK</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						