<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);"><!--banner section start here-->
  <div class="overlay_sec"></div>
  <div class="container">
    <div class="row">
      <div class="next_bann_text">
        <h3>Assessor's Results</h3>
      </div>
    </div>
  </div>
</section><!--banner section end here-->
<section class="dashboard_content">
  <div class="container">
    <div class="row">
      <div class="dashboard_all_det">
        <div class="tab_cont_det_all">
          <div class="tab_cont_details">
            <div class="back_page_btn">
              <a ui-sref="frontoffice" class="btn back_btn_here hover_effects">Back</a>
            </div>
            <div class="tab_cont_head">
              <p>( List of all assessor available in defined time will be displayed )</p>
            </div>
            <div class="profile_form_here">
              <div class="row">
                <div class="col-md-6">
                  <div class="profie_here">
                    <div class="profile_detilas">
                      <span class="profil_mainhere">
                        <img src="assets/front/img/profile_img.png" class="img-responsive img-thumbnail img_profile_set" alt="profile">
                      </span>
                      <div class="profil_set_bl">
                        <span class="profil_name">Assessor Name : David</span>
                        <span class="profil_name address">Assessor Address : 123 6th St.Melbourne, FL 32904</span>
                        <a ui-sref="frontoffice.assessor.book" class="btn profile_btn hover_effects_sec">Book Appointment</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profie_here">
                    <div class="profile_detilas">
                      <span class="profil_mainhere">
                        <img src="assets/front/img/profile_img.png" class="img-responsive img-thumbnail img_profile_set" alt="profile">
                      </span>
                      <div class="profil_set_bl">
                        <span class="profil_name">Assessor Name : Brad</span>
                        <span class="profil_name address">Assessor Address : 4 Goldfield Rd.Honolulu, HI 96815</span>
                        <a ui-sref="frontoffice.assessor.book" class="btn profile_btn_sec hover_effects">Book Appointment</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profie_here">
                    <div class="profile_detilas">
                      <span class="profil_mainhere">
                        <img src="assets/front/img/profile_img.png" class="img-responsive img-thumbnail img_profile_set" alt="profile">
                      </span>
                      <div class="profil_set_bl">
                        <span class="profil_name">Assessor Name : Matt</span>
                        <span class="profil_name address">Assessor Address : 514 S. Magnolia St.Orlando, FL 32806</span>
                        <a ui-sref="frontoffice.assessor.book" class="btn profile_btn_sec hover_effects">Book Appointment</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profie_here">
                    <div class="profile_detilas">
                      <span class="profil_mainhere">
                        <img src="assets/front/img/profile_img.png" class="img-responsive img-thumbnail img_profile_set" alt="profile">
                      </span>
                      <div class="profil_set_bl">
                        <span class="profil_name">Assessor Name : Steve</span>
                        <span class="profil_name address">Assessor Address : 71 Pilgrim Avenue Chevy Chase, MD 20815</span>
                        <a ui-sref="frontoffice.assessor.book" class="btn profile_btn_sec hover_effects">Book Appointment</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>