<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>My Added Angels</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="residte_tab_content">
					<div class="tab_sect">	
						<div class="tab_cont_det_all">
							<div class="tab_cont_details">
								<div class="tab_cont_head">
									<h3>Search for Bookings</h3>
								</div>
								<div class="boook_req_table">
									<div class="book_status_form_sec">
										<div class="row">
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-2">
														<span class="label_sec">Keyword</span>
													</div>
													<div class="col-md-10">
														<input type="text" ng-model="assessor.search.name" placeholder="Enter Name, phone, cafe" class="form-control input_set" />
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-2">
														<span class="label_sec">Select Area</span>
													</div>
													<div class="col-md-10">
														<div class="row">
															<div class="col-md-6" data-ng-init = "assessor.getStatesByID()">

																<select class="form-control input_set" name="state" ng-model="assessor.search.state" ng-change="assessor.getCityByID(assessor.search.state)" ng-options="choice.stateId as choice.stateName for choice in assessor.statesList">
                                            						<option value="">Select Province</option>
                                            					</select>
															</div>
															<div class="col-md-6">
																<select class="form-control input_set" name="city" ng-model="assessor.search.city" ng-options="choice.cityId as choice.cityName for choice in assessor.cityList">
                                            						<option value="">Select City</option>
                                            					</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-2">
														<span class="label_sec">Select Booking Request Period</span>
													</div>
													<div class="col-md-10">
														<div class="row">
															<div class="col-md-6 calendarcls">
																<md-datepicker class="form-control input_set" ng-model="assessor.search.startDate"  md-placeholder="Start Date" ng-disabled="isDisabled"></md-datepicker>
															</div>
															<div class="col-md-6 calendarcls">
																<md-datepicker class="form-control input_set" ng-model="assessor.search.endDate" md-placeholder="End Date" md-min-date="assessor.search.startDate" ng-disabled="isDisabled"></md-datepicker>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-2">
														<span class="label_sec">Status</span>
													</div>
													<div class="col-md-10">
														<div class="row">
															<div class="col-md-6">
																<select class="form-control selec_yag_meu"  ng-model="assessor.search.status" ng-options="choice.id as choice.status for choice in assessor.statusList">
																	<option value="">Select Status</option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-2">
														<span class="label_sec">Assessment Level</span>
													</div>
													<div class="col-md-10">
														<div class="row">
															<div class="col-md-6">
																<select class="form-control selec_yag_meu" ng-model="assessor.search.level" ng-options="choice.id as choice.level for choice in assessor.levelList">
																	<option value="">Select Option</option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first_sec">
												<button ng-click="assessor.changePage(1, assessor.search)" type="button" class="btn search_btn hover_effects">Search</button>
												<input type="button" class="btn search_btn hover_effects" ng-click="assessor.reset();" value="Reset" />
											</div>
										</div>
									</div>
									<div class="table_book_re_here">
										<div class="table-responsive">
											<table class="table table_set_here">
												<thead>
												  <tr>
													<th>SN</th>
													<th>Worker Name</th>
													<th>Contact Number</th>
													<th>Cafe Name</th>
													<th>Assessment Level</th>
													<th>Province</th>
													<th>City</th>
													<th>Date of Assessment</th>
													<th>Time slot</th>
													<th>Ratings Given</th>
													<th>Skills Added</th>
													<th>Status</th>
													<th>Actions</th>
												  </tr>
												</thead>
												<tbody>
				                                    <tr dir-paginate="(itemIndex, item) in assessor.allAddedWorkers | orderBy: assessor.sortKey:assessor.reverse|itemsPerPage: assessor.listPerPage" total-items="assessor.countAllAddedWorkers" current-page="assessor.pagination.current">
				                                        <td>{{itemIndex + 1}}</td>
				                                        <td>{{item.workers_name}}</td>
														<td>{{item.workers_phone}} / {{item.workers_mobile}}</td>
														<td>{{item.cafeusers_name}}</td>
														<td>{{item.request_assessLevel==0 ? 'First':'Final'}}</td>
														<td>{{item.stateName}}</td>
														<td>{{item.cityName}}</td>
				                                        <td>{{ assessor.formatDate(item.request_date) }}</td>
				                                        <td>{{ assessor.convertTime(item.request_timeFrom) }} - {{ assessor.convertTime(item.request_timeTo) }}</td>
				                                        <td>{{ item.ratings }}</td>
				                                        <td>{{ item.skills }}</td>
				                                        <td>{{item.status == 0 ? 'Pending' : item.status == 1 ? 'Accepted' : item.status == 2 ? 'Rejected' : item.status == 3 ? 'Qualified' : "Disqualified" }}</td>
				                                        <td>
				                                        	<div ng-if = "item.request_assessLevel == '0' && item.status == 3 && item.assessorRequest_next == 0 " >
																<div class="action_links">
																	<a ui-sref="frontoffice.assessor.allAssessors({ids:item.workerId})">Schedule 2nd Appointment</a>
																</div>
															</div>
														</td>
				                                    </tr>
				                                    <tr ng-if="assessor.allAddedWorkers.length == 0">
				                                        <td colspan="12"><div class="alert alert-info text-center">No records found!</div></td>
				                                    </tr>
				                                </tbody>
											</table>
										</div>
									</div>
									<div class="table_pagination">
										<dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="assessor.changePage(newPageNumber,assessor.search)"></dir-pagination-controls>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
