<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Booking Request</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="residte_tab_content">
					<div class="tab_sect">	
						<div class="tab_cont_det_all">
							<div class="tab_cont_details">
								<div class="tab_cont_head">
									<h3>Search for Bookings</h3>
								</div>
								<div class="boook_req_table">
									<div class="book_status_form_sec">
										<div class="row">
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-3">
														<span class="label_sec">Keyword</span>
													</div>
													<div class="col-md-9">
														<input type="text" ng-model="assessor.search.name" placeholder="Enter Name, phone, cafe" class="form-control input_set" />
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-3">
														<span class="label_sec">Select Area</span>
													</div>
													<div class="col-md-9">
														<div class="row">
															<div class="col-md-6" data-ng-init = "assessor.getStatesByID()">

															 <select class="form-control input_set" name="state" ng-model="assessor.search.state" ng-change="assessor.getCityByID(assessor.search.state)" ng-options="choice.stateId as choice.stateName for choice in assessor.statesList">
                                            					<option value="">Select Province</option>
                                            					</select>
															</div>
															<div class="col-md-6">
																<select class="form-control input_set" name="city" ng-model="assessor.search.city" ng-options="choice.cityId as choice.cityName for choice in assessor.cityList">
                                            					<option value="">Select City</option>
                                            					</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first">
												<div class="row">
													<div class="col-md-3">
														<span class="label_sec">Select Booking Request Period</span>
													</div>
													<div class="col-md-9">
														<div class="row">
															<div class="col-md-6 calendarcls">
																<md-datepicker class="form-control input_set" ng-model="assessor.search.startDate"  md-placeholder="Start Date" ng-disabled="isDisabled""></md-datepicker>
															</div>
															<div class="col-md-6 calendarcls">
																<md-datepicker class="form-control input_set" ng-model="assessor.search.endDate" md-placeholder="End Date" ng-disabled="isDisabled" md-min-date="assessor.search.startDate"></md-datepicker>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="book_stat_first_sec">
												<button ng-click="assessor.changePage(1, assessor.search)" type="button" class="btn search_btn hover_effects">Search</button>
												<input type="button" class="btn search_btn hover_effects" ng-click="assessor.reset();" value="Reset" />
											</div>
										</div>
									</div>
									<div class="table_book_re_here" data-ng-init = "assessor.getAllRequests()">
										<div class="table-responsive">
											<table class="table table_set_here">
												<thead>
												  <tr>
													<th>SN</th>
													<th>Worker Name</th>
													<th>Contact Number</th>
													<th>Cafe Name</th>
													<th>Assessment Level</th>
													<th>Skills</th>
													<th>Ratings</th>
													<th>Province</th>
													<th>City</th>
													<th>Assessment date</th>
													<th>Time slot</th>
													<th>Actions</th>
												  </tr>
												</thead>
												<tbody>
				                                    <tr dir-paginate="(itemIndex, item) in assessor.allRequests | orderBy: assessor.sortKey:assessor.reverse|itemsPerPage: assessor.listPerPage" total-items="assessor.countAllRequests" current-page="assessor.pagination.current">
				                                        <td>{{itemIndex + 1}}</td>
				                                        <td>{{item.workers_name}}</td>
														<td>{{item.workers_phone}} / {{item.workers_mobile}}</td>
														<td>{{item.cafeusers_name}}</td>
														<td>{{item.request_assessLevel==0 ? 'First':'Final'}}</td>
														<td>{{item.skills}}</td>
														<td>{{item.ratings}}</td>
														<td>{{item.stateName}}</td>
														<td>{{item.cityName}}</td>
				                                        <td>{{ assessor.formatDate(item.request_date) }} </td>
				                                        <td>{{ assessor.convertTime(item.request_timeFrom) }} - {{ assessor.convertTime(item.request_timeTo) }}</td>
				                                        <td>
															<div class="action_links">
																<a ui-sref="frontoffice.assessor.workerView({id: item.workerId, request_id:item.request_id})">View Profile</a>
																<div ng-if = "item.status == 0" >
																	<a ng-click="assessor.acceptRequest(item.assessor_id, item.request_id)" data-toggle="modal" data-target="#myModal_booking_accepted">Accept</a>
																	<a ng-click="assessor.rejectRequest(item.assessor_id, item.request_id)" data-toggle="modal" data-target="#myModal_booking_rejected">Reject</a>
																</div>
																<div ng-if = "item.status == 1" >
																	<div ng-if = "assessor.dateFormatData(item.request_date) == assessor.dateFormatData(assessor.today)">
																		<a ui-sref="frontoffice.assessor.assessment({id: item.workerId, request_id:item.request_id })" data-toggle="modal" data-target="#myModal_booking_accepted">Start Assessment</a>
																	</div>
																	<!-- <div ng-if="assessor.dateFormatData(item.request_date) > assessor.dateFormatData(assessor.today)">
																		<a ng-click="assessor.ErrorToster()" data-toggle="modal" data-target="#myModal_booking_accepted">Start Assessment</a>
																	</div> -->
																</div>
															</div>
														</td>
				                                    </tr>
				                                    <tr ng-if="assessor.allRequests.length == 0">
				                                        <td colspan="12"><div class="alert alert-info text-center">No records found!</div></td>
				                                    </tr>
				                                </tbody>
											</table>
										</div>
									</div>
									<div class="table_pagination">
										<dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="assessor.changePage(newPageNumber,assessor.search)"></dir-pagination-controls>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						