<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Assessor Calendar</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        <div class="back_page_btn">
                            <a ui-sref="frontoffice.assessor" class="btn back_btn_here hover_effects">Back</a>
                        </div>
                        <div class="profile_form_here">
                            <div class="responsive_calender">
                                <div class="calender">
                                    <ul class="month">
                                        <li>
                                          <h1>January</h1>
                                          <h2>2016</h2>
                                        </li>
                                        <span class="prev"><img src="assets/front/img/left_arrow.png" class="img-responsive arro_size" alt="arrow"/></span>
                                        <span class="next"><img src="assets/front/img/right_arrow.png" class="img-responsive arro_size" alt="arrow"/></span>
                                    </ul>
                                    <ul class="weeks">
                                        <li>Sa</li>
                                        <li>Su</li>
                                        <li>Mo</li>
                                        <li>Tu</li>
                                        <li>We</li>
                                        <li>Th</li>
                                        <li>Fr</li>
                                    </ul>
                                    <ul class="days">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_pop_up">
                            <!-- <div class="booxed_text">
                                <div class="checkbox chek_bo_h_sec">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="checkbox_sec" for="checkbox1"></label>
                                </div>
                                <h4>Booked</h4>
                            </div> -->
                            <div class="boox_slot_popup">
                                <button type="button" class="btn pop_up_btn hover_effects_sec" data-toggle="modal" data-target="#myModal">Book a Slot</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>