<section class="banner_sec_section" style="background-image:url(../assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Worker Profile</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="tab_cont_det_all">
					<div class="tab_cont_details">
						<div class="main_heading">
							<h3>{{assessor.singleWorker.workers_name}} Profile</h3>
						</div>
						<div class="tab_cont_head">
							<h4>Worker Profile:</h4>
						</div>
						<div class="profile_form_here">
							<div class="row">
								<div class="col-md-3">
									<div class="profile_img">
										<img src="{{assessor.singleWorker.workers_image}}" class="img-responsive" alt="profile"/>
										<h5>Profile Image</h5>
									</div>
								</div>
								
								<div class="col-md-9">
									<div class="profile_new_f">
										<div class="profile_deta">
											<ul>

												<li><span>Name :</span>{{assessor.singleWorker.workers_name}}</li>
												<li><span>Email :</span>{{assessor.singleWorker.workers_email}}</li>

												<li><span  class="col-md-2" style="margin-left: -15px;">Address :</span>
                                                <div class="col-md-7">
                                                {{assessor.singleWorker.workers_address}}
                                                </div>
                                                </li>
                                                
												<li><span>Photo ID :</span>
													<a ng-href="{{assessor.singleWorker.workers_photoIdentity}}" target="_blank"><img ng-src="../assets/front/img/Alberta-ID-card-callout.jpg" class="img-responsive img_pro_min"/></a>
												</li>
												
												<li><span>Photo ID Expiry Date :</span>
												{{assessor.singleWorker.workers_expiryDateYear}}</li>

												<li><span>Criminal Record :</span>
													<a ng-href="{{assessor.singleWorker.workers_criminal_report}}" target="_blank"><img src="../assets/front/img/docfile.png" class="img-responsive img_pro_min"/></a> 
 												</li>

												<li><span>Contact Number :</span>{{assessor.singleWorker.workers_mobile}}</li>
												<li><span>Alternate Number :</span>{{assessor.singleWorker.workers_phone}}</li>
												<li><span>Employment Type :</span>{{assessor.singleWorker.worker_type==0?'Long Time':'Part Time'}}</li>
												<li><span>Code of Conduct :</span>
												<a ng-href="{{assessor.singleWorker.workers_codeConduct}}" target="_blank"><img src="../assets/front/img/docfile.png" class="img-responsive img_pro_min"/></a> 
												</li>
												
												<li><span>Digital Agreement :</span>{{assessor.singleWorker.workers_digitalAgreement==0?'Not Accepted':'Accepted'}}</li>
												<!-- <li>
													<span>Desired Areas of Work :</span>
													<ul >
													   <li>{{assessor.singleWorker.suburbA}}</li>
													   <li>{{assessor.singleWorker.suburbB}}</li>
													   <li>{{assessor.singleWorker.suburbC}}</li>
													   <li>{{assessor.singleWorker.suburbD}}</li>
													</ul>
												</li> -->
												<li><span>Do you like dogs? :</span>
													{{assessor.singleWorker.workers_friendlyDogs == 0 ? 'Love Dogs' : assessor.singleWorker.workers_friendlyDogs == 1 ? 'Can Tolerate' : assessor.singleWorker.workers_friendlyDogs == 2 ? 'Like Dogs' : "Don't Like Dogs" }}
												</li>
												<li><span>Do you like cats? :</span>
													{{assessor.singleWorker.workers_friendlyCats == 0 ? 'Love Cats' : assessor.singleWorker.workers_friendlyCats == 1 ? 'Can Tolerate' : assessor.singleWorker.workers_friendlyCats == 2 ? 'Like Cats' : "Don't Like Cats" }}
												</li>
											</ul>
										</div>
										<div class="pr_updt">

											<div ng-if ="assessor.requestData.status == 0 ">
												<div id="acceptReq">
													<a ng-click="assessor.acceptRequest(assessor.singleWorker.user_id, assessor.requestData.requestId)" class="btn updt_btn">Accept</a>
													<a ng-click="assessor.rejectRequest(assessor.singleWorker.user_id, assessor.requestData.requestId)" class="btn reject_btn">Reject</a>
													<a ui-sref="frontoffice.assessor.requests" class="btn back_btn_here hover_effects">Back</a>
												</div>
												<div id="startAss" style="display: none;">

													<div ng-if = "assessor.dateFormatData(assessor.singleWorker.request_date) == assessor.dateFormatData(assessor.today)">
														<a ui-sref="frontoffice.assessor.assessment({id: assessor.singleWorker.user_id, request_id:assessor.requestData.requestId })" class="btn back_btn_here hover_effects">Start Assessment</a>
													</div>
													<!-- <div ng-if="assessor.dateFormatData(assessor.singleWorker.request_date) <assessor.dateFormatData(assessor.today)">
														<a ng-click="assessor.ErrorToster()" data-toggle="modal" data-target="#myModal_booking_accepted">Start Assessment</a>
													</div> -->
													
													<a ui-sref="frontoffice.assessor.requests" class="btn back_btn_here hover_effects">Back</a>
												</div>
											</div>

											<div ng-if ="assessor.requestData.status == 1 ">
												<div class="asseso_btn_group" ng-if = "assessor.dateFormatData(assessor.singleWorker.request_date) == assessor.dateFormatData(assessor.today)">
														<a ui-sref="frontoffice.assessor.assessment({id: assessor.singleWorker.user_id, request_id:assessor.requestData.requestId })" class="btn back_btn_here hover_effects">Start Assessment</a>
												</div>
												<!-- <div class="asseso_btn_group" ng-if="assessor.dateFormatData(assessor.singleWorker.request_date) <assessor.dateFormatData(assessor.today)">
													<a ng-click="assessor.ErrorToster()" class="btn back_btn_here hover_effects">Start Assessment</a>

												</div> -->
												<a  ui-sref="frontoffice.assessor.requests" class="btn back_btn_here hover_effects">Back</a>
											</div>
											<div ng-if ="assessor.requestData.status == 2 ">
												<a ui-sref="frontoffice.assessor.requests" class="btn back_btn_here hover_effects">Back</a>
											</div>
											<div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
						