<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{banner.title}} Banner</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.banner" class="btn btn-info btn-flat pull-left">Back to All Banner List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="bannerForm" novalidate angular-validator angular-validator-submit='banner.saveBanner()'>
                                
                                <input ng-if="banner.editFlag" type="hidden" name="banner_id" ng-model="banner.bannerForm.banner_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Title<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="banner_title" ng-model="banner.bannerForm.banner_title" placeholder="Enter Title" validate-on='dirty' required required-message="'Please enter title'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" name="banner_description" ng-model="banner.bannerForm.banner_description" placeholder="Enter Description" validate-on='dirty' required required-message="'Please enter description!'" maxlength="300" /></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Banner Image upload<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <img style="width:750px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;height: 300px;" ngf-thumbnail="banner.bannerForm.file || '../assets/admin/img/banner_img.png'"/>
                                        
                                        <input type="file" class="form-control" ngf-select ng-model="banner.bannerForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  required required-message="'Please select banner image!'" ngf-min-width="1000" ngf-min-height="600" />          
                                        
                                        <i ng-show="banner.bannerForm.file.$error.required"> *required </i>
                                        <i ng-show="banner.bannerForm.file.$error.maxSize"> File too large {{banner.bannerForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                        <br/>
                                        <label>Note: Image size must be minimum 1000x600 px (Width x Height)!</label>

                                        
                                        
                                    </div>                                    
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Location<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="banner_location" ng-model="banner.bannerForm.banner_location" validate-on='dirty' ng-options="choice.id as choice.name for choice in banner.locationList" required required-message="'Please select banner location!'">
                                            <option value="">Select Location</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="banner.bannerForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in banner.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="banner.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!banner.editFlag" ng-disabled="banner.isDisabledButton">Reset</button>
                                        <a class="btn btn-warning" ng-if="banner.editFlag" ui-sref="backoffice.banner">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>