<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Banner List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{banner.totalBanner}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.banner.create" class="btn btn-info btn-flat pull-left">Add New Banner</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="banner.getBannerList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="banner.sort('banner_id')">Id
                                                <span ng-show="banner.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!banner.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="banner.sort('banner_title')">Title 
                                                <span ng-show="banner.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!banner.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="banner.sort('banner_location')">Location 
                                                <span ng-show="banner.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!banner.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="banner.sort('created_at')">Created At
                                                <span ng-show="banner.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!banner.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>                                        
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="banner.sort('status')">Status
                                                <span ng-show="banner.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!banner.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="banner.search.banner_id" ng-keyup="banner.changePage(1, banner.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="banner.search.banner_title" ng-keyup="banner.changePage(1, banner.search)" placeholder="Title" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="banner.search.	banner_location" ng-change="banner.changePage(1,banner.search)" ng-options="choice.id as choice.name for choice in banner.locationList">
                                                <option value="">Location</option>     
                                            </select>                                            
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="banner.search.created_at" ng-change="banner.changePage(1,banner.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>                                        
                                        <td>
                                            <select class="form-control" ng-model="banner.search.status" ng-change="banner.changePage(1,banner.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="banner.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in banner.bannerList | orderBy: banner.sortKey:banner.reverse|itemsPerPage: banner.bannerPerPage" total-items="banner.totalBanner" current-page="banner.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.banner.view({id:{{item.banner_id}} })">{{item.banner_id}}</a>
                                        </td>
                                        <td><span><img style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;height: 100px;" ng-src="{{item.file}}"/></span></br>{{item.banner_title}} </td>
                                        <td>{{item.banner_location}}</td>
                                        <td class="text-center">{{ banner.formatDate(item.created_at) }}</td>                                        
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="banner.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.banner.view({id: item.banner_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.banner.edit({id: item.banner_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="banner.deleteBanner(item.banner_id, item.defaults, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="banner.bannerList.length == 0 && banner.bannerListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="banner.changePage(newPageNumber,banner.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>



