<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Banner</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.banner" class="btn btn-info btn-flat pull-left">Back to All Banner List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{banner.singleBanner.banner_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{banner.singleBanner.banner_title}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{banner.singleBanner.banner_description}}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>{{banner.singleBanner.banner_location}}</td>
                                    </tr>
                                    <tr>
                                        <th>Banner</th>
                                        <td><span style="margin-left: 10px;"><img style="width:750px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;height: 350px;" ng-src="{{banner.singleBanner.file}}"/></span></td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="banner.singleBanner.status == 1 ? 'label-success' : 'label-warning'">
                                                {{banner.singleBanner.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{banner.formatDate(banner.singleBanner.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{banner.formatDate(banner.singleBanner.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>