<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{emailsetup.title}} Email</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.emailsetup" class="btn btn-info btn-flat pull-left">Back to All Email List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="mailForm" novalidate angular-validator angular-validator-submit='emailsetup.saveMail()'>
                                
                                <input ng-if="emailsetup.editFlag" type="hidden" name="email_id" ng-model="emailsetup.mailForm.email_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="email_type" ng-model="emailsetup.mailForm.email_type" validate-on='dirty' ng-options="choice.id as choice.name for choice in emailsetup.locationList" required required-message="'Please select emailsetup type!'">
                                            <option value="">Select Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email Address<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email_text" ng-model="emailsetup.mailForm.email_text" placeholder="Enter Email Address" validate-on='dirty' required required-message="'Please enter email address!'" invalid-message="'Invalid email address entered'"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="emailsetup.mailForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in emailsetup.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="emailsetup.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!emailsetup.editFlag" ng-disabled="emailsetup.isDisabledButton">Reset</button>
                                        <a class="btn btn-warning" ng-if="emailsetup.editFlag" ui-sref="backoffice.emailsetup" ng-disabled="emailsetup.isDisabledButton">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>