<div class="row m-t-20" ng-if="pages.length > 0">
    <div class="col-6">
        <div class="range-label">Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}</div>
    </div>
    <div class="col-6">
        <ul class="pagination pull-right">
            <li class="page-item" ng-class="{ disabled : pagination.current == 1 }">
                <a class="page-link" title="Previous" tabindex="-1" ng-click="setCurrent(pagination.current - 1)">Previous</a>
            </li>
            <li class="page-item" ng-repeat="page in pages" ng-class="page == pagination.current ? 'active' : ''">
                <a ng-class="page == pagination.current ? 'selected' : ''" title="{{page}}" ng-click="setCurrent(page)">{{page}}</a>
            </li>
            <li class="page-item" ng-class="{ disabled : pagination.current == pagination.last }">
                <a class="page-link" title="Next" ng-click="setCurrent(pagination.current + 1)">Next</a>
            </li>
        </ul>
    </div>
</div>