<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li ng-class="{ active: siderbar.isActive('/') }"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard </span></a>
                </li>
                <li class="nav-devider"></li>
                
                <li ng-class="[{ active: siderbar.isActive('/cafeUser') }, { active: siderbar.isActive('/workerUser') }, { active: siderbar.isActive('/assessorsUser') }, { active: siderbar.isActive('/clientUser') }, { active: siderbar.isActive('/adminUser') }]"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu">Users</span></a>
                    
                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/cafeUser') }, { in: siderbar.isActive('/workerUser') }, { in: siderbar.isActive('/assessorsUser') }, { in: siderbar.isActive('/clientUser') }, { in: siderbar.isActive('/adminUser') }]">                        
                        <li ng-class="{ active: siderbar.isActive('/adminUser') }"><a ng-class="{ active: siderbar.isActive('/adminUser') }" ui-sref="backoffice.adminUser">Administrator</a></li>
                        <li ng-class="{ active: siderbar.isActive('/assessorsUser') }"><a ng-class="{ active: siderbar.isActive('/assessorsUser') }" ui-sref="backoffice.assessorsUser">Assessors</a></li>
                        <li ng-class="{ active: siderbar.isActive('/clientUser') }"><a ng-class="{ active: siderbar.isActive('/clientUser') }" ui-sref="backoffice.clientUser">Client</a></li>
                        <li ng-class="{ active: siderbar.isActive('/cafeUser') }"><a ng-class="{ active: siderbar.isActive('/cafeUser') }" ui-sref="backoffice.cafeUser">Internet Cafe</a></li>
                        <li ng-class="{ active: siderbar.isActive('/workerUser') }"><a ng-class="{ active: siderbar.isActive('/workerUser') }" ui-sref="backoffice.workerUser">Worker</a></li>
                        <!-- <li><a ui-sref="backoffice.subAdminUser">Sub Admin</a></li> -->
                    </ul>
                </li>

                <li ng-class="[{ active: siderbar.isActive('/claim') }, { active: siderbar.isActive('/claimCategory') }]"> 
                    <a class="has-arrow waves-effect waves-dark" ui-sref="backoffice.claim" aria-expanded="false"><i class="mdi mdi-radio-tower"></i><span class="hide-menu">Claim</span></a>

                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/claim') }, { in: siderbar.isActive('/claimCategory') }]">
                        <li ng-class="{ active: siderbar.isActive('/claim') }"><a ng-class="{ active: siderbar.isActive('/claim') }" ui-sref="backoffice.claim">Claim</a></li>
                        <li ng-class="{ active: siderbar.isActive('/claimCategory') }"><a ng-class="{ active: siderbar.isActive('/claimCategory') }" ui-sref="backoffice.claimCategory">Claim Category</a></li> 
                    </ul>
                </li>

                <li ng-class="[{ active: siderbar.isActive('/allBooking') }, { active: siderbar.isActive('/allBooking/weekly') }]"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.allBooking"><i class="mdi mdi-bookmark-plus"></i><span class="hide-menu">Booking</span></a>
                </li> 

                <li ng-class="[{ active: siderbar.isActive('/paymentSuccess') }, { active: siderbar.isActive('/paymentUnsuccess') }, { active: siderbar.isActive('/paymentCancel') }, { active: siderbar.isActive('/paymentPending') }]"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Payment</span></a>

                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/paymentSuccess') }, { in: siderbar.isActive('/paymentUnsuccess') }, { in: siderbar.isActive('/paymentCancel') }, { in: siderbar.isActive('/paymentPending') }]">
                        <li ng-class="{ active: siderbar.isActive('/paymentSuccess') }"><a ng-class="{ active: siderbar.isActive('/paymentSuccess') }" ui-sref="backoffice.paymentSuccess">Successful</a></li>
                        <!-- <li ng-class="{ active: siderbar.isActive('/paymentUnsuccess') }"><a ng-class="{ active: siderbar.isActive('/paymentUnsuccess') }" ui-sref="backoffice.paymentUnsuccess">Unsuccessful</a></li>  -->
                        <li ng-class="{ active: siderbar.isActive('/paymentCancel') }"><a ng-class="{ active: siderbar.isActive('/paymentCancel') }" ui-sref="backoffice.paymentCancel">Cancelled</a></li>
                        <li ng-class="{ active: siderbar.isActive('/paymentPending') }"><a ng-class="{ active: siderbar.isActive('/paymentPending') }" ui-sref="backoffice.paymentPending">Pending</a></li>  
                        <li ng-class="{ active: siderbar.isActive('/paymentRefund') }"><a ng-class="{ active: siderbar.isActive('/paymentRefund') }" ui-sref="backoffice.paymentRefund">Refund</a></li>  
                    </ul>
                </li> 

                <li ng-class="{ active: siderbar.isActive('/role') }"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.role"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Roles </span></a>
                </li>   

                <li ng-class="{ active: siderbar.isActive('/suburbs') }"> 
                    <a class="waves-effect waves-dark" ui-sref="backoffice.suburbs"><i class="mdi mdi-car"></i><span class="hide-menu">Cab Booking</span></a>
                </li>   

                <!-- <li ng-class="{ active: siderbar.isActive('/transReport') }">
                    <a class="waves-effect waves-dark" ui-sref="backoffice.transReport"><i class="mdi mdi-gauge"></i><span class="hide-menu">Transaction Report</span></a>
                </li> -->

                <li ng-class="{ active: siderbar.isActive('/walletTopUp') }">
                    <a class="waves-effect waves-dark" ui-sref="backoffice.walletTopUp"><i class="mdi mdi-gauge"></i><span class="hide-menu">Top Up Wallet</span></a>
                </li>

                <li ng-class="[{ active: siderbar.isActive('/support') }, { active: siderbar.isActive('/earlyPay') }, { active: siderbar.isActive('/leaveManage') }]"> 
                    <a class="has-arrow waves-effect waves-dark" ui-sref="backoffice.support" aria-expanded="false"><i class="mdi mdi-wrench"></i><span class="hide-menu">Management</span></a>

                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/support') }, { in: siderbar.isActive('/earlyPay') }, { in: siderbar.isActive('/leaveManage') }]">
                        <li ng-class="{ active: siderbar.isActive('/support') }"><a ng-class="{ active: siderbar.isActive('/support') }" ui-sref="backoffice.support">Support</a></li>
                        <li ng-class="{ active: siderbar.isActive('/earlyPay') }"><a ng-class="{ active: siderbar.isActive('/earlyPay') }" ui-sref="backoffice.earlyPay">Early Pay Request</a></li>
                        <li ng-class="{ active: siderbar.isActive('/leaveManage') }"><a ng-class="{ active: siderbar.isActive('/leaveManage') }" ui-sref="backoffice.leaveManage">Worker Leaves</a></li>
                    </ul>
                </li>

                <li ng-class="[{ active: siderbar.isActive('/rating') }, { active: siderbar.isActive('/faq') }, { active: siderbar.isActive('/leave') }, { active: siderbar.isActive('/tutorial') }, { active: siderbar.isActive('/checklist') }, { active: siderbar.isActive('/skills') }, { active: siderbar.isActive('/serviceType') }, { active: siderbar.isActive('/weekService') }, { active: siderbar.isActive('/cleaningArea') }, { active: siderbar.isActive('/amenities') }, { active: siderbar.isActive('/promocode') }, { active: siderbar.isActive('/suburb') }, { active: siderbar.isActive('/tasklist') }, { active: siderbar.isActive('/tasklistClient') }, { active: siderbar.isActive('/suspension') }, { active: siderbar.isActive('/buyCredit') }]"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-server-network"></i><span class="hide-menu">Services</span></a>

                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/rating') }, { in: siderbar.isActive('/faq') }, { in: siderbar.isActive('/leave') }, { in: siderbar.isActive('/tutorial') }, { in: siderbar.isActive('/checklist') }, { in: siderbar.isActive('/skills') }, { in: siderbar.isActive('/serviceType') }, { in: siderbar.isActive('/weekService') }, { in: siderbar.isActive('/cleaningArea') }, { in: siderbar.isActive('/amenities') }, { in: siderbar.isActive('/promocode') }, { in: siderbar.isActive('/suburb') }, { in: siderbar.isActive('/tasklist') }, { in: siderbar.isActive('/tasklistClient') }, { in: siderbar.isActive('/suspension') }, { in: siderbar.isActive('/buyCredit') }]">
                        <li ng-class="{ active: siderbar.isActive('/rating') }"><a ng-class="{ active: siderbar.isActive('/rating') }" ui-sref="backoffice.rating">Rating</a></li>
                        <li ng-class="{ active: siderbar.isActive('/faq') }"><a ng-class="{ active: siderbar.isActive('/faq') }" ui-sref="backoffice.faq">FAQs </a></li>
                        <li ng-class="{ active: siderbar.isActive('/leave') }"><a ng-class="{ active: siderbar.isActive('/leave') }" ui-sref="backoffice.leave">Leave </a></li>
                        <li ng-class="{ active: siderbar.isActive('/tutorial') }"><a ng-class="{ active: siderbar.isActive('/tutorial') }" ui-sref="backoffice.tutorial">Tutorial </a></li>
                        <li ng-class="{ active: siderbar.isActive('/checklist') }"><a ng-class="{ active: siderbar.isActive('/checklist') }" ui-sref="backoffice.checklist">Check List</a></li> 
                        <li ng-class="{ active: siderbar.isActive('/skills') }"><a ng-class="{ active: siderbar.isActive('/skills') }" ui-sref="backoffice.skills">Worker Skills</a></li>
                        <li ng-class="{ active: siderbar.isActive('/serviceType') }"><a ng-class="{ active: siderbar.isActive('/serviceType') }" ui-sref="backoffice.serviceType">Service Type</a></li>
                        <li ng-class="{ active: siderbar.isActive('/weekService') }"><a ng-class="{ active: siderbar.isActive('/weekService') }" ui-sref="backoffice.weekService">Weekly Service</a></li>  
                        <li ng-class="{ active: siderbar.isActive('/cleaningArea') }"><a ng-class="{ active: siderbar.isActive('/cleaningArea') }" ui-sref="backoffice.cleaningArea">Cleaning Area</a></li>
                        <li ng-class="{ active: siderbar.isActive('/amenities') }"><a ng-class="{ active: siderbar.isActive('/amenities') }" ui-sref="backoffice.amenities">Amenities</a></li>
                        <li ng-class="{ active: siderbar.isActive('/promocode') }"><a ng-class="{ active: siderbar.isActive('/promocode') }" ui-sref="backoffice.promocode">Promo Code</a></li>
                        <li ng-class="{ active: siderbar.isActive('/suburb') }"><a ng-class="{ active: siderbar.isActive('/suburb') }" ui-sref="backoffice.suburb">Suburb</a></li>
                        
                        <li ng-class="[{ active: siderbar.isActive('/tasklist') }, { active: siderbar.isActive('/tasklistClient') }]">
                            <a class="has-arrow" ui-sref="backoffice.tasklist" aria-expanded="false">Task List</a>

                            <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/tasklist') }, { in: siderbar.isActive('/tasklistClient') }]">
                                <li ng-class="{ active: siderbar.isActive('/tasklist') }"><a ng-class="{ active: siderbar.isActive('/tasklist') }" ui-sref="backoffice.tasklist">Task</a></li>
                                <li ng-class="{ active: siderbar.isActive('/tasklistClient') }"><a ng-class="{ active: siderbar.isActive('/tasklistClient') }" ui-sref="backoffice.tasklistClient">Client Task</a></li>
                            </ul>
                        </li>

                        <li ng-class="{ active: siderbar.isActive('/suspension') }"><a ng-class="{ active: siderbar.isActive('/suspension') }" ui-sref="backoffice.suspension">Suspension </a></li>
                        <li ng-class="{ active: siderbar.isActive('/buyCredit') }"><a ng-class="{ active: siderbar.isActive('/buyCredit') }" ui-sref="backoffice.buyCredit">Buy Credit</a></li>
                    </ul>
                </li>

                <li ng-class="[{ active: siderbar.isActive('/setting') }, { active: siderbar.isActive('/social') }, { active: siderbar.isActive('/emailsetup') }, { active: siderbar.isActive('/email') }, { active: siderbar.isActive('/banner') }, { active: siderbar.isActive('/page') }, { active: siderbar.isActive('/feedback') }, { active: siderbar.isActive('/notification') }, { active: siderbar.isActive('/fileUpload') }]"> 
                    <a class="has-arrow waves-effect waves-dark" ui-sref="backoffice.setting" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Setting</span></a>

                    <ul aria-expanded="false" class="collapse" ng-class="[{ in: siderbar.isActive('/setting') }, { in: siderbar.isActive('/social') }, { in: siderbar.isActive('/emailsetup') }, { in: siderbar.isActive('/email') }, { in: siderbar.isActive('/banner') }, { in: siderbar.isActive('/page') }, { in: siderbar.isActive('/feedback') }, { in: siderbar.isActive('/notification') }, { in: siderbar.isActive('/fileUpload') }]">
                        <li ng-class="{ active: siderbar.isActive('/setting') }"><a ng-class="{ active: siderbar.isActive('/setting') }" ui-sref="backoffice.setting">Setting</a></li>
                        <li ng-class="{ active: siderbar.isActive('/social') }"><a ng-class="{ active: siderbar.isActive('/social') }" ui-sref="backoffice.social">Social Network</a></li>
                        <li ng-class="{ active: siderbar.isActive('/emailsetup') }"><a ng-class="{ active: siderbar.isActive('/emailsetup') }" ui-sref="backoffice.emailsetup">Email Setup</a></li>
                        <li ng-class="{ active: siderbar.isActive('/email') }"><a ng-class="{ active: siderbar.isActive('/email') }" ui-sref="backoffice.email">Email Templete</a></li>
                        <li ng-class="{ active: siderbar.isActive('/banner') }"><a ng-class="{ active: siderbar.isActive('/banner') }" ui-sref="backoffice.banner">Banner</a></li>
                        <li ng-class="{ active: siderbar.isActive('/page') }"><a ng-class="{ active: siderbar.isActive('/page') }" ui-sref="backoffice.page">Static Page</a></li>
                        <li ng-class="{ active: siderbar.isActive('/feedback') }"><a ng-class="{ active: siderbar.isActive('/feedback') }" ui-sref="backoffice.feedback">Feed Back</a></li>
                        <!-- <li ng-class="{ active: siderbar.isActive('/modules') }"><a ng-class="{ active: siderbar.isActive('/modules') }" ui-sref="backoffice.modules">Module Access</a></li>  -->
                        <li ng-class="{ active: siderbar.isActive('/notification') }"><a ng-class="{ active: siderbar.isActive('/notification') }" ui-sref="backoffice.notification">Notification</a></li>
                        <li ng-class="{ active: siderbar.isActive('/fileUpload') }"><a ng-class="{ active: siderbar.isActive('/fileUpload') }" ui-sref="backoffice.fileUpload">All Files</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<script type="text/javascript" src="../assets/admin/js/sidebarmenu.js"></script>
<script type="text/javascript" src="../assets/admin/js/custom.min.js"></script>