<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Requests</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{earlyPay.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="earlyPay.reset();" value="Reset" />
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="earlyPay.getList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="earlyPay.sort('request_id')">Id
                                                <span ng-show="earlyPay.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!earlyPay.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="earlyPay.sort('worker_id')">Worker Id
                                                <span ng-show="earlyPay.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!earlyPay.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="earlyPay.sort('workers_name')">Worker Name
                                                <span ng-show="earlyPay.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!earlyPay.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="earlyPay.sort('created_at')">Created At
                                                <span ng-show="earlyPay.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!earlyPay.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="earlyPay.sort('status')">Status
                                                <span ng-show="earlyPay.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!earlyPay.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <!-- <th style="width: 150px;" class="text-center">Action</th> -->
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="earlyPay.search.request_id" ng-keyup="earlyPay.changePage(1, earlyPay.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="earlyPay.search.worker_id" ng-keyup="earlyPay.changePage(1, earlyPay.search)" placeholder="Worker ID" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="earlyPay.search.workers_name" ng-keyup="earlyPay.changePage(1, earlyPay.search)" placeholder="Worker Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="earlyPay.search.created_at" ng-change="earlyPay.changePage(1,earlyPay.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="earlyPay.search.status" ng-change="earlyPay.changePage(1,earlyPay.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Accepted</option>
                                                <option value="1">Accepted</option>
                                            </select>
                                        </td>
                                        <!-- <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="earlyPay.reset();" value="Reset" />
                                        </td> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in earlyPay.payList | orderBy: earlyPay.sortKey:earlyPay.reverse|itemsPerPage: earlyPay.PerPage" total-items="earlyPay.total" current-page="earlyPay.pagination.current">
                                        <td class="text-center">{{item.request_id}}</td>
                                        <td class="text-center">{{item.worker_id}}</td>
                                        <td>{{item.workers_name}}</td>
                                        <td class="text-center">{{ earlyPay.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="earlyPay.changeStatus(item)">{{item.status==1?'Accepted':'Not Accepted'}}</span>
                                        </td>
                                        <!-- <td></td>                                         -->
                                    </tr>
                                    <tr ng-if="earlyPay.payList.length == 0 && earlyPay.payListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="earlyPay.changePage(newPageNumber,earlyPay.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>