<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{leave.title}} Leave</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.leave" class="btn btn-info btn-flat pull-left">Back to All Leaves</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="leaveForm" novalidate angular-validator angular-validator-submit='leave.saveLeave()'>
                                <input ng-if="leave.editFlag" type="hidden" name="leaves_id" ng-model="leave.leaveForm.leaves_id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="leaves_name" ng-model="leave.leaveForm.leaves_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" ng-maxlength="50" invalid-message="'Please enter less characters!'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="leaves_des" ng-model="leave.leaveForm.leaves_des" placeholder="Enter Description" validate-on='dirty' required required-message="'Please enter description!'"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="leave.leaveForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in leave.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!leave.editFlag" ng-click="leave.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="leave.editFlag" ui-sref="backoffice.leave">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>