<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Leaves</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{leave.totalLeave}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.leave.create" class="btn btn-info btn-flat pull-left">Add New Leave</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="leave.getLeaveList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="leave.sort('leaves_id')">Id
                                                <span ng-show="leave.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leave.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="leave.sort('leaves_name')">Leave Reasons
                                                <span ng-show="leave.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leave.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="leave.sort('created_at')">Created At
                                                <span ng-show="leave.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leave.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="leave.sort('status')">Status
                                                <span ng-show="leave.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!leave.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="leave.search.leaves_id" ng-keyup="leave.changePage(1, leave.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="leave.search.leaves_name" ng-keyup="leave.changePage(1, leave.search)" placeholder="Leave Reasons" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="leave.search.created_at" ng-change="leave.changePage(1,leave.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="leave.search.status" ng-change="leave.changePage(1,leave.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="leave.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in leave.leaveList | orderBy: leave.sortKey:leave.reverse|itemsPerPage: leave.leavePerPage" total-items="leave.totalLeave" current-page="leave.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.leave.view({id:{{item.leaves_id}} })">{{item.leaves_id}}</a>
                                        </td>
                                        <td>{{item.leaves_name}}</td>
                                        <td class="text-center">{{ leave.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="leave.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.leave.view({id: item.leaves_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.leave.edit({id: item.leaves_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="leave.deleteLeave(item.leaves_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="leave.leaveList.length == 0 && leave.leaveListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="leave.changePage(newPageNumber,leave.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>