@media only screen and (max-width:1300px){
	body.internetCafe .navbar_set_new li a{padding:35px 10px;}
}

@media only screen and (max-width:1199px) {
	.assasorCafe .link_here_sec ul li, .internetCafe .link_here_sec ul li{padding-right: 5px;}
	#myNavbar{padding-left:0;}
	body.internetCafe .notifiaction_bell{font-size: 20px; padding: 30px 5px !important;}
	body.internetCafe .navbar_set_new li a {padding: 30px 5px; }
	.upl_img_ssec_n{width: 88%;}
	.internetCafe .headerlogo_here img{width: 200px;}
}
@media only screen and (max-width:1089px) {
	.header_nav{display:none;}
	.responsive_nav{display:block;}
	.hid_ahow_li {display: block;}
}
@media only screen and (max-width:991px) {
	.Bookings_sign, .Unavailable_sign, .Available_sign{width:20px !important;height:20px !important;}
	.booking_status div{font-size:14px !important;line-height:16px !important;}
	.assasorCafe .notifiaction_bell {font-size: 20px; padding: 20px 10px !important; }
	.assasorCafe .navbar_set_new > li:last-child > a {padding: 20px 10px !important; }
	.assasorCafe .navbar_set_new > li > a{padding: 20px 10px;}
	.assasorCafe .navbar-toggle {display: block;}
	.assasorCafe .navbar-header{width:100%;margin:0;}
	.assasorCafe #myNavbar {padding-left: 0; float: left; width: 100%;display:none !important;}
	.assasorCafe #myNavbar.collapse.show{display:block !important;}
	.assasorCafe .navbar-right{float: left !important;}
	.assasorCafe .input_set {margin-bottom: 10px;}

	.internetCafe .input_box_main .row {margin: 0 -15px !important; }
	.internetCafe .headerlogo_here img{width:255px;}
	.internetCafe .navbar_set > .container-fluid{padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0;}
	.internetCafe .container-fluid > .navbar-collapse, .internetCafe .container-fluid > .navbar-header, .internetCafe .container > .navbar-collapse, .container > .navbar-header{margin-right: 00; margin-left: 00;}
	.internetCafe .container-fluid > .navbar-header{padding:0;margin: 0;}
	body.internetCafe .navbar_set_new li a.notifiaction_bell {padding: 10px 5px !important;font-size: 20px !important;}
	.dropdown .icon_width {width: 30px; height: 30px; padding: 1px !important; color: #00AEE7; margin-top: 5px; }
	 body.internetCafe .navbar_set_new li a {padding: 10px 7px; }
	.internetCafe #myNavbar{display:none !important;padding: 0 10px 0 0;float:left;}
	.internetCafe #myNavbar.show{display:block !important;}
	.internetCafe .navbar-brand{padding:10px 15px;}
	.internetCafe .navbar-toggle .icon-bar {background: #00aee7; width: 27px; height: 3px; }
	.internetCafe .navbar-toggle{display:block;margin-top:20px;margin-right:0;}
	.internetCafe .navbar-header{width:100%;float:left;}
	.text_set h3 {margin: 0px 0px 5px;font-size: 21px;}
	.text_set{top:19%;}
	.btn_dash_b{font-size: 15px;padding:7px 16px;}
	.upl_img {width: 88%;}
	.profile_img{margin-bottom: 20px;width: 100%;}
	.profile_img img{margin:0 auto;}
	.proof_spac_iput{width:100%;}
	.file-upload{display: block;float: none;margin:10px auto 0px;}
	.f_sel_margin{margin-bottom: 15px;}
}
@media only screen and (max-width:767px) {

	/* style_assasor css */
	.assasorCafe .booking_status > div{margin-bottom: 10px;}
	.assasorCafe .book_stat_first .col-md-7 .col-md-6{padding:0;}
	.assasorCafe .navbar-toggle{margin-right: 0;}
	.assasorCafe .navbar-nav .open .dropdown-menu{position: absolute;}
	.assasorCafe .navbar_set_new > li:last-child > a, .assasorCafe .notifiaction_bell{padding: 5px 10px !important;}
	.assasorCafe .navbar_set_new li a:hover {background-color: #eee; color: #00aee7; }
	.assasorCafe .navbar-nav{margin: 0px 0px;width:100%;}
	.assasorCafe .banner_content h1 {font-size: 25px; }
	.assasorCafe .banner_content p {font-size: 14px; }
	.assasorCafe .text_set h3 {font-size: 20px; }
	.assasorCafe .navbar_set_new > li > a {padding: 5px 10px; border-bottom: 1px solid #333; }
	.assasorCafe #myNavbar{margin:0;width:100%;}
	.assasorCafe .book_status_form_sec{width:100%;}
	

	 /* style_assasor css */



	.internetCafe .book_status_form_sec{width:100%;}
	.internetCafe .profile_deta{padding: 0 00px;}
	.internetCafe .banner_content h1{font-size:25px;}
	.internetCafe .banner_content p{font-size:14px;}
	.internetCafe .text_set h3{font-size: 20px;}
	.internetCafe .text_set{padding:0 10px;}
	.internetCafe .all_link_here{padding:25px 0px 0;}
	.logo_here img{width:230px;}
	body.internetCafe .navbar_set_new li a:hover{background-color:rgba(00, 00, 0, 0.1);}
	body.internetCafe .navbar_set_new  .drop_dow_prof{float: left; margin-top: -13px; margin-left: 0; margin-right: 10px;}
	 body.internetCafe .navbar_set_new li a{border-left:0;border-top:1px solid #ccc;}
	.internetCafe #myNavbar{width:100%;float: left;}
	.internetCafe #myNavbar .navbar-nav{margin:0;}

	.internetCafe .inp_uplod{padding: 6.5px 13px;}
	.resp-arrow{border-top: 12px solid #00aee7 !important;}
	h2.resp-tab-active span.resp-arrow{border-bottom: 12px solid #fff !important;}
	#horizontalTab  .tab_cont_set h2.resp-accordion{float: left;width: 100%;margin-bottom: 20px;border-top: 1px solid #cccccc;border-bottom: 3px solid #2c86a4;}
	#horizontalTab  .tab_cont_set .resp-tab-active{background: #00aee7 !important; color: #fff; font-size: 20px; border: 0px;}
	#horizontalTab  .tab_cont_set h2.resp-accordion{font-size: 20px;}
	#horizontalTab  .tab_cont_set .resp-tab-content{ float: left; width: 100%;margin-bottom: 20px !important;}
	.tab_cont_set{background:none;}
	.container {width: 100%;padding:0 10px;}
	.row {margin: 0px 0px !important;}
	.foot_link{margin-bottom: 7px;}
	.foot_logo{margin-bottom: 12px;}
	.banner_logo{width:100px;}
	.banner_content h1 {font-size: 37px;}
	.banner_content p{font-size: 14px;}
	.banner_content{max-width:500px;}
	.bannner_section{height: 395px;}
	.full_width_search_demo {width: 194px !important;font-size: 14px !important;}
	.upl_img {width: calc(100% - 77px); margin-bottom: 8px;}
	.new_cust_row {margin: 0 -15px !important;}
	.input_set{margin-bottom:10px;height:33px !important;}
	.upl_img{height: 33px !important;}
	.inp_uplod {padding: 6.5px 10px; }
	.upl_img {width: calc(100% - 71px);}
	.search_btn{margin-top:10px;}
	.full_width {float: left;width: 100%;display: block;}
	.f_sel_margin{margin-bottom:5px !important;}
	.full_width_sec{float: left;width: 100%;margin-bottom: 10px;}
	.width_pop_set {width: 100%;float: none;max-width: 390px;margin: 0 auto;}
	.upl_img_ssec_n{height: 33px;width: calc(100% - 77px);}
	.top_pop {top: 10%;}
	.profile_deta li span{width: 100%;margin-bottom: 1px;}
	.input_set_sec{height:34px;}
	.back_btn_here, .back_btn_here, .internetCafe .back_btn_here, .internetCafe .btn_reset, .internetCafe .btn_reset_sec, .internetCafe .updt_btn{font-size: 14px !important;padding:7px 20px !important;margin-bottom:10px;}
}
@media only screen and (max-width:670px) {
	
	.internetCafe .profile_deta li span{padding-right: 10px;width:auto;}
	.ann_btn_input::after {content: "";font-family: fontawesome;position: absolute;bottom: -16px;color: #00aee7;left: 0;right: 0;font-size: 18px;}
	.full_width_search_demo {width: 220px !important;top: 52px;z-index: 999;right: 0;}
	.internetCafe .foo_col_here{padding: 20px 0 10px;}
	.foo_col_here{padding: 20px 0 10px;}
	.internetCafe .footer_section{padding:0;}
	.footer_section{padding:0;}
	.assasorCafe .tab_cont_details_new, .internetCafe .tab_cont_details_new{width:100% !important; padding: 0px 0 !important;}
	.tab_cont_details_new{width:100% !important;padding:0 0 !important;}

}	
@media only screen and (max-width:540px) {
	.form_submit_btn .btn_reset_sec{padding: 5px 20px !important;font-size: 16px !important;}
	.form_submit_btn .btn_reset {padding: 5px 20px !important;font-size: 16px !important;}
	.dashbo_title_sec h3{font-size: 20px;margin-top: 0px;}
	.dashboard_all_det_sec{padding: 20px 0 !important;}
	.assasorCafe .navbar_set .container-fluid{padding: 0;}
	.terms_con_here p, .faq_section .panel-body p {text-align: justify; }
	.faq_section {padding: 0; margin-top: 0; }
	.calender .month .next, .calender .month .prev {top: calc(50% - 18px); }
	.marg_spac_iput{margin-bottom: 10px;}
	.profile_new_f{padding:0;border:0;}
	.back_page_btn{margin-bottom: 10px;}
	.foo_col_here {padding: 10px 0 15px; }
	.web_not {margin-bottom: 10px; }
	.headerlogo_here{width:100%;}
	#menu-toggle {color: #00aee7; }
	.arrow_down_drop {color: #00aee7; }
	.headerlogo_here img{margin:0 auto;}
	.header_menu_here{padding-left:0px;}
	.header_sid_li{width:100%;}
	.icon_width {width: 33px;padding: 0px !important;}
	.arrow_down_drop{margin-top: 8px;}
	#menu-toggle{margin-top: 6px;}
	.header_side_link{padding: 5px 20px;background-color: transparent;}
	.drop_menu{margin-top:0px !important;}
	.sidebar-nav{margin:0px;}
	.sidebar-nav li a{padding: 5px 10px;font-size: 13px;}
	.ann_btn_input {font-size: 14px !important;}
	.respo_togle_menu{margin: 12px 9px 0 13px;}
	.input_ann_box {top: 0px; left: 100%; height: 32px !important; }
 	.headerlogo_here img {width: 235px;}
	.drop_menu > li > a{padding:2px 5px;font-size:12px;}
	.text_set h3{font-size: 20px;}
	.drop_menu{min-width: 110px !important;}
	.text_set p{font-size: 13px;}
	.banner_sec_section{height: 145px;}
	.next_bann_text h3{font-size: 25px;}
	.img_profile_set {width: 80px;}
	.profile_detilas h5{margin-top: 0px;margin-bottom: 10px;}
	.search_bar {margin: 6px 10px 0px; }
	.profile_btn{padding: 4px 10px;}
	.profile_btn_sec{padding: 4px 10px;}
	.tab_cont_det_all{padding: 20px 20px;}
	.btn_reset{padding: 6px 10px !important;margin-bottom: 10px;font-size:16px !important;}
	.btn_reset_sec{padding: 6px 10px !important;margin-bottom: 10px;font-size:16px !important;}
	.profile_img img{width: 140px;}
	.back_btn_here{padding: 4px 20px !important;font-size: 17px !important;width: 80px;}
	.proof_isuu{font-size: 14px;}
	.proof_spac_iput img{width: 70px;}
	.table_pagination{text-align:left;}
	.calender .month{padding:10px;}
	.month li h1{font-size: 20px;margin-bottom:0px;margin-top:5px;}
	.month li h2{font-size: 20px;margin-top: 10px;}
	.arro_size {width: 14px;}
	.pop_up_btn{padding: 4px 10px;font-size: 16px;}
	.chek_bo_h_sec{height: 22px;width: 22px;}
	.checkbox_sec{height: 20px !important;width: 20px !important;}
	.booxed_text h4{font-size: 16px;margin-left: 10px;margin-top: 12px;}
	.checkbox_sec::before{width: 15px !important;height: 8px !important;top: 5px !important;left: 3px !important;}
	.calenser_note{margin-top: 15px;}
	.calenser_note p{font-size: 14px;}
	.book_pop_up{margin-top: 25px;}
	.terms_con_here h4{font-size: 15px;}
	.terms_con_here p{line-height: 19px;font-size: 14px;}
	.panne_head a{font-size: 15px;}
	.frm_label{margin-bottom: 0px;display: block;}
	.form_not_here p{text-align:center;font-size: 14px;}
	.model_size {font-size: 15px;}
	.modal-body{padding: 10px 0px;}
	.col_pop span{font-size: 13px;}
	.col_pop{margin-bottom: 10px;}
	.pop_note p{font-size: 14px;}
	.ann_btn_input::after{bottom: -15px;color:#fff;}
	.drop_menu::after{left: 30px;}
	.tab_cont_details_sec{padding: 15px 15px 15px !important;}
	.headerlogo_here_sec img{width: 250px !important;}
	.dashbo_title_sec h4{font-size: 17px !important;}
	.dashbo_title_sec::after{width: 200px;}
	.tab_cont_head_sec h4{font-size: 15px;margin: 0px;}
	.profile_deta li {padding: 10px 0;}
	.profile_deta {padding: 0px;}
	.updt_btn {padding: 8px 20px;font-size: 16px;}
	.pr_updt{margin-bottom:35px;}
}
@media only screen and (max-width:440px) {
	.internetCafe .navbar-brand {padding: 10px 0px; }
	.assasorCafe .headerlogo_here img, .internetCafe .headerlogo_here img{width: 230px;}
	.dashboard_all_det {padding: 0px 0 10px; }
	.profile_new_f .col-sm-9 {padding-right: 0px; padding-left: 0px; }
	.all_link_here{padding: 25px 0px 0;}
	.banner_content h1{font-size: 30px;}
	.banner_logo{width: 85px;}
	.banner_content {max-width: 305px;}
	.banner_content{margin:15% auto 0px;}
	.bannner_section {height: 365px;}
	.foot_logo img {width: 210px;}
	.headerlogo_here img {width: 195px;margin-bottom: 4px;}
	.clos_btn {padding: 4px 10px;}
	.tab_cont_det_all{padding: 0;}
	.search_btn{padding: 4px 10px;}
	.internetCafe .cheak_title{width:50%;}

	.profil_mainhere{width:100%;border:0px;margin: 0 auto;text-align: center;}
	.profil_set_bl{width:100%;margin: 10px 0px;text-align: center;}
	.appoint_head  h4{font-size: 15px;}
	.text_head_tim_pik{font-size: 15px;}
	.appoint_head::after{height: 4px;width: 125px;}
	.appoint_head{margin-bottom: 10px;padding-bottom: 0px;}
	.tab_cont_head h4{font-size: 15px;}
	.calender .weeks li{font-size: 14px;padding: 10px 5px;}
	.calender .days li{font-size: 14px;}
	.profil_name{font-size: 17px;margin: 0px 0 10px;}
	.proof_isuu{width:100%;margin-bottom: 10px;margin-top:0px;}
	.proof_spac_iput{padding-top: 10px;}
	.form_submit_btn{margin-top: 15px;}
	.wo_type{margin-bottom:0px;}
	.all_link_here_new{margin-top: 20px;}
	.all_link_here_new h1{font-size: 25px;}
	.width_pop_set {max-width: 300px;}
	.model_size {font-size: 15px;}
	.modal-body {padding: 8px;}
	.maincol_pop {font-size: 12px;margin-bottom: 5px;}
	.maincol_pop span {font-size: 14px;width: 100%;}
	.pop_main_not_here p {font-size: 12px;}
	.pop_main_not_here span {font-size: 12px;}
	.btn_cancel_pop{padding: 4px 9px;}
	.btn_submit_pop{padding: 4px 9px;}
	.headerlogo_here_sec img{width: 230px;}
}
@media only screen and (max-width:360px) {
.full_width_search_demo {width: 150px !important; font-size: 12px !important; }

 }
