*{margin:0px;padding:0px;}
body{float:left;width:100%;font-family: 'montserratlight' !important;}
html{float:left;width:100%;}
a{outline:none !important;}
.wrapper {float: left;width: 100%;overflow: hidden;}
.btn{outline:none !important;border:0px; margin-bottom: 10px !important;}
.form-control:focus{
	box-shadow:none;
	border-color:#CCCCCC;
}

/*header section start here*/

.header_section {
    float: left;
    width: 100%;
	transition:.5s;
	background-color:#fff;
	border-bottom: 2px solid #00AEE7;
	box-shadow: -1px 1px 5px gray;
}
.navbar-fixed-top{
	transition:.5s;
}
.header_menu_here {
    float: left;
    width: 100%;
	padding-left: 0px;
}
.headerlogo_here {
    float: left;
    width: auto;
}
.headerlogo_here img {
    width: 255px;
}
.header_side_link {
    float: right;
	background-color: #00aee7;
    padding: 8px 20px;
}
.header_nav {
    float: left;
    width: auto;
}
.navbar_section {
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.navbar_section ul{
	margin-bottom: 0px;
}
.navbar_section ul li {
	float:left;
    list-style: none;
}
.drop_menu::after {
    content: "\f0d8";
    font-family: fontawesome;
    position: absolute;
    top: -19px;
    font-size: 22px;
    color: #fff;
    left: 40px;
}
.navbar_section ul li a {
    padding: 10px 15px;
	display: block;
	text-decoration: none;
	color: #333;
	transition: .5s;
	position: relative;
}
.navbar_section ul li a::after {
    content: "";
    position: absolute;
    right: 0;
    opacity: 0;
	font-size: 19px;
	top: 15px;
	color:#00aee7;
}
.drop_menu li a{
	padding: 6px 7px !important;
	font-size: 16px;
}
.drop_menu li a:hover{
	color: #fff;
	background-color: #00aee7;
} 
.navbar_section ul li a:hover::after {
    opacity: 1;
    right: 6px;
    transition: .5s;
}
.navbar_section ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    opacity: 0;
	font-size: 19px;
	top: 15px;
	color:#00aee7;
}
.navbar_section ul li a:hover::before {
    opacity: 1;
    left: 6px;
    transition: .5s;
}
.navbar_section ul li a:hover {
    color: #fff;
    transition: .5s;
    background: #00aee7;
}
.i_card {
    font-size: 24px !important;
	text-align: center;
	margin: 0 auto;
	float: none;
	display: block !important;
	color: #333;
}
.table_book_re_here table td a{
	text-decoration:none;
}
.faq_header {
    float: left;
    width: 100%;
}
.faq_header h4{
	font-size: 17px;
	font-family: 'montserratregular';
	border-bottom: 1px solid #9b9b9bcc;
	padding-bottom: 7px;
}
.profile_new_ne_sec{
	float: none;
	width: 100%;
	padding: 10px 10px;
	border: 1px solid #cccccc;
	max-width: 500px;
	margin: 0 auto;
	display: table;
}
.f_sel_margin_new {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    display: block;
}
.pane_faq{
	float:left;
	width:100%;
	margin-top:5px;
}
.faq_section {
    float: left;
	width: 100%;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #f5f0f0;
}
.panel_faq {
    border-radius: 0px !important;
	margin-bottom: 10px !important;
}
.panne_head a{
	text-decoration:none;
	transition:.5s;
}
.btn_edit {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
	padding: 6px 16px;
	box-shadow: 2px 2px 6px gray !important;
}
.header_section_sec {
    float: left;
    width: 100%;
    transition: .5s;
    background-color: #fff;
    border-bottom: 2px solid #00AEE7;
    box-shadow: -1px 1px 5px gray;
}
.btn_edit:hover{
	background-color: #00AEE7;
    color: #fff;
}
.btn_edit:focus{
	background-color: #00AEE7;
    color: #fff;
}
.img_pro_min {
    width: 80px;
}
.drop_dow_prof {
    float: left;
}
.icon_width {
    width: 45px; height: 45px;
	padding: 1px !important;
    color: #00AEE7;
}
.arrow_down_drop {
    float: right;
    width: 5%;
    margin-top: 16px;
    color: #fff;
}
.sid_close_btn {
    float: left;
    width: 100%;
}
.img_profile_set {
	width: 100px;
    padding: 2px;
    border-radius: 0px;
}
.clos_btn {
    color: #fff;
    background-color: #ff8e43;
    border-radius: 0px !important;
}
.clos_btn:hover{
	color: #fff !important;
}
.clos_btn:focus{
	color: #fff !important;
}
.headerlogo_here_sec {
    float: left;
    width: 100%;
}
.headerlogo_here_sec img{
	width: 325px;
	margin: 0 auto;
	padding: 15px 0px;
}
.header_sid_li{
	float:left;
	width:100%;
}
.input_ann_box {
    width:0px !important;
    border-radius: 0px !important;
    height: 41px !important;
    float: left !important;
	border:0px !important;
	background:#f5f0f0 !important;
	padding:0px !important;
	transition:.5s !important;
	font-family: montserratultra_light !important;
	font-size: 17px !important;
	border-left: 2px solid #333 !important;
	position:absolute;
	right: 43px;
}
.hid_show_meu {
    display: none;
}
.input_ann_box:focus{
	border-left: 2px solid #00aee7 !important;
}
.input_box_main {
    float: left;
    width: 100%;
}
.full_width_search_demo{
	width:300px !important;
	padding:6px 12px !important;
	transition:.5s !important;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	box-shadow: none;
	font-size: 14px !important;

}
.ann_btn_input {
    border-radius: 0px !important;
	padding: 6px 12px !important;
	font-size: 20px !important;
	background-color: #00aee7 !important;
	color: #fff !important;
}
.ann_btn_input:hover{
	color: #fff !important;
}
.ann_btn_input:focus{
	color: #fff !important;
}
.search_bar {
    float: left;
	margin: 10px 10px 0px;
	position:relative;
}

/*header section end here*/

/*sidmenu content css start here*/

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #fff;
	border-top: 2px solid #00aee7;
	border-right: 2px solid #00aee7;
    position: fixed;
    height: 100%;
    overflow-y: auto;
	box-shadow: 1px 4px 11px gray;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}
.hid_ahow_li {
    display: none;
}
.sidbar_log_cls_btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.sidebar-nav {
	float:left;
	width: 100%;
	list-style: none;
	margin: 0 0 0;
	padding: 0;
	height: 550px;
	overflow: auto;
}

.sidebar-nav li {
	line-height: 30px;
}

.sidebar-nav li a {
	color: #333;
	display: block;
	transition: .3s;
	text-decoration: none;
	border-bottom: 1px dotted #959595;
	margin: 0px 10px;
	padding: 8px 10px;
	text-align: left;
}

.sidebar-nav li a:hover {
	background: #00aee7;
	text-decoration: none;
	border-left: 4px solid #333;
	color: #fff;
	transition: .3s;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 55px;
	line-height: 55px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	float: left;
	width: 45px;
	text-align: right;
	z-index: 1;
	color: #262626;
	margin-top: 12px;
}
#menu-toggle i{
	font-size: 20px;
}
.drop_menu {
    border-radius: 0px !important;
    top: 48px !important;
	left: auto !important; right: 0px;
    min-width: 160px !important;
	margin-top: 15px !important;
}
.clock-timepicker {
    float: left;
    width: 100%;
}
.rad_inp {
   border-radius: 0px !important;
}
.table_book_re_here {
    float: left;
    width: 100%;
}
#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}
.simenu_content {
	float: left;
	width: 100%;
}
/*sidmenu content css end here*/


/*banner section start here*/

.bannner_section {
    float: left;
	width: 100%;
	height: 400px;
	position:relative;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.banner_content {
    float: none;
    width: 100%;
    text-align: center;
	z-index: 9;
	position: relative;
	max-width: 660px;
	margin: 5% auto 0px;
}
.banner_logo {
    width: 110px;
    margin: 0 auto 13px;
}
.banner_content h1{
	font-size: 50px;
	font-family: 'montserratbold';
	color: #fff;
	border-bottom: 3px solid #ff6600;
	margin-top: 0px;
}
.banner_content p{
	color: #fff;
	font-size: 16px;
}
.banner_sec_section {
    float: left;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.next_bann_text {
    float: left;
    width: 100%;
    z-index: 9;
    position: relative;
	margin-top: 6%;
}
.next_bann_text h3{
	font-family: 'montserratregular';
	color: #fff;
	font-size: 30px;
	text-align:center;
}

/*banner section start here*/


/*dashboard content css start here*/

.dashboard_content {
	float: left;
	width: 100%;
}
.dashboard_all_det {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.dashbo_title {
    float: left;
    width: 100%;
	position:relative;
	border-bottom: 2px dotted #00AEE7;
}
.dashbo_title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 235px;
    background-color: #00AEE7;
    bottom: -2px;
}
.dashbo_title h4 {
    margin-top: 0px;
    font-size: 20px;
	margin-bottom: 5px;
    font-family: 'montserratregular';
}
.dashbo_title_sec {
    float: left;
    width: 100%;
	position:relative;
	border-bottom: 2px dotted #00AEE7;
}
.dashbo_title_sec::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 165px;
    background-color: #00AEE7;
    bottom: -2px;
}
.dashbo_title_sec h4 {
    margin-top: 0px;
    font-size: 20px;
	margin-bottom: 5px;
    font-family: 'montserratregular';
}
.tab_cont_det_all_sec {
    float: none;
    width: 100%;
    margin-top: 10px;
    max-width: 600px;
	margin: 10px auto;
}
.tab_cont_details_sec {
    float: left;
    width: 100%;
    background-color: #EDF2F3;
    padding:35px 35px 40px;
    margin-top: 20px;
}
.dashboard_all_det_sec{
	float: none;
	width: 100%;
	padding: 60px 0;
	max-width: 500px;
	margin:0 auto;
	display:table;
}
.profile_deta {
    float: left;
    width: 100%;
    padding: 0 20px;
}
.profile_deta ul {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.profile_deta li {
    list-style: none;
    font-size: 16px;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc; float: left; width: 100%;
}
.profile_deta li span {
    float: left;
    width: 60%;
    font-family: 'montserratregular';
}
.profile_deta li p{float: right; width: 40%;}
.pr_updt {
    float: left;
    width: 100%;
    text-align: center;
}
.profile_img h5 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'montserratregular';
    margin-bottom: 0px;
}
.marg_non_upo {
    margin-bottom: 0px;
}
.fil_ul_img {
    margin-top: 10px !important;
}
.updt_btn {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
    padding: 9px 35px;
    font-size: 17px;
}
.updt_btn:hover {
    color: #fff;
}
.updt_btn:focus {
    color: #fff;
}
.rad_inp_n{
	border-radius:0px !important;
	cursor:pointer;
}
.all_link_here {
    float: left;
    width: 100%;
    padding: 25px 15px 0;
	background-color: #f5f0f0;
	margin-top: 25px;
}
.link_tab_hre {
    float: left;
    width: 100%;
	position:relative;
	overflow:hidden;
	margin-bottom:25px;
}
.link_tab_hre a{
	text-decoration:none;
}
.text_set h3{
	margin:0px 0px 10px;
	text-align: center;
	font-size: 28px;
}
.tab_cont {
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/CroppedImage420320-register-license-your-car.jpg");
	height: 251px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.link_tab_hre:hover .tab_cont{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_sec{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_third{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_four{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}
.overlay_sec {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(92, 92, 92, 0.6);
    z-index: 2;
}
.text_set {
    position: absolute;
	top:28%;
    left: 0;
    right: 0;
    z-index: 9;
    color: #fff;
	padding: 0px 22px;
}
.text_set p{
	text-align:center;
}
.tab_cont_sec{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/shutterstock_125348792.0.0.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont_third{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/13_online.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont_four{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/services-1.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:'montserratlight';
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_sec h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:'montserratlight';
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_sec:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_third h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:'montserratlight';
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_third:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_four h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:'montserratlight';
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_four:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}

/*dashboard content css end here*/


/* worker registration form css start here */

.residte_tab_content {
    float: left;
    width: 100%;
}
.tab_lin .active a{
	position:relative;
	background-color: #00AEE7 !important;
	color: #fff !important;
}
.tab_lin li a{
	font-size: 13px !important;
	margin-right: 5px;
	padding: 9px 17px;
}
.tab_cont_det_all {
    float: left;
    width: 100%;
	padding: 20px 40px;
	margin-top:10px;
	background-color: #EDF2F3;
}
.tab_lin .active a::after {
    content: "\f0d7 ";
    font-family: fontawesome;
    position: absolute;
    bottom: -18px;
    left: 45%;
    right: 0;
    color: #00aee7;
    font-size: 22px;
}
.table > thead > tr > th {
	vertical-align: top;
}
.table > thead > tr > td{
	vertical-align: middle;
}
#datepicker > span:hover{cursor: pointer;}
.tab_cont_details {
    float: left;
    width: 100%;
}
.tab_cont_head {
    float: left;
    width: 100%;
	margin-bottom: 20px;
}
.tab_cont_head h4 {
    font-size: 17px;
    font-family: 'montserratregular';
	border-bottom: 1px solid #9b9b9bcc;
	padding-bottom: 7px;
}

.tab_cont_head_sec {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.forg_pass {
    float: left;
    width: 100%;
	margin-top: 10px;
    text-align: right;
}
.active_pagination a{
	background-color: #00aee7 !important;
	border-color: #00aee7 !important;	
}
.arrow_logigo {
    font-size: 35px !important;
}
.f_sel_margin_sec {
    float: left;
    width: 100%;
    position: relative;
    display: flex;
	margin: 10px 0 5px;
}
.forg_pass a{
	text-decoration:none;
	color:#ff6600;
	transition:.5s;
}
.forg_pass a:hover{
	color:#00aee7;
	transition:.5s;
}
.panel-title.panne_head::after {
    content: "\f0d7";
    font-family: FontAwesome;
    text-align: right;
    float: right;
    cursor: pointer;
	transition:.5s;
}
.tab_cont_head_sec h4 {
    font-size: 17px;
    font-family: 'montserratregular'; text-align: center;
}
.tab_lin li a:hover {
    background-color: #edf2f3;
	color:#4c8ad2;
}
.input_set {
    border-radius: 0px !important;
    height: 44px !important;
	width: 100% !important;
}
.input_set:focus{
	border-color:#cccccc !important;
	box-shadow:none !important;
}
#exTab1 .tab-content {
  float:left;
  width:100%;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.file {
  visibility: hidden;
  position: absolute;
}
.form_here {
    float: left;
    width: 100%;
    margin-bottom:10px;
}
.terms_con_here {
    float: left;
    width: 100%;
}
.terms_con_here h4{
	color:#000;
	font-size: 16px;
	margin: 0px 0px 6px;
}
.terms_con_here p{
	margin-bottom: 15px;
	line-height: 21px;
}
.upl_img{
	float:left;
	width: 85%;
	height: 40px;
	border-radius: 0px;
}
.full_width_brose_img {
    width: 92.7%;
}
.img_cont_dow {
    float: left;
	width: 100%;
	font-size: 15px;
	margin-top: 4px;
	color: #333;
}
.file_downl {
    font-size: 18px !important;
    margin-left: 10px;
}
.inp_uplod{
	height:auto;
	border-radius:0px;
	background-color:#00AEE7;
	color:#fff;
	padding: 10px 13px;
}
.inp_uplod:hover{
	background-color:#00AEE7;
	color:#fff;
}
.inp_uplod:focus{
	background-color:#00AEE7;
	color:#fff;
}
.form_height {
    margin-bottom: 10px;
	height:44px;
	border-radius: 0px;
	width: 100%%;
}
.upload_input_box {
    float: left;
    width: 100%;
}
.uplos_color {
    float: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.img_format {
    float: left;
	width: 100%;
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 10px;
}
.checkbox{width:22px;height:22px;background-color:#ddd;position:relative;border-radius: 2px;margin-bottom:0px;margin-top:0px;}
.checkbox input[type="checkbox"]{
	visibility:hidden;
}
.class_label{
	 font-family: 'montserratregular';
	font-size: 14px;
	padding: 7px 0px;
	float:left;
	width:100%;
}
.w_text textarea {
    border-radius: 0px;
    height:85px !important;
    width: 100% !important;
}
.checkbox label {
	width:20px;
	height:20px;
	position:absolute;
	top:1px;
	left:1px;
	background-color:#fff;border-radius: 2px;
}
.btn_reset {
    padding: 7px 28px !important;
	font-size: 17px !important;
    background-color: #00AEE7;
    color: #fff !important;
    border-radius: 0px !important;
	margin-right:25px !important;
	position:relative !important;
	overflow:hidden !important;
	box-shadow: 2px 2px 6px gray !important;
}
.btn_reset:hover{
    color: #fff !important;
}
.btn_reset:focus{
    color: #fff !important;
}
.btn_reset_sec {
    padding: 7px 28px !important;
	font-size: 17px !important;
    background-color: #FF6600;
    color: #fff;
    border-radius: 0px !important;
	margin-right:10px !important;
	box-shadow: 2px 2px 6px gray !important;
}
.btn_reset_sec:hover{
    color: #fff !important;
}
.btn_reset_sec:focus{
	background-color: #FF6600;
    color: #fff !important;
}
.back_page_btn {
    float: left;
    width: 100%;
    text-align: right;
	margin-bottom: 30px;
}
.marg_spac_iput {
	float: left;
	width: 100%;
    margin-bottom: 20px;
}
.appoint_head {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dotted #00AEE7;
    padding-bottom: 2px;
}
.apointme_selection {
    float: left;
    width: 100%;
}
.appoint_head::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 155px;
    background-color: #00AEE7;
    bottom: -1px;
}
.profile_form_here {
    float: left;
    width: 100%;
}
.frm_label {
    font-family: 'montserratregular';
    font-size: 13px;
    padding: 7px 15px;
}
.profil_name {
    float: left;
	width:100%;
    font-size: 16px;
	margin: 5px 0 0px;
}
.profil_name.address{margin: 5px 0 15px;}
.proof_isuu {
    float: left;
    width: 100%;
    font-size: 16px;
	margin-bottom: 7px;
}
.wo_type_sec{
	float: left;
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
}
.marg_spac_iput textarea{
	border-radius:0px;
	height:100%;
	width:100%;
}
.add_inpo_textare {
    height: 80px !important;
    width: 100% !important;
}
.proof_spac_iput {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.upl_img_ssec_n {
    float: left;
    width: 90.4%;
    height: 40px;
    border-radius: 0px;
}
.f_sel_margin {
	float:left;
	width:100%;
	position:relative;
    margin-bottom: 20px;
	display:block;
}
.all_link_here_new{
	float:left;
	width:100%;
	padding: 50px 0;
	background-color: #edf2f3;
	text-align: center;
}
.all_link_here_new h1{
	margin: 20px 20px;
}
.form_not_here {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.form_not_here p{
	font-size: 16px;
}
.text_address {
    height: 100% !important;
    width: 100% !important;
	min-height: 110px !important;
}
.form_star {
    font-size: 8px !important;
    color: #ff6600;
    position: absolute;
    top: 8px;
}
.text_head_tim_pik {
    float: left;
    width: 100%;
    font-size: 17px;
    margin: 10px 0px 18px auto;
	padding-bottom: 4px;
	border-bottom: 1px dotted #00aee7;
}
.profile_img {
    float: left;
    padding: 10px;
    border: 1px solid #CCCCCC;
}
.profile_img h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
.profile_new_f {
    float: left;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #cccccc;
}
.wo_type {
    float: left;
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.proof_spac_iput img {
    width: 100px;
}
.gr_set {
    border-radius: 0px;
}
.gr_set_new {
    border-radius: 0px;
	padding: 0px 13px !important;
}
.back_btn_here {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px !important;
	position:relative;
	z-index:9;
	box-shadow: 2px 2px 6px gray;
	padding: 6px 16px !important;
	font-size: 18px !important;
	width: 100px;
}
.back_btn_here:hover{
    color: #fff !important;
}
.input_set_sec {
	height:44px;
    border-radius: 0px;
}
.back_btn_here:focus{
    color: #fff !important;
}
.checkbox label:before {
	content: '';
	width: 12px;
	height: 7px;
	border: 3px solid #333;
	position: absolute;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	top: 6px;
	left: 4px;
	opacity: 0;
}
.checkbox input[type="checkbox"]:checked +label:before{
	opacity:1;
}
.checkbox input[type="checkbox"]:checked +label{
	opacity:1;
}
.cheak_title {
    float: left;
    width: 30%;
}
.chek_bo_h{
	float: left;
	margin: 0px;
}
.w_text {
    float: left;
    width: 100%;
    margin-top:8px;
}
.form_submit_btn {
    float: left;
    width: 100%;
    margin: 25px 0 10px;
    text-align: center;
}
.work_resu_record {
    float: left;
    width: 100%;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.tab_sect {
    float: left;
    width: 100%;
}
.profie_here {
    float: left;
    width: 100%;
	border: 1px solid #939393;
	padding: 11px 15px;
	margin-bottom: 25px;
}
.profile_detilas {
    float: left;
    width: 100%;
}
.profil_mainhere {
    float: left;
    width: 30%;
	border-right: 1px solid #939393;
}
.profil_set_bl{
	float:left;
	width:55%;
	margin: 10px 20px;
}
.pro_name {
    font-family: 'montserratlight';
}
.profil_here i{
	font-size:45px;
	color: #00AEE7;
}
.calenser_note {
    float: left;
    width: 100%;
    margin-top: 35px;
}
.calenser_note p{
	font-size: 17px;
}
.profile_detilas h5{
	font-size: 19px;
	font-family: 'montserratregular';
	margin-top: 6px;
	margin-bottom: 25px;
}
.profile_btn {
    background-color: #FF6600;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
	padding: 7px 14px;
	box-shadow: 2px 2px 6px gray;
}
.profile_btn:hover{
	background-color: #FF6600;
    color: #fff;
}
.profile_btn:focus{
	background-color: #FF6600;
    color: #fff;
}
.profile_btn_sec {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
	padding: 7px 14px;
	box-shadow: 2px 2px 6px gray;
}
.book_pop_up {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.booxed_text {
    float: left;
    width: auto;
}
.boox_slot_popup {
    float: right;
    width: auto;
}
.pop_up_btn {
    background-color: #ff6600;
    color: #fff;
    border-radius: 0px;
	padding: 8px 20px;
	font-size: 17px;
	box-shadow: 2px 2px 6px gray !important;
}
.pop_up_btn:hover{
	color: #fff;
}
.pop_up_btn:focus{
	color: #fff;
}
.booxed_text h4{
	float: left;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 15px;
}
.circle_booked {
    float: left;
    width: 50px;
    height: 50px;
    background: #00aee7;
    border-radius: 50%;
}
.selec_yag_meu {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background-image: url(../img/arrow_down.png) !important;
    background-position: 97% 12px;
    background-size: 15px;
    background-repeat: no-repeat;
	border-radius: 0px;
	height:40px !important;
}
.selec_yag_meu:focus{
	box-shadow:none !important;
	border-color:#cccccc !important;
}
.search_btn {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
    padding: 7px 20px;
	font-size: 17px;
	box-shadow: 2px 2px 6px gray !important;
}
.search_btn:hover{
	background-color: #00AEE7;
    color: #fff;
}
.book_status_form {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.panel-title.panne_head:hover::after {
    color: #00aee7;
	transition:.5s;
}
.panne_head a:hover {
    color: #00aee7;
	transition:.5s;
}
.search_btn:focus{
	background-color: #00AEE7;
    color: #fff;
}
.boook_req_table {
    float: left;
    width: 100%;
}
.profile_btn_sec:hover{
	background-color: #00AEE7;
    color: #fff;
}
.profile_btn_sec:focus{
	background-color: #00AEE7;
    color: #fff;
}
.table_set_here tbody tr td{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here thead tr th{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here tbody tr:last-child{
	border-bottom: 1px solid #dddddd;
}
.table_set_here tbody tr td:nth-child(5) {
    color: #00aee7;
}
.table_set_here thead{
	border-top:0;
}


.table_set_here_sec tbody tr td{
	text-align:center;
	font-size:13px;
	padding: 10px 8px;
}
.table_set_here_sec thead tr th{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here_sec tbody tr:last-child{
	border-bottom: 1px solid #dddddd;
}
.table_set_here_sec tbody tr td:nth-child(10) {
    color: #00aee7;
}
.table_set_here_sec thead{
	border-top: 0;
}
.profil_imgtab {
    width: 40px;
    margin: auto;
}

/* tab css end here */


/*radio button css start here*/

.chek_bo_h_sec {
    height: 25px;
    width: 25px;
	float: left;
	margin-top:10px;
    background: #ff6600;
}
.checkbox_sec {
    height: 23px !important;
    width: 23px !important;
	background: #ff6600;
}
.checkbox_sec:before{
	content: '' !important;
	width: 18px !important;
	height: 10px !important;
	border: 4px solid #333 !important;
	position: absolute !important;
	border-top: none !important;
	border-right: none !important;
	transform: rotate(-45deg) !important;
	top: 5px !important;
	left: 4px !important;
}

/*radio button css end here*/

/*popup css start here*/

.border_none_pop {
    border-bottom: 1px dotted #00aee7;
    padding: 5px 0px;
}
.model_size {
    font-size: 17px;
}
.close_btn_pop{
	margin-top: -16px !important;
	font-size: 40px;
	opacity: 1;
	color: #ff6600;
}
.btn_dash_b {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
    font-size: 17px;
    padding:7px 24px;
	position:relative;
	z-index: 9;
	font-family: 'montserratregular';
}
.btn_dash_b:hover{
	color: #fff;
}
.btn_dash_b:focus{
	color: #fff;
}
.dash_boar_btn {
    float: left;
    width: 100%;
    text-align: center;    
	margin-top: 3px;
}
.col_pop {
    margin-bottom: 15px;
}
.col_pop span{
	font-size: 15px;
}
.pop_note {
    float: left;
    width: 100%;
}
.pop_note p{
	margin-bottom: 20px;
	font-size: 15px;
	color: #ff6600;
}
.btn_cancel_pop {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
	margin-right: 30px;
	padding: 8px 15px;
	font-size: 16px;
}
.btn_cancel_pop:hover{
	color:#fff !important;
}
.btn_cancel_pop:focus{
	color:#fff !important;
}
.btn_submit_pop {
    background-color: #ff6600;
    color: #fff;
    border-radius: 0px;
	padding: 8px 15px;
	font-size: 16px;
}
.btn_submit_pop:hover{
	color:#fff !important;
}
.btn_submit_pop:focus{
	color:#fff !important;
}
.fott_btn {
    text-align: center;
}
.model_padd{
	padding:0px;
	border-radius: 0px;
}
.modal-footer {
    border-top: 1px solid #00aee7;
    float: left;width: 100%;
}
.modal-content{
	display: table;
}
.modal-body{float: left;width: 100%;}
.modal-header {
    padding: 10px;
    background: #00aee7;
    color: #fff;
    text-align: center;
    float: left;width: 100%;
}
.top_pop{
	top: 25%;
}
.small_f_star {
    font-size: 20px;
    color: #ff6600;
    margin-top: -6px;
    float: right;
    width: 29%;
}

/*popup css end here*/

/*file upload css start here*/

.file-upload {
	position: relative;
	display: inline-block;
	width: 179px;
	margin-top:5px;
}

.file-upload__label {
  display: block;
  padding: 10px 10px;
  cursor:pointer;
  color: #fff;
  background-color: #00aee7;
  border-radius: 0px;
  transition: background .3s;
  font-family: 'montserratthin';
  
  &:hover {
     cursor: pointer;
     background: #00aee7;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

/*file upload css end here*/

/*footer section start here*/

.footer_section {
    float: left;
    width: 100%;
    border-top: 1px solid #00aee7;
}
.foo_col_here {
    float: left;
    width: 100%;
    padding: 40px 0 25px;
}
.foot_logo {
    float: left;
    width: 100%;
}
.foot_logo img {
    width: 240px;
}
.foot_link {
    float: left;
    width: 100%;
}
.foo_link_header {
    float: left;
    width: 100%;
}
.foo_link_header h3 {
    margin-top: 0px;
    font-size: 20px;
}
.web_not {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #00aee7;
}
.link_here{
	float:left;
	width:100%;
}
.link_here ul li {
	list-style:none;
}
.link_here ul li::before {
    content: "\00BB";
    font-size: 20px;
    text-align: left;
    color: #ff6600;
    margin-right: 7px;
	transition:.5s;
}
.link_here_sec ul{ float: left;width:100%;}

.link_here ul li:hover::before{
	margin-left: 5px;
	transition:.5s;
}
.link_here ul li a{
	text-decoration:none;
	color:#4c3333;
	transition: .5s;
}
.link_here ul li a:hover{
	color: #00aee7 !important;
	color: #00aee7 !important;
}
.link_here_sec {
    float: left;
    width: 100%;
	margin-top: 10px;
}
.link_here_sec ul li {
    list-style: none;
    float: left;
    padding-right: 10px;
}
.link_here_sec ul li a{
	text-decoration:none;
}
.link_here_sec ul li a i {
    font-size: 18px;
    z-index: 9;
    position: relative;
}
.fb_span {
    height: 37px;
    width: 39px;
    background-color: #4867aa;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.fb_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.fb_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #5b90ff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}

.tw_span {
    height: 37px;
    width: 39px;
    background-color: #1da1f2;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.tw_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.tw_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4ebcff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.g_span {
    height: 37px;
    width: 39px;
    background-color: #ff0000;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.g_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #dc4e40;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.g_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span {
    height: 37px;
    width: 39px;
    background-color: #007bb6;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.li_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #14a0e4;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}


.li_span:hover::after {

    transform: translatey(0);
    transition: .5s;

}
.insta_span {
    height: 37px;
    width: 39px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.insta_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.insta_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
	
/*footer section end here*/

/*full width callender css start here*/

.calender{
  float:left;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.calender .month{
  background-color: #00aee7 !important;
	padding: 20px;
	color: #ecf0f1;
	width: 100%;
	position: relative;
	float: left;
}
.calender .month h1 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month h2 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month .next,.calender .month .prev{
 position: absolute;
top: calc(50% - 25px);
cursor: pointer;
padding: 5px;
display: block;
}
.month{
	margin-bottom:0px;
}
.weeks{
	margin-bottom:0px;
}
.days{
	margin-bottom:0px;
}
.month li{
  list-style:none;
  text-align:center;
}
.weeks li{
  list-style:none;
  text-align:center;
}
.days li{
  list-style:none;
  text-align:center;
}
.calender .month .prev{
  left: 10px;
}
.calender .month .next{
  right: 10px;
}
.calender .month .next:hover,.calender .month .prev:hover{
  background-color: rgba(0,0,0,.2);
}
.calender .weeks {
    display: flex;
    float: left;
    width: 100%;
}
.calender .weeks li{
  background-color: #cccccc;
  flex: 1;
  position: relative;
  animation: motion 2s;
  padding: 10px; 
  font-size:18px;
}
.calender .weeks li:hover{background-color: rgba(0,0,0,.2);}

.calender .days {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff !important;
    float: left;
    width: 100%;
}
.calender .days li{
  flex-basis: calc(100% / 7);/*اقسم المساحه على سبعه اللى هى ايام الاسبوع فى كل صف*/
  padding: 10px 0;
  opacity: .7;
  font-family:'montserratregular';
  font-size: 16px;
  border: 0.1px solid #cccccc;
}
}
.close_btn_pop {
  font-size: 52px !important;
  margin-top: -15px !important;
  opacity: 1;
  color: #00aee7;
}
.responsive_calender {
    float: none;
    width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.calender .days li:hover{background-color: #00aee7;color:#fff;}
.arro_size {
    width: 25px;
}

/*full width callender css end here*/

/*responsive navbar toggles css start here*/

.responsive_nav {
    float: left;
    width: auto;
    display: none;
}
.link_navbar {
    display: none;
	float: left;
	width: 100%;
	border-bottom: 2px solid #00aee7;
	padding:30px 20px;
	background-color: #fff;
	z-index: 99;
}
.link_navbar li{
	list-style:none;
}
.link_navbar li a{
	padding: 12px 0;
	display: block;
	text-decoration: navajowhite;
	color: #333;
	position:relative;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a i{
	font-size: 17px;
}
.link_navbar li a::after {
    content: "";
    background-color: #91e4ff;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a::before{
	content: "";
    background-color: #00aee7;
	height: 2px;
    width: 100%;
}
.link_navbar li a::before {
    content: "";
    background-color: #00aee7;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    z-index: 9;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover::before{
	width: 100%;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover {
    margin-left: 10px;
    color: #00aee7;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.respo_togle_menu {
    float: left;
	width: 100%;
	margin: 22px 11px 0 12px;
}
.respo_togle_menu  i{
	font-size: 21px;
	cursor:pointer;
}


/*responsive navbar toggles css start here*/


/*hover effetcs start here*/

.hover_effects{
	position: relative !important;
	overflow: hidden !important;
	z-index: 9;
}
.hover_effects::after {
    content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #1bc7ff;
	left: 0;
	top: 0;
	z-index: 9;
	transform: translatey(100%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}


.hover_effects_sec{
	position: relative !important;
	overflow: hidden !important;
	box-shadow: 2px 2px 6px gray;
	z-index: 9;
}
.hover_effects_sec::after {
    content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ff8533;
	left: 0;
	top: 0;
	z-index: 9;
	transform: translatey(100%);
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects_sec:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}

/*hover effetcs end here*/

.input-group-btn{width: auto; float: left;}
.table_set_here_sec thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here_sec tbody tr td {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here tbody tr td {text-align: center; padding: 5px 8px; vertical-align: inherit; border: 1px solid #ccc;}
.panel_faq {cursor: pointer; }
.faq_section .panel-body .label.label-primary {font-size: 14px; font-weight: normal;}

/*15-02-2018 kishor added css here*/

.loginpage .footer_section .foo_col_here{display: none;}
.loginpage .footer_section .web_not{margin: 40px 0px; padding-bottom: 0px;}
.loginpage .footer_section .web_not p{font-size: 16px;}

.homepage .header_nav{display: none;}
#menu-toggle{display: none;}

.radio.chek_bo_h input {
    left: 0;
    top: 4px;
    margin: 0 0 0 0px;
}

.input_box_main .form-check {
    float: left;
    width: 48%;
}
.input_box_main .form-check input {
    float: left;
}
.input_box_main .form-check .label-text {
    float: left;
    margin: 0 0 0 13px;
}
#loginform .control-label.has-error.validationMessage{position: absolute;top: 100%;left:0; }
#loginform .input-group.has-error{margin-bottom:25px;}
.apointme_selection .form-group span.control-label{ font-family: 'montserratlight'; font-size: 16px; color: #000;}

.col_pop .checkbox.chek_bo_h_sec{margin:-3px 12px 0 0px;}

.form-horizontal .form-group{margin-left:0;margin-right:0;}
.profile_new_f .form-control{border-radius:0 !important; height:44px !important;}
.profile_new_f .input-group{width:100%;}
.has-error.control-label{color: #ff0000; font-weight: normal;}
.has-error .form-control{border:1px solid #ff0000; box-shadow: none;}
.form-group.f_sel_margin_sec .has-error .input-group-addon{
color: #ff0000;
background-color: #ffffff;
border-color: #ff0000;
border-left-color: rgb(169, 68, 66);
}
.form_set .form_here.has-error {
    position: relative;
}
.form_set .form_here.has-error .control-label.has-error.validationMessage {
    position: relative;
    bottom: 0;
}
.pop_update_password .model_foot_new {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}
.back_btn_here{width: auto;}

