*{margin:0px;padding:0px;}
body{float:left;width:100%;font-family:montserratlight;}
html{float:left;width:100%;}
a{outline:none !important;}
.wrapper {float: left;width: 100%;overflow: hidden;background-color:#fff;}
.btn{outline:none !important;border:0px;}
.form-control:focus{
	box-shadow:none;
	border-color:#CCCCCC;
}

/*header section start here*/

.header_section {
    float: left;
    width: 100%;
	transition:.5s;
	background-color:#fff;
	border-bottom: 2px solid #00AEE7;
	box-shadow: -1px 1px 5px gray;
}
.navbar_set_new li .dropdown-toggle{
	cursor:pointer;
}
.navbar-fixed-top{
	transition:.5s;
}
.header_menu_here {
    float: left;
    width: 100%;
}
.headerlogo_here {
    float: left;
    width: auto;
    display:table; 
}
.headerlogo_here img {
    width: 255px;
}
.header_side_link {
    float: right;
	background-color: #00aee7;
    padding: 8px 20px;
}
.header_nav {
    float: left;
    width: auto;
}
.navbar_section {
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.navbar_set_new li a{
	padding: 35px 17px;
	color:#333;
	font-family: 'montserratregular';
	position:relative;
}
.navbar_set_new li a:hover{
	background:none;
	color:#00aee7;
}
.navbar_set_new li a:focus{
	background:none;
}
.navbar_set_new li:last-child a{
	border-left: 1px solid #cccccc;
	color: #ff6600;
	padding: 35px 10px;
	font-weight: bold;
	font-family: 'montserratlight';
}

.navbar_set{
	margin-bottom:0;
}
.sm_note {
    float: left;
    width: 100%;
    color: #ff6600;
    margin-top: 5px;
}
.notifiaction_set_here {
    float: left;
    width: 100%;
    padding: 60px 0;
}
.notifia_blog {
    float: left;
	width: 100%;
	padding: 10px;
	background-color: #efeded;
	border-radius: 3px;
	position: relative;
	border-left: 2px solid #333;
	padding-left: 47px;
	margin-bottom: 20px;
}
.btn_dash_b :hover{
	color:#fff;
}
.btn_dash_b:focus {
	color:#fff;
}
.btn_dash_b {
    background-color: #00aee7;
    color: #fff !important;
    padding: 8px 22px;
    font-size: 17px;
    text-align: center;
}
.dash_boar_btn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.dash_boar_btn:hover{
	color: #fff;
}
.clear_all_btn {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
}
.clear_all_btn a:hover{
	background-color: #0A9FCF;
}
.clear_all_btn a{
	background-color: #00AEE7;
	color: #fff;
	border-radius: 0px !important;
	position: relative;
	z-index: 9;
	box-shadow: 2px 2px 6px gray;
	padding: 6px 16px !important;
	font-size: 18px !important;
	text-decoration:none;
}
.notifia_blog::after {
    content: "";
	float: left;
	position: absolute;
	left: 10px;
	top: 42px;
	background-image: url(../img/chat.png);
	height: 22px;
	width: 22px;
	background-size: contain;
	background-repeat: no-repeat;
}
.notifia_blog small {
    color: #999;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}
.notifia_blog p{
	float: left;
	width: 100%;
	font-size: 16px;
}
.i_card {
    font-size: 24px !important;
	text-align: center;
	margin: 0 auto;
	float: none;
	display: block !important;
	color: #333;
}
.table_book_re_here table td img{
	float:left;
}

.faq_header {
    float: left;
    width: 100%;
}
.faq_header h4{
	font-size: 17px;
	font-family: montserratregular;
	border-bottom: 1px solid #9b9b9bcc;
	padding-bottom: 7px;
}
.profile_new_ne_sec{
	float: left;
	width: 100%;
	padding: 10px 10px;
	border: 1px solid #cccccc;
	
}
.f_sel_margin_new {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    display: block;
}
.pane_faq{
	float:left;
	width:100%;
	margin-top:5px;
}
.faq_section {
    float: left;
	width: 100%;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #f5f0f0;
}
.panel_faq {
    border-radius: 0px !important;
	margin-bottom: 10px !important;
}
.panne_head a{
	text-decoration:none;
	transition:.5s;
}
.btn_edit {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
	padding: 6px 16px;
	box-shadow: 2px 2px 6px gray !important;
}
.header_section_sec {
    float: left;
    width: 100%;
    transition: .5s;
    background-color: #fff;
    border-bottom: 2px solid #00AEE7;
    box-shadow: -1px 1px 5px gray;
}
.btn_edit:hover{
	background-color: #00AEE7;
    color: #fff;
}
.btn_edit:focus{
	background-color: #00AEE7;
    color: #fff;
}
.img_pro_min {
    width: 135px;
}
.drop_dow_prof {
    float: right;
	margin-top: -3px;
	margin-left: 11px;
}
.icon_width {
    width: 35px;
	height: 35px;
	padding: 1px !important;
	color: #00AEE7;
	object-fit: cover;
	object-position: center;
}
.arrow_down_drop {
    float: right;
    width: 5%;
    margin-top: 16px;
    color: #fff;
}
.sid_close_btn {
    float: left;
    width: 100%;
}
.img_profile_set {
	width: 100px;
    padding: 2px;
    border-radius: 0px;
}
.clos_btn {
    color: #fff;
    background-color: #ff8e43;
    border-radius: 0px !important;
}
.clos_btn:hover{
	color: #fff !important;
}
.clos_btn:focus{
	color: #fff !important;
}
.headerlogo_here_sec {
    float: left;
    width: 100%;
}
.headerlogo_here_sec img{
	width: 325px;
	margin: 0 auto;
	padding: 15px 0px;
}
.header_sid_li{
	float:left;
	width:100%;
}
.input_ann_box {
    width:0px !important;
    border-radius: 0px !important;
    height: 41px !important;
    float: left !important;
	border:0px !important;
	background:#f5f0f0 !important;
	padding:0px !important;
	transition:.5s !important;
	font-family: montserratultra_light !important;
	font-size: 17px !important;
	border-left: 2px solid #333 !important;
	position:absolute;
	right: 43px;
}
.hid_show_meu {
    display: none;
}
.input_ann_box:focus{
	border-left: 2px solid #00aee7 !important;
}
.input_box_main {
    float: left;
    width: 100%;
}
.full_width_search_demo{
	width:300px !important;
	padding:6px 12px !important;
	transition:.5s !important;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	box-shadow: none;
	font-size: 14px !important;

}
.ann_btn_input {
    border-radius: 0px !important;
	padding: 6px 12px !important;
	font-size: 20px !important;
	background-color: #00aee7 !important;
	color: #fff !important;
}
.ann_btn_input:hover{
	color: #fff !important;
}
.ann_btn_input:focus{
	color: #fff !important;
}
.search_bar {
    float: left;
	margin: 10px 10px 0px;
	position:relative;
}
.notifiaction_bell 

/*header section end here*/

/*sidmenu content css start here*/

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #fff;
	border-top: 2px solid #00aee7;
	border-right: 2px solid #00aee7;
    position: fixed;
    height: 100%;
    overflow-y: auto;
	box-shadow: 1px 4px 11px gray;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}
.hid_ahow_li {
    display: none;
}
.sidbar_log_cls_btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.sidebar-nav {
	float:left;
	width: 100%;
	list-style: none;
	margin: 0 0 0;
	padding: 0;
	height: 550px;
	overflow: auto;
}

.sidebar-nav li {
	line-height: 30px;
}

.sidebar-nav li a {
	color: #333;
	display: block;
	transition: .3s;
	text-decoration: none;
	border-bottom: 1px dotted #959595;
	margin: 0px 10px;
	padding: 8px 10px;
	text-align: left;
}

.sidebar-nav li a:hover {
	background: #00aee7;
	text-decoration: none;
	border-left: 4px solid #333;
	color: #fff;
	transition: .3s;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 55px;
	line-height: 55px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	float: left;
	width: 45px;
	text-align: right;
	z-index: 1;
	color: #262626;
	margin-top: 12px;
}
#menu-toggle i{
	font-size: 20px;
}
.drop_menu {
    border-radius: 0px !important;
    top: 48px !important;
	left: -21px !important;
    min-width: 130px !important;
	margin-top: 15px !important;
}
.clock-timepicker {
    float: left;
    width: 100%;
}
.rad_inp {
   border-radius: 0px !important;
}
.table_book_re_here {
    float: left;
    width: 100%;
	margin-top: 45px;
}
#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}
.simenu_content {
	float: left;
	width: 100%;
}
/*sidmenu content css end here*/


/*banner section start here*/

.bannner_section {
    float: left;
	width: 100%;
	height: auto;
	position:relative;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.banner_content {
    float: none;
    width: 100%;
    text-align: center;
	z-index: 9;
	position: relative;
	max-width: 660px;
	margin: 10% auto;
}
.banner_logo {
    width: 110px;
    margin: 0 auto 13px;
}
.banner_content h1{
	font-size: 50px;
	font-family: 'montserratbold';
	color: #fff;
	border-bottom: 3px solid #ff6600;
	margin-top: 0px;
}
.banner_content p{
	color: #fff;
	font-size: 16px;
}
.banner_sec_section {
    float: left;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.next_bann_text {
    float: left;
    width: 100%;
    z-index: 9;
    position: relative;
	margin: 10% 0;
}
.next_bann_text h3{
	font-family: montserratregular;
	color: #fff;
	font-size: 30px;
	text-align:center;
	margin:30px 0; 
}

/*banner section start here*/


/*dashboard content css start here*/

.dashboard_content {
	float: left;
	width: 100%;
}
.dashboard_all_det {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.dashbo_title {
    float: left;
    width: 100%;
	position:relative;
	border-bottom: 2px dotted #00AEE7;
}
.dashbo_title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 235px;
    background-color: #00AEE7;
    bottom: -2px;
}
.dashbo_title h4 {
    margin-top: 0px;
    font-size: 20px;
	margin-bottom: 5px;
    font-family: montserratregular;
}
.dashbo_title_sec {
    float: left;
    width: 100%;
	position:relative;
	border-bottom: 2px dotted #00AEE7;
}
.dashbo_title_sec::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 165px;
    background-color: #00AEE7;
    bottom: -2px;
}
.dashbo_title_sec h4 {
    margin-top: 0px;
    font-size: 20px;
	margin-bottom: 5px;
    font-family: montserratregular;
}
.tab_cont_det_all_sec {
    float: none;
    width: 100%;
    margin-top: 10px;
    max-width: 600px;
	margin: 10px auto;
}
.tab_cont_details_sec {
    float: left;
    width: 100%;
    background-color: #EDF2F3;
    padding: 15px 35px 40px;
    margin-top: 20px;
}
.dashboard_all_det_sec{
	float: none;
	width: 100%;
	padding: 60px 0;
	max-width: 500px;
	margin: 0 auto;
	display:table;
}
.profile_deta {
    float: left;
    width: 100%;
    padding: 0 20px;
}
.profile_deta li {
    list-style: none;
    font-size: 16px;
    padding: 5px 0;
	border-bottom: 1px solid #e4e4e4;
	display: inline-block;
	float: left;
	width: 100%;
}
.profile_deta li span {
    float: left;
    width: 300px;
    font-family: montserratregular;
}
.pr_updt {
    float: left;
    width: 100%;
    text-align: center;
}
.profile_img h5 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
    font-family: montserratregular;
    margin-bottom: 0px;
}
.marg_non_upo {
    margin-bottom: 0px;
}
.fil_ul_img {
    margin-top: 10px !important;
}
.updt_btn {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
    padding: 9px 35px;
    font-size: 17px;
	margin-right: 12px;
	box-shadow: 2px 2px 6px gray !important;
}
.updt_btn:hover {
    color: #fff;
	background-color: #129dcb;
}
.updt_btn:focus {
    color: #fff;
}
.rad_inp_n{
	border-radius:0px !important;
	cursor:pointer;
}
.all_link_here {
    float: left;
    width: 100%;
    padding: 25px 15px 0;
	background-color: #f5f0f0;
	margin-top: 25px;
}
.link_tab_hre {
    float: left;
    width: 100%;
	position:relative;
	overflow:hidden;
	margin-bottom:25px;
}
.link_tab_hre a{
	text-decoration:none;
}
.text_set h3{
	margin:0px 0px 10px;
	text-align: center;
	font-size: 28px;
}
.tab_cont {
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/CroppedImage420320-register-license-your-car.jpg");
	height: 251px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.link_tab_hre:hover .tab_cont{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_sec{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_third{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.link_tab_hre:hover .tab_cont_four{
	background-color: #00AEE7;
	color: #fff;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}
.overlay_sec {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(92, 92, 92, 0.6);
    z-index: 2;
}
.text_set {
    position: absolute;
	top:20px;
    left: 0;
    right: 0;
    z-index: 9;
    color: #fff;
	padding: 0px 22px;
}
.text_set p{
	text-align:center;
}
.tab_cont_sec{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/shutterstock_125348792.0.0.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont_third{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/13_online.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont_four{
    float: left;
    width: 100%;
	padding: 20px 20px;
	background-color: #ececec;
	background-image: url("../img/services-1.jpg");
	height: 251px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
	transition: .5s;
}
.tab_cont h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:montserratlight;
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_sec h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:montserratlight;
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_sec:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_third h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:montserratlight;
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_third:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}
.tab_cont_four h3 {
    margin: 85px 0;
	text-align:center;
    font-size: 27px;
	font-family:montserratlight;
	z-index: 9;
	color: #fff;
	position: relative;
}
.tab_cont_four:hover {
    background-color: #00AEE7;
    color: #fff;
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.4);
	transition: .5s;
}

/*dashboard content css end here*/


/* worker registration form css start here */

.residte_tab_content {
    float: left;
    width: 100%;
}
.tab_lin .active a{
	position:relative;
	background-color: #00AEE7 !important;
	color: #fff !important;
}
.tab_lin li a{
	font-size: 13px !important;
	margin-right: 5px;
	padding: 9px 17px;
}
.tab_cont_det_all {
    float: left;
    width: 100%;
	margin-top:10px;
	padding-bottom: 40px;
}
.tab_lin .active a::after {
    content: "\f0d7 ";
    font-family: fontawesome;
    position: absolute;
    bottom: -18px;
    left: 45%;
    right: 0;
    color: #00aee7;
    font-size: 22px;
}
.table > thead > tr > th {
	vertical-align: top;
}
.table > thead > tr > td{
	vertical-align: middle;
}
#datepicker > span:hover{cursor: pointer;}
.tab_cont_details {
    float: left;
    width: 100%;padding: 10px;
}
.tab_cont_head {
    float: left;
    width: 100%;
	margin-bottom: 20px;
}
.tab_cont_head h4 {
    font-size: 17px;
}

.tab_cont_head_sec {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.forg_pass {
    float: left;
    width: 100%;
	margin-top: 10px;
    text-align: right;
}
.active_pagination a{
	background-color: #00aee7 !important;
	border-color: #00aee7 !important;	
}
.arrow_logigo {
    font-size: 35px !important;
}
.f_sel_margin_sec {
    float: left;
    width: 100%;
    position: relative;
    display: flex;
	margin: 10px 0 5px;
}
.forg_pass a{
	text-decoration:none;
	color:#ff6600;
	transition:.5s;
}
.forg_pass a:hover{
	color:#00aee7;
	transition:.5s;
}
.panel-title.panne_head::after {
    content: "\f0d7";
    font-family: FontAwesome;
    text-align: right;
    float: right;
    cursor: pointer;
	transition:.5s;
}
.tab_cont_head_sec h4 {
    font-size: 17px;
    font-family: montserratregular;
}
.tab_lin li a:hover {
    background-color: #edf2f3;
	color:#4c8ad2;
}
.input_set {
    border-radius: 0px !important;
    height: 40px !important;
	width: 100% !important;
}
.input_set:focus{
	border-color:#cccccc !important;
	box-shadow:none !important;
}
#exTab1 .tab-content {
  float:left;
  width:100%;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.file {
  visibility: hidden;
  position: absolute;
}
.form_here {
    float: left;
    width: 100%;
    margin-bottom:10px;
}
.terms_con_here {
    float: left;
    width: 100%;
}
.terms_con_here h4{
	color:#000;
	font-size: 16px;
	margin: 0px 0px 6px;
}
.terms_con_here p{
	margin-bottom: 15px;
	line-height: 21px;
}
.upl_img{
	float:left;
	width: 85%;
	height: 40px;
	border-radius: 0px;
}
.full_width_brose_img {
    width: 92.7%;
}
.img_cont_dow {
    float: left;
	width: 100%;
	font-size: 15px;
	margin-top: 4px;
	color: #333;
}
.file_downl {
    font-size: 18px !important;
    margin-left: 10px;
}
.inp_uplod{
	height:auto;
	border-radius:0px;
	background-color:#00AEE7;
	color:#fff;
	padding: 10px 13px;
}
.inp_uplod:hover{
	background-color:#00AEE7;
	color:#fff;
}
.inp_uplod:focus{
	background-color:#00AEE7;
	color:#fff;
}
.form_height {
    margin-bottom: 10px;
	height: 35px;
	border-radius: 0px;
	width: 100%%;
}
.upload_input_box {
    float: left;
    width: 100%;
}
.uplos_color {
    float: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.img_format {
    float: left;
	width: 100%;
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 10px;
}
.checkbox{width:22px;height:22px;background-color:#ddd;position:relative;border-radius: 2px;margin-bottom:0px;margin-top:0px;}
.checkbox input[type="checkbox"], .checkbox input[type="radio"]{
	visibility:hidden;
}
.class_label{
	font-family:montserratregular;
	font-size: 13px;
	padding: 7px 0px;
	float:left;
	width:100%;
}
.w_text textarea {
    border-radius: 0px;
    height:85px !important;
    width: 100% !important;
}
.checkbox label {
	width:20px;
	height:20px;
	position:absolute;
	top:1px;
	left:1px;
	background-color:#fff;border-radius: 2px;
}
.btn_reset {
    padding: 7px 28px !important;
	font-size: 17px !important;
    background-color: #00AEE7;
    color: #fff !important;
    border-radius: 0px !important;
	margin-right:25px !important;
	position:relative !important;
	overflow:hidden !important;
	box-shadow: 2px 2px 6px gray !important;
}
.btn_reset:hover{
    color: #fff !important;
}
.btn_reset:focus{
    color: #fff !important;
}

.btn_reset_sec {
    padding: 7px 28px !important;
	font-size: 17px !important;
    background-color: #FF6600;
    color: #fff;
    border-radius: 0px !important;
	margin-right:10px !important;
	box-shadow: 2px 2px 6px gray !important;
}
.btn_reset_sec:hover{
    color: #fff !important;
}
.btn_reset_sec:focus{
	background-color: #FF6600;
    color: #fff !important;
}
.back_page_btn {
    float: left;
    width: 100%;
    text-align: right;
	margin-bottom: 30px;
}
.marg_spac_iput {
	float: left;
	width: 100%;
    margin-bottom: 20px;
}
.appoint_head {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dotted #00AEE7;
    padding-bottom: 2px;
}
.apointme_selection {
    float: left;
    width: 100%;
}
.appoint_head::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 155px;
    background-color: #00AEE7;
    bottom: -1px;
}
.profile_form_here {
    float: left;
    width: 100%;
}
.frm_label {
    font-family: montserratregular;
    font-size: 13px;
    padding: 7px 15px;
}
.profil_name {
    float: left;
	width:100%;
    font-size: 18px;
	margin: 8px 0 20px;
}
.proof_isuu {
    float: left;
    width: 100%;
    font-size: 16px;
	margin-bottom: 7px;
}
.wo_type_sec{
	float: left;
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
}
.marg_spac_iput textarea{
	border-radius:0px;
	height:100%;
	width:100%;
}
.add_inpo_textare {
    height: 80px !important;
    width: 100% !important;
}
.proof_spac_iput {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.upl_img_ssec_n {
    float: left;
    width: 90.4%;
    height: 40px;
    border-radius: 0px;
}
.f_sel_margin {
	float:left;
	width:100%;
	position:relative;
    margin-bottom: 20px;
	display:block;
}
.all_link_here_new{
	float:left;
	width:100%;
	padding: 50px 0;
	background-color: #edf2f3;
	text-align: center;
}
.all_link_here_new h1{
	margin: 20px 20px;
}
.form_not_here {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.form_not_here p{
	font-size: 16px;
}
.text_address {
    height: 100% !important;
    width: 100% !important;
	min-height: 110px !important;
}
.form_star {
    font-size: 8px !important;
    color: #ff6600;
    position: absolute;
    top: 8px;
}
.text_head_tim_pik {
    float: left;
    width: 100%;
    font-size: 17px;
    margin: 10px 0px 18px auto;
	padding-bottom: 4px;
	border-bottom: 1px dotted #00aee7;
}
.profile_img {
    float: left;
    padding: 10px;
    border: 1px solid #CCCCCC;height:auto;width:100%; 
}
.profile_img img{width: 100%; height: 180px;
    object-fit: contain;
    object-position: center center;
    margin-bottom:10px;
}
.profile_img h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
.profile_new_f {
    float: left;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #cccccc;
}
.wo_type {
    float: left;
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.proof_spac_iput img {
    width: 100px;
}
.gr_set {
    border-radius: 0px;
}
.gr_set_new {
    border-radius: 0px;
	padding: 0px 13px !important;
}
.back_btn_here {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px !important;
	position:relative;
	z-index:9;
	box-shadow: 2px 2px 6px gray;
	padding: 6px 16px !important;
	font-size: 18px !important;
	width: 100px;
}
.back_btn_here:hover{
    color: #fff !important;
}
.input_set_sec {
	height:40px;
    border-radius: 0px;
}
.back_btn_here:focus{
    color: #fff !important;
}
.checkbox label:before {
	content: '';
	width: 12px;
	height: 7px;
	border: 3px solid #333;
	position: absolute;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	top: 6px;
	left: 4px;
	opacity: 0;
}
.checkbox input[type="checkbox"]:checked +label:before, .checkbox input[type="radio"]:checked +label:before{
	opacity:1;
}
.checkbox input[type="checkbox"]:checked +label, .checkbox input[type="radio"]:checked +label{
	opacity:1;
}
.cheak_title {
    float: left;
    width: 30%;
}
.chek_bo_h{
	float: left;
	margin-right: 10px;
}
.w_text {
    float: left;
    width: 100%;
    margin-top:8px;
}
.form_submit_btn {
    float: left;
    width: 100%;
    margin: 25px 0 10px;
    text-align: center;
}
.work_resu_record {
    float: left;
    width: 100%;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.tab_sect {
    float: left;
    width: 100%;
}
.profie_here {
    float: left;
    width: 100%;
	border: 1px solid #939393;
	padding: 11px 15px;
	margin-bottom: 25px;
}
.profile_detilas {
    float: left;
    width: 100%;
}
.profil_mainhere {
    float: left;
    width: 30%;
	border-right: 1px solid #939393;
}
.profil_set_bl{
	float:left;
	width:55%;
	margin: 10px 20px;
}
.pro_name {
    font-family: montserratlight;
}
.profil_here i{
	font-size:45px;
	color: #00AEE7;
}
.calenser_note {
    float: left;
    width: 100%;
    margin-top: 35px;
}
.calenser_note p{
	font-size: 17px;
}
.profile_detilas h5{
	font-size: 19px;
	font-family: montserratregular;
	margin-top: 6px;
	margin-bottom: 25px;
}
.profile_btn {
    background-color: #FF6600;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
	padding: 7px 14px;
	box-shadow: 2px 2px 6px gray;
}
.profile_btn:hover{
	background-color: #FF6600;
    color: #fff;
}
.profile_btn:focus{
	background-color: #FF6600;
    color: #fff;
}
.profile_btn_sec {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
	padding: 7px 14px;
	box-shadow: 2px 2px 6px gray;
}
.book_pop_up {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.booxed_text {
    float: left;
    width: auto;
}
.boox_slot_popup {
    float: right;
    width: auto;
}
.pop_up_btn {
    background-color: #ff6600;
    color: #fff;
    border-radius: 0px;
	padding: 8px 20px;
	font-size: 17px;
	box-shadow: 2px 2px 6px gray !important;
}
.pop_up_btn:hover{
	color: #fff;
}
.pop_up_btn:focus{
	color: #fff;
}
.booxed_text h4{
	float: left;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 15px;
}
.circle_booked {
    float: left;
    width: 50px;
    height: 50px;
    background: #00aee7;
    border-radius: 50%;
}
select.form-control, .selec_yag_meu {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background-image: url(../img/arrow_down.png) !important;
    background-position: 97% 12px;
    background-size: 15px;
    background-repeat: no-repeat;
	border-radius: 0px;
	height:40px !important;
}
.selec_yag_meu:focus{
	box-shadow:none !important;
	border-color:#cccccc !important;
}
.search_btn {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
    padding: 7px 20px;
	font-size: 17px;
	box-shadow: 2px 2px 6px gray !important;
	margin-right:10px;
}
.search_btn:hover{
	background-color: #00AEE7;
    color: #fff;
}
.book_status_form {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.panel-title.panne_head:hover::after {
    color: #00aee7;
	transition:.5s;
}
.panne_head a:hover {
    color: #00aee7;
	transition:.5s;
}
.search_btn:focus{
	background-color: #00AEE7;
    color: #fff;
}
.boook_req_table {
    float: left;
    width: 100%;
}
.profile_btn_sec:hover{
	background-color: #00AEE7;
    color: #fff;
}
.profile_btn_sec:focus{
	background-color: #00AEE7;
    color: #fff;
}
.table_set_here tbody tr td{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here thead tr th{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here tbody tr:last-child{
	border-bottom: 1px solid #dddddd;
}
.table_set_here tbody tr td:nth-child(5) {
    color: #00aee7;
}
.table_set_here thead{
	border-top:0;
}


.table_set_here_sec tbody tr td{
	text-align:center;
	font-size:13px;
	padding: 10px 8px;
}
.table_set_here_sec thead tr th{
	text-align:center;
	padding: 10px 8px;
}
.table_set_here_sec tbody tr:last-child{
	border-bottom: 1px solid #dddddd;
}
.table_set_here_sec thead{
	border-top: 0;
}
.profil_imgtab {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
    object-position: top;
}

/* tab css end here */


/*radio button css start here*/

.chek_bo_h_sec {
    height: 30px;
    width: 30px;
	float: left;
	margin-top:10px;
    background: #ff6600;
}
.checkbox_sec {
    height: 28px !important;
    width: 28px !important;
	background: #ff6600;
}
.checkbox_sec:before{
	content: '' !important;
	width: 20px !important;
	height: 10px !important;
	border: 4px solid #333 !important;
	position: absolute !important;
	border-top: none !important;
	border-right: none !important;
	transform: rotate(-45deg) !important;
	top: 7px !important;
	left: 5px !important;
}

/*radio button css end here*/

/*popup css start here*/

.border_none_pop {
    border-bottom: 1px dotted #00aee7;
    padding: 5px 0px;
}
.model_size {
    font-size: 17px;
}
.close_btn_pop{
	margin-top: -16px !important;
	font-size: 40px;
	opacity: 1;
	color: #ff6600;
}
.btn_dash_b {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
    font-size: 17px;
    padding:7px 24px;
	position:relative;
	z-index: 9;
	font-family: montserratregular;
}
.btn_dash_b:hover{
	color: #fff;
}
.btn_dash_b:focus{
	color: #fff;
}
.dash_boar_btn {
    float: left;
    width: 100%;
    text-align: center;    
	margin-top: 3px;
}
.col_pop {
    margin-bottom: 15px;
}
.col_pop span{
	font-size: 15px;
}
.pop_note {
    float: left;
    width: 100%;
}
.pop_note p{
	margin-bottom: 20px;
	font-size: 15px;
	color: #ff6600;
}
.btn_cancel_pop {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
	margin-right: 30px;
	padding: 8px 15px;
	font-size: 16px;
}
.btn_cancel_pop:hover{
	color:#fff !important;
}
.btn_cancel_pop:focus{
	color:#fff !important;
}
.btn_submit_pop {
    background-color: #ff6600;
    color: #fff;
    border-radius: 0px;
	padding: 8px 15px;
	font-size: 16px;
}
.btn_submit_pop:hover{
	color:#fff !important;
}
.btn_submit_pop:focus{
	color:#fff !important;
}
.fott_btn {
    text-align: center;
}
.model_padd{
	padding:0px;
	border-radius: 0px;
}
.modal-footer {
    border-top: 1px solid #00aee7;
    float: left;width: 100%;
}
.modal-content{
	display: table;
}

/*popup css end here*/

/*file upload css start here*/

.file-upload {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top:0px;
}

.file-upload__label {
  	display: block;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #00aee7;
    border-radius: 0px;
    margin-bottom: 0px;
    transition: background .3s;
  
  &:hover {
     cursor: pointer;
     background: #00aee7;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

/*file upload css end here*/

/*footer section start here*/

.footer_section {
    float: left;
    width: 100%;
    border-top: 1px solid #00aee7;
}
.foo_col_here {
    float: left;
    width: 100%;
    padding: 40px 0 25px;
}
.foot_logo {
    float: left;
    width: 100%;
}
.foot_logo img {
    width: 240px;
}
.foot_link {
    float: left;
    width: 100%;
}
.foo_link_header {
    float: left;
    width: 100%;
}
.foo_link_header h3 {
    margin-top: 0px;
    font-size: 20px;
}
.web_not {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #00aee7;
}
.link_here{
	float:left;
	width:100%;
}
.link_here ul li {
	list-style:none;
}
.link_here ul li::before {
    content: "\00BB";
    font-size: 20px;
    text-align: left;
    color: #ff6600;
    margin-right: 7px;
	transition:.5s;
}
.link_here_sec ul{ float: left;width:100%;}

.link_here ul li:hover::before{
	margin-left: 5px;
	transition:.5s;
}
.link_here ul li a{
	text-decoration:none;
	color:#4c3333;
	transition: .5s;
}
.link_here ul li a:hover{
	color: #00aee7 !important;
	color: #00aee7 !important;
}
.link_here_sec {
    float: left;
    width: 100%;
	margin-top: 10px;
}
.link_here_sec ul li {
    list-style: none;
    float: left;
    padding-right: 10px;
}
.link_here_sec ul li a{
	text-decoration:none;
}
.link_here_sec ul li a i {
    font-size: 18px;
    z-index: 9;
    position: relative;
}
.fb_span {
    height: 37px;
    width: 39px;
    background-color: #4867aa;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.fb_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.fb_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #5b90ff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}

.tw_span {
    height: 37px;
    width: 39px;
    background-color: #1da1f2;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.tw_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.tw_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4ebcff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.g_span {
    height: 37px;
    width: 39px;
    background-color: #ff0000;
    padding: 11px 10px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.g_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #e71111;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.g_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span {
    height: 37px;
    width: 39px;
    background-color: #007bb6;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.li_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #14a0e4;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}


.li_span:hover::after {

    transform: translatey(0);
    transition: .5s;

}
.insta_span {
    height: 37px;
    width: 39px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    padding: 11px 13px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.insta_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.insta_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
	
/*footer section end here*/

/*full width callender css start here*/

.calender{
  float:left;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.calender .month{
  background-color: #00aee7 !important;
	padding: 20px;
	color: #ecf0f1;
	width: 100%;
	position: relative;
	float: left;
}
.calender .month h1 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month h2 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month .next,.calender .month .prev{
 position: absolute;
top: calc(50% - 25px);
top: -moz-calc(50% - 25px);
top: -webkit-calc(50% - 25px);
top: -o-calc(50% - 25px);
cursor: pointer;
padding: 5px;
display: block;
}
.month{
	margin-bottom:0px;
}
.weeks{
	margin-bottom:0px;
}
.days{
	margin-bottom:0px;
}
.month li{
  list-style:none;
  text-align:center;
}
.weeks li{
  list-style:none;
  text-align:center;
}
.days li{
  list-style:none;
  text-align:center;
}
.calender .month .prev{
  left: 10px;
}
.calender .month .next{
  right: 10px;
}
.calender .month .next:hover,.calender .month .prev:hover{
  background-color: rgba(0,0,0,.2);
}
.calender .weeks {
    display: flex;
    float: left;
    width: 100%;
}
.calender .weeks li{
  background-color: #cccccc;
  flex: 1;
  position: relative;
  animation: motion 2s;
  padding: 10px; 
  font-size:18px;
}
.calender .weeks li:hover{background-color: rgba(0,0,0,.2);}

.calender .days {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff !important;
    float: left;
    width: 100%;
}
.calender .days li{
  flex-basis: calc(100% / 7);/*اقسم المساحه على سبعه اللى هى ايام الاسبوع فى كل صف*/
  padding: 10px 0;
  opacity: .7;
  font-family:montserratregular;
  font-size: 16px;
  border: 0.1px solid #cccccc;
}
}
.close_btn_pop {
  font-size: 52px !important;
  margin-top: -15px !important;
  opacity: 1;
  color: #00aee7;
}
.responsive_calender {
    float: none;
    width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.calender .days li:hover{background-color: #00aee7;color:#fff;}
.arro_size {
    width: 25px;
}

/*full width callender css end here*/

/*responsive navbar toggles css start here*/

.responsive_nav {
    float: left;
    width: auto;
    display: none;
}
.link_navbar {
    display: none;
	float: left;
	width: 100%;
	border-bottom: 2px solid #00aee7;
	padding:30px 20px;
	background-color: #fff;
	z-index: 99;
}
.link_navbar li{
	list-style:none;
}
.link_navbar li a{
	padding: 12px 0;
	display: block;
	text-decoration: navajowhite;
	color: #333;
	position:relative;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a i{
	font-size: 17px;
}
.link_navbar li a::after {
    content: "";
    background-color: #91e4ff;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a::before{
	content: "";
    background-color: #00aee7;
	height: 2px;
    width: 100%;
}
.link_navbar li a::before {
    content: "";
    background-color: #00aee7;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    z-index: 9;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover::before{
	width: 100%;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover {
    margin-left: 10px;
    color: #00aee7;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.respo_togle_menu {
    float: left;
	width: 100%;
	margin: 22px 11px 0 12px;
}
.respo_togle_menu  i{
	font-size: 21px;
	cursor:pointer;
}


/*responsive navbar toggles css start here*/


/*hover effetcs start here*/

.hover_effects{
	position: relative !important;
	overflow: hidden !important;
	z-index: 9;
}
.hover_effects::after {
    content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #1bc7ff;
	left: 0;
	top: 0;
	z-index: 9;
	transform: translatey(100%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}


.hover_effects_sec{
	position: relative !important;
	overflow: hidden !important;
	box-shadow: 2px 2px 6px gray;
	z-index: 9;
}
.hover_effects_sec::after {
    content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ff8533;
	left: 0;
	top: 0;
	z-index: 9;
	transform: translatey(100%);
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects_sec:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}

/*hover effetcs end here*/

.input-group-btn{width: 80px;}
.table_set_here_sec thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here_sec tbody tr td {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here tbody tr td {text-align: center; padding: 5px 8px; vertical-align: inherit; border: 1px solid #ccc;}
.panel_faq {cursor: pointer; }
.faq_section .panel-body .label.label-primary {font-size: 14px; font-weight: normal;}


/*aniket css 2018-05-30*/

.pannel_tab_set {
    float: left;
    width: 100%;
    padding-top: 15px;
}
.tab_set_faq {
    float: left;
    width: 100%;
    margin-bottom: 10px !important;
	border:0px;
}
.tab_set_faq li {
	margin-right:10px !important;
}
.tab_set_faq li {
	padding: 13px 30px !important;
	background-color: #cdcecc !important;
	color: #333 !important;
	border-radius: 0px;
	border: 0px !important;
	font-size: 18px !important;
}
.tab_set_faq .resp-tab-active{
	padding: 13px 30px;
	background-color: #00aee7 !important;
	color: #fff !important;
	border-radius: 0px;
	border: 0px !important;
	font-size: 18px;
	position:relative;
}
.tab_set_faq .resp-tab-active::after{
	content: "\f0d7";
	font-family: fontawesome;
	position: absolute;
	bottom: -15px;
	color: #00aee7;
	left: 0;
	right: 0;
	text-align: center;
}
.tab_cont_set {
    float: left;
    width: 100%;
    background: #fff;
}
.resp_tab_contenmt{
	display: table;
	float: left;
	width: 100%;
	border: 0px;
}
.tab_cont_set .resp-tab-content{
	float:left;
	width:100%;
}
.panel-heading.accordion-toggle.question-toggle.collapsed .panel-title::after{
	transform:rotate(0deg);
}
.panel-heading.accordion-toggle.question-toggle .panel-title::after{
	transform:rotate(179deg);
}


/*new  internet cafe user css start here*/


.model_content_set{
	border-radius: 0px;
}
.model_foot_new {
    text-align: center;
	border: 0px;
	padding-bottom: 40px;
}
.model_foot_new span{
	float: left;
	width: 100%;
	margin-top: 14px;
	color: red;
	font-size: 20px;
	text-align: left;
}
.model_head {
    background-color: #00aee7;
    color: #fff;
}
.set_pop_body {
    float: left;
    width: 100%;
}
.pop_update_password {
    float: left;
    width: 100%;
}
.pop_update_password p{
	font-size: 20px;
	margin-bottom: 15px;
}
.form_set {
    float: left;
    width: 100%;
}
.form_set span{
	float: left;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.title_popup {
    font-family: 'montserratregular';
    font-size: 22px;
    text-align: center;
}
.slash_symbol {
    float: left;
    font-size: 28px;
}
.btn_submit_book_new:hover{
	color:#fff;
	background-color: #1692ba;
}
.btn_submit_book_new {
    padding: 10px 30px;
    font-size: 17px;
    background-color: #00aee7;
    color: #fff;
    margin-right: 20px;
	border-radius: 0px;
}
.set_box_input {
    margin-bottom: 10px;
	margin-top: 10px;
}
.form_note_n {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.form_note_n a{
	text-decoration: none;
	color: #00aee7;
}
.form_note_n a:hover{
	color: #ff6600;
}
.set_emply_input {
    margin-bottom: 28px;
}
.input_box_main_sec {
    float: left;
    width: 100%;
    margin-top: 12px;
}
.class_label_sec {
    font-family: montserratregular;
    font-size: 19px;
    padding: 7px 15px;
    float: left;
    width: 100%;
    margin-top: 15px;
}
.profile_deta li ul {
    width: 135px;
    float: left;
}
.profile_deta li ul li {
    border: 0;
    padding: 5px 0;
}
.main_heading {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.main_heading h3 {
    font-family: montserratregular;
}
.password_set_input {
    width: 300px;
    border-radius: 0px;
}
.reject_btn {
    background-color: #de5f0b;
    color: #fff;
    border-radius: 0px;
    padding: 9px 35px;
    font-size: 17px;
    box-shadow: 2px 2px 6px gray !important;
    margin-right: 15px;
}
.reject_btn:hover {
    color: #fff;
    background-color: #ea0909;
}
.pr_updt {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}
.tab_cont_head h4{
	text-align: center;
	font-size: 23px;
}
.added_works_form_btn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.book_status_form_new {
    float: left;
    width: 100%;
}
.worker_name {
    font-size: 13px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
}
.table_set_here_sec tbody tr td:nth-child(7) {
    color: #00aee7;
}
.td_color_set tbody tr td:nth-child(7) {
    color: #333;
}
.delet_show_icon {
    float: left;
    width: 100%;
	padding: 0 5px;
}
.show_page_eye {
	font-size: 20px;
	text-align: left;
	float: left;
	color: #333;
}
.show_page_eye :hover{
	color: #ff6600;
}
.delet_page_icon{
	font-size: 20px;
	text-align: right;
	float: right;
	color: #e70d0d;
}
.delet_page_icon:hover{
	color: #00aee7;
}
.action_links {
    float: left;
    width: 100%;
}
.action_links a, .action_links button  {
    float: none;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
    background-color:#0ca90c;
    padding: 2px 5px;
    display: flow-root;
	text-decoration:none;
	cursor: pointer;
	border-radius: 3px;
}
.action_links a:hover, .action_links button:hover{
    color: #fff;
    background-color: #0a8c0a;
}
.search_btn_new {
    background-color: #00AEE7;
    color: #fff;
    border-radius: 0px;
    padding: 7px 20px;
	font-size: 17px;
	box-shadow: 2px 2px 6px gray !important;
	margin-left: 15px;
}
.search_btn_new:hover{
	color:#fff;
}
.search_btn_new:focus{
	color:#fff;
}
.book_req_pop_set .modal-header .modal-title {
    text-align: center;
    font-size: 30px;
    font-family: 'montserratregular';
    padding-top: 25px;
}
.book_req_pop_set .modal-footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 35px;
}
.btn_pop_close_sec {
    padding: 10px 30px;
    font-size: 17px;
    background-color: #ff6600;
    color: #fff;
}
.close_pop_set {
    font-size: 50px;
    position: absolute;
    right: 15px;
    top: 3px;
    color: #ff6600;
    opacity: 1;
}
.close_pop_set:hover{
	color:#fff;
	opacity: 1;
}
.table_pagination {
    float: left;
    width: 100%;
    text-align: center;
}
.table_pagination .pagination li .selected {
    background-color: #00aee7;
    color: #fff;
}
.star_ratting_set {
    float: left;
}
.delet_show_icon_sec a:hover{
	color: #ff6600;
}
.delet_show_icon_sec a{
	font-size: 20px;
	text-align:center;
	color: #333;
}
.delet_show_icon_sec {
    float: left;
    width: 100%;
    padding: 0 5px;
}
.edit_btn_div {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
}
.edit_btn {
    background-color: #00aee7;
    color: #fff;
    border-radius: 0px;
    padding: 9px 25px;
    font-size: 17px;
    margin-right: 12px;
    box-shadow: 2px 2px 6px gray !important;
}
.edit_btn:hover{
	color:#fff;
	background-color: #129dcb;
}
.edit_btn:focus{
	color:#fff;
}
.first_msin_user_drop_down li a {
    padding: 5px 10px !important;
	color: #333 !important;
	font-size: 12px;
	font-weight: normal !important;
}
.first_msin_user_drop_down li a:hover {
    background-color: #ddd;
}

/*new  internet cafe user css end here*/



.rating > input { display: none; } 
.rating > label:before { 
  margin-right: 10px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
 margin-bottom:0 !important; 
}
.profil_imgtab_new {
    width: 60px !important;
    height: 100% !important;
}
.fc-day{
	padding: 10px !important;
}
.border_bo_head_new {
    float: left;
    width: 100%;
    padding: 12px 0px !important;
    border-bottom: 1px solid #333;
    background-color: #00AEE7;
    background-color: #00AEE7;
    border-radius: 4px 4px 0px 0px;
}
.pop_confirm_title_set_new {
    text-align: center !important;
    font-size: 21px !important;
    font-family: 'montserratregular' !important;
    color: #fff !important;
    padding-top: 0px !important;
}
.tab_cont_details_new {
    float: none;
    width: 70%;
    background-color: #fbfbfb;
    padding: 20px 20px;
    margin-top: 20px;
    margin: 0 auto;
    display: table;
	font-family: montserratregular;
}
.tab_cont_head_new h4{
	float:left;
}
.tab_cont_head_new {
    float: left;
    width: 100%;
    background-color: #00aee7;
    color: #fff;
    padding: 5px 10px;
	cursor: pointer;
}
.tab_cont_head_new:hover{
	background-color: #08a2d5;
}
.margin_zero{
	margin-right:0px !important;
}
.profil_padding {
    padding-top: 30px;
}
.frm_label {
    font-family: montserratregular;
    font-size: 15px;
    padding: 7px 15px;
}
.tab_cont_head_new .collapse_arrow{
	float: right;
    padding: 10px 5px;
	transform: rotate(179deg);
}
.tab_cont_head_new.collapsed .collapse_arrow{
	transform: rotate(0deg);
	float: right;
	padding: 10px 5px;
}
.pop_confirm_title {
    font-size: 20px !important;
}
.book_req_pop_set .modal-header {
    border-bottom: 0px;
    padding-top: 40px;
}
.btn_pop_close_sec:hover {
    background-color: #d26014;
    color: #fff;
}
.tab_cont_head h3 {
    font-size: 25px;
    font-family: montserratregular;
    padding-bottom: 7px;
    text-align: center;
}
.boook_req_table {
    float: left;
    width: 100%;
}
.book_status_form_sec {
    float: none;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.book_stat_first {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.label_sec {
    font-size: 15px;
    font-weight: bold;
    padding: 6px 0;
    float: left;
}
.book_stat_first_sec {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.search_booing_icon {
    font-size: 20px;
    text-align: center;
    color: #24d724;
}
.book_req_pop_set .modal-content{
	float: left;
	width: 100%;
}
.book_req_pop_set .modal-content .modal-body{
	float: left;
	width: 100%;
}
.view_profil_details {
    float: none;
	width: 80%;
	margin: 0 auto;
}
.view_profil_details ul li{
	list-style:none;
	margin-bottom:18px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
}
.view_profil_details ul li span{
	font-size: 17px;
	font-weight: bold;
	float: left;
	width: 50%;
	padding-right: 30px;
}
.border_bo_head {
    border-bottom: 1px solid #ccc !important;
}
.profile_text_title {
    padding-top: 15px;
}
.profile_info_set_new img {
    float: left;
	margin-right: 12px;
}
.worker_name_all{
	float: left;
	width: auto;
}
.profile_info_set_new {
    float: left;
    width: 50%;
	background-color: #eaeaea;
	padding: 5px;
}
.worker_name_all div{
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700; cursor:pointer;} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/*srar rating css end here*/

/*Pagination bar*/
.botmbar .col-md-6.pull-left{float: left; text-align: left; padding: 0px;}
.botmbar .col-md-6.pull-right{float: right; text-align: right;padding: 0px;}
.botmbar .col-md-6.pull-right .pagination{margin: 0px;}
/*Pagination bar*/

/*Calendar bar*/
.calendarcls .form-control.input_set {
    background: #fff;
    box-shadow: none;
}
.md-calendar-day-header th{background-color:#00aee7 !important;color:#fff;}
.md-calendar-date-selection-indicator{background-color: #eee; border-radius: 0;}
.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator{color:#fff;background-color:#00aee7; border-color:#00aee7;}
.md-calendar-month-label.md-calendar-label-clickable{color: #ff661f;}
.calendarcls .form-control.input_set .md-button {
    background: none;
    margin: 0;
    padding: 0;
    border-radius: 0px !important;
    line-height: normal;
    min-height: auto;
    border: none;
    width: auto;
    left: 0;
    float: right;
    height: auto;
}
.calendarcls .form-control.input_set .md-datepicker-input-container {
    float: left;
    border: none;
    width: 80%;
    line-height: 25px;
    color: #333;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.calendarcls .form-control.input_set .md-datepicker-input-container input.md-datepicker-input {
    width: 100%;    
    cursor: not-allowed;
    pointer-events: none;
}
/*Calendar bar*/


#myModal_first_updat_password, #bo_accepted_new_model, #Booking_details_model, #imageDetails_model{
    background-color: rgba(0, 0, 0, 0.66);
}

.pagination a{
	cursor: pointer;
}

.residte_tab_content .tab_sect .input-group-addon.lgin_grp {
    background: transparent;
    color: red;
    padding: 0;
    bottom: 0;
    border: 0;
    display:inline-block;
    width: 100%;
    float: left;
    margin-top:5px; 			 	
    text-align: left;

}
.residte_tab_content .tab_sect .form_here{position:relative;}
.upload_input_box .form-control.upl_img{width: calc(100% - 80px);float:left;}
.upload_input_box .form-control.input-group-btn{width:80px;float:left;}
#myNavbar{float: right;width: auto;}
.delet_show_icon a {background: #00aee7; width: 30px; height: 30px; float: left; margin-right: 5px; text-align: center; vertical-align: middle; line-height: 30px; border-radius: 50%; font-size: 14px; cursor: pointer; color: #fff;}
.delet_show_icon a:hover {box-shadow: 0px 2px 2px #ccc;}
.delet_show_icon a.delet_page_icon {background: #ff661f; width: 30px; height: 30px; float: left; margin-right: 5px; text-align: center; vertical-align: middle; line-height: 30px; border-radius: 50%; font-size: 14px; cursor: pointer; color: #fff;}
td .delet_show_icon{min-width: 80px;}
.added_works_form_btn .search_btn{margin-top:0;}
.profile_deta li span.selmomth {width: auto;}
.full_width{float: left;width:100%;}
.internetCafe .profile_form_here span.editbtn {width: auto; color: #00aee7; float: right;font-size: 20px;}
.internetCafe #imageDetails_model input[type="file"] {display: block; border: 0; box-shadow: none; padding: 0; margin: 5px 0;}
.internetCafe #imageDetails_model .modal-header {padding-top: 0;background-color:#00aee7;color:#fff;}
.internetCafe #imageDetails_model .modal-dialog {max-width: 100%; width: 450px; display: table; }
.internetCafe #imageDetails_model .modal-body.set_pop_body {padding:0;}
.dropdown-menu.first_msin_user_drop_down{width:160px;position:absolute;}
.internetCafe .sweet-alert {margin-left: 0 !important; width: 350px !important; transform: translate(-50%, 0) !important; right: auto; left: 50%; max-width: 90% !important; }
.internetCafe .sweet-alert h2{font-size: 15px !important;line-height: 20px !important;} 
.internetCafe .sweet-alert .sa-icon.sa-warning .sa-body{height: 20px;top: 5px !important;background-color: #00aee7 !important;}
.internetCafe .sweet-alert .sa-icon.sa-warning .sa-dot{bottom: 5px !important;background-color: #00aee7 !important}
.internetCafe .sweet-alert .sa-icon{width:40px !important;height:40px !important; }
.internetCafe .sweet-alert .sa-button-container button{margin-top:10px !important;}
.internetCafe .sweet-alert .sa-icon.sa-warning {border-color: #00aee7 !important;}
.internetCafe .sweet-alert button.cancel {background-color: #00aee7 !important;}

.edit_profile_icon_set {
    background-color: rgb(0, 174, 231);
    margin-left: 10px;
    float: none !important;
    font-size: 16px !important;
    margin-top: 0px;
    display: inline-block;
    height: 25px;
    width: 25px;
    color: rgb(255, 255, 255) !important;
    border-radius: 100%;
    padding: 5px;
}

.internetCafe .control-label.has-error.validationMessage {
    position: absolute;
    left: 15PX;
    bottom: 10PX;
}
.internetCafe .profile_new_ne_sec .input-group {
    margin-bottom: 15px;
}
.internetCafe .input-group {
    padding-bottom: 10px;
}

{
	float: none;
    width: auto;
    margin-right: 10px;
    display: inline-block;
}



/* model css start here */

.model_head {
    background-color: #00aee7;
    color: #fff;
}
.modal.fade.in.show {
    overflow: hidden !important;
    background: rgba(0, 0, 0, 0.6);
}
.modal-header {
    padding: 10px;
    background: #00aee7;
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
}
.title_popup {
    font-family: 'montserratregular';
    font-size: 22px;
    text-align: center;
}
.set_pop_body {
    float: left;
    width: 100%;
}
.pop_update_password {
    float: left;
    width: 100%;
}
.pop_update_password p {
    font-size: 20px;
    margin-bottom: 15px;
}
.form_set {
    float: left;
    width: 100%;
}
.model_foot_new {
    text-align: center;
    padding-bottom: 40px;
}



/* model css emd here */


/*aniket added css start here*/

.md-virtual-repeat-container .md-virtual-repeat-sizer{
	height: auto !important;
}
.calender-set .input_box_main .ng-pristine{

}
.calender-set .input_box_main .ng-pristine .md-datepicker-button{
	margin: 0 0px !important;
	height: auto !important;
	min-width: 0 !important;
	line-height: 0px !important;
	padding: 8px 10px !important;
	width: auto !important;
	border-radius: 0px !important;
	background-color: #00aee7 !important;
	color: #fff !important;
}
.calender-set .md-datepicker-button{
	margin: 0 0px !important;
	height: auto !important;
	min-width: 0 !important;
	line-height: 0px !important;
	padding: 8px 10px !important;
	width: auto !important;
	border-radius: 0px !important;
	background-color: #00aee7 !important;
	color: #fff !important;
	float: left;
}
._md-datepicker-has-triangle-icon{
	float: left;
	width: 100%;
}
md-icon.md-default-theme, md-icon{
	color: #fff;
}
.calender-set .md-datepicker-input-container{
	width: 40%;
	margin-left: 0px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
}
.calender-set .md-datepicker-triangle-button.md-button.md-icon-button{
	right: 7px !important;
	padding: 5px;
	height: 100%;
	width: 30px;
	line-height: 0px !important;
	top: -1px;
	border-radius:0px;
}
.calender-set .md-datepicker-input{
	width: 100%;
	padding: 5px;
	height: 100%;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
	background-color: #00aee7 !important;
}
.md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque{
	display: none;
}
.md-datepicker-calendar-pane{
	box-shadow: none;
	border: 0px;
}
.md-calendar-scroll-mask{
	border: 1px solid #eaeaea;
	border-top: 0px;
}
.notifiact-bell-set {
    float: left;
    display: flex;
	position: relative;
}
.notifiact-bell-set a{
	padding: 32px 17px !important;
	position: relative;
}
.notifiaction_set .fa-bell{
	font-size: 25px;
	color: #00aee7;
}
.notifiaction_set .badge {
	padding: 5px 4px;
	font-size: 11px;
	background-color: #fa0303;
	border-radius: 100%;
	position: absolute;
	right: 10px;
	top: 25px;
}
.dropdown_user {
    padding: 35px 17px !important;
}
.dropdown_user_wrap{
	display: flex;
}
.drop-d-arrow {
    position: absolute;
    right: 5px;
    top: 46%;
}

/*aniket added css end here*/
/*Kishor Added New css here 20190130*/
.has-error {
color: #ff0000 !important;
font-weight: normal;
font-size: 13px;
border-color: #ff0000 !important;
}
.has-error.control-label {
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
}
.dashboard_all_det .faq_section #faqAccordion {
    float: left;
    width: 100%;
}
.terms_con_here.ng-binding {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.terms_con_here.ng-binding h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
}
.footer_section {
    padding: 15px 0 0 0;
    border-top: 1px solid #00aee7;
}
.footer_section .web_not {
    margin: 10px 0;
    color: #000;
    border-top: 1px solid #00aee7;
    padding: 10px;
}
.clear_all_btn a {
    float: right;
    cursor: pointer;
}
ul.dropdown-menu.first_msin_user_drop_down.show li a {
    cursor: pointer;
}
.in.show .modal-content {
    display: block;
    width: 100%;
    float: left;
}
.in.show .modal-content .modal-header .modal-title {
    font-size: 18px;
    float: left;
}
a, button, input, select {
    outline: none;
}
.form-group .control-label .form_star {
    color: #ff0000;
}
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.profile_new_ne_sec{max-width: 100%;}

.input-group.has-error span {
    border-color: #ff0000;
    color: #ff0000;
}
.btn_reset a {
    color: #fff;
}
.input-group.has-error span {
    border-color: #ff0000;
    color: #ff0000;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;background: #fff;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker button.md-datepicker-button {
    margin: 0;
    border-right: 1px solid #ccc;
    border-radius: 0;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker button.md-datepicker-button .md-datepicker-calendar-icon.ng-scope {
    color: #333;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker .md-datepicker-input-container {
    width: 88%;
    border: none;
    padding: 0;
    height: 100%;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker .md-datepicker-input-container input.md-datepicker-input {
    width: 100%;
    max-width: 93%;
    min-width: 93%;
}
.tab_cont_details form.ng-pristine .form_here .input_box_main md-datepicker .md-datepicker-input-container button.md-datepicker-triangle-button.md-icon-button.md-button {
    padding: 0px 0 0px 0px;
    top: -5px;
}
.tab_cont_head_new {
    float: left;
    width: 100%;
    background-color: #00aee7;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.has-error {
color: #ff0000 !important;
font-weight: normal;
font-size: 13px;
border-color: #ff0000 !important;
}
.has-error.control-label {
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
}
.dashboard_all_det .faq_section #faqAccordion {
    float: left;
    width: 100%;
}
.terms_con_here.ng-binding {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.terms_con_here.ng-binding h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
}
.footer_section {
    padding: 15px 0 0 0;
    border-top: 1px solid #00aee7;
}
.footer_section .web_not {
    margin: 10px 0;
    color: #000;
    border-top: 1px solid #00aee7;
    padding: 10px;
}
.clear_all_btn a {
    float: right;
    cursor: pointer;
}
ul.dropdown-menu.first_msin_user_drop_down.show li a {
    cursor: pointer;
}
.in.show .modal-content {
    display: block;
    width: 100%;
    float: left;
}
.in.show .modal-content .modal-header .modal-title {
    font-size: 18px;
    float: left;
}
a, button, input, select {
    outline: none;
}
.form-group .control-label .form_star {
    color: #ff0000;
}
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.profile_new_ne_sec{max-width: 100%;}

.input-group.has-error span {
    border-color: #ff0000;
    color: #ff0000;
}
.btn_reset a {
    color: #fff;
}

.input-group.has-error label.control-label.has-error {
    float: left;
    width: 100%;
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
    position: absolute;
    top: auto;
    margin: 0;
    left: 0;
    bottom: -8px;
    clear: both;
}
.form_set .form_here.has-error {
    position: relative;
}
.form_set .form_here.has-error .control-label.has-error.validationMessage {
    position: relative;
    bottom: 0;
}
.pop_update_password .model_foot_new {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}
.back_btn_here{width: auto;}