<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Payment</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.paymentCancel.weekly" class="btn btn-info btn-flat pull-left">Back to All Cancelled Payments</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">Booking id</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.bookweekly_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Booking date</th>
                                        <td>{{paymentCancelWeek.formatDate(paymentCancelWeek.singlePaymentCancel.booking_date)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Service time</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.booking_time_from}} - {{paymentCancelWeek.singlePaymentCancel.booking_time_to}}</td>
                                    </tr>
                                    <tr>
                                        <th>Service type</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.tasktype_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Service cost</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.booking_cost}}</td>
                                    </tr>
                                    <tr>
                                        <th>Coupon discount</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.booking_coupon_discount}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Credit points</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.booking_credit}}</td>
                                    </tr> -->
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr><th style="text-decoration: underline;">Clients Details</th></tr>
                                    <tr>
                                        <th width="150px">Name</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.clients_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.clients_phone}} / {{paymentCancelWeek.singlePaymentCancel.clients_mobile}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.clients_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Profile</th>
                                        <td><img src="{{paymentCancelWeek.singlePaymentCancel.clients_image}}" class="img-circle" width="100" height="100" />
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                     <tr><th style="text-decoration: underline;">Workers Details</th></tr>
                                    <tr>
                                        <th width="150px">Name</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.workers_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.workers_phone}} / {{paymentCancelWeek.singlePaymentCancel.workers_mobile}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{paymentCancelWeek.singlePaymentCancel.workers_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Profile</th>
                                        <td><img src="{{paymentCancelWeek.singlePaymentCancel.workers_image}}" class="img-circle" width="100" height="100" />
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>