<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{weekService.title}} Service</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.weekService" class="btn btn-info btn-flat pull-left">Back to All Services</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="weekServiceForm" novalidate angular-validator angular-validator-submit='weekService.saveWeekService()'>
                                <input ng-if="weekService.editFlag" type="hidden" name="week_id" ng-model="weekService.weekServiceForm.week_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="week_name" ng-model="weekService.weekServiceForm.week_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name!'" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Number of Day<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="week_day" ng-model="weekService.weekServiceForm.week_day" placeholder="Enter Number Of Day " validate-on='dirty' required-message="'Please enter number of day!'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Price<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="week_price" ng-model="weekService.weekServiceForm.week_price" placeholder="Enter Price" validate-on='dirty' required-message="'Please enter price!'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="weekService.weekServiceForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in weekService.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!weekService.editFlag" ng-click="weekService.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="weekService.editFlag" ui-sref="backoffice.weekService">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>