<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <div class="card-body">
                <div class="row">
                    <div class="col-12">    
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Change Password</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice" class="btn btn-info btn-flat pull-left">Back to Dashboard</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active " id="home" role="tabpanel" aria-expanded="false">
                    <div class="card-body">
                        <form class="form-horizontal" novalidate angular-validator angular-validator-submit='profile.changePassword()'>
                            <div class="form-group">
                                <label class="col-md-12">Old Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="Enter Old Password" type="password" ng-model="profile.passwordForm.password" validate-on='dirty' required required-message="'Please enter old password!'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">New Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="Enter New Password" type="password" name="new_password" ng-model="profile.passwordForm.new_password" validate-on='dirty' required required-message="'Please enter New password!'" ng-pattern="regex" invalid-message = "'Password must be at least 8 characters!'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Confirm New Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="Enter Confirm New Password" type="password" name="confirm_passowrd" ng-model="profile.passwordForm.confirm_passowrd" validator = "profile.passwordForm.new_password === profile.passwordForm.confirm_passowrd" invalid-message = "'Passwords do not match!'" validate-on='dirty' required required-message="'Please enter confirm password!'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" type="submit" ng-disabled="profile.isDisabledButton">Change Password</button>
                                    <button class="btn btn-warning" type="reset" ng-disabled="profile.isDisabledButton">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Column -->
</div>