<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30"> 
                    <img ngf-thumbnail="profile.profileForm.file || '../assets/admin/img/no-image.jpg'" class="img-circle" width="200" />
                    <h4 class="card-title m-t-10">{{profile.profileForm.name}}</h4>
                </center>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div>
                        <h3 class="card-title">Profile</h3>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-muted  text-info">
                                    <a ui-sref="backoffice" class="btn btn-info btn-flat pull-left">Back to Dashboard</a>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal" name="profileForm" novalidate angular-validator angular-validator-submit='profile.saveProfile()'>
                            
                            <input type="hidden" name="user_id" ng-model="profile.profileForm.user_id">

                            <div class="form-group">
                                <label class="col-md-12">Name</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="admin_name" ng-model="profile.profileForm.admin_name" placeholder="Enter Name" ng-disabled="profile.isDisabled" validate-on='dirty' required required-message="'Please enter name!'">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="user_username" ng-model="profile.profileForm.user_username" placeholder="Enter Email ID" readonly>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label class="col-md-12">Contact Number</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="admin_phone" ng-model="profile.profileForm.admin_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" ng-disabled="profile.isDisabled" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'" >
                                </div>
                            </div> 

                            <div class="form-group">
                                <label class="col-md-12">Address</label>
                                <div class="col-md-12">
                                    <textarea class="form-control form-control-line" name="admin_address" ng-model="profile.profileForm.admin_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter address!'" ng-disabled="profile.isDisabled"></textarea>
                                </div>
                            </div>                             
                            <div class="form-group">
                                <label class="col-md-12">Image upload</label>
                                <div class="col-md-12">
                                    
                                    <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="profile.profileForm.file || '../assets/admin/img/no-image.jpg'"/>
                                    
                                    <input type="file" class="form-control" ngf-select ng-model="profile.profileForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  ng-disabled="profile.isDisabled"/>  

                                    <i ng-show="profile.profileForm.file.$error.required"> *required </i>
                                    <i ng-show="profile.profileForm.file.$error.maxSize"> File too large {{profile.profileForm.file.size / 1000000|number:1}}MB: max 20M </i>

                                </div>                                    
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary" ng-click="profile.updateData();" ng-if="!profile.editFlag">Edit</button>

                                    <button type="submit" class="btn btn-primary" ng-if="profile.editFlag" ng-disabled="profile.isDisabledButton">Update</button>
                                    <button class="btn btn-warning" ng-if="profile.editFlag" ng-click="profile.cancalData();" ng-disabled="profile.isDisabledButton">Cancel</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Column -->
</div>