<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{social.title}} Social</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.social" class="btn btn-info btn-flat pull-left">Back to All Social List</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="socialForm" novalidate angular-validator angular-validator-submit='social.saveSocial()'>
                                
                                <input ng-if="social.editFlag" type="hidden" name="social_id" ng-model="social.socialForm.social_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Social Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="social_type" ng-model="social.socialForm.social_type" validate-on='dirty' ng-options="choice.id as choice.name for choice in social.locationList" required required-message="'Please select social type!'">
                                            <option value="">Select Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">URL<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="url" class="form-control" name="social_url" ng-model="social.socialForm.social_url" placeholder="Enter URL" validate-on='dirty' required required-message="'Please enter URL!'" invalid-message="'Invalid URL address entered'" ng-pattern="regex"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Default Link<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="defaults" ng-model="social.socialForm.defaults" validate-on='dirty' ng-options="choice.id as choice.default for choice in social.defaultList" required-message="'Please select option!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="social.socialForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in social.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="social.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!social.editFlag" ng-disabled="social.isDisabledButton">Reset</button>
                                        <a class="btn btn-warning" ng-if="social.editFlag" ui-sref="backoffice.social" ng-disabled="social.isDisabledButton">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>