<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Social List</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{social.totalSocial}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.social.create" class="btn btn-info btn-flat pull-left">Add New Social</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="social.getSocialList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="social.sort('social_id')">Id
                                                <span ng-show="social.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!social.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="social.sort('social_type')">Social Name 
                                                <span ng-show="social.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!social.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="social.sort('created_at')">Created At
                                                <span ng-show="social.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!social.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="social.sort('default')">Default
                                                <span ng-show="social.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!social.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="social.sort('status')">Status
                                                <span ng-show="social.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!social.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="social.search.social_id" ng-keyup="social.changePage(1, social.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="social.search.social_type" ng-change="social.changePage(1,social.search)" ng-options="choice.id as choice.name for choice in social.locationList">
                                                <option value="">Social Name</option>     
                                            </select>                                            
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="social.search.created_at" ng-change="social.changePage(1,social.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="social.search.default" ng-change="social.changePage(1,social.search)">
                                                <option value="">Select</option>
                                                <option value="0">Not Default</option>
                                                <option value="1">Default</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="social.search.status" ng-change="social.changePage(1,social.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="social.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in social.socialList | orderBy: social.sortKey:social.reverse|itemsPerPage: social.socialPerPage" total-items="social.totalSocial" current-page="social.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.social.view({id:{{item.social_id}} })">{{item.social_id}}</a>
                                        </td>
                                        <td>{{item.social_type}}</td>
                                        <td class="text-center">{{ social.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status " ng-class="item.defaults == 1?'label-success':'label-warning'" ng-click="social.changeStatusDefault(item)">{{item.defaults == 1 ? 'Default':'Not Default'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="social.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.social.view({id: item.social_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.social.edit({id: item.social_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="social.deleteSocial(item.social_id, item.defaults, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="social.socialList.length == 0 && social.socialListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="social.changePage(newPageNumber,social.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>