<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Transactions</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{transReport.totalTranx}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <button ng-click="transReport.getTranxCSV()" class="btn btn-info btn-flat pull-left">Download CSV</button> 
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="transReport.getTranxList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="transReport.sort('payment_id')">Id
                                                <span ng-show="transReport.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!transReport.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="transReport.sort('payment_reference')">Payment
                                                <span ng-show="transReport.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!transReport.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 150px;">
                                            <a ng-click="transReport.sort('payment_type')">Status
                                                <span ng-show="transReport.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!transReport.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="transReport.sort('payment_trans_date')">Created At
                                                <span ng-show="transReport.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!transReport.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="transReport.search.payment_id" ng-keyup="transReport.changePage(1, transReport.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="transReport.search.payment_reference" ng-keyup="transReport.changePage(1, transReport.search)" placeholder="Payment Reference" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="transReport.search.payment_type" ng-change="transReport.changePage(1,transReport.search)">
                                                <option value="">Payment Type</option>
                                                <option value="0">Booking</option>
                                                <option value="1">Credit Purchase</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="transReport.search.payment_trans_date" ng-change="transReport.changePage(1,transReport.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="transReport.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in transReport.tranxList | orderBy: transReport.sortKey:transReport.reverse|itemsPerPage: transReport.tranxPerPage" total-items="transReport.totalTranx" current-page="transReport.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.transReport.view({id:{{item.payment_id}} })">{{item.payment_id}}</a>
                                        </td>
                                        <td>{{item.payment_reference}}</td>
                                        <td class="text-center">
                                            <span class="label" ng-class="item.payment_type == 1?'label-success':'label-warning'" ng-click="transReport.changeStatus(item)">{{item.payment_type==1?'Credit Purchase':'Booking'}}</span>
                                        </td>
                                        <td class="text-center">{{ transReport.formatDate(item.payment_trans_date) }}</td>
                                        
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.transReport.view({id: item.payment_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="transReport.tranxList.length == 0 && transReport.tranxListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="transReport.changePage(newPageNumber,transReport.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>