<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Transaction details</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.transReport" class="btn btn-info btn-flat pull-left">Back to All Transactions</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="200px">Id</th>
                                        <td>{{transReport.singleTranx.payment_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment type</th>
                                        <td>
                                            <span class="label" ng-class="transReport.singleTranx.status == 1 ? 'label-success' : 'label-warning'">
                                                {{transReport.singleTranx.payment_type == 1 ? 'Credit Purchase' : 'Booking'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Payment reference id</th>
                                        <td>{{transReport.singleTranx.payment_reference}}</td>
                                    </tr>
                                    <tr>
                                        <th>Credit points used</th>
                                        <td>{{transReport.singleTranx.payment_credit}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount used</th>
                                        <td>{{transReport.singleTranx.payment_coupon_discount}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total cost</th>
                                        <td>{{transReport.singleTranx.payment_cost}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment currency</th>
                                        <td>{{transReport.singleTranx.payment_currency}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{transReport.singleTranx.payment_country}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment method</th>
                                        <td>{{transReport.singleTranx.payment_method}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment by</th>
                                        <td>{{transReport.singleTranx.clients_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{transReport.formatDate(transReport.singleTranx.payment_trans_date)}}</td>
                                    </tr> 
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>