<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Todays Booking</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{todayBooking.total}}</h6>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="todayBooking.getList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="todayBooking.sort('booking_id')">Id
                                                <span ng-show="todayBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!todayBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="todayBooking.sort('clients_name')">Client
                                                <span ng-show="todayBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!todayBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="todayBooking.sort('workers_name')">Worker
                                                <span ng-show="todayBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!todayBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="todayBooking.sort('booking_date')">Booking Date
                                                <span ng-show="todayBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!todayBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="todayBooking.search.booking_id" ng-blur="todayBooking.changePage(1, todayBooking.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="todayBooking.search.clients_name" ng-blur="todayBooking.changePage(1, todayBooking.search)" placeholder="Clients Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="todayBooking.search.workers_name" ng-blur="todayBooking.changePage(1, todayBooking.search)" placeholder="Workers Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="todayBooking.search.booking_date" ng-change="todayBooking.changePage(1,todayBooking.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="todayBooking.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in todayBooking.list | orderBy: todayBooking.sortKey:todayBooking.reverse|itemsPerPage: todayBooking.PerPage" total-items="todayBooking.total" current-page="todayBooking.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.todayBooking.view({id:{{item.booking_id}} })">{{item.booking_id}}</a>
                                        </td>
                                        <td class="text-center">{{ item.clients_name }}</td>
                                        <td class="text-center">{{ item.workers_name }}</td>
                                        <td class="text-center">{{ todayBooking.formatDate(item.booking_date) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.todayBooking.view({id: item.booking_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="todayBooking.list.length == 0 && todayBooking.listCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="todayBooking.changePage(newPageNumber,todayBooking.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>