<!DOCTYPE html>
<html lang="en" data-ng-app="heavenApp">

<head>
    <meta charset="utf-8">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Heavenly Sent" />
    <meta property="og:description" content="Upload your photos and text to our online templates, then preview, and launch your private page from Heavenly Sent." />
    <meta name="keywords" content="">
    <meta property="og:image" content="./assets/website/img/side_logo.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="canonical" href="http://18.219.129.228/heaven/" />
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="./assets/website/img/fav_ico.png" />

    <!-- <base href="/"> -->
    <title>Heaven | Administrator Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/website/img/fav_ico.png">
    
    <!-- gulp for vendor css files -->
    <link rel="stylesheet" type="text/css" href="dist/backoffice_vendor.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/css/style.css"/>
    <!--Ckeditor-->
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
   
    <!-- gulp for vendor js files -->
    <script type="text/javascript" src="dist/backoffice_vendor.js"></script>
    <!-- gulp for app js files -->
    <script type="text/javascript" src="dist/backoffice_app.js"></script>
    
    <!-- <script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDqzRPdIfxpZWTDmM3VBaQ4_An7-e6Xg64"></script> -->
    <!-- <script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDqzRPdIfxpZWTDmM3VBaQ4_An7-e6Xg64&libraries=placeses,visualization,drawing,geometry,places"></script> -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCVxh67r_xvRYktUVkhorXWjBHZfBHN3kU&libraries=placeses,visualization,drawing,geometry,places"></script>

</head>

<body class="{{$root.bodyClass}}">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div data-ng-if="$root.loader" class="full-page-loader loaderPage">
        <img alt="load-dribbble" src="../assets/common/images/load-dribbble.gif" class="ajax-loader" style="width:15%; " />
    </div>

    <toaster-container toaster-options="{'close-button': true, 'allow-html': true, 'limit':3, 'body-output-type': 'trustedHtml'}"></toaster-container>
    <div class="ui-view"></div>
    
    <script type="text/javascript" src="../assets/admin/js/sidebarmenu.js"></script>
    <script type="text/javascript" src="../assets/admin/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script type="text/javascript" src="../assets/admin/js/custom.min.js"></script>    
</body>

</html>