<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{suburb.title}} Suburb</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburb" class="btn btn-info btn-flat pull-left">Back to All Suburb</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="suburbForm" novalidate angular-validator angular-validator-submit='suburb.saveSuburb()'>
                                <input ng-if="suburb.editFlag" type="hidden" name="suburb_id" ng-model="suburb.suburbForm.suburb_id">

                                <input type="hidden" ng-model="suburb.suburbForm.lat">
                                <input type="hidden" ng-model="suburb.suburbForm.long">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="country" ng-change="suburb.getStatesByID(suburb.suburbForm)" ng-model="suburb.suburbForm.country" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in suburb.countryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Province<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="state" ng-model="suburb.suburbForm.state" ng-change="suburb.getCityByID(suburb.suburbForm)" validate-on='dirty' required required-message="'Please select province!'" ng-options="choice.id as choice.name for choice in suburb.statesList">
                                            <option value="">Select Province </option>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!suburb.hideCity">
                                    <label class="col-sm-4 control-label">City<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="city" ng-model="suburb.suburbForm.city" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in suburb.cityList" ng-change="suburb.getCity(suburb.suburbForm.city)">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Suburb<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="suburb_name" ng-model="suburb.suburbForm.suburb_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'">
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="suburb.suburbForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in suburb.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="map"></div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!suburb.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="suburb.editFlag" ui-sref="backoffice.suburb">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
#map {
    width: 700px;
    height: 500px;
}
</style>