<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Suburb</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{suburb.totalSuburb}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburb.create" class="btn btn-info btn-flat pull-left">Add New Suburb</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="suburb.getSuburbList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suburb.sort('suburb_id')">Id
                                                <span ng-show="suburb.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburb.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="suburb.sort('suburb_name')">Suburb Name
                                                <span ng-show="suburb.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburb.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="suburb.sort('created_at')">Created At
                                                <span ng-show="suburb.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburb.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="suburb.sort('status')">Status
                                                <span ng-show="suburb.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!suburb.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="suburb.search.suburb_id" ng-keyup="suburb.changePage(1, suburb.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="suburb.search.suburb_name" ng-keyup="suburb.changePage(1, suburb.search)" placeholder="Suburb Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="suburb.search.created_at" ng-change="suburb.changePage(1,suburb.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="suburb.search.status" ng-change="suburb.changePage(1,suburb.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="suburb.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in suburb.suburbList | orderBy: suburb.sortKey:suburb.reverse|itemsPerPage: suburb.suburbPerPage" total-items="suburb.totalSuburb" current-page="suburb.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.suburb.view({id:{{item.suburb_id}} })">{{item.suburb_id}}</a>
                                        </td>
                                        <td>{{item.suburb_name}}</td>
                                        <td class="text-center">{{ suburb.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="suburb.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.suburb.view({id: item.suburb_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.suburb.edit({id: item.suburb_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="suburb.deleteSuburb(item.suburb_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="suburb.suburbList.length == 0 && suburb.suburbListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="suburb.changePage(newPageNumber,suburb.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>