<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Suburb</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.suburb" class="btn btn-info btn-flat pull-left">Back to All Suburb</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{suburb.singleSuburb.suburb_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{suburb.singleSuburb.countryName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Province</th>
                                        <td><span ng-repeat="(index, status) in suburb.statesList" ng-show="suburb.singleSuburb.state == status.id">{{status.name}}</span></td>
                                    </tr>
                                    <tr ng-if="suburb.singleSuburb.city">
                                        <th>City</th>
                                        <td><span ng-repeat="(index, status) in suburb.cityList" ng-show="suburb.singleSuburb.city == status.id">{{status.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{suburb.singleSuburb.suburb_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="suburb.singleSuburb.status == 1 ? 'label-success' : 'label-warning'">
                                                {{suburb.singleSuburb.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{suburb.formatDate(suburb.singleSuburb.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{suburb.formatDate(suburb.singleSuburb.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>