<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{modules.title}} Modules</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.modules" class="btn btn-info btn-flat pull-left">Back to All Modules</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="modulesForm" novalidate angular-validator angular-validator-submit='modules.saveModules()'>
                                
                                <input ng-if="modules.editFlag" type="hidden" name="module_id" ng-model="modules.modulesForm.module_id">

                                <div class="form-group" ng-if="modules.catFlag || modules.catEditFlag">
                                    <label class="col-sm-4 control-label">Modules List</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="modules.modulesForm.parent_id" validate-on='dirty' ng-options="choice.module_id as choice.module_name for choice in modules.modulesList" required-message="'Please select module!'" required>
                                            <option value="">Select Module</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="module_name" ng-model="modules.modulesForm.module_name" placeholder="Enter Module Name" validate-on='dirty' required required-message="'Please enter module!'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="modules.modulesForm.status" validate-on='dirty'  ng-options="choice.id as choice.status for choice in modules.statusList" required-message="'Please select status!'" required >
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!modules.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="modules.editFlag" ui-sref="backoffice.modules">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>