<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Modules</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{modules.totalModule}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.modules.create" class="btn btn-info btn-flat pull-left">Add New Modules</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.modules.subcreate" class="btn btn-info btn-flat pull-left">Add New Sub Modules</a>
                                        </h6>
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="modules.getModuleList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="modules.sort('module_id')">Id
                                                <span ng-show="modules.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!modules.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="modules.sort('module_name')">Name
                                                <span ng-show="modules.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!modules.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th> 
                                       <th class="text-center" style="width: 160px;">
                                            <a ng-click="modules.sort('created_at')">Created At
                                                <span ng-show="modules.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!modules.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>  
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="modules.sort('parent_id')">Parent
                                                <span ng-show="modules.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!modules.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th> 
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="modules.sort('status')">Status
                                                <span ng-show="modules.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!modules.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>                                                                              
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="modules.search.module_id" ng-keyup="modules.changePage(1, modules.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="modules.search.module_name" ng-keyup="modules.changePage(1, modules.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="modules.search.created_at" ng-change="modules.changePage(1,modules.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="modules.search.parent_id" ng-change="modules.changePage(1,modules.search)">
                                                <option value="">Parent</option>
                                                <option value="0">Module</option>
                                                <option value="1">Sub Module</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="modules.search.status" ng-change="modules.changePage(1,modules.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>                                                                                
                                       
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="modules.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in modules.moduleList | orderBy: modules.sortKey:modules.reverse|itemsPerPage: modules.modulePerPage" total-items="modules.totalModule" current-page="modules.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.skills.view({id:item.module_id})">
                                                {{item.module_id}}</a>
                                        </td>
                                        <td>{{item.module_name}}</td>
                                        <td class="text-center">{{ modules.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label" ng-class="item.parent_id == 0?'label-info':'label-primary'" >{{item.parent_id == 0 ?  'Module':'Sub Module'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="modules.changeStatus(item)">{{item.status == 1 ? 'Approved':'Not Approved'}}</span>
                                        </td>                                        
                                        <td class="text-center">
                                            <div class="btn-group">
                                               
                                                <a ui-sref="backoffice.modules.view({id: item.module_id})" class="btn btn-success btn-flat btn-sm" ng-if="item.parent_id == '0'"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.modules.subview({id: item.module_id})" class="btn btn-success btn-flat btn-sm" ng-if="item.parent_id != '0'"><i class="fa fa-eye"></i></a>

                                                <a ui-sref="backoffice.modules.edit({id: item.module_id})" class="btn btn-primary btn-flat btn-sm" ng-if="item.parent_id == '0'"><i class="fa fa-edit"></i></a>
                                                <a ui-sref="backoffice.modules.subedit({id: item.module_id})" class="btn btn-primary btn-flat btn-sm" ng-if="item.parent_id != '0'"><i class="fa fa-edit"></i></a>
                                                
                                                <a ng-click="modules.deleteModule(item, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="modules.moduleList.length == 0">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="modules.changePage(newPageNumber,modules.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>