<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Credits</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{buyCredit.totalBuyCredit}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.buyCredit.create" class="btn btn-info btn-flat pull-left">Add New Credit</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="buyCredit.getBuyCreditList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="buyCredit.sort('buyCredit_id')">Id
                                                <span ng-show="buyCredit.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!buyCredit.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="buyCredit.sort('buyCredit_points')">Credit Points
                                                <span ng-show="buyCredit.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!buyCredit.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                         <th>
                                            <a ng-click="buyCredit.sort('buyCredit_amount')">Credit Amount
                                                <span ng-show="buyCredit.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!buyCredit.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="buyCredit.sort('created_at')">Created At
                                                <span ng-show="buyCredit.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!buyCredit.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="buyCredit.sort('status')">Status
                                                <span ng-show="buyCredit.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!buyCredit.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="buyCredit.search.buyCredit_id" ng-keyup="buyCredit.changePage(1, buyCredit.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="buyCredit.search.buyCredit_points" ng-keyup="buyCredit.changePage(1, buyCredit.search)" placeholder="Credit points" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="buyCredit.search.buyCredit_amount" ng-keyup="buyCredit.changePage(1, buyCredit.search)" placeholder="Credit point amount" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="buyCredit.search.created_at" ng-change="buyCredit.changePage(1,buyCredit.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="buyCredit.search.status" ng-change="buyCredit.changePage(1,buyCredit.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="buyCredit.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in buyCredit.buyCreditList | orderBy: buyCredit.sortKey:buyCredit.reverse|itemsPerPage: buyCredit.buyCreditPerPage" total-items="buyCredit.totalBuyCredit" current-page="buyCredit.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.buyCredit.view({id:{{item.buyCredit_id}} })">{{item.buyCredit_id}}</a>
                                        </td>
                                        <td>{{item.buyCredit_points}}</td>
                                        <td>{{item.buyCredit_amount}}</td>
                                        <td class="text-center">{{ buyCredit.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="buyCredit.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.buyCredit.view({id: item.buyCredit_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.buyCredit.edit({id: item.buyCredit_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="buyCredit.deleteBuyCredit(item.buyCredit_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="buyCredit.buyCreditList.length == 0 && buyCredit.buyCreditListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="buyCredit.changePage(newPageNumber,buyCredit.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>