<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{assessorsUser.title}} Assessors</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.assessorsUser" class="btn btn-info btn-flat pull-left">Back to All Assessors</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="assessorsUserForm" novalidate angular-validator angular-validator-submit='assessorsUser.saveAssessorsUser()'>
                                
                                <input ng-if="assessorsUser.editFlag" type="hidden" name="user_id" ng-model="assessorsUser.assessorsUserForm.user_id">

                                <input ng-if="assessorsUser.usertypeFlag" type="hidden" name="usertype" ng-model="assessorsUser.assessorsUserForm.usertype">

                                <input ng-if="assessorsUser.registertypeFlag" type="hidden" name="registertype" ng-model="assessorsUser.assessorsUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_name" ng-model="assessorsUser.assessorsUserForm.user_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" autocomplete="off" ng-pattern="regexName" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_email" ng-model="assessorsUser.assessorsUserForm.user_email" placeholder="Enter Email ID" validate-on='dirty' required required-message="'Please enter email address!'" autocomplete="off" invalid-message="'Invalid email address entered'" ng-disabled="assessorsUser.isDisabledEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_phone" ng-model="assessorsUser.assessorsUserForm.user_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-maxlength="11" ng-minlength="11" invalid-message="'enter 11 digits number'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="user_address" ng-model="assessorsUser.assessorsUserForm.user_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter address!'" autocomplete="off" maxlength="150"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="assessors_country" ng-change="assessorsUser.getStatesByID(assessorsUser.assessorsUserForm)" ng-model="assessorsUser.assessorsUserForm.assessors_country" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in assessorsUser.countryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Province<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="assessors_state" ng-model="assessorsUser.assessorsUserForm.assessors_state" ng-change="assessorsUser.getCityByID(assessorsUser.assessorsUserForm)" validate-on='dirty' required required-message="'Please select state!'" ng-options="choice.id as choice.name for choice in assessorsUser.statesList">
                                            <option value="">Select Province</option>
                                            </option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group" ng-if="!assessorsUser.hideCity">
                                    <label class="col-sm-4 control-label">City<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="assessors_city" ng-change="assessorsUser.getSuburbByID(assessorsUser.assessorsUserForm)" ng-model="assessorsUser.assessorsUserForm.assessors_city" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in assessorsUser.cityList">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!assessorsUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="assessors_suburb" ng-model="assessorsUser.assessorsUserForm.assessors_suburb" validate-on='dirty' required required-message="'Please select suburb!'" ng-options="choice.suburb_id as choice.suburb_name for choice in assessorsUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Image upload</label>
                                    <div class="col-sm-10">
                                        <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="assessorsUser.assessorsUserForm.file || '../assets/admin/img/no-image.jpg'"/>
                                        
                                        <input type="file" class="form-control" ngf-select ng-model="assessorsUser.assessorsUserForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  />                            
                                        
                                        <i ng-show="assessorsUser.assessorsUserForm.file.$error.required"> *required </i>
                                        <i ng-show="assessorsUser.assessorsUserForm.file.$error.maxSize"> File too large {{assessorsUser.assessorsUserForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                    </div>                                    
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="assessorsUser.assessorsUserForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in assessorsUser.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="assessorsUser.isDisabledButton" >Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!assessorsUser.editFlag" ng-disabled="assessorsUser.isDisabledButton"  ng-click="assessorsUser.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="assessorsUser.editFlag" ui-sref="backoffice.assessorsUser" ng-disabled="assessorsUser.isDisabledButton">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>