<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Assessors</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.assessorsUser" class="btn btn-info btn-flat pull-left">Back to All Assessors</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.user_id == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.user_id}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_name == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.assessors_name}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Profile Image</th>
                                        <td><img style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="assessorsUser.singleAssessorsUser.file || '../assets/admin/img/no-image.jpg'" /></td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_email == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.assessors_email}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_phone == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.assessors_phone}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_address == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.assessors_address}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suburb</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_suburb == '' ">NA</div>
                                            <div ng-else><span ng-repeat="(index, status) in assessorsUser.suburbList" ng-show="assessorsUser.singleAssessorsUser.assessors_suburb == status.suburb_id">{{status.suburb_name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_city == 0 ">NA</div>
                                            <div ng-else><span ng-repeat="(index, status) in assessorsUser.cityList" ng-show="assessorsUser.singleAssessorsUser.assessors_city == status.id">{{status.name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Province</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.assessors_state == 0 ">NA</div>
                                            <div ng-else><span ng-repeat="(index, status) in assessorsUser.statesList" ng-show="assessorsUser.singleAssessorsUser.assessors_state == status.id">{{status.name}}</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>
                                            <div ng-if="assessorsUser.singleAssessorsUser.country == '' ">NA</div>
                                            <div ng-else>{{assessorsUser.singleAssessorsUser.country}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="assessorsUser.singleAssessorsUser.status == 1 ? 'label-success' : 'label-warning'">
                                                {{assessorsUser.singleAssessorsUser.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label" ng-class="assessorsUser.singleAssessorsUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                                                {{assessorsUser.singleAssessorsUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{assessorsUser.formatDate(assessorsUser.singleAssessorsUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{assessorsUser.formatDate(assessorsUser.singleAssessorsUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>