<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Notification</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="notForm" novalidate angular-validator angular-validator-submit='notification.saveNot()'>
                               
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Role<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="user" ng-model="notification.notForm.user" validate-on='dirty' required required-message="'Please select role!'">
                                            <option value>Select Role</option>
                                            <option value="0">Worker</option>
                                            <option value="1">Client</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Message<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="message" ng-model="notification.notForm.message" placeholder="Enter Message" validate-on='dirty' required required-message="'Please enter your message!'"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Attach Image</label>
                                    <div class="col-sm-10">
                                        <img style="width:150px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="notification.notForm.file || '../assets/admin/img/no-image.jpg'"/>
                                        <input type="file" class="form-control" ngf-select ng-model="notification.notForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />                                
                                        
                                        <i ng-show="notification.notForm.file.$error.required"> *required </i>
                                        <i ng-show="notification.notForm.file.$error.maxSize"> File too large {{notification.notForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="notification.isDisabledButton">Send</button>
                                        <button type="reset" class="btn btn-warning" ng-disabled="notification.isDisabledButton">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>