<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{fileUpload.title}} File</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.fileUpload" class="btn btn-info btn-flat pull-left">Back to All Files</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form name="fileUpload.upload_form">
                                <p><img style="width:100px;" ngf-thumbnail="fileUpload.file || '/assets/admin/img/no-image.jpg'"/></p>
                                <input 
                                    type="file" 
                                    ngf-select 
                                    ng-model="fileUpload.file" 
                                    name="file" 
                                    ngf-pattern="'image/*'"
                                    accept="image/*" 
                                    ngf-max-size="20MB" 
                                    />                                
                                <p>
                                    <i ng-show="fileUpload.upload_form.file.$error.required">*required</i><br>
                                    <i ng-show="fileUpload.upload_form.file.$error.maxSize">File too large {{fileUpload.file.size / 1000000|number:1}}MB: max 20M</i>
                                </p>
                                <button type="submit" class="btn btn-primary" ng-click="fileUpload.submit()">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>