<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">All Files</h3>
                                    <!-- <h6 class="card-subtitle"><b>Total Records</b> : {{fileUpload.totalPromocode}}</h6> -->
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-inline">
                                        <li>
                                            <h6 class="text-muted  text-info">
                                                <a ui-sref="backoffice.fileUpload.create" class="btn btn-info btn-flat pull-left">Add New File</a>
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="fileUpload.getAllFilesList()">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 60px;">Id</th>
                                        <th>Description</th>
                                        <th style="width: 120px;">File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="fileUpload.fileUploadList.length > 0" ng-repeat="file in fileUpload.fileUploadList">
                                        <td class="text-center">{{file.file_id}}</td>
                                        <td>
                                            <table class="table table-stripped table-responsive table-condensed">
                                                <tr>
                                                    <th>Original Name</th>
                                                    <td>{{file.file_original_name}}</td>
                                                </tr>
                                                <tr>
                                                    <th>New Name</th>
                                                    <td>{{file.file_name}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>{{file.file_size}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Url</th>
                                                    <td><a ng-href="{{file.file_base_url}}" target="_blank">{{file.file_base_url}}</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <img ng-src="{{file.file_base_url}}" class="img-responsive" />
                                            <p class="text-center"><a href="{{file.file_base_url}}" download="{{file.file_original_name}}">Download</a></p>
                                        </td>
                                    </tr>
                                    <tr ng-if="fileUpload.fileUploadList.length == 0">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<style type="text/css">
    img.img-responsive {height: 100px;width: 100px;}
</style>