/* header.topbar.is_stuck {
    position: fixed !important;
    top: 0 !important;
    bottom: unset !important;
} */

.table td, .table th {padding: .4rem;vertical-align: middle;}
.table .alert {margin: 0;}
.label {padding: 6px 10px !important;}
.fa.fa-edit, .fa.fa-trash {color: #fff;}
.sweet-alert h2 {font-size: 18px;}
.table th, .table td {border: 1px solid #ccc !important;}


