<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{workerUser.title}} Worker</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.workerUser" class="btn btn-info btn-flat pull-left">Back to All Workers</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="workerUserForm" novalidate angular-validator angular-validator-submit='workerUser.saveWorkerUser()'>
                                
                                <input ng-if="workerUser.editFlag" type="hidden" name="user_id" ng-model="workerUser.workerUserForm.user_id">

                                <input ng-if="workerUser.usertypeFlag" type="hidden" name="usertype" ng-model="workerUser.workerUserForm.usertype">

                                <input ng-if="workerUser.registertypeFlag" type="hidden" name="registertype" ng-model="workerUser.workerUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Internet Cafe<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="cafeID" ng-model="workerUser.workerUserForm.cafeID" validate-on='dirty' ng-options="choice.user_id as choice.cafeusers_name for choice in workerUser.cafeUserList" required-message="'Please select internet cafe!'" required>
                                            <option value="">Select Internet Cafe</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_name" ng-model="workerUser.workerUserForm.user_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" autocomplete="off" ng-pattern="regex" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_email" ng-model="workerUser.workerUserForm.user_email" placeholder="Enter Email ID" validate-on='dirty' required required-message="'Please enter email address!'" invalid-message="'Invalid email address entered'" autocomplete="off" ng-disabled="workerUser.isDisabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_phone" ng-model="workerUser.workerUserForm.user_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'" ng-disabled="workerUser.isDisabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mobile number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="workers_mobile" ng-model="workerUser.workerUserForm.workers_mobile" placeholder="Enter Mobile Number" validate-on='dirty'  autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-maxlength="9" ng-minlength="9" invalid-message="'Enter 9 digits number'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="user_address" ng-model="workerUser.workerUserForm.user_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter address!'" autocomplete="off" maxlength="150"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="workers_country" ng-change="workerUser.getStatesByID(workerUser.workerUserForm)" ng-model="workerUser.workerUserForm.workers_country" validate-on='dirty' required required-message="'Please select country!'" ng-options="choice.id as choice.name for choice in workerUser.countryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Province<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="workers_state" ng-model="workerUser.workerUserForm.workers_state" ng-change="workerUser.getCityByID(workerUser.workerUserForm)" validate-on='dirty' required required-message="'Please select state!'" ng-options="choice.id as choice.name for choice in workerUser.statesList">
                                            <option value="">Select Province </option>
                                            </option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group" ng-if="!workerUser.hideCity">
                                    <label class="col-sm-4 control-label">City<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="workers_city" ng-change="workerUser.getSuburbByID(workerUser.workerUserForm)" ng-model="workerUser.workerUserForm.workers_city" validate-on='dirty' required required-message="'Please select city!'" ng-options="choice.id as choice.name for choice in workerUser.cityList">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                 <!-- <div class="form-group" data-ng-init="workerUser.allCitySuburbs">
                                    <label class="col-sm-4 control-label">Suburb</label>
                                    <div class="col-sm-10" ng-repeat="(index, status) in workerUser.workers_suburb">                                        
                                       <input type="checkbox" id="md_checkbox_{{item.feedback_id}}" class="filled-in chk-col-red" value="{{item.feedback_id}}" ng-checked="statu.checkall" >
                                        <label for="md_checkbox_{{item.feedback_id}}" ng-click="feedback.unCheck();" >&nbsp;</label>
                                    </div>
                                </div> -->

                                <div class="form-group" >
                                    <table class="tablesaw table-bordered table-hover table">
                                        <thead>
                                            <tr>
                                                <th>Suburb</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(index, status) in workerUser.allCitySuburbs">
                                                <!-- <td class="title"><span ng-show="{{ status.parent_id != 0 }}"><i class="mdi mdi-arrow-right-bold"></i></span> {{status.module_name}}</td> -->
                                                <td>
                                                    <input type="checkbox" id="md_checkbox_27_{{status.suburb_id}}" class="filled-in chk-col-light-blue" ng-checked = "status.existsFlag == 1" value="{{status.suburb_id}}"><label for="md_checkbox_27_{{status.suburb_id}}">{{status.suburb_name}}</label>
                                                </td>
                                                
                                            </tr>                                               
                                        </tbody>
                                    </table>
                                </div>

                               <!-- <div class="form-group" ng-if="!workerUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb B</label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="suburbB" ng-model="workerUser.workerUserForm.suburbB" ng-options="choice.suburb_id as choice.suburb_name for choice in workerUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="!workerUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb C</label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="suburbC" ng-model="workerUser.workerUserForm.suburbC"  ng-options="choice.suburb_id as choice.suburb_name for choice in workerUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="!workerUser.hideSuburb">
                                    <label class="col-sm-4 control-label">Suburb D</label>
                                    <div class="col-sm-10">                                        
                                        <select class="form-control" name="suburbD" ng-model="workerUser.workerUserForm.suburbD"  ng-options="choice.suburb_id as choice.suburb_name for choice in workerUser.suburbList">
                                            <option value="">Select Suburb</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!workerUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="workerUser.editFlag" ui-sref="backoffice.workerUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>