<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Workers</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{workerUser.totalWorkerUser}}</h6>
                            </div>
                            <!-- <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.workerUser.create" class="btn btn-info btn-flat pull-left">Add New Worker User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="workerUser.getWorkerUserList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="workerUser.sort('user_id')">Id
                                                <span ng-show="workerUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!workerUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="workerUser.sort('workers_name')">Name
                                                <span ng-show="workerUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!workerUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="workerUser.sort('created_at')">Created At
                                                <span ng-show="workerUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!workerUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="workerUser.sort('status')">Status
                                                <span ng-show="workerUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!workerUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="workerUser.sort('is_suspend')">Suspend
                                                <span ng-show="workerUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!workerUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="workerUser.search.user_id" ng-keypress="workerUser.changePage(1, workerUser.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="workerUser.search.workers_name" ng-keypress="workerUser.changePage(1, workerUser.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="workerUser.search.created_at" ng-change="workerUser.changePage(1,workerUser.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="workerUser.search.status" ng-change="workerUser.changePage(1,workerUser.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="workerUser.search.is_suspend" ng-change="workerUser.changePage(1,workerUser.search)">
                                                <option value="">Suspend</option>
                                                <option value="0">Not Suspend</option>
                                                <option value="1">Suspend</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="workerUser.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in workerUser.workerUserList | orderBy: workerUser.sortKey:workerUser.reverse|itemsPerPage: workerUser.workerUserPerPage" total-items="workerUser.totalWorkerUser" current-page="workerUser.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.workerUser.view({id:item.user_id})">{{item.user_id}}</a>
                                        </td>
                                        <td>{{item.workers_name}}</td>
                                        <td class="text-center">{{ workerUser.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label" ng-class="item.status == 1?'label-success':'label-warning'">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.is_suspend == 1?'label-success':'label-warning'" ng-click="workerUser.suspendForms(item)">{{item.is_suspend==1?'Suspend':'Not Suspend'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a title="View" ui-sref="backoffice.workerUser.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-eye"></i></a>
                                                <a title="Edit" ui-sref="backoffice.workerUser.edit({id: item.user_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a title="Delete" ng-click="workerUser.deleteWorkerUser(item.user_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="workerUser.workerUserList.length == 0 && workerUser.workerUserListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="workerUser.changePage(newPageNumber,workerUser.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<!-- sample modal content -->
<div id="responsiveSuspend" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suspend</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="workerUser.close()">×</button>
            </div>
            
            <form id="suspendForm" novalidate angular-validator name="suspendForm" angular-validator-submit='workerUser.changeSuspend()'>
                <div class="modal-body">

                    <input type="hidden" name="user_id" ng-model="workerUser.suspendForm.user_id">

                    <input type="hidden" name="is_suspend" ng-model="workerUser.suspendForm.is_suspend">

                    <input type="hidden" name="roleID" ng-model="workerUser.suspendForm.roleID">
                    
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Start Date</label>
                        <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd">
                            <input ng-model="workerUser.suspendForm.workers_suspendStart" type="text" name="workers_suspendStart" class="form-control" placeholder="Select Start Date" validate-on='dirty' required-message="'Please select start date'" required autocomplete="off" />
                        </datepicker>
                    </div>
                    
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">End Date</label>
                        <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" date-min-limit="{{workerUser.suspendForm.workers_suspendStart}}">
                            <input ng-model="workerUser.suspendForm.workers_suspendEnd" type="text" name="workers_suspendEnd" class="form-control" placeholder="Select End Date" validate-on='dirty' required-message="'Please select end date'" required autocomplete="off"/>
                        </datepicker>
                    </div>                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="workerUser.close()" >Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->