<style>
    .checked {
        color: orange;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Worker</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.workerUser" class="btn btn-info btn-flat pull-left">Back to All Workers</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="200px">ID</th>
                                        <td>{{workerUser.singleWorkerUser.user_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{workerUser.singleWorkerUser.workers_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th>
                                        <td>{{workerUser.singleWorkerUser.workers_age}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cafe user name</th>
                                        <td>{{workerUser.singleWorkerUser.cafe_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Profile Image</th>
                                        <td><img style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="workerUser.singleWorkerUser.file || '../assets/admin/img/no-image.jpg'" /></td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{workerUser.singleWorkerUser.workers_email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>{{workerUser.singleWorkerUser.workers_phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile Number</th>
                                        <td>{{workerUser.singleWorkerUser.workers_mobile}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{workerUser.singleWorkerUser.workers_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td><span ng-repeat="(index, status) in workerUser.cityList" ng-show="workerUser.singleWorkerUser.workers_city == status.id">{{status.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Province</th>
                                        <td><span ng-repeat="(index, status) in workerUser.statesList" ng-show="workerUser.singleWorkerUser.workers_state == status.id">{{status.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{workerUser.singleWorkerUser.country}}</td>
                                    </tr>
                                    <tr>
                                        <th>ID/Passport Number</th>
                                        <td>{{workerUser.singleWorkerUser.workers_idPassport}}</td>
                                    </tr>
                                    <tr>
                                        <th>Asylum Number</th>
                                        <td>{{workerUser.singleWorkerUser.workers_asylum}}</td>
                                    </tr>
                                    <tr>
                                        <th>Photo ID</th>
                                        <td><a ng-href="{{workerUser.singleWorkerUser.file3}}" target="_blank"><img ng-src="../assets/front/img/Alberta-ID-card-callout.jpg" style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;"/></a></td>
                                    </tr>
                                                
                                    <tr>
                                        <th>Photo ID Expiry Date</th>
                                        <td><span class="selmomth" ng-repeat="(index, status) in workerUser.monthing" ng-show="workerUser.singleWorkerUser.workers_expiryDateMonth == status.id">{{status.name}}</span> / {{workerUser.singleWorkerUser.workers_expiryDateYear}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Criminal Record</th>
                                        <td><a ng-href="{{workerUser.singleWorkerUser.file2}}" target="_blank"><img src="../assets/front/img/docfile.png" style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" /></a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Code of Conduct</th>
                                        <td><a ng-href="{{workerUser.singleWorkerUser.file1}}" target="_blank"><img src="../assets/front/img/docfile.png" style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;"/></a></td>
                                    </tr>

                                    <tr>
                                        <th>Collect Uniform</th>
                                        <td>{{workerUser.singleWorkerUser.workers_uniform == 0 ? 'No' : 'Yes'}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Emplyment Type</th>
                                        <td>{{workerUser.singleWorkerUser.worker_type == 0 ? 'Long Term' : 'Part Term'}}</td>
                                    </tr>

                                    <tr ng-if="workerUser.singleWorkerUser.worker_type == '1'">
                                        <th>Emplyment Message</th>
                                        <td>{{workerUser.singleWorkerUser.worker_message}}</td>
                                    </tr>

                                    <tr>
                                        <th>Digital Agreement</th>
                                        <td>{{workerUser.singleWorkerUser.workers_digitalAgreement == 0 ? 'Accepted' : 'Rejected'}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Desired Areas of Work</th>
                                        <td>
                                            <ul>
                                                <li ng-if="workerUser.singleWorkerUser.suburbA">{{workerUser.singleWorkerUser.suburbA}}</li>
                                                <li ng-if="workerUser.singleWorkerUser.suburbB">{{workerUser.singleWorkerUser.suburbB}}</li>
                                                <li ng-if="workerUser.singleWorkerUser.suburbC">{{workerUser.singleWorkerUser.suburbC}}</li>
                                                <li ng-if="workerUser.singleWorkerUser.suburbD">{{workerUser.singleWorkerUser.suburbD}}</li>
                                            </ul>   
                                        </td>
                                    </tr> -->

                                    <tr>
                                        <th>Do you like dogs?</th>
                                        <td>{{workerUser.singleWorkerUser.workers_friendlyDogs == 0 ? 'Love Dogs' : workerUser.singleWorkerUser.workers_friendlyDogs == 1 ? 'Can Tolerate' : workerUser.singleWorkerUser.workers_friendlyDogs == 2 ? 'Like Dogs' : 'Do not Like Dogs' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Do you like cats?</th>
                                        <td>{{workerUser.singleWorkerUser.workers_friendlyCats == 0 ? 'Love Cats' : workerUser.singleWorkerUser.workers_friendlyCats == 1 ? 'Can Tolerate' : workerUser.singleWorkerUser.workers_friendlyCats == 2 ? 'Like Cats' : 'Do not Like Cats' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Skills</th>
                                        <td>
                                            <ul>
                                                <li ng-repeat="skills in workerUser.skills">{{skills}}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rating</th>
                                        <td>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 1 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 2 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 3 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 4 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 5 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 6 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 7 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 8 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 9 ? 'checked' : ''"></span>
                                            <span class="fa fa-star" ng-class="workerUser.singleWorkerUser.workers_rating >= 10 ? 'checked' : ''"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="workerUser.singleWorkerUser.status == 1 ? 'label-success' : 'label-warning'">
                                                {{workerUser.singleWorkerUser.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label" ng-class="workerUser.singleWorkerUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                                                {{workerUser.singleWorkerUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{workerUser.formatDate(workerUser.singleWorkerUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{workerUser.formatDate(workerUser.singleWorkerUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
