<div class="table_pagination botmbar" ng-if="pages.length > 0">
    <div class="col-md-6 pull-left">
        <div class="range-label">Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}</div>
    </div>
    <div class="col-md-6 pull-right">
        <ul class="pagination">
            <li ng-class="{ disabled : pagination.current == 1 }">
                <a title="Previous" tabindex="-1" ng-click="setCurrent(pagination.current - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pages">
                <a ng-class="page == pagination.current ? 'selected' : ''" title="{{page}}" ng-click="setCurrent(page)">{{page}}</a>
            </li>
            <li ng-class="{ disabled : pagination.current == pagination.last }">
                <a title="Next" ng-click="setCurrent(pagination.current + 1)">Next</a>
            </li>
        </ul>
    </div>
</div>