<header class="header_section"><!--header section start here-->
    <div class="header_menu_here">
        <div class="header_sid_li">
            <nav class="navbar navbar_set">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand headerlogo_here" ui-sref="frontoffice"><img ngf-thumbnail="header.headerSide[4].file || '../assets/website/img/logo.png'" class="img-responsive" alt="logo"/></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right navbar_set_new">
                            <li><a ui-sref="frontoffice">Home</a></li>
                            
                            <!--Internet Cafe -->
                            <li ng-if="header.setFlagC"><a ui-sref="frontoffice.cafe.create">Register a Worker</a></li>
                            <li ng-if="header.setFlagC"><a ui-sref="frontoffice.cafe">My Added Workers</a></li>
                            <li ng-if="header.setFlagC"><a ui-sref="frontoffice.cafe.booking">Bookings</a></li>
                            <!--Internet Cafe -->
                            
                            <!--Assasor -->
                            <li ng-if="header.setFlagA"><a ui-sref="frontoffice.assessor.requests">Booking Requests</a></li>
                            <li ng-if="header.setFlagA"><a ui-sref="frontoffice.assessor.calender">Calender</a></li>
                            <li ng-if="header.setFlagA"><a ui-sref="frontoffice.assessor.checklist">Checklist</a></li>
                            <li ng-if="header.setFlagA"><a ui-sref="frontoffice.assessor.angels">My Added Angels</a></li>
                            <!--Assasor -->

                            <li>
								<div class="notifiact-bell-set">
									<a ng-if="header.setFlagC" ui-sref="frontoffice.cafe.notification" class="notifiaction_set notifiaction_bell"><i class="fa fa-bell" aria-hidden="true"></i><span class="badge" ng-if ="$root.countNot != '0' ">{{$root.countNot}}</span></a>
									
									<a ng-if="header.setFlagA" ui-sref="frontoffice.assessor.notification" class="notifiaction_set notifiaction_bell"><i class="fa fa-bell" aria-hidden="true"></i><span class="badge" ng-if ="$root.countNot != '0' ">{{$root.countNot}}</span></a>
								</div>
                            </li>
                            <li class="dropdown_user_wrap">
								<a class="dropdown-toggle dropdown_user" data-toggle="dropdown">
									<span>{{$root.nameUser}}</span>
									<div class="dropdown drop_dow_prof">
									  <img ngf-thumbnail="$root.file || '../assets/admin/img/no-image.jpg'" class="img-responsive img-circle icon_width img-thumbnail" />
									</div> 
									<i class="fa fa-caret-down drop-d-arrow" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu first_msin_user_drop_down">
								  <li><a ui-sref="frontoffice.profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;My Profile</a></li>
								  <li><a ui-sref="frontoffice.changePassword"><i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;&nbsp;Change Password</a></li>
								  <li><a ng-click="header.logout();"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a></li>
								</ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header><!--header section end here-->


<!--popup start here here-->
<div class="modal fade" id="session_model" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Session Expiring!</h4>
            </div>
            <div class="modal-body">Your session has expired, Please login again!</div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="header.logoutSession();">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--popup start here here-->