<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="wrapper">
    
    <!-- ============================================================== -->
    <!-- header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header-component></header-component>
    <!-- ============================================================== -->
    <!-- End header -->
    <!-- ============================================================== -->    
    
    <!-- ============================================================== -->
    <!-- Menu Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <menu-component></menu-component>
    <!-- ============================================================== -->
    <!-- End Menu Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->    
    
    <!-- ============================================================== -->
    <!-- Right Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- <right-sidebar-component></right-sidebar-component> -->
    <!-- ============================================================== -->
    <!-- End Right Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Banner Section Start  -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End Banner Section  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div ui-view="content"></div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Footer - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <footer-component></footer-component>
    <!-- ============================================================== -->
    <!-- End Footer -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->