<div class="link_navbar"><!--responsive navbar link start here-->
	<ul>
		<li><a href="worker_registration.html"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Register worker</a></li>
		<li><a href="schedule_appointment.html"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Schedule Appointment</a></li>
		<li><a href="booking_request.html"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Booking Request</a></li>
		<li><a href="added_workers.html"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Added Workers</a></li>
	</ul>
</div>