<div class="simenu_content"><!--sidbar menu start here-->
    <div id="sidebar-wrapper">
        <div class="sidbar_log_cls_btn">
            <span class="sid_close_btn">
                    <a id="menu-close" href="#" class="btn pull-right toggle clos_btn"><i class="fa fa-times" aria-hidden="true"></i></a>
            </span>
        </div>
        <ul class="sidebar-nav">
            <li>
              <a href="worker_profile.html">Worker Profile</a>
            </li>
            <li>
              <a href="appointment_form.html">Appointment Form</a>
            </li>
            <li>
              <a href="assessor_results.html">Accessor List</a>
            </li>
            <li>
              <a href="assessor_calendar.html">Assessor Calendar</a>
            </li>
            <li>
              <a href="added_workers.html">My Workers</a>
            </li>
            <li>
              <a href="settings.html">Settings</a>
            </li>
        </ul>
    </div>
</div><!--sidbar menu end here-->

<script type="text/javascript" src="assets/front/js/custom.js"></script>