<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det_sec">
                <div class="dashbo_title_sec">
                    <h4>Forgot Password</h4>
                </div>
                    <div class="tab_cont_det_all_sec">
                        <div class="tab_cont_details_sec">

                            <form class="form-horizontal form-material" id="loginform" angular-validator-submit="auth.forgotPassword(form.email)" name="loginform" novalidate angular-validator>

                                <div class="profile_form_here">
                                    <div class="profile_new_f">
                                        <div class="form-group f_sel_margin_sec">
                                            <div class="input-group">
                                                <input class="form-control" type="email" class="form-control input_set_sec" placeholder="Email" name="email" ng-model="form.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' required-message="'Please enter email ID!'" autocomplete="off" required />
                                                <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form_submit_btn">
                                            <button type="button" class="btn btn_reset hover_effects"><a ui-sref="auth.login" ng-disabled="auth.isDisabledButton" >Cancel</a></button>
                                            
                                            <button class="btn btn_reset_sec hover_effects_sec text-uppercase waves-effect waves-light" type="submit" ng-disabled="auth.isDisabledButton">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>