<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det_sec">
                <div class="dashbo_title_sec">
                <h3>Log In</h3>
                </div>
                <div class="tab_cont_det_all_sec">
                    <div class="tab_cont_details_sec">
                        
                        <form class="form-horizontal form-material" id="loginform" angular-validator-submit="auth.login(auth.user)" name="loginform" novalidate angular-validator>

                            <input ng-if="auth.device_token" type="hidden" name="device_token" ng-model="auth.user.device_token">

                            <input ng-if="auth.device_type" type="hidden" name="device_type" ng-model="auth.user.device_type">
                                            
                            <div class="profile_form_here">
                                <div class="profile_new_f">
                                    <div class="form-group f_sel_margin_sec">
                                        <div class="input-group">
                                            <input type="email" placeholder="Email" name="email" class="form-control input_set_sec" ng-model="auth.user.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' required required-message="'Please enter email ID!'" autocomplete="off" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-trim="true"/>
                                            <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group f_sel_margin_sec">
                                        <div class="input-group">
                                            <input type="password" placeholder="Password" name="password" class="form-control input_set_sec" ng-model="auth.user.password" required-message="'Please enter password!'" validate-on="dirty" required/>
                                            <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group f_sel_margin_sec">
                                        <div class="input-group">
                                            <select class="form-control input_set_sec" name="usertype" ng-model="auth.user.usertype" validate-on='dirty' required required-message="'Please select login type!'">
                                                <option value>Select</option>
                                                <option value="4">Assessors</option>
                                                <option value="2">Internet Cafe</option>
                                            </select> 
                                            <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>   
                                        </div>
                                    </div>
                                    <span class="forg_pass">
                                        <a ui-sref ="auth.forgotpassword">Forgot Password ?</a>
                                    </span>
                                    <div class="form_submit_btn">
                                        <button class="btn btn_reset_sec hover_effects_sec text-uppercase waves-effect waves-light" type="submit" ng-disabled="auth.isDisabledButton">Log In</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>