<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Bookings</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{allBooking.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <button ng-click="allBooking.getOnceCSV()" class="btn btn-info btn-flat pull-left">Download CSV</button> 
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.allBooking.weekly" class="btn btn-info btn-flat pull-left">Weekly Bookings</a>
                                        </h6>
                                    </li>
                                    <li>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="allBooking.getList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="allBooking.sort('booking_id')">Id
                                                <span ng-show="allBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!allBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="allBooking.sort('clients_name')">Client
                                                <span ng-show="allBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!allBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="allBooking.sort('workers_name')">Worker
                                                <span ng-show="allBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!allBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="allBooking.sort('booking_date')">Booking Date
                                                <span ng-show="allBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!allBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="allBooking.search.booking_id" ng-keyup="allBooking.changePage(1, allBooking.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="allBooking.search.clients_name" ng-keyup="allBooking.changePage(1, allBooking.search)" placeholder="Clients Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="allBooking.search.workers_name" ng-keyup="allBooking.changePage(1, allBooking.search)" placeholder="Workers Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="allBooking.search.booking_date" ng-change="allBooking.changePage(1,allBooking.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="allBooking.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in allBooking.list | orderBy: allBooking.sortKey:allBooking.reverse|itemsPerPage: allBooking.PerPage" total-items="allBooking.total" current-page="allBooking.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.allBooking.view({id:{{item.booking_id}} })">{{item.booking_id}}</a>
                                        </td>
                                        <td class="text-center">{{ item.clients_name }}</td>
                                        <td class="text-center">{{ item.workers_name }}</td>
                                        <td class="text-center">{{ allBooking.formatDate(item.booking_date) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.allBooking.view({id: item.booking_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="allBooking.list.length == 0 && allBooking.listCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="allBooking.changePage(newPageNumber,allBooking.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

