<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Weekly Bookings</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{weeklyBooking.total}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <button ng-click="weeklyBooking.getWeeklyCSV()" class="btn btn-info btn-flat pull-left">Download CSV</button> 
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.allBooking" class="btn btn-info btn-flat pull-left">Once Off Bookings</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="weeklyBooking.getListWeek(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="weeklyBooking.sort('bookweekly_id')">Id
                                                <span ng-show="weeklyBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!weeklyBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="weeklyBooking.sort('clients_name')">Client
                                                <span ng-show="weeklyBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!weeklyBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="weeklyBooking.sort('workers_name')">Worker
                                                <span ng-show="weeklyBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!weeklyBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="weeklyBooking.sort('booking_date')">Booking Date
                                                <span ng-show="weeklyBooking.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!weeklyBooking.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="weeklyBooking.search.bookweekly_id" ng-keyup="weeklyBooking.changePage(1, weeklyBooking.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="weeklyBooking.search.clients_name" ng-keyup="weeklyBooking.changePage(1, weeklyBooking.search)" placeholder="Clients Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="weeklyBooking.search.workers_name" ng-keyup="weeklyBooking.changePage(1, weeklyBooking.search)" placeholder="Workers Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="weeklyBooking.search.booking_date" ng-change="weeklyBooking.changePage(1,weeklyBooking.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="weeklyBooking.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in weeklyBooking.listWeek | orderBy: weeklyBooking.sortKey:weeklyBooking.reverse|itemsPerPage: weeklyBooking.PerPage" total-items="weeklyBooking.total" current-page="weeklyBooking.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.allBooking.weeklyView({id:{{item.bookweekly_id}} })">{{item.bookweekly_id}}</a>
                                        </td>
                                        <td class="text-center">{{ item.clients_name }}</td>
                                        <td class="text-center">{{ item.workers_name }}</td>
                                        <td class="text-center">{{ weeklyBooking.formatDate(item.booking_date) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.allBooking.weeklyView({id: item.bookweekly_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="weeklyBooking.listWeek.length == 0 && weeklyBooking.listWeekCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="weeklyBooking.changePage(newPageNumber,weeklyBooking.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>