<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{promocode.title}} Promo</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.promocode" class="btn btn-info btn-flat pull-left">Back to All Promos</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="promocodeForm" novalidate angular-validator angular-validator-submit='promocode.savePromocode()'>
                                
                                <input ng-if="promocode.editFlag" type="hidden" name="promo_id" ng-model="promocode.promocodeForm.promo_id">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Service Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="promocode_servicetype" ng-model="promocode.promocodeForm.promocode_servicetype" validate-on='dirty' ng-options="choice.id as choice.name for choice in promocode.typeList" required-message="'Please select service type!'" required>
                                            <option value="">Select Service Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Week Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="promocode_weektype" ng-model="promocode.promocodeForm.promocode_weektype" validate-on='dirty' ng-options="choice.id as choice.name for choice in promocode.weektypeList" required-message="'Please select week type!'" required>
                                            <option value="">Select Week Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="promo_name" ng-model="promocode.promocodeForm.promo_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name!'" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="promo_des" ng-model="promocode.promocodeForm.promo_des" placeholder="Enter Description" validate-on='dirty' required-message="'Please enter description!'" required ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Minimum Amount<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="promo_minamount" ng-model="promocode.promocodeForm.promo_minamount" placeholder="Enter Minimum Amount" validate-on='dirty' required-message="'Please enter minimum amount'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Discount % <span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="promo_discount" ng-model="promocode.promocodeForm.promo_discount" placeholder="Enter Discount" validate-on='dirty' required-message="'Please enter discount'" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" ng-pattern="/^[1-9][0-9]*$/" pattern-message="'Don't use zero in first letter!'">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Start Date<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd">
                                            <input ng-model="promocode.promocodeForm.promo_startdate" type="text" name="promo_startdate" class="form-control" placeholder="Select Start Date" validate-on='dirty' required-message="'Please select start date!'" required/>
                                        </datepicker>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">End Date<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" date-min-limit="{{promocode.promocodeForm.promo_startdate}}">
                                            <input ng-model="promocode.promocodeForm.promo_enddate" type="text" name="promo_enddate" class="form-control" placeholder="Select End Date" validate-on='dirty' required-message="'Please select end date!'" required/>
                                        </datepicker>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Banner</label>
                                    <div class="col-sm-10">
                                        <img style="width: 750px; margin: 10px 0px; border: 1px solid #dbdbdb; padding: 5px; height: 250px;" ngf-thumbnail="promocode.promocodeForm.file || '../assets/admin/img/promo_code.jpg'"/>
                                        <input type="file" class="form-control" ngf-select ng-model="promocode.promocodeForm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />                                
                                        
                                        <i ng-show="promocode.promocodeForm.file.$error.required"> *required </i>
                                        <i ng-show="promocode.promocodeForm.file.$error.maxSize"> File too large {{promocode.promocodeForm.file.size / 1000000|number:1}}MB: max 20M </i>
                                    </div>                                    
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="promocode.promocodeForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in promocode.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="promocode.isDisabledButton">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!promocode.editFlag" ng-disabled="promocode.isDisabledButton" ng-click="promocode.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="promocode.editFlag" ui-sref="backoffice.promocode">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>