<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Promos Code</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{promocode.totalPromocode}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.promocode.create" class="btn btn-info btn-flat pull-left">Add New Promo Code</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="promocode.getPromocodeList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="promocode.sort('promo_id')">Id
                                                <span ng-show="promocode.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!promocode.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="promocode.sort('promocode_servicetype')">Service Type
                                                <span ng-show="promocode.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!promocode.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="promocode.sort('promocode_weektype')">Week Type
                                                <span ng-show="promocode.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!promocode.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="promocode.sort('created_at')">Created At
                                                <span ng-show="promocode.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!promocode.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="promocode.sort('status')">Status
                                                <span ng-show="promocode.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!promocode.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="promocode.search.promo_id" ng-keyup="promocode.changePage(1, promocode.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="promocode.search.promocode_servicetype" ng-change="promocode.changePage(1,promocode.search)">
                                                <option value="">Service Type</option>
                                                <option value="{{status.id}}" ng-repeat="(index, status) in promocode.typeList" ng-selected="promocode.promocodeForm.promocode_servicetype == status.id">{{status.name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="promocode.search.promocode_weektype" ng-change="promocode.changePage(1,promocode.search)">
                                                <option value="">Week type</option>
                                                <option value="0">Once</option>
                                                <option value="1">Weekly</option>
                                                <option value="2">Both</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="promocode.search.created_at" ng-change="promocode.changePage(1,promocode.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="promocode.search.status" ng-change="promocode.changePage(1,promocode.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="promocode.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in promocode.promocodeList | orderBy: promocode.sortKey:promocode.reverse|itemsPerPage: promocode.promocodePerPage" total-items="promocode.totalPromocode" current-page="promocode.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.promocode.view({id:{{item.promo_id}} })">{{item.promo_id}}</a>
                                        </td>
                                        <td ng-repeat="(index, status) in promocode.typeList" ng-show="item.promocode_servicetype == status.id">{{status.name}}</td>
                                        <td>{{item.promocode_weektype == 0 ? 'Once' : item.promocode_weektype == 1 ? 'Weekly' : 'Both' }}</td>
                                        <td class="text-center">{{ promocode.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="promocode.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.promocode.view({id: item.promo_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.promocode.edit({id: item.promo_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="promocode.deletePromocode(item.promo_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="promocode.promocodeList.length == 0 && promocode.promocodeListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="promocode.changePage(newPageNumber,promocode.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
