<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Promo Code</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.promocode" class="btn btn-info btn-flat pull-left">Back to All Promos Code</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="200px">ID</th>
                                        <td>{{promocode.singlePromocode.promo_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Service Type</th>
                                        <td ng-repeat="(index, status) in promocode.typeList" ng-show="promocode.singlePromocode.promocode_servicetype == status.id">{{status.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Week Type</th>
                                        <td>{{promocode.singlePromocode.promocode_weektype == 0 ? 'Once' : promocode.singlePromocode.promocode_weektype == 1 ? 'Weekly' : 'Both' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{promocode.singlePromocode.promo_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{promocode.singlePromocode.promo_des}}</td>
                                    </tr>
                                    <tr>
                                        <th>Code</th>
                                        <td>{{promocode.singlePromocode.promo_code}}</td>
                                    </tr>
                                    <tr>
                                        <th>Minimum Amount</th>
                                        <td>{{promocode.singlePromocode.promo_minamount}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount</th>
                                        <td>{{promocode.singlePromocode.promo_discount}}</td>
                                    </tr>
                                    <tr ng-show="promocode.singlePromocode.promo_banner != 0 ">
                                        <th>Banner Image</th>
                                        <td>
                                            <img style="width:700px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;height: 200px;" ngf-thumbnail="promocode.singlePromocode.file || '../assets/admin/img/no-image.jpg'" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="promocode.singlePromocode.status == 1 ? 'label-success' : 'label-warning'">
                                                {{promocode.singlePromocode.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{promocode.formatDate(promocode.singlePromocode.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{promocode.formatDate(promocode.singlePromocode.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>