<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{tutorial.title}} Tutorial</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial" class="btn btn-info btn-flat pull-left">Back to All Tutorial</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="tutorialForm" novalidate angular-validator angular-validator-submit='tutorial.saveTutorial()'>
                                
                                <input ng-if="tutorial.editFlag" type="hidden" name="tutorial_id" ng-model="tutorial.tutorialForm.tutorial_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Select Role<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="role" ng-model="tutorial.tutorialForm.role_id" validate-on='dirty' required required-message="'Please select role!'">
                                            <option value>Select Role</option>
                                            <option value="{{status.role_id}}" ng-repeat="(index, status) in tutorial.roleList" ng-selected="tutorial.tutorialForm.role_id == status.role_id">{{status.role_name}}</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tutorial_name" ng-model="tutorial.tutorialForm.tutorial_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'">
                                    </div>
                                </div> 
                                
                                <!-- <div class="form-group">
                                    <label class="col-sm-2 control-label">Type<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10 contLabel">
                                        <input type="radio" ng-model="tutorial.tutorialForm.tutorial_type" ng-value="0">
                                        <span>Text</span>
                                        <input type="radio" ng-model="tutorial.tutorialForm.tutorial_type" ng-value="1">
                                        <span>Image</span>
                                        <input type="radio" ng-model="tutorial.tutorialForm.tutorial_type" ng-value="2">
                                        <span>URL</span>
                                    </div>                                    
                                </div> -->

                                <!-- <div class="form-group">
                                    <label class="col-sm-2 control-label">{{tutorial.tutorialForm.tutorial_type == '0' ? 'Description' : tutorial.tutorialForm.tutorial_type == '1' ? 'Image' : 'URL' }}<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea ng-if="tutorial.tutorialForm.tutorial_type == '0'" type="text" class="form-control" name="tutorial_des" ng-model="tutorial.tutorialForm.tutorial_des" placeholder="Enter Description" validate-on='dirty' required required-message="'Please enter your description!'"></textarea>

                                        <img ng-if="tutorial.tutorialForm.tutorial_type == '1'" style="width: 750px; margin: 10px 0px; border: 1px solid #dbdbdb; padding: 5px; height: 250px;" ngf-thumbnail="tutorial.tutorialForm.tutorial_des || '../assets/admin/img/promo_code.jpg'"/>
                                        <input ng-if="tutorial.tutorialForm.tutorial_type == '1'" type="file" class="form-control" ngf-select ng-model="tutorial.tutorialForm.tutorial_des" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />                                
                                        
                                        <i ng-show="tutorial.tutorialForm.tutorial_des.$error.required"> *required </i>
                                        <i ng-show="tutorial.tutorialForm.tutorial_des.$error.maxSize"> File too large {{promocode.promocodeForm.file.size / 1000000|number:1}}MB: max 20M </i>

                                        <input ng-if="tutorial.tutorialForm.tutorial_type == '2'" type="url" class="form-control" name="tutorial_des" ng-model="tutorial.tutorialForm.tutorial_des" placeholder="Enter URL" validate-on='dirty' required required-message="'Please enter your URL!'" invalid-message="'Invalid url entered!'">

                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">URL<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="url" class="form-control" name="tutorial_des" ng-model="tutorial.tutorialForm.tutorial_des" placeholder="Enter URL" validate-on='dirty' required required-message="'Please enter your URL!'" invalid-message="'Invalid url entered!'">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="tutorial.tutorialForm.status" validate-on='dirty' required ng-options="choice.id as choice.status for choice in tutorial.statusList" required-message="'Please select status!'" required >
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!tutorial.editFlag" ng-click="tutorial.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="tutorial.editFlag" ui-sref="backoffice.tutorial">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>