<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{tutorial.title}} Tutorial</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial" class="btn btn-info btn-flat pull-left">Back to All Tutorial</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="tutorialImageForm" novalidate angular-validator angular-validator-submit='tutorial.saveImageTutorial()'>
                                
                                <input ng-if="tutorial.editFlag" type="hidden" name="tutorial_id" ng-model="tutorial.tutorialImageForm.tutorial_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Select Role<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="role" ng-model="tutorial.tutorialImageForm.role_id" validate-on='dirty' required required-message="'Please select role!'">
                                            <option value>Select Role</option>
                                            <option value="{{status.role_id}}" ng-repeat="(index, status) in tutorial.roleList" ng-selected="tutorial.tutorialImageForm.role_id == status.role_id">{{status.role_name}}</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tutorial_name" ng-model="tutorial.tutorialImageForm.tutorial_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'">
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Image<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <img style="width: 750px; margin: 10px 0px; border: 1px solid #dbdbdb; padding: 5px; height: 250px;" ngf-thumbnail="tutorial.tutorialImageForm.tutorial_des || '../assets/admin/img/promo_code.jpg'"/>
                                        <input type="file" class="form-control" ngf-select ng-model="tutorial.tutorialImageForm.tutorial_des" name="tutorial_des" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" /> 

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="tutorial.tutorialImageForm.status" validate-on='dirty' required ng-options="choice.id as choice.status for choice in tutorial.statusList" required-message="'Please select status!'" required >
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!tutorial.editFlag" ng-click="tutorial.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="tutorial.editFlag" ui-sref="backoffice.tutorial">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>