<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Tutorial</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{tutorial.totalTutorial}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial.create" class="btn btn-info btn-flat pull-left">Add Video Tutorial</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial.createImage" class="btn btn-info btn-flat pull-left">Add Image Tutorial</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial.createText" class="btn btn-info btn-flat pull-left">Add Text Tutorial</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="tutorial.getTutorialList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">
                                            <a ng-click="tutorial.sort('tutorial_id')">Id
                                                <span ng-show="tutorial.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tutorial.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tutorial.sort('tutorial_name')">Tutorial Name
                                                <span ng-show="tutorial.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tutorial.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="tutorial.sort('role_id')" style="width: 160px;">Role
                                                <span ng-show="tutorial.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tutorial.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 130px;">
                                            <a ng-click="tutorial.sort('created_at')">Created At
                                                <span ng-show="tutorial.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tutorial.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="tutorial.sort('status')">Status
                                                <span ng-show="tutorial.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!tutorial.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="tutorial.search.tutorial_id" ng-keyup="tutorial.changePage(1, tutorial.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="tutorial.search.tutorial_name" ng-keyup="tutorial.changePage(1, tutorial.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tutorial.search.role_id" ng-change="tutorial.changePage(1,tutorial.search)">
                                                <option value>Select Role</option>
                                                <option value="{{status.role_id}}" ng-repeat="(index, status) in tutorial.roleList">{{status.role_name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="tutorial.search.created_at" ng-change="tutorial.changePage(1,tutorial.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="tutorial.search.status" ng-change="tutorial.changePage(1,tutorial.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="tutorial.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in tutorial.tutorialList | orderBy: tutorial.sortKey:tutorial.reverse|itemsPerPage: tutorial.tutorialPerPage" total-items="tutorial.totalTutorial" current-page="tutorial.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.tutorial.view({id:{{item.tutorial_id}} })">{{item.tutorial_id}}</a>
                                        </td>
                                        <td>{{item.tutorial_name}}</td>
                                        <td ng-repeat="(index, status) in tutorial.roleList" ng-show="{{item.role_id}} == status.role_id">{{status.role_name}}</td>
                                        <td class="text-center">{{ tutorial.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="tutorial.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.tutorial.view({id: item.tutorial_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>

                                                <div ng-if ="item.tutorial_type == '0' ">
                                                    <a ui-sref="backoffice.tutorial.editText({id: item.tutorial_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                </div>

                                                <div ng-if ="item.tutorial_type == '1' ">
                                                    <a ui-sref="backoffice.tutorial.editImage({id: item.tutorial_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                </div>

                                                <div ng-if ="item.tutorial_type == '2' ">
                                                    <a ui-sref="backoffice.tutorial.edit({id: item.tutorial_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                </div>
                                                
                                                <a ng-click="tutorial.deleteTutorial(item.tutorial_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="tutorial.tutorialList.length == 0 && tutorial.tutorialListCheck == true ">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="tutorial.changePage(newPageNumber,tutorial.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>