<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{tutorial.title}} Tutorial</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial" class="btn btn-info btn-flat pull-left">Back to All Tutorial</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="tutorialTextForm" novalidate angular-validator angular-validator-submit='tutorial.saveTextTutorial()'>
                                
                                <input ng-if="tutorial.editFlag" type="hidden" name="tutorial_id" ng-model="tutorial.tutorialTextForm.tutorial_id">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Select Role<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="role" ng-model="tutorial.tutorialTextForm.role_id" validate-on='dirty' required required-message="'Please select role!'">
                                            <option value>Select Role</option>
                                            <option value="{{status.role_id}}" ng-repeat="(index, status) in tutorial.roleList" ng-selected="tutorial.tutorialTextForm.role_id == status.role_id">{{status.role_name}}</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tutorial_name" ng-model="tutorial.tutorialTextForm.tutorial_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'">
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Text Description<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                       
                                        <textarea type="text" class="form-control" name="tutorial_des" ng-model="tutorial.tutorialTextForm.tutorial_des" placeholder="Enter Description" validate-on='dirty' required required-message="'Please enter your description!'"></textarea>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="tutorial.tutorialTextForm.status" validate-on='dirty' required ng-options="choice.id as choice.status for choice in tutorial.statusList" required-message="'Please select status!'" required >
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!tutorial.editFlag" ng-click="tutorial.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="tutorial.editFlag" ui-sref="backoffice.tutorial">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>