<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Tutorial</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.tutorial" class="btn btn-info btn-flat pull-left">Back to All Tutorial</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{tutorial.singleTutorial.tutorial_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td ng-repeat="(index, status) in tutorial.roleList" ng-show="tutorial.singleTutorial.role_id == status.role_id">{{status.role_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{tutorial.singleTutorial.tutorial_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>
                                            <div ng-if ="tutorial.singleTutorial.tutorial_type == '0' ">
                                                {{tutorial.singleTutorial.tutorial_des}}
                                            </div>

                                            <div ng-if ="tutorial.singleTutorial.tutorial_type == '1' ">
                                                <img style="width:200px;margin: 10px 0px;border: 1px solid #dbdbdb;padding: 5px;" ngf-thumbnail="tutorial.singleTutorial.tutorial_des || '../assets/admin/img/no-image.jpg'" />
                                            </div>

                                            <div ng-if ="tutorial.singleTutorial.tutorial_type == '2' ">
                                                URL : {{tutorial.singleTutorial.tutorial_des}}
                                                    <ng-youtube-embed video="videoURL" autoplay="true" color="white" disablekb="true" end="20"> </ng-youtube-embed>
                                            </div>
                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="tutorial.singleTutorial.status == 1 ? 'label-success' : 'label-warning'">
                                                {{tutorial.singleTutorial.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{tutorial.formatDate(tutorial.singleTutorial.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{tutorial.formatDate(tutorial.singleTutorial.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>