
@media only screen and (max-width:991px) {
	.looking_cols .col-md-3.col-sm-6.col-xs-12:nth-child(2n+1) {clear: left; }
	.navbar-toggle {display: block; }
	.look_n_col{margin-bottom: 15px;}
	.foot_logo img {width: 264px;}
	.navbar-toggle .icon-bar {background: #00aee7; width: 27px; height: 3px; }
	.navbar-header{width:100%;}
	.navbar_link{width:100%;}
	.navbar-collapse.navbar_link.collapse{display:none !important;width:100%;}
	.navbar-collapse.navbar_link.collapse.in{display:block !important;}

}
@media only screen and (max-width:860px) {
	.header_section{position:relative;}
	.navbar_menu_link li a{color:#333;font-size: 15px;-moz-transition:.5s; -webkit-transition:.5s; -ms-transition: .5s; transition: .5s;}
	.navbar_menu_link li a:hover{color:#00aee7;-moz-transition:.5s; -webkit-transition:.5s; -ms-transition: .5s; transition: .5s;}
	
}
@media only screen and (max-width:767px) {
	.tab_cont_details_sec{padding: 0;}
	.terms_con_here h4{font-size:16px;}
	.faq_section{padding: 10px 10px; }
	.send_msg_btn{padding: 7px 20px;font-size: 14px;}
	.contact_us_form .submit_btn .btn{margin-bottom:10px;}
	.contact_us_page{padding: 20px 0;width:100%;}
	.dashboard_all_det_sec{padding: 20px 0;}
	.navbar_menu_link li {border-bottom: 1px solid #cccccc;padding: 10px 18px 10px 18px;}
	.navbar_menu_link li a{font-size:14px !important;}
	.navbar_menu_link li a::after {display:none;}
	.navbar-toggle .icon-bar{background: #00aee7;width: 27px;height: 3px;}
	.logo_here img{width: 230px;}
	.navbar-toggle{padding:0px;margin: 20px;}
	.navbar_link{float:right;width:100%;text-align:right;}
	.navbar_menu_link li:hover{background: rgba(0,0,0,0.1);-webkit-transition: background-color 2s ease-out;   -moz-transition: .5s;   -o-transition: .5s;   transition: .5s;}
	.navbar_menu_link li:first-child{border-top: 1px solid #cccccc;}
	.navbar_first_style{margin-bottom:0px;}
	.navbar_menu_link{margin-bottom:0px;}
	.container {float: left;width: 100%;}
	.row{padding: 0px 15px;}
	.banner_content{max-width: 550px;}
	.banner_content h1{font-size: 38px;}
}
@media only screen and (max-width:640px) {
	.banner_content {max-width: 420px;}
}
@media only screen and (max-width:540px) {
	.dashboard_all_det_sec{padding: 20px 0;}
	.dashboard_all_det_sec{width: 100%;padding: 25px 0;}
	.arro_slid_sel{width: 8%;}
	.banner_content h1{font-size: 30px;}
	.banner_content {max-width: 350px;}
	.headerlogo_here_sec img{width:230px;}
}
@media only screen and (max-width:490px) {
	.left_sid_li { float: left; width: 100%;margin-bottom: 6px;}
	.left_sid_li .cont_li{float:left;width:50%;font-size: 11px;}
	.left_sid_li .cont_li a{font-size:11px;}
	.left_sid_li div:first-child{float:left;text-align: right;}
	.right_li{float:left;width:100%;text-align:center;}
	.top_cafe_deta p{font-size: 14px;line-height: 19px;}
	.top_cafe_deta{margin:0px;}
	.btn_hover_top{margin:0px;}
}
@media only screen and (max-width:440px) {
	.section_header h2{font-size: 24px;margin-bottom: 20px;}
	.banner_content {max-width: 265px;padding: 20px 5px;}
}
@media only screen and (max-width:350px) {
	.img_set_top{padding:10px;}
}