*{margin:0px;padding:0px;}
body{float:left;width:100%;font-family:montserratlight;}
html{float:left;width:100%;}
a{outline:none !important;}
.wrapper {float: left;width: 100%;overflow: hidden;background-color:#fff;}
.btn{outline:none !important;border:0px;}

/*header section start here*/

/*.header_section {
    float: left;
    width: 100%;
	position: fixed;
	z-index: 999;
}*/
.header_section {
    float: left;
    width: 100%;
    transition: .5s;
    background-color: #fff;
    border-bottom: 2px solid #00AEE7;
    box-shadow: -1px 1px 5px gray;
}
.form_inpu_group{
    margin-bottom: 25px !important;
}
.bannner_section {
    float: left;
    width: 100%;
    height: 400px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner_sec_section {
    float: left;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.next_bann_text {
    float: left;
    width: 100%;
    z-index: 9;
    position: relative;
    margin: 10% 0;
}
.next_bann_text h3 {
    font-family: 'montserratregular';
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.dashboard_all_det {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.faq_section {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f5f0f0;
}
.faq_header {
    float: left;
    width: 100%;
}
.first_head {
    float: left;
    width: 100%;
	padding: 7px 25px 7px 25px;
	background-color: #171c26;
}
.left_sid_li {
    float: left;
    width: auto;
}
.right_li {
    float: right;
    width: auto;
}
.cont_li {
    float: left;
}
.header_set {
    background: #fff;
    box-shadow: -3px 4px 7px #333;
    transition: .5s;
}
.cont_li a{
	text-decoration:none;
	margin-right: 15px;
	font-size: 13px;
	color: #fff;
}
.cont_login {
    float: left;
    width: 100%;
}
.cont_login a{
	text-decoration:none;
	font-size: 13px;
	color: #fff;
}
.header_navbar {
    float: left;
    width: 100%;
	background:rgba(255, 255, 255, .8);
}
.logo_here {
    float: left;
    width: auto;
	padding: 5px 0 0 10px;
}
.logo_here img{
	width: 255px;
}
.navbar_link {
    float: right;
    width: auto;
    display:block; 
}
.navbar_first_style {
    float: left;
    width: 100%;
    margin-bottom: 11px;
}
.navbar_menu_link li a{
	
}
.navbar_menu_link li a:hover{
	background:none;
}
.navbar_menu_link li a:focus{
	background:none;
}
.navbar_menu_link {
    margin-top: 11px;
}
.navbar_menu_link li a {
    font-size: 16px;
    font-family: 'montserratregular';
    color: #333;
	position:relative;
	padding:0px;
    text-transform: uppercase;
}
.navbar_menu_link li {
	padding: 15px 26px 15px 20px;
}
.navbar_menu_link li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:#00aee7;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.navbar_menu_link li .active{
	color:#00aee7;
}
.navbar_menu_link li .active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:#00aee7;
    left: 0;
    bottom: 0;
    opacity: 1;
	margin-bottom: -13px;
    transition: .5s;
}
.foot_link .link_here ul{
    float: left;
    width: 100%;
}
.navbar_menu_link li a:hover::after {
    opacity: 1;
    margin-bottom: -13px;
    transition: .5s;
}
.navbar_menu_link_set li a{
	color:#333;
}
.navbar_menu_link_set li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #00aee7;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.navbar_menu_link_set li a:hover::after {
    opacity: 1;
    margin-bottom: -13px;
    transition: .5s;
}

/*header section end here*/

/*banner section start here*/

.banner_section {
    float: left;
    width: 100%;
}
.slider_img{
	float:left;
	width:100%;
	height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
	position:relative;
}
.banner_content {
    float: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
	z-index:9;
	position:relative;
	padding: 30px 20px;
	background: rgba(45, 176, 212, 0.5);
}
.banner_content h1{
	font-family: 'montserratbold';
	color: #fff;
	font-size: 50px;
	margin-top: 0px;: 'montserratbold';
	color:#fff;
}
.arro_slid_sel{
	opacity:1;
	background-image:none !important;
}
.arrow_set {
    position: absolute;
    top: 50%;
    opacity: 1;
}
.arrow_set img{
	width: 18px;
}
.arro_slid_sel:hover{
	background-image:none;
}
.arro_slid_sel:focus{
	background-image:none;
}
.slide_pagination {
    margin-bottom: 0px;
    bottom: 10%;
    text-align:center; 
}
.slide_pagination li{
	border-radius: 0px;
	height: 17px;
	width: 17px;
	margin: 0px 7px;
	border: 2px solid #00aee7;
	transform: rotate(130deg);
    display:inline-block;
    float: none; 
}
.slide_pagination .active{
	height: 17px;
	width: 17px;
	border-radius: 0px;
	margin: 0px 7px;
	background:#ff6600;
	border: 2px solid #ff6600;
}
.overlay {
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay_sec {
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay_white {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.banner_content p{
	color:#fff;
	font-size: 17px;
}

/*banner section end here*/

/*about us section start here*/

.about_us {
    float: left;
    width: 100%;
    padding: 60px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_sec_details {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 99;
    position: relative;
}
.about_details_pass {
    float: left;
    width: 100%;
    margin-top: 1%;
}
.about_details_pass p {
    line-height: 25px;
}

/*about us section end here*/

/*looking section start here*/

.looking_for {
    float: left;
    width: 100%;
    padding: 50px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.lokin_details {
    float: left;
    width: 100%;
}
.section_header {
    float: none;
	width: 100%;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	z-index: 9;
	position: relative;
}
.section_header h2 {
    margin-top: 0px;
    font-family: montserratregular;
    text-align: center;
	position:relative;
	margin-bottom: 30px;
}
.section_header h2::after {
    content: "";
	position: absolute;
	height: 3px;
	width: 150px;
	background-color: #ff6600;
	bottom: -13px;
	right: 0;
	text-align: center;
	left: 0;
	margin: 0 auto;
}
.section_header p{
	font-size: 15px;
}
.looking_cols {
    float: left;
    width: 100%;
	margin-top: 70px;
}
.look_n_col {
    float: left;
    width: 100%;
    margin-bottom:35px; 
}
.img_here {
    float: none;
	width: 100%;
	background-color: #00aee7;
	padding: 12px 20px;
	max-width: 150px;
	margin: 0 auto;
	display: table;
}
.img_here span img{
	width: 32px;
	margin: 10px auto;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.look_n_col:hover .img_here span img{
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.img_here h4{
	text-align: center;
	color: #fff;
	font-family: 'montserratregular';
	font-size: 20px;
	margin-top: 16px;
}
.img_here span {
    float: left;
    width: 100%;
}
.img_notes {
    float: left;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.img_notes p{
	font-size: 14px;
	line-height: 22px;
}

/*looking section end here*/

/*top five section start here*/

.top_five_section {
    float: left;
    width: 100%;
    padding: 50px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_five_cafe {
    float: left;
    width: 100%;
}
.top_homeimg_text {
    float: left;
    width: 100%;
    margin-top: 3%;
}
.img_set_top {
    float: left;
    width: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
	margin-bottom:30px;
	-moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.img_set_top img:hover{transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); transition: 1s;}

.top_cafe_deta {
    float: left;
    width: 100%;
    text-align: center;
	z-index:99;
	position:relative;
	margin-top: 5%;
}
.top_cafe_deta h3 {
    margin-top: 0px;
    font-size: 21px;
    font-family: 'montserratregular';
    color: #fff;
}
.top_cafe_deta p{
	font-size: 15px;
	color: #fff;
	line-height: 22px;
}
.btn_hover_top {
   border-radius: 0px;
	background: none;
	color: #fff;
	font-size: 17px;
	padding: 8px 20px;
	text-align: center;
	border: 2px solid #fff;
	margin-top: 3%;
	border-radius: 30px;
	overflow:hidden;
	font-family: 'montserratregular';
}
.btn_hover_top:hover {
    color: #333 !important;
}
.btn_hover_top.hvr-bounce-to-left::before{
	background-color:#fff;
}

/*top five section end here*/

/*footer start here*/

.footer_section {
    float: left;
    width: 100%;
    padding: 30px 0;
	border-top: 1px solid #00aee7;
}
.footer_details {
    float: left;
    width: 100%;
}
.foot_link {
    float: left;
    width: 100%;
}
.foo_link_header {
    float: left;
    width: 100%;
}
.link_here {
    float: left;
    width: 100%;
}
.link_here ul li::before {
    content: "\00BB";
    font-size: 20px;
    text-align: left;
    color: #00aee7;
    position: absolute;
    transition: .5s;
    top: 0;
    line-height: .8;
    left: 0;
}
.link_here ul li {
    list-style: none;
	position:relative;
	padding-left: 15px;
	padding-bottom: 5px;
}
.activeFot{
	color: #00aee7 !important;
    font-weight: bold;
	padding-left: 5px;
}
.link_here ul li a {
    text-decoration: none;
    color: #4c3333;
    transition: .5s;
}
.link_here ul li a:hover {
    color: #00aee7;
    transition: .5s;
    padding-left: 5px;
}
.link_here_sec {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.link_here_sec ul li a {
    text-decoration: none;
}
.link_here_sec ul li {
    list-style: none;
    float: left;
    padding-right: 10px;
}
.fb_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #5b90ff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.fb_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.insta_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.3); 
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
    border-radius: 50%;
}
.insta_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.g_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #dc4e40;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.g_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.tw_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4ebcff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.tw_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #14a0e4;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.li_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.link_here_sec ul li a i {
    font-size: 18px;
    z-index: 9;
    position: relative;
}
.li_span {
    height: 37px;
    width: 39px;
    background-color: #007bb6;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.tw_span {
    height: 37px;
    width: 39px;
    background-color: #1da1f2;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.fb_span {
    height: 37px;
    width: 39px;
    background-color: #4867aa;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.g_span {
    height: 37px;
    width: 39px;
    background-color:#ff0000;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border-radius: 50%;
}
.insta_span{
    height: 37px;
    width: 39px;
     background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.web_not {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
	margin-top: 3%;
    color: #00aee7; 
}

/*footer end here*/


/*contact us page css here*/

.banner_new_section {
    float: left;
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
	position:relative;
}
.banne_new_cont {
    float: left;
    width: 100%;
    margin-top: 155px;
}
.banne_new_cont h2{
	font-size: 35px;
	color: #fff;	
}
.banner_new_overlay {
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    height: 100%;
}
.contact_us_page_form {
    float: left;
    width: 100%;
    padding: 30px 0;
}
.contact_us_page {
    float: none;
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #efefef;
	display: table;
}
.contact_us_header {
    float: left;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}
.contact_us_header p{
	text-align: center;
}
.contact_us_header h2{
	text-align: center;
	margin-top: 0;
	font-size: 30px;
	font-weight: bold;
}
.contact_us_form {
    float: left;
    width: 100%;
    margin-top: 12px;
}
.form_inpu_group {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.labe_input {
    float: left;
    width: 100%;
    background-color: #00aee7;
    padding: 8px 10px;
    position: relative;
	color:#fff;
	margin-top: 5px;
	border-left: 2px solid #ff6600;
}
.labe_input::after {
    content: "\f0da ";
    font-family: fontawesome;
    color: #00aee7;
    position: absolute;
    right: -8px;
    font-size: 26px;
    top: 0px;
}
.form_inpu_group .col-md-9 input{
	height: 45px;
	border-radius: 0px;
}
.form_inpu_group .col-md-9 input:focus{
	box-shadow:none;
}
.form_inpu_group .col-md-9 textarea{
	height: 150px !important;
	border-radius: 0px;
	width: 100% !important;
}
.form_inpu_group .col-md-9 textarea:focus{
	box-shadow:none;
}
.submit_btn {
    float: left;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
.send_msg_btn {
    padding: 13px 27px;
    background-color: #00aee7;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
	overflow:hidden;
}

.faq_section md-tab-item.md-tab {
    padding: 13px 30px !important;
    background-color: #cdcecc !important;
    color: #333 !important;
    border-radius: 0px;
    border: 0px !important;
    font-size: 16px !important;
    margin-right: 10px;
    font-family: 'montserratregular';
    position: relative;
}
.faq_section md-tab-item.md-tab.md-active {
    background-color: #00aee7 !important;
    color: #fff !important;
}
.faq_section md-tab-content h1{font-size:20px;font-family: 'montserratregular';line-height:normal !important;margin-top: 00;color:#00aee7; }
.faq_section h3.card-header {
    font-size: 16px !important;
    font-family: 'montserratregular';
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom:0; 
}
.faq_section .card .ng-scope{outline:none; }
.faq_section .card .label-primary {background-color: #337ab7; padding: 5px 10px; font-weight: normal; font-size: 14px; }
.faq_section .card h5 {margin-bottom:20px;float: left;width:100%;}
.faq_section md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {color: #ff6600 !important; background: #ff6600 !important; height: 3px !important;}

.faq_section .card-body.ng-binding {padding: 20px; border: 1px solid #ddd; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background: #eee; border-width: 0 1px 1px 1px; }
#abou_us_se .about_sec_details .btn_hover_top{color:#333;border-color:#333;} 
.dashboard_all_det_sec {float: none; width: 100%; padding: 60px 0; max-width: 500px; margin: 0 auto; display: table; }
.tab_cont_det_all_sec {float: none; width: 100%; margin-top: 10px; max-width: 600px; margin: 10px auto;}
.tab_cont_details_sec {float: left; width: 100%; background-color: #EDF2F3; padding: 35px 35px 40px; margin-top: 20px;}
.profile_new_f {float: left; width: 100%; padding: 10px 10px; border: 1px solid #cccccc;}
.profile_form_here {float: left; width: 100%;}
.profile_new_f .input-group {width: 100%; }
.profile_new_f .form-control {border-radius: 0 !important; height: 44px !important; }
.input-group-addon:last-child {border-left: 0; }
#loginform .control-label.has-error.validationMessage {position: absolute; top: 100%; left: 0; }
.input-group-addon {padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc; border-left-color: rgb(204, 204, 204); border-left-style: solid; border-left-width: 1px; border-radius: 0px; }
.form-control {display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
.f_sel_margin_sec {float: left; width: 100%; position: relative; display: flex; margin: 10px 0 5px; margin-right: 0px; margin-left: 0px; }
.control-label.has-error.validationMessage {position: absolute; top: 100%; left: 15px;}
 .input-group.has-error {margin-bottom: 25px;}
 .hover_effects {position: relative !important; overflow: hidden !important; z-index: 9; }
.btn_reset {margin-bottom: 10px;padding: 7px 28px !important; font-size: 17px !important; background-color: #00AEE7; color: #fff !important; border-radius: 0px !important; margin-right: 25px !important; position: relative !important; overflow: hidden !important; box-shadow: 2px 2px 6px gray !important; }
.btn_reset_sec {margin-bottom:10px;padding: 7px 28px !important; font-size: 17px !important; background-color: #FF6600; color: #fff !important; border-radius: 0px !important; margin-right: 10px !important; box-shadow: 2px 2px 6px gray !important; }
.hover_effects_sec {position: relative !important; overflow: hidden !important; box-shadow: 2px 2px 6px gray; z-index: 9; }
.form_submit_btn {float: left; width: 100%; margin: 25px 0 10px; text-align: center;}
.btn_reset:hover {color: #fff !important;}
.hover_effects:hover::after {transform: translatey(0); -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; z-index: -9;}
.hover_effects::after {content: ""; position: absolute; height: 100%; width: 100%; background-color: #1bc7ff; left: 0; top: 0; z-index: 9; transform: translatey(100%); -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.hover_effects_sec::after {content: ""; position: absolute; height: 100%; width: 100%; background-color: #ff8533; left: 0; top: 0; z-index: 9; transform: translatey(100%); -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s;}
.hover_effects_sec:hover::after {transform: translatey(0); -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; z-index: -9;}
.hover_effects_sec:hover{color:#fff;}
/*Kishor Added New css here 20190130*/
.has-error {
color: #ff0000 !important;
font-weight: normal;
font-size: 13px;
border-color: #ff0000 !important;
}
.has-error.control-label {
    color: #ff0000;
    font-weight: normal;
    font-size: 13px;
}
.dashboard_all_det .faq_section #faqAccordion {
    float: left;
    width: 100%;
}
.terms_con_here.ng-binding {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.terms_con_here.ng-binding h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
}
.footer_section {
    padding: 15px 0 0 0;
    border-top: 1px solid #00aee7;
}
.footer_section .web_not {
    margin: 10px 0;
    color: #000;
    border-top: 1px solid #00aee7;
    padding: 10px;
}
.clear_all_btn a {
    float: right;
    cursor: pointer;
}
ul.dropdown-menu.first_msin_user_drop_down.show li a {
    cursor: pointer;
}
.in.show .modal-content {
    display: block;
    width: 100%;
    float: left;
}
.in.show .modal-content .modal-header .modal-title {
    font-size: 18px;
    float: left;
}
a, button, input, select {
    outline: none;
}
.form-group .control-label .form_star {
    color: #ff0000;
}
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.profile_new_ne_sec{max-width: 100%;}

.input-group.has-error span {
    border-color: #ff0000;
    color: #ff0000;
}
.btn_reset a {
    color: #fff;
}
.form_set .form_here.has-error {
    position: relative;
}
.form_set .form_here.has-error .control-label.has-error.validationMessage {
    position: relative;
    bottom: 0;
}
.pop_update_password .model_foot_new {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}
.back_btn_here{width: auto;}




















