*{margin:0px;padding:0px;}
body{float:left;width:100%;font-family:montserratlight;}
html{float:left;width:100%;}
a{outline:none !important;}
.wrapper {float: left;width: 100%;overflow: hidden;}
.btn{outline:none !important;border:0px;}

/*header section start here*/

.header_section {
    float: left;
    width: 100%;
	position: fixed;
	z-index: 999;
}
.first_head {
    float: left;
    width: 100%;
	padding: 7px 25px 7px 25px;
	background-color: #171c26;
}
.left_sid_li {
    float: left;
    width: auto;
}
.right_li {
    float: right;
    width: auto;
}
.cont_li {
    float: left;
}
.header_set {
    background: #fff;
    box-shadow: -3px 4px 7px #333;
    transition: .5s;
}
.cont_li a{
	text-decoration:none;
	margin-right: 15px;
	font-size: 13px;
	color: #fff;
}
.cont_login {
    float: left;
    width: 100%;
}
.cont_login a{
	text-decoration:none;
	font-size: 13px;
	color: #fff;
}
.header_navbar {
    float: left;
    width: 100%;
	background:rgba(255, 255, 255, 0.2);
}
.logo_here {
    float: left;
    width: auto;
	padding: 5px 0 0 10px;
}
.logo_here img{
	width: 255px;
}
.navbar_link {
    float: right;
    width: auto;
}
.navbar_first_style {
    float: left;
    width: 100%;
    margin-bottom: 11px;
}
.navbar_menu_link li a{
	
}
.navbar_menu_link li a:hover{
	background:none;
}
.navbar_menu_link li a:focus{
	background:none;
}
.navbar_menu_link {
    margin-top: 11px;
}
.navbar_menu_link li a {
    font-size: 16px;
    font-family: 'montserratregular';
    color: #fff;
	position:relative;
	padding:0px;
}
.navbar_menu_link li {
	padding: 15px 26px 15px 20px;
}
.navbar_menu_link li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.navbar_menu_link li a:hover::after {
    opacity: 1;
    margin-bottom: -13px;
    transition: .5s;
}
.navbar_menu_link_set li a{
	color:#333;
}
.navbar_menu_link_set li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #00aee7;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.navbar_menu_link_set li a:hover::after {
    opacity: 1;
    margin-bottom: -13px;
    transition: .5s;
}

/*header section end here*/

/*banner section start here*/

.banner_section {
    float: left;
    width: 100%;
}
.slider_img{
	float:left;
	width:100%;
	height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
	position:relative;
}
.banner_content {
    float: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
	z-index:9;
	position:relative;
	padding: 30px 20px;
	background: rgba(45, 176, 212, 0.5);
}
.banner_content h1{
	font-family: 'montserratbold';
	color: #fff;
	font-size: 50px;
	margin-top: 0px;: 'montserratbold';
	color:#fff;
}
.arro_slid_sel{
	opacity:1;
	background-image:none !important;
}
.arrow_set {
    position: absolute;
    top: 50%;
    opacity: 1;
}
.arrow_set img{
	width: 18px;
}
.arro_slid_sel:hover{
	background-image:none;
}
.arro_slid_sel:focus{
	background-image:none;
}
.slide_pagination {
    margin-bottom: 0px;
    bottom: 10%;
}
.slide_pagination li{
	border-radius: 0px;
	height: 17px;
	width: 17px;
	margin: 0px 7px;
	border: 2px solid #00aee7;
	transform: rotate(130deg);
}
.slide_pagination .active{
	height: 17px;
	width: 17px;
	border-radius: 0px;
	margin: 0px 7px;
	background:#ff6600;
	border: 2px solid #ff6600;
}
.overlay {
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay_sec {
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay_white {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.banner_content p{
	color:#fff;
	font-size: 17px;
}

/*banner section end here*/

/*about us section start here*/

.about_us {
    float: left;
    width: 100%;
    padding: 60px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_sec_details {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 99;
    position: relative;
}
.about_details_pass {
    float: left;
    width: 100%;
    margin-top: 1%;
}
.about_details_pass p {
    line-height: 25px;
}

/*about us section end here*/

/*looking section start here*/

.looking_for {
    float: left;
    width: 100%;
    padding: 50px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.lokin_details {
    float: left;
    width: 100%;
}
.section_header {
    float: none;
	width: 100%;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	z-index: 9;
	position: relative;
}
.section_header h2 {
    margin-top: 0px;
    font-family: montserratregular;
    text-align: center;
	position:relative;
	margin-bottom: 30px;
}
.section_header h2::after {
    content: "";
	position: absolute;
	height: 3px;
	width: 150px;
	background-color: #ff6600;
	bottom: -13px;
	right: 0;
	text-align: center;
	left: 0;
	margin: 0 auto;
}
.section_header p{
	font-size: 15px;
}
.looking_cols {
    float: left;
    width: 100%;
	margin-top: 70px;
}
.look_n_col {
    float: left;
    width: 100%;
}
.img_here {
    float: none;
	width: 100%;
	background-color: #00aee7;
	padding: 12px 20px;
	max-width: 150px;
	margin: 0 auto;
	display: table;
}
.img_here span img{
	width: 55px;
	margin: 10px auto;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.look_n_col:hover .img_here span img{
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.img_here h4{
	text-align: center;
	color: #fff;
	font-family: 'montserratregular';
	font-size: 20px;
	margin-top: 16px;
}
.img_here span {
    float: left;
    width: 100%;
}
.img_notes {
    float: left;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.img_notes p{
	font-size: 14px;
	line-height: 22px;
}

/*looking section end here*/

/*top five section start here*/

.top_five_section {
    float: left;
    width: 100%;
    padding: 50px 0;
	position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_five_cafe {
    float: left;
    width: 100%;
}
.top_homeimg_text {
    float: left;
    width: 100%;
    margin-top: 3%;
}
.img_set_top {
    float: left;
    width: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
	margin-bottom:30px;
	-moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.img_set_top img:hover{transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); transition: 1s;}

.top_cafe_deta {
    float: left;
    width: 100%;
    text-align: center;
	z-index:99;
	position:relative;
	margin-top: 5%;
}
.top_cafe_deta h3 {
    margin-top: 0px;
    font-size: 21px;
    font-family: 'montserratregular';
    color: #fff;
}
.top_cafe_deta p{
	font-size: 15px;
	color: #fff;
	line-height: 22px;
}
.btn_hover_top {
   border-radius: 0px;
	background: none;
	color: #fff;
	font-size: 17px;
	padding: 8px 20px;
	text-align: center;
	border: 2px solid #fff;
	margin-top: 3%;
	border-radius: 30px;
	overflow:hidden;
	font-family: 'montserratregular';
}
.btn_hover_top:hover {
    color: #333 !important;
}
.btn_hover_top.hvr-bounce-to-left::before{
	background-color:#fff;
}

/*top five section end here*/

/*footer start here*/

.footer_section {
    float: left;
    width: 100%;
    padding: 30px 0;
	border-top: 1px solid #00aee7;
}
.footer_details {
    float: left;
    width: 100%;
}
.foot_link {
    float: left;
    width: 100%;
}
.foo_link_header {
    float: left;
    width: 100%;
}
.link_here {
    float: left;
    width: 100%;
}
.link_here ul li::before {
    content: "\00BB";
    font-size: 20px;
    text-align: left;
    color: #00aee7;
    margin-right: 7px;
    transition: .5s;
}
.link_here ul li {
    list-style: none;
}
.link_here ul li a {
    text-decoration: none;
    color: #4c3333;
    transition: .5s;
}
.link_here ul li a:hover {
    color: #00aee7;
    transition: .5s;
    padding-left: 5px;
}
.link_here_sec {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.link_here_sec ul li a {
    text-decoration: none;
}
.link_here_sec ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
}
.fb_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #5b90ff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.fb_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.tw_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4ebcff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.tw_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.li_span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #14a0e4;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatey(100%);
    transition: .5s;
	border-radius: 50%;
}
.li_span:hover::after {
    transform: translatey(0);
    transition: .5s;
}
.link_here_sec ul li a i {
    font-size: 18px;
    z-index: 9;
    position: relative;
}
.li_span {
    height: 37px;
    width: 39px;
    background-color: #007bb6;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.tw_span {
    height: 37px;
    width: 39px;
    background-color: #1da1f2;
    padding: 10px 12px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.fb_span {
    height: 37px;
    width: 39px;
    background-color: #4867aa;
    padding: 11px 14px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    transition: .5s;
	border-radius: 50%;
}
.web_not {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
	margin-top: 3%;
}

/*footer end here*/



/*full width callender css start here*/

.calender{
  float:left;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.calender .month{
  background-color: #00aee7 !important;
    padding: 20px;
    color: #ecf0f1;
    width: 100%;
    position: relative;
    float: left;
}
.calender .month h1 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month h2 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.calender .month .next,.calender .month .prev{
 position: absolute;
top: calc(50% - 25px);
cursor: pointer;
padding: 5px;
display: block;
}
.month{
    margin-bottom:0px;
}
.weeks{
    margin-bottom:0px;
}
.days{
    margin-bottom:0px;
}
.month li{
  list-style:none;
  text-align:center;
}
.weeks li{
  list-style:none;
  text-align:center;
}
.days li{
  list-style:none;
  text-align:center;
}
.calender .month .prev{
  left: 10px;
}
.calender .month .next{
  right: 10px;
}
.calender .month .next:hover,.calender .month .prev:hover{
  background-color: rgba(0,0,0,.2);
}
.calender .weeks {
    display: flex;
    float: left;
    width: 100%;
}
.calender .weeks li{
  background-color: #cccccc;
  flex: 1;
  position: relative;
  animation: motion 2s;
  padding: 10px; 
  font-size:18px;
}
.calender .weeks li:hover{background-color: rgba(0,0,0,.2);}

.calender .days {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff !important;
    float: left;
    width: 100%;
}
.calender .days li{
  flex-basis: calc(100% / 7);/*Ø§Ù‚Ø³Ù… Ø§Ù„Ù…Ø³Ø§Ø­Ù‡ Ø¹Ù„Ù‰ Ø³Ø¨Ø¹Ù‡ Ø§Ù„Ù„Ù‰ Ù‡Ù‰ Ø§ÙŠØ§Ù… Ø§Ù„Ø§Ø³Ø¨ÙˆØ¹ ÙÙ‰ ÙƒÙ„ ØµÙ*/
  padding: 10px 0;
  opacity: .7;
  font-family:'montserratregular';
  font-size: 16px;
  border: 0.1px solid #cccccc;
}
}
.close_btn_pop {
  font-size: 52px !important;
  margin-top: -15px !important;
  opacity: 1;
  color: #00aee7;
}
.responsive_calender {
    float: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.calender .days li:hover{background-color: #00aee7;color:#fff;}
.arro_size {
    width: 25px;
}

/*full width callender css end here*/

/*responsive navbar toggles css start here*/

.responsive_nav {
    float: left;
    width: auto;
    display: none;
}
.link_navbar {
    display: none;
    float: left;
    width: 100%;
    border-bottom: 2px solid #00aee7;
    padding:30px 20px;
    background-color: #fff;
    z-index: 99;
}
.link_navbar li{
    list-style:none;
}
.link_navbar li a{
    padding: 12px 0;
    display: block;
    text-decoration: navajowhite;
    color: #333;
    position:relative;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a i{
    font-size: 17px;
}
.link_navbar li a::after {
    content: "";
    background-color: #91e4ff;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a::before{
    content: "";
    background-color: #00aee7;
    height: 2px;
    width: 100%;
}
.link_navbar li a::before {
    content: "";
    background-color: #00aee7;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover::before{
    width: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link_navbar li a:hover {
    margin-left: 10px;
    color: #00aee7;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.respo_togle_menu {
    float: left;
    width: 100%;
    margin: 22px 11px 0 12px;
}
.respo_togle_menu  i{
    font-size: 21px;
    cursor:pointer;
}


/*responsive navbar toggles css start here*/


/*hover effetcs start here*/

.hover_effects{
    position: relative !important;
    overflow: hidden !important;
    z-index: 9;
}
.hover_effects::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1bc7ff;
    left: 0;
    top: 0;
    z-index: 9;
    transform: translatey(100%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}


.hover_effects_sec{
    position: relative !important;
    overflow: hidden !important;
    box-shadow: 2px 2px 6px gray;
    z-index: 9;
}
.hover_effects_sec::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff8533;
    left: 0;
    top: 0;
    z-index: 9;
    transform: translatey(100%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hover_effects_sec:hover::after {
   transform: translatey(0);
   -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   z-index: -9;
}

/*hover effetcs end here*/

.input-group-btn{width: auto; float: left;}
.table_set_here_sec thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here_sec tbody tr td {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here thead tr th {text-align: center; padding: 5px 8px; border: 1px solid #ccc !important;}
.table_set_here tbody tr td {text-align: center; padding: 5px 8px; vertical-align: inherit; border: 1px solid #ccc;}
.panel_faq {cursor: pointer; }
.faq_section .panel-body .label.label-primary {font-size: 14px; font-weight: normal;}

/*15-02-2018 kishor added css here*/

.loginpage .footer_section .foo_col_here{display: none;}
.loginpage .footer_section .web_not{margin: 40px 0px; padding-bottom: 0px;}
.loginpage .footer_section .web_not p{font-size: 16px;}

.homepage .header_nav{display: none;}
#menu-toggle{display: none;}

.radio.chek_bo_h input {
    left: 0;
    top: 4px;
    margin: 0 0 0 0px;
}

.input_box_main .form-check {
    float: left;
    width: 48%;
}
.input_box_main .form-check input {
    float: left;
}
.input_box_main .form-check .label-text {
    float: left;
    margin: 0 0 0 13px;
}

.apointme_selection .form-group span.control-label{ font-family: 'montserratlight'; font-size: 16px; color: #000;}

.col_pop .checkbox.chek_bo_h_sec{margin:-3px 12px 0 0px;}

/*
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
*/
/*aniket css 2018-05-30*/

.pannel_tab_set {
    float: left;
    width: 100%;
    padding-top: 15px;
}
.tab_set_faq {
    float: left;
    width: 100%;
    margin-bottom: 10px !important;
    border:0px;
}
.tab_set_faq li {
    margin-right:10px !important;
}
.tab_set_faq li {
    padding: 13px 30px !important;
    background-color: #cdcecc !important;
    color: #333 !important;
    border-radius: 0px;
    border: 0px !important;
    font-size: 18px !important;
}
.tab_set_faq .resp-tab-active{
    padding: 13px 30px;
    background-color: #00aee7 !important;
    color: #fff !important;
    border-radius: 0px;
    border: 0px !important;
    font-size: 18px;
    position:relative;
}
.tab_set_faq .resp-tab-active::after{
    content: "\f0d7";
    font-family: fontawesome;
    position: absolute;
    bottom: -15px;
    color: #00aee7;
    left: 0;
    right: 0;
    text-align: center;
}
.tab_cont_set {
    float: left;
    width: 100%;
    background: #fff;
}
.resp_tab_contenmt{
    display: table;
    float: left;
    width: 100%;
    border: 0px;
}
.tab_cont_set .resp-tab-content{
    float:left;
    width:100%;
}

.home_btn a.btn_hover_top{background: #00aee7; border: 2px solid #00aee7;}