<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);">
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>{{website.singleFaq.page_name}}</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->

<section class="dashboard_content">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="faq_section">
					<div class="faq_header">
						<h4>{{website.singleFaq.page_name}} :</h4>
					</div>
					<div class="panel-group pane_faq" id="faqAccordion">
						<div class="terms_con_here" ng-bind-html="website.singleFaq.page_html"></div>
					</div>
					<!--/panel-group-->
			    </div>
			</div>
		</div>
	</div>
</section>
						