<section class="banner_sec_section" style="background-image:url(./assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Contact Us</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="contact_us_page_form dashboard_content" data-ng-init="website.topHeader();">
	<div class="container">
		<div class="row">
				<div class="contact_us_page">
					<div class="contact_us_header">
						<h2>Contact Us</h2>						
					</div>
					<div class="contact_us_form">
						<form name="contactForm" id="contactForm" novalidate angular-validator angular-validator-submit="website.saveContact()">
							<div class="form_inpu_group">
								<div class="row">
									<div class="col-md-3">
										<span class="labe_input">Enter Your Name</span>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="contactUs_name" ng-model="website.contactForm.contactUs_name" placeholder="Enter Your Name" validate-on='dirty' required required-message="'Please enter your name!'" / ng-pattern="regexName" invalid-message="'Invalid'">  
									</div>
								</div>
							</div>
							<div class="form_inpu_group">
								<div class="row">
									<div class="col-md-3">
										<span class="labe_input">Enter Your Email ID </span>
									</div>
									<div class="col-md-9">
										<input type="email" class="form-control" name="contactUs_from" ng-model="website.contactForm.contactUs_from" placeholder="Enter Email ID" validate-on='dirty' required-message="'Please enter your email id!'" required autocomplete="off" invalid-message="'Invalid email address entered'">
									</div>
								</div>
							</div>
							<div class="form_inpu_group">
								<div class="row">
									<div class="col-md-3">
										<span class="labe_input">Enter Your Subject</span>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="contactUs_subject" ng-model="website.contactForm.contactUs_subject" placeholder="Enter Your Subject" validate-on='dirty' required-message="'Please enter your subject!'" required autocomplete="off" maxlength="80">
									</div>
								</div>
							</div>
							<div class="form_inpu_group">
								<div class="row">
									<div class="col-md-3">
										<span class="labe_input">Enter Your Message</span>
									</div>
									<div class="col-md-9">
										<textarea class="form-control" name="contactUs_msg" placeholder="Enter Your Message" ng-model="website.contactForm.contactUs_msg" validate-on='dirty' required-message="'Please enter your message!'" required autocomplete="off"></textarea>
									</div>
								</div>
							</div>
							<div class="submit_btn">
								<button type="submit" class="btn send_msg_btn hvr-bounce-to-left" ng-disabled="website.isDisabledButton">Send Message</button>
								<button type="reset" class="btn send_msg_btn hvr-bounce-to-left btn-warning" ng-click="website.resetForm();" ng-disabled="website.isDisabledButton">Reset</button>
							</div>
						</form>
					</div>
				</div>
		
		</div>
	</div>
</section>
						