<section class="banner_sec_section" style="background-image:url(./assets/front/img/banner_sec.jpg);"><!--banner section start here-->
	<div class="overlay_sec"></div>
	<div class="container">
		<div class="row">
			<div class="next_bann_text">
				<h3>Frequently Asked Questions</h3>
			</div>
		</div>
	</div>
</section><!--banner section end here-->
<section class="dashboard_content" data-ng-init="website.topHeader();website.getAllRoll();website.getFAQ(1);">
	<div class="container">
		<div class="row">
			<div class="dashboard_all_det">
				<div class="faq_section">
					<div class="pannel_tab_set">
						
						<div ng-cloak>
							
							<md-content>
								<md-tabs md-dynamic-height md-border-bottom>

									<md-tab label="{{ status.role_name }}" ng-repeat="(index, status) in website.roleList" ng-click="website.getFAQ(status.role_id);">
										<md-content class="md-padding" >
											<h1 class="md-display-2">{{ status.role_name }}</h1>
											<div class="card">
												<div ng-repeat="(index, status) in website.allFaq" ng-click="accordion.current = status.faq_id" >
													
													<h3 class="card-header blue" ng-class="{active:accordion.current==status.faq_id}">
														
														<i class="pull-left fa" ng-class="{'fa-minus': accordion.current==status.faq_id, 'fa-plus': accordion.current!=status.faq_id}" aria-hidden="true"></i>	
														
														Q: {{status.faq_question}}

														<i class="pull-right fa" ng-class="{'fa-angle-down': accordion.current==status.faq_id, 'fa-angle-right': accordion.current!=status.faq_id}" aria-hidden="true"></i>

													</h3>	
																							
													<div class="card-body" ng-show="accordion.current == status.faq_id">
														<h5><span class="label label-primary">Answer</span></h5>
														{{status.faq_answer}}
													</div>

												</div>
											</div>
											
										</md-content>
									</md-tab>

								</md-tabs>
							</md-content>

						</div>
									
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
