<section class="banner_sec_section" style="background-image:url(./assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Reset Password</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det_sec">
                <div class="tab_cont_det_all_sec">
                    <div class="tab_cont_details_sec">
                        <div class="profile_form_here">
                            <div class="profile_new_f">
                                
                                <form novalidate angular-validator angular-validator-submit='website.savePassword()'>
                                    
                                    <div class="form-group f_sel_margin_sec">
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <div class="input-group">
                                                
                                                <input class="form-control input_set_sec" placeholder="New Password" type="password" name="new_password" ng-model="website.passwordForm.new_password" invalid-message = "'Password must be at least 8 characters!'" validate-on='dirty' required required-message="'Please enter New password!'"  ng-pattern="regex" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                                <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group f_sel_margin_sec">
                                        
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <div class="input-group">
                                                
                                                
                                                <input class="form-control input_set_sec" placeholder="Confirm New Password" type="password" name="confirm_passowrd" ng-model="website.passwordForm.confirm_passowrd" validator = "website.passwordForm.new_password === website.passwordForm.confirm_passowrd" invalid-message = "'Passwords do not match!'" validate-on='dirty' required required-message="'Please enter confirm password!'" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                                <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form_submit_btn">
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <button class="btn btn_reset_sec hover_effects_sec" type="submit" ng-disabled="website.isDisabledButton">Change Password</button>
                                            <button class="btn btn_reset hover_effects" type="reset" ng-disabled="website.isDisabledButton">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
