<section class="banner_section" >
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators slide_pagination">
            <li data-target="#myCarousel" data-slide-to="{{index}}" ng-class="{active:!$index}" ng-repeat="(index, status) in website.bannerSide | orderBy:'status.banner_id'"></li>
        </ol>
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-class="{active:!$index}" ng-repeat="(index, status) in website.bannerSide | orderBy:'status.banner_id'">
                <div class="slider_img" style="background-image: url({{status.file}});">
                    <div class="banner_content">
                        <h1>{{status.banner_title}}</h1>
                        <p>{{status.banner_description}}</p>
                    </div>
                </div>
            </div>            
        </div>
        <!-- Wrapper for slides -->
        <!-- Left and right controls -->
        <a class="left carousel-control arro_slid_sel" href="#myCarousel" data-slide="prev">
            <span class="arrow_set">
                <img src="./assets/website/img/slide_arrow_left.png" class="img-responsive" alt="arrow"/>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control arro_slid_sel" href="#myCarousel" data-slide="next">
            <span class="arrow_set">
                <img src="./assets/website/img/slide_arrow_right.png" class="img-responsive" alt="arrow"/>
            </span>
            <span class="sr-only">Next</span>
        </a>
        <!-- Left and right controls -->
    </div>
</section>


<section id="abou_us_se" class="about_us" style="background-image: url(./assets/website/img/top1.jpg);">
    <div class="overlay_white"></div>
    <div class="container">
        <div class="row">
            <div class="about_sec_details">
                <div class="section_header">
                    <h2>About Us</h2>
                </div>
                <div class="about_details_pass" ng-bind-html="website.singleFaq.page_html | limitTo: 1600">                    
                </div>
                <div class="home_btn"><a ui-sref="website.viewPage({text: 'about'})" class="btn btn_hover_top hvr-bounce-to-left">See More</a></div>
            </div>
        </div>
    </div>
</section>


<section id="how_it_work" class="looking_for" style="background-image: url(./assets/website/img/top2.jpg);">
    <div class="overlay_white"></div>
    <div class="container">
        <div class="row">
            <div class="lokin_details">
                <div class="section_header">
                    <h2>What are you looking for?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.</p>
                </div>
                <div class="looking_cols">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="look_n_col">
                                <div class="img_here">
                                    <span>
                                        <img src="./assets/website/img/apartments.png" class="img-responsive" alt="apartments"/>
                                    </span>
                                    <h4>Apartments</h4>
                                </div>
                                <div class="img_notes">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="look_n_col">
                                <div class="img_here">
                                    <span>
                                        <img src="./assets/website/img/house.png" class="img-responsive" alt="Houses"/>
                                    </span>
                                    <h4>Houses</h4>
                                </div>
                                <div class="img_notes">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="look_n_col">
                                <div class="img_here">
                                    <span>
                                        <img src="./assets/website/img/garage.png" class="img-responsive" alt="Garages"/>
                                    </span>
                                    <h4>Garages</h4>
                                </div>
                                <div class="img_notes">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="look_n_col">
                                <div class="img_here">
                                    <span>
                                        <img src="./assets/website/img/store.png" class="img-responsive" alt="Commercial"/>
                                    </span>
                                    <h4>Commercial</h4>
                                </div>
                                <div class="img_notes">
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="top_five_section" style="background-image: url(./assets/website/img/top5.jpg);">
    <div class="overlay_white"></div>
    <div class="container">
        <div class="row">
            <div class="top_five_cafe">
                <div class="section_header">
                    <h2>Top Five Internet Cafe</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <div class="top_homeimg_text">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img_set_top" style="background-image:url(./assets/website/img/top1.jpg);">
                                <div class="overlay_sec"></div>
                                <div class="top_cafe_deta">
                                    <h3>Lorem Ipsum is simply dummy</h3>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
                                    <button type="button" class="btn btn_hover_top hvr-bounce-to-left">See More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_set_top" style="background-image:url(./assets/website/img/top2.jpg);">
                                <div class="overlay_sec"></div>
                                <div class="top_cafe_deta">
                                    <h3>Lorem Ipsum is simply dummy</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <button type="button" class="btn btn_hover_top hvr-bounce-to-left">See More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_set_top" style="background-image:url(./assets/website/img/top321.jpg);">
                                <div class="overlay_sec"></div>
                                <div class="top_cafe_deta">
                                    <h3>Lorem Ipsum is simply dummy</h3>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <button type="button" class="btn btn_hover_top hvr-bounce-to-left">See More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img_set_top" style="background-image:url(./assets/website/img/top4.jpg);">
                                <div class="overlay_sec"></div>
                                <div class="top_cafe_deta">
                                    <h3>Lorem Ipsum is simply dummy</h3>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                    <button type="button" class="btn btn_hover_top hvr-bounce-to-left">See More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img_set_top" style="background-image:url(./assets/website/img/top5.jpg);">
                                <div class="overlay_sec"></div>
                                <div class="top_cafe_deta">
                                    <h3>Lorem Ipsum is simply dummy</h3>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                                    <button type="button" class="btn btn_hover_top hvr-bounce-to-left">See More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>