<form class="form-horizontal form-material" id="loginform" angular-validator-submit="auth.forgotPassword(form.email)" name="loginform" novalidate angular-validator>
    <a href="javascript:void(0)" class="text-center db">
        <h2>Heavenly<br/>Administrator Panel</h2>        
    </a>
    <hr/>
    <div class="form-group ">
        <div class="col-xs-12 text-center">
            <h3>Recover Password</h3>
            <p class="text-muted text-center">Enter your email address below and we will send you password reset instruction.</p>
        </div>
    </div>
    <div class="form-group m-t-40">
        <div class="col-xs-12">
            <input class="form-control" type="email" placeholder="Email ID" ng-model="form.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' required required-message="'Please enter email ID!'" autocomplete="off" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-trim="true" />
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" ng-disabled="auth.isDisabledButton">Send</button>
        </div>
    </div>
    <div class="form-group text-center">
        <a ui-sref="auth.login" class="text-center">Back to Login</a>
    </div>
</form>