<form class="form-horizontal form-material" id="loginform" angular-validator-submit="auth.login(auth.user)" name="loginform" novalidate angular-validator>
    <a href="javascript:void(0)" class="text-center db">
        <h2>Heavenly<br/>Administrator Panel</h2>
    </a>
    <hr/>
    <div class="form-group ">
        <div class="col-xs-12 text-center">
            <h3>LogIn</h3>
        </div>
    </div>
    <input ng-if="auth.usertypeFlag" type="hidden" name="usertypeFlag" ng-model="auth.user.usertypeFlag">

    <input ng-if="auth.device_token" type="hidden" name="device_token" ng-model="auth.user.device_token">

    <input ng-if="auth.device_type" type="hidden" name="device_type" ng-model="auth.user.device_type">

    <div class="form-group m-t-40">
        <div class="col-xs-12">
            <input class="form-control" type="email" placeholder="Email" ng-model="auth.user.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' required required-message="'Please enter email ID!'" autocomplete="off" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-trim="true"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Password" ng-model="auth.user.password" required-message="'Please enter password!'" validate-on="dirty" required autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <!-- <div class="checkbox checkbox-primary pull-left p-t-0">
                <input id="checkbox-signup" type="checkbox">
                <label for="checkbox-signup"> Remember me </label>
            </div> -->
            <a ui-sref="auth.forgotpassword" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a> 
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" ng-disabled="auth.isDisabledButton">Log In</button>
        </div>
    </div>
</form>