<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{adminUser.title}} Administrator</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.adminUser" class="btn btn-info btn-flat pull-left">Back to All Administrators</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="adminUserForm" novalidate angular-validator angular-validator-submit='adminUser.saveAdminUser()'>
                                
                                <input ng-if="adminUser.editFlag" type="hidden" name="user_id" ng-model="adminUser.adminUserForm.user_id">

                                <input ng-if="adminUser.usertypeFlag" type="hidden" name="usertype" ng-model="adminUser.adminUserForm.usertype">

                                <input ng-if="adminUser.registertypeFlag" type="hidden" name="registertype" ng-model="adminUser.adminUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_name" ng-model="adminUser.adminUserForm.user_name" placeholder="Enter Name" validate-on='dirty' required required-message="'Please enter name!'" autocomplete="off" ng-pattern="regexName" invalid-message="'Invalid characters entered'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_email" ng-model="adminUser.adminUserForm.user_email" placeholder="Enter Email ID" validate-on='dirty' required required-message="'Please enter email address!'" invalid-message="'Invalid email address entered'" autocomplete="off" ng-disabled="adminUser.isDisabledEmail" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Contact Number<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_phone" ng-model="adminUser.adminUserForm.user_phone" placeholder="Enter Contact Number" validate-on='dirty' required required-message="'Please enter contact number!'" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-maxlength="11" ng-minlength="11" invalid-message="'Enter 11 digits number'" >
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-4 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_address" placeholder="Enter Address" validate-on='dirty' required required-message="'Please enter description!'">
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_username" placeholder="Enter Admin Username" validate-on='dirty' required="" ng-disabled="adminUser.adminUserForm.userusername">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="adminUser.adminUserForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in adminUser.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!adminUser.editFlag" ng-click="adminUser.resetForm();">Reset</button>
                                        <a class="btn btn-warning" ng-if="adminUser.editFlag" ui-sref="backoffice.adminUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>