<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Administrators</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.adminUser" class="btn btn-info btn-flat pull-left">Back to All Administrators</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{adminUser.singleAdminUser.user_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{adminUser.singleAdminUser.admin_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{adminUser.singleAdminUser.admin_email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>{{adminUser.singleAdminUser.admin_phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label" ng-class="adminUser.singleAdminUser.status == 1 ? 'label-success' : 'label-warning'">
                                                {{adminUser.singleAdminUser.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label" ng-class="adminUser.singleAdminUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                                                {{adminUser.singleAdminUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                                            </span>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{adminUser.formatDate(adminUser.singleAdminUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{adminUser.formatDate(adminUser.singleAdminUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>