<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{serviceType.title}} Service</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.serviceType" class="btn btn-info btn-flat pull-left">Back to All Services</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">                            
                            <form class="form-horizontal" name="serviceTypeForm" novalidate angular-validator angular-validator-submit='serviceType.saveServiceType()'>
                                <input ng-if="serviceType.editFlag" type="hidden" name="category_id" ng-model="serviceType.serviceTypeForm.tasktype_id">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="tasktype_name" ng-model="serviceType.serviceTypeForm.tasktype_name" placeholder="Enter Name" validate-on='dirty' required-message="'Please enter name!'" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status<span class="Asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="serviceType.serviceTypeForm.status" validate-on='dirty' ng-options="choice.id as choice.status for choice in serviceType.statusList" required-message="'Please select status!'" required>
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!serviceType.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="serviceType.editFlag" ui-sref="backoffice.serviceType">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>