<style>
    input.md-datepicker-input{
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Service</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{serviceType.totalServiceType}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.serviceType.create" class="btn btn-info btn-flat pull-left">Add New Service</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="serviceType.getServiceTypeList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="serviceType.sort('tasktype_id')">Id
                                                <span ng-show="serviceType.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!serviceType.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="serviceType.sort('tasktype_name')">Service Name
                                                <span ng-show="serviceType.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!serviceType.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="serviceType.sort('created_at')">Created At
                                                <span ng-show="serviceType.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!serviceType.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="serviceType.sort('status')">Status
                                                <span ng-show="serviceType.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!serviceType.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="serviceType.search.tasktype_id" ng-keyup="serviceType.changePage(1, serviceType.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="serviceType.search.tasktype_name" ng-keyup="serviceType.changePage(1, serviceType.search)" placeholder="Service Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="serviceType.search.created_at" ng-change="serviceType.changePage(1,serviceType.search)" md-placeholder="Date" ng-disabled="isDisabled"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="serviceType.search.status" ng-change="serviceType.changePage(1,serviceType.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="serviceType.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in serviceType.serviceTypeList | orderBy: serviceType.sortKey:serviceType.reverse|itemsPerPage: serviceType.serviceTypePerPage" total-items="serviceType.totalServiceType" current-page="serviceType.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.serviceType.view({id:{{item.tasktype_id}} })">{{item.tasktype_id}}</a>
                                        </td>
                                        <td>{{item.tasktype_name}}</td>
                                        <td class="text-center">{{ serviceType.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="serviceType.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.serviceType.view({id: item.tasktype_id})" class="btn btn-success btn-flat btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a ui-sref="backoffice.serviceType.edit({id: item.tasktype_id})" class="btn btn-primary btn-flat btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a ng-click="serviceType.deleteServiceType(item.tasktype_id, itemIndex)" class="btn btn-danger btn-flat btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="serviceType.serviceTypeList.length == 0 && serviceType.serviceTypeListCheck == true ">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="serviceType.changePage(newPageNumber,serviceType.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>